@import "fonts/all";
@import "utilities/all";
@import "base/all";
@import "text/all";
@import "pages/all";
@import "partials/all";
@import "components/all";
@import "vendors/all";

body {
    &:after {
        content: 'momentDateStampObject';
        display: block;
        width: 0 !important;
        height: 0 !important;
        font-size: 0 !important;
        visibility: hidden !important;
        color: transparent;
    }
}