mixin article-card-custom(object, customClass)
    -var thisCustomClass = typeof customClass != 'undefined' ? customClass : '';
    .col-xs-12.col-md-6.card(class=object.class + ' ' + thisCustomClass, data-details-info='mixins-article-card', data-tag=object.tagData, page=object.href)
        a(class='card-content-wrapper', href="/" + object.href)
            .card-image
                img(src=object.image, alt='service card image for - ' + object.title)
            .card-content
                if object.number
                    .number=object.number
                p.tag=object.tag
                p.date=object.date
                h3.dark-gray!=object.title
            +button-static({theme: "button-orange-arrow", text: "Find out more"})    

block pageData

doctype html
html.property-fullsize(lang=relativeLang)
    head
        +head()

    body(class=relativePageDetails)
        +google-tag-manager-body()
        //- +mobile-menu()
        .page-content#page
            //- +header()
            main.no-found
                section.section-wrapper
                    .main-content.container-fluid
                        .row
                            .col-xs-12.col-md-11.col-xlg-offset-1.col-xlg-8
                                .not-found-content
                                    h1.title-default <span>Whoops,</span> you've found our 404 page...
                                    p.text-medium The page you requested was not found, and we might have a good idea why.
                                    ul.generic-list.with-dots
                                        li If you typed the URL directly, please make sure the spelling is correct.
                                        li If you clicked on a link to get here, the link might be outdated or moved due to our recent website revamp.
                                    p.text-medium <span>What can you do?</span> Have no fear, help is near!
                            
                            .col-xs-12.col-md-11.col-xlg-offset-1.col-xlg-8  
                                section.section-articles(style="margin-top: 30px;")
                                    .block-articles
                                        .row
                                            +article-card-custom({
                                                image: "../images/homepage/homepage-banner.jpg",
                                                title: "{{websiteMainUser.firstName}}{{#if websiteMainUser.lastName}} {{websiteMainUser.lastName}}{{/if}}, a {{websiteMainUser.jobTitle}} from {{currentBu.businessUnit.BranchName}}",
                                                href: "",
                                                date: "",
                                                class: "card-article card-article-default",
                                                tag: "Home",
                                            })
                                            //- +article-card-custom({
                                            //-     image: "../images/services/services-banner.jpg",
                                            //-     title: "Live a better life with quality financial planning",
                                            //-     href: "services",
                                            //-     date: "",
                                            //-     class: "card-article card-article-default",
                                            //-     tag: "Services",
                                            //- })
                                            //- +article-card-custom({
                                            //-     image: "../images/insights/insights-banner.jpg",
                                            //-     title: "Explore new ways to help you learn more about financial planning",
                                            //-     href: "insights",
                                            //-     date: "",
                                            //-     class: "card-article card-article-default",
                                            //-     tag: "Insights",
                                            //- })
                                            //- +article-card-custom({
                                            //-     image: "../images/about/about-banner.jpg",
                                            //-     title: "Get in touch with me today",
                                            //-     href: "contact-us",
                                            //-     date: "",
                                            //-     class: "card-article card-article-default",
                                            //-     tag: "Contact",
                                            //- })

        +footer_scripts()