include /components/components.jade

//-include mixins/mixins.jade
//-include partials/added-scripts.jade
//-include partials/head.jade
//-include partials/top-navigation
//-include partials/footer.jade
//-include partials/header.jade
//-include partials/main-navigation
//-include partials/navigation


-var options = [{value: "EN", text: "EN"}, {value: "FR", text: "FR"}, {value: "ES", text: "ES"}, {value: "PO", text: "PL"}, {value: "CN", text: "CN"}, {value: "RU", text: "RU"}, {value: "IT", text: "IT"}, {value: "SE", text: "SE"}, {value: "DE", text: "DE"}, {value: "NL", text: "NL"}];
-var technologySolutionTitle = 'Case Study'
-var footerTitle = 'Contact Us'
-var footerSubTitle = 'We’ll get back to you within a few hours'
