extends /template/content/seminars/content-your-health-is-wealth

block append pageData
    include /all/agency/general/en/components/components.jade
    -var titleMeta = 'Your health is wealth | Seminars & Events | {{websiteMainUser.firstName}}{{#if websiteMainUser.lastName}} {{websiteMainUser.lastName}}{{/if}} | {{currentBu.businessUnit.BranchName}}'
    -var descriptionMeta = "So how can you protect both valuable assets? Find out in this free event!"
    -var canonicalLink = "/events/your-health-is-wealth"