extends /template/agent/general/template-index

block append pageData
    include /all/agent/general/en/components/components.jade
    -var titleMeta = "Financial Planning & Wealth Planning | {{websiteMainUser.firstName}}{{#if websiteMainUser.lastName}} {{websiteMainUser.lastName}}{{/if}} | {{currentBu.businessUnit.BranchName}}"
    -var descriptionMeta = "{{websiteMainUser.firstName}}{{#if websiteMainUser.lastName}} {{websiteMainUser.lastName}}{{/if}}: As a Manulife Financial Services Consultant, I provide financial advisory services tailored to your needs. Get in touch today."
