extends /template/template-footer-page

block title
    h1.title-main Fair Dealing Policy

block content
    .block-text
        p.text-regular At Manulife Financial Advisers, our customers are at the heart of our business. Customers rightly expect fair treatment from us and one of the ways we ensure this is by adhering to the Fair Dealing Guidelines issued by Monetary Authority of Singapore (MAS) in April 2009.
        p.text-regular We are committed to deliver these 5 Fair Dealing Outcomes to our customers:
        ol.list-regular.list-decimal
            li We are an institution where fair dealing is central to the values of our corporate culture. 
            li We offer products and services that are suitable for various individuals. 
            li We have competent representatives who will provide customers with quality advice and appropriate recommendations. 
            li We deliver clear, relevant and timely information to help customers make well-informed financial decisions.
            li We listen to customer complaints objectively before handling them in an independent, effective and prompt manner.

        p.text-regular Creating a customer centric culture is an important focus for Manulife Financial Advisers. Our people understand what fair treatment of customer means and are expected to achieve this at all times.
        p.text-regular We recognise that clear and transparent communication with our customers helps to build trust and understanding so we aim to provide straightforward, comprehensive and precise information in documents, web pages and all other forms of communications.
        p.text-regular We have a zero tolerance approach to financial crime. Through our policies and procedures, we work to ensure that risks to the business and our customers relating to fraud, money laundering, market abuse and bribery and corruption are adequately controlled.

    .block-text
        h5 Commitment from our board of directors and Senior Management team
        p.text-regular Our board of directors is fully committed in ensuring the implementation and delivery of Fair Dealing Outcomes within Manulife Financial Advisers.
        p.text-regular The senior management team is committed to the implementation of Fair Dealing Outcomes and embedding Fair Dealing principles into the daily operations.
        p.text-regular The products and service recommended by Manulife Financial Advisers are selected, reviewed and endorsed to be suitable for customer’s particular needs, financial objectives and situation.
        p.text-regular Our professional representatives are constantly trained to be competent in providing sound advice and quality recommendations to the customers;
        p.text-regular Clear, relevant and timely information and updates are presented to customers for them to make informed financial decisions;
        p.text-regular We have a robust and independent process in listening to, and resolving, your concerns and feedback in a prompt manner.
        
    
