extends /template/template-footer-page


block title
    h1.title-main Statement of Personal Data Protection

block content
    .block-text
        h5 General information
        p.text-regular At Manulife Financial Advisers Pte. Ltd. (“Manulife” or “we” or “our”), the confidentiality and security of your personal data are of paramount importance to our business.
        p.text-regular Manulife Financial Advisers complies with the Singapore Personal Data Protection Act 2012 (the “Act”) in respect of the collection, use, and disclosure of your personal data. In particular, we will ensure that:

        ul.list-regular.list-bullet
            li only fair, proper and legitimate means are employed to collect personal data;
            li personal data collected and used is accurate;
            li personal data is protected by appropriate safeguards and made available only to authorized persons; and
            li you have the right to access and request correction of your personal data.
        
        p.text-regular This Statement of Personal Data Protection (the “Statement”) explains how Manulife Financial Advisers collects, uses, and discloses your personal data. Please read it carefully and contact us with any questions using the information provided in Section 7, below.
    
    .block-text
        h5 1. Personal Data Protection Principles
        p.text-regular In handling your personal data, we abide by the following personal data protection principles:
        h6 A. Notification of purpose and consent
        ul.list-regular.list-bullet
            li Unless otherwise required or permitted by law, we will notify you of the purposes for which we intend to collect, use or disclose your personal data. This will occur on or before the time of the collection, use or disclosure. We limit the personal data we collect to that which is necessary for, or related to, these purposes.
            li Unless otherwise required or permitted by law, we will only collect, use or disclose personal data with your consent.
            li You may withdraw your consent for us to collect, use and disclose your personal data.
        h6 B. Access and correction
        ul.list-regular.list-bullet
            li Upon request, we will provide you with access to your personal data and information about the ways in which your personal data may have been used or disclosed in the past year, as required or permitted by laws.
            li You may also verify the accuracy and completeness of your personal data, and request that it be amended, if appropriate. We will respond to these requests in accordance with our personal data practices and policies and in accordance with the law.
            
        h6 C. Accuracy
        ul.list-regular.list-bullet
            li We aim to keep our records of your personal data accurate and up to date as is necessary to fulfill the purposes for which the data was collected and used. For this reason, you are required to update your personal data by informing us of any changes as promptly as you can.
        
        h6 D. Safeguards
        ul.list-regular.list-bullet
            li We will protect your personal data with security safeguards that are reasonable and appropriate to the sensitivity of the personal data, in order to protect it from unauthorized access, use or disclosure.
        
        h6 E. Retention
        ul.list-regular.list-bullet
            li Manulife complies with applicable regulatory requirements with respect to the retention of personal data.
                    
        h6 F. Openness
        ul.list-regular.list-bullet
            li We have designated individuals who are responsible for monitoring our ongoing compliance with the Act. (See Section 7, below.)
            li We will make information about our personal data protection policies, practices and complaint process available to you through this Statement, and upon request.
            
    .block-text
        h5 2. Notice to Our Clients pursuant to the Personal Data Protection Act 2012
        h6 A. Personal data we collect
        p.text-regular As a provider of financial advisory services, we may collect the following personal data from you:
        ol.list-regular.list-decimal
            li General identification and contact information (name, address, telephone number, age, date of birth, gender, marital status, occupation, etc.);
            li Identification numbers issued by government agencies (NRIC number, passport number, foreign identification number, birth certificate number, etc.);
            li Financial information and account details (salary, assets, liabilities, credit card numbers, bank account numbers, etc.);
            li Information about your investment knowledge and risk tolerance; and
            li Information from cookies, or similar technologies, in order to enable or enhance the functionality of our websites, or to analyze visitor traffic for marketing or other purposes;
            li Images, photographs, videos, CCTV footage, voice recordings and electronic communications;
            li Other information relevant to the provision of financial advisory services on collective investment schemes and life insurance

        h6 B. How we use personal data
        p.text-regular The purposes for which personal data of our clients may be collected or used will vary depending on the nature of your relationship with us. For example, we may use your personal data to:
        ol.list-regular.list-decimal
            li confirm your identity and uniquely identify you;
            li confirm the accuracy of the information collected;
            li provide advice on collective investment schemes and life insurance;
            li assess your financial health and needs;
            li determine and verify your ability to afford the financial and insurance products you apply for;
            li communicate with you, especially with respect to your policy, updates and changes;
            li provide you with ongoing services and respond to your queries or instructions;
            li make or obtain payments;
            li recover any debts owed to us;
            li detect, investigate and prevent fraud, or other unlawful or improper activities;
            li coach employees and monitor for quality assurance;
            li comply with all legal and regulatory requirements within and outside Singapore including disclosures to judicial, regulatory, government, statutory authorities and industry entities;
            li resolve complaints, and handle requests for data access or correction;
            li conduct compliance monitoring and audit reviews;
            li compile statistics to design and improve products and services, or participate in industry exercises and studies;
            li assist us to understand the current and future needs of our clients, for example, to conduct surveys and other forms of market research and analysis;
            li perform any functions and activities related to products or services including but not limited to marketing, audit, reporting, research, analysis, general servicing and maintenance of online and other services;
            li design, promote, improve and further the provision of our financial advisory services;
            li conduct checks with the National Do Not Call Registry and our internal Do Not Call Registry;
            li comply with any contractual or other commitment or arrangement with local or foreign regulators, governmental bodies, or industry recognized bodies (whether within or outside Singapore) that is assumed by or imposed on us or any member of our group of companies by reason of its financial, commercial, business or other activities in or related to the jurisdiction of the relevant local or foreign regulators, governmental bodies, or industry recognized bodies;
            li for operational purposes, credit assessment, credit scoring models or statistical analysis (including in each case, behavior analysis and evaluation of the overall relationship with our group of companies which includes using such data to comply with any obligations, requirements, policies, procedures, measures or arrangements for sharing data and information within our group of companies and/or other use of data and information in accordance with any group-wide programmes for compliance with extra-territorial enforcement of tax, sanctions or prevention or detection of money laundering, terrorism financing or other unlawful activities), whether on our clients or otherwise;
            li exercise any rights we may have in connection with the provision of advisory services on collective investment schemes and life insurance to you;
            li enable an actual or proposed assignee, transferee, participant or sub-participant of our rights or business to evaluate the transaction intended to be the subject of the assignment, transfer, participation or sub-participation;
            li market collective investment schemes and life insurance where specifically or deemed consented to or where permissible under applicable laws or regulations; or
            li for any other purposes specifically provided for in any particular financial advisory service offered by us or permitted or required by law or the relevant authorities.
            
        h6 C. To whom we disclose personal data
        p.text-regular Personal data held by us will be kept confidential, but we may disclose or transfer such personal data to the following persons and/or entities (whether within or outside Singapore) for any of the purposes set out in paragraph above:
        ol.list-regular.list-decimal
            li any companies providing collective investment scheme or life insurance;
            li any agent, contractor or third party service provider who provides administrative, consultative, telecommunications, computer, information technology, payment, data processing or storage, or any member of our group of companies in connection with the operation of our business;
            li any credit reference agencies or, in the event of default, any debt collection agencies;
            li employers of our clients;
            li any person which has undertaken to us or any member of our group of companies to keep such personal data confidential;
            li any member of our group of companies, where such a disclosure is required for the provision of financial advisory services to you;
            li any person to whom we or any member of our group of companies is under an obligation or otherwise required to make disclosure under the requirements of any laws, rules, regulations, codes of practice, guidelines or guidance binding on or applicable to us or any member of our group of companies including but not limited to any local or foreign regulators, governmental bodies, or industry recognized bodies; or
            li any person to whom we or any member of our group of companies is under an obligation or otherwise required to make disclosure pursuant to any contractual or other commitment or arrangement with local or foreign regulators, governmental bodies, or industry recognized bodies that is assumed by or imposed on us or any member of our group of companies by reason of its financial, commercial, business or other interests or activities in or related to the jurisdiction of the relevant local or foreign regulators, governmental bodies, or industry recognized bodies.

    .block-text
        h5 3. Withdrawal of Consent
        p.text-regular You may withdraw consent for us to collect, use or disclose your personal data for any purpose (e.g. send you any marketing messages) by contacting us directly. Upon receipt of your notice to withdraw consent, we will inform you of the likely consequences of the consent withdrawal. In some cases, withdrawing your consent may have an impact on our ability to provide financial advisory services to you or to process your claims.
        
    .block-text
        h5 4. Transfer of Personal Data Outside of Singapore
        p.text-regular We operate our business in Singapore and for contractual, legal or business reasons, we may transfer personal data to any member of our group of companies or service providers located outside of Singapore. We will use legally binding instruments and other safeguards to ensure that appropriate levels of protection necessary to maintain the security of your personal data are in place and that any transferred personal data is processed only in accordance with the Act and any other applicable laws and regulations.
    
    .block-text
        h5 5. Use of Cookies
        p.text-regular Cookies are small text files that may be automatically stored on your web browser that can be retrieved by our website. We may use cookies to enable or enhance the functionality of our websites, or to analyze visitor traffic for marketing or other purposes. We may also use web analytic consultants to research certain usage and activities on parts of our website. Cookies can make our website more useful by storing information about your preferences, thus enabling us to provide a more personalized service to you.
        p.text-regular Most web browsers are initially set to accept cookies. You can adjust settings on your web browser so that you will be notified when receiving a cookie. If you would prefer, you can set your web browser to disable cookies. However, by disabling them, you may not be able to use certain functions or enter certain parts of our websites.

    .block-text
        h5 6. Changes to Statement of Personal Data Protection
        p.text-regular We reserve the right to modify or change this Statement at any time. The date as stated below indicates the last time this Statement was materially revised. If we make any material changes to the Statement, we will notify you on this webpage or by other means such as a statement insert.
        p.text-regular We urge you to review this webpage periodically to read and understand our latest policy regarding the handling of your personal data.
    
    .block-text
        h5 7. Contact Information
        p.text-regular For any complaints, questions, concerns about our personal data protection policies and practices, withdrawal of consent, or to request access to, update or correct the personal data within our possession and control, please contact:
        p.text-regular The Data Protection Officer <br/>
            | 103 Penang Road <br/>
            | #02-01 VisionCrest Commercial  <br/>
            | Singapore 238467 <br/>
            | Tel: (65) 6807 2250 <br/>
            | Email: <br/>
            | <a href="mailto:Cerilene_JJ_Eh@manulife.com">Cerilene_JJ_Eh@manulife.com</a>

    .block-text
        p.text-regular Last revised on 27 February 2015