extends /template/template-footer-page

block title
    h1.title-main Marketing Consent

block content
    .block-text
        h5 Providing Marketing Consent
        p.text-regular The Company is committed to respecting your privacy and on the use of your personal information.
        p.text-regular As our valued client, the Company will like to provide you with the latest information about our products and services, promotions and upcoming events. For you to receive these updates from us, please contact us via the following methods:
        h6 Mail
        p.text-regular 103 Penang Road #02-01 Vision Crest Commercial Singapore 238467
        h6 Email
        p.text-regular <a href="mailto:info@manulifefa.com.sg">info@manulifefa.com.sg</a>
    
    .block-text
        h5 Withdrawal of Marketing Consent
        p.text-regular If you do not wish to receive / will like to discontinue from receiving marketing and promotional messages from us, please notify us on your intention to opt out using the following methods.
        p.text-regular <a href="../resources/MFA_Marketing_Consent_Withdrawal_Form.pdf" target="_blank">
            <img src="../images/icon/pdf_icon.png" width="50" height="auto"/><br/>
            | MFA Marketing Consent Withdrawal Form</a>
        p.text-regular 
        h6 Mail
        p.text-regular 103 Penang Road #02-01 Vision Crest Commercial Singapore 238467
        h6 Email
        p.text-regular <a href="mailto:info@manulifefa.com.sg">info@manulifefa.com.sg</a>


