extends /template/template-footer-page

block title
    h1.title-main Legal Notices &amp; Conditions of Use

block content
    .block-text
        h5 General information
        p.text-regular This website is proprietary to Manulife Financial Advisers Pte. Ltd. ("Manulife FA"). If you wish to access and use this Website (the "Site"), you must accept and agree to be bound by and comply with these terms (the "Terms"). If you do not agree with these Terms, please refrain from accessing the Site. By using this Site, your consent to these conditions of use (together any subsequent updates or amendments) will be deemed as given. You should therefore periodically visit this page to review the then current conditions of use to which you are bound."

    .block-text
        h5 Site Content
        p.text-regular The information contained on the pages of this site is subject to modification and update from time to time without notice. Manulife FA cannot guarantee or ensure either the accuracy, completeness or authenticity of any site content, site functionality, or your transmission of any site content from the site to you.
        p.text-regular Certain aspects of the site have been prepared by persons other than Manulife FA and other World Wide Web sites that may be accessed from this site by hypertext links are entirely independent of the site. The inclusion of any site acknowledgments, identification of any person or entity in the site, or any hypertext link to another person or entity shall not, in any manner, be construed as an endorsement of such person's or entity's World Wide Web site, products, services, or contributions to the site.
        p.text-regular Other World Wide Web sites which may provide access to this site by hypertext links are entirely independent of this site. Any direction by a third party to this site shall not, in any manner be construed as an endorsement by Manulife FA of such party's World Wide Web.
        
    .block-text
        h5 Use of the Site
        p.text-regular The site does not, and it is not intended to, provide any financial, insurance, legal, accounting, or tax advice, and shall not be relied upon by you in that regard.
        p.text-regular You agree that your use of the site shall be on an "as is" basis entirely at your risk. Neither Manulife FA nor Manulife Financial nor any of its affiliated companies, nor any officer, director, or employee thereof, nor any other person associated with the creation of the site or its contents, shall be liable or responsible to any person for any harm, loss or damage that may arise in any connection with your use of the site, including without limitation any direct, indirect, special, third party, or consequential damages. Without limiting the foregoing, Manulife FA shall not be responsible for any detrimental reliance that you may place upon the site or its contents.
        p.text-regular The site shall not be used, or relied upon by you, as a substitute for your independent research or professional advice that is provided to you in direct consultation with a Manulife FA representative.
        p.text-regular If you would like further information concerning site contents or you wish permission to use, to reproduce, or to republish any site contents, please e-mail us.

    .block-text
        h5 Security
        p.text-regular You acknowledge and confirm that the Internet is not a secure medium where privacy can be ensured, and that complete security and confidentiality over the Internet is not possible at this time. Your confidential use of the Site cannot be guaranteed and you acknowledge that your use of the Site (including information you transmit to the Site) may be subject to access by, or disclosure to, other persons. Without limiting any other disclaimer herein, Manulife shall not be responsible or liable for any harm that you or any other person may suffer in connection with any such breach of confidentiality or security.

    .block-text
        h5 Privacy
        p.text-regular We are committed to handling the personal information under our control with care. We have designated individuals who are responsible for monitoring our ongoing compliance with the Privacy Principles.
        p.text-regular We will make information about our privacy policies and practices for managing your personal information available to you.
        p.text-regular Upon your written request, we will provide you with reasonable access to your personal information and a description of its use or disclosure, as required or permitted by law. You may also verify the accuracy and completeness of your information, and request that it be amended, if appropriate.
        
    .block-text
        h5 How we use Personal Information
        p.text-regular Information provided by you through our Web site is used for Manulife FA business purposes only in order to service your needs as a customer. We will keep your personal information only as long as needed to satisfy the purposes for which it was collected or as required or permitted by law. We aim to keep our records of your personal information as accurate and up to date as is necessary to fulfil the purposes for which it is used.
        p.text-regular Manulife FA may use “cookie" or related technology in order to track usage of the site, and in order to improve our service to you.
        
    .block-text
        h5 Safeguards
        p.text-regular We will protect personal information with security safeguards that are appropriate to the sensitivity of the information, in order to protect it from unauthorized access, release or use.
        
    .block-text
        h5 Intellectual Property
        p.text-regular Names, phrases, logos, icons, graphics, images or designs used throughout the Site may be trade names, registered or unregistered trademarks and service marks (the "Trademarks") of Manulife FA/ Manulife Financial, its subsidiaries or affiliates. The display of Trademarks on this Site is not an implied license to any third party for the use of the Trademarks.
        p.text-regular All information on this Site is protected under copyright laws. Except as provided on this Site, no one has permission to copy, redistribute, reproduce or republish any information found on this Site, which includes uploading or downloading without prior written consent of Manulife Financial.
        p.text-regular Any retransmission or alternation of Trademarks or other form of unauthorised copying may be a violation of the law and such users may be subject to legal action.

    .block-text
        h5 Governing Laws
        p.text-regular This interpretation, validity and effect of this agreement and use of the Site shall be governed by the laws of the Republic of Singapore. You consent and agree to submit to the non-exclusive jurisdiction of the courts of the Republic of Singapore in any action or proceeding instituted under or related to this Agreement or your use of the Site.

        