block pageData

doctype html
html(lang=relativeLang)
    head
        +head()
            meta(property='og:image', content='http:../images/campaigns/be-unbroken/manulife-unbroken-800x400.jpg')
            meta(property='og:image:secure_url', content='https:../images/campaigns/be-unbroken/manulife-unbroken-800x400.jpg')
            meta(property='og:description', content="Stand to win a $10 Starbucks voucher by completing the Be #Unbroken Survey. T&Cs apply.")

    body(class=relativePageDetails)
        +google-tag-manager-body()
        +mobile-menu()
        .page-content#page
            +header()
            +side-menu-bar-discovery({ 
                detailsSubtitle : "Help us understand you better!"
            })

            main
                #loadingscreen
                +main_banner_mobile_no_contact_box({                    
                    imageDesktop: "../images/campaigns/be-unbroken/manulife-unbroken-1920x526.jpg",
                    imageTablet: "../images/campaigns/be-unbroken/manulife-unbroken-1600x800.jpg",
                    imageMobile: "../images/campaigns/be-unbroken/manulife-unbroken-800x400.jpg"
                })

                section.section-wrapper.campaign-form#be-unbroken-form
                    .main-content.container-fluid
                        .row
                            .col-xs-12.col-xlg-offset-1.col-xlg-8
                                section.section-title-main.campaign-form-title-wrapper
                                    .row
                                        .col-xs-12
                                            .form-title.d-none Be-Unbroken
                                            h1.title-main.d-none Be #Unbroken in the fight against Critical Illness
                                            .greenbox
                                                h4 Stand to WIN <b>$10 Starbucks voucher</b>*<br>Contest run from 9th – 22nd March 2020
                                                //- h4 Thank you for participating in our <b>Be #Unbroken</b> Survey.
                                            h5.text-subtitle-product Preparing for the unexpected is something that we don’t often think about until it’s too late. It’s important to understand how you prioritize the different parts of your life and assess how prepared you are.
                                                | <br><br> Tell us how you would respond to these scenarios and stand to win a free Starbucks voucher worth $10 if you are one of the eligible participants*! Contest runs from 9th - 22nd March 2020.
                                                //- | <br><br> {{websiteMainUser.firstName}}{{#if websiteMainUser.lastName}} {{websiteMainUser.lastName}}{{/if}} will be in touch to let you know if you are one of the eligible winners.
                                            
                                            .block-button
                                                +button-static({theme: "button-orange button-show-campaign-question", text: "Start Now"})
                                            .block-term
                                                p <u><span class="showTerms popupterms">*Terms & Conditions</span></u> apply.
                                section.section-questions
                                    .block-progress-bar
                                        .tabs-contain-details
                                            ul.tab-menu
                                                li.step.step-active
                                                    .mover-line
                                                li.step.disable-tab
                                                    .mover-line
                                                li.step.disable-tab
                                                    .mover-line
                                                li.step.disable-tab
                                                    .mover-line    

                                    .block-questions
                                        .question-item(data-question='1')
                                            .question-item-content
                                                .row
                                                    .col-xs-12.question
                                                        .question-img-title
                                                            h4.title 1. You found out that your company is going to be letting people go soon. You’re concerned because:
                                                    .col-xs-12.answer.answer-type-round
                                                        .answer-option(data-score='3')
                                                            span A. You have some money in your savings account, but that probably won’t hold you over for too long. 
                                                        .answer-option(data-score='2')
                                                            span B. You have plenty of money saved, and your resume is updated and ready to go if needed, but you hate the thought of leaving your current role.
                                                        .answer-option(data-score='1')
                                                            span C. You’ve already been living paycheck to paycheck, so this is a very scary situation. 

                                        .question-item(data-question='2')
                                            .question-item-content
                                                .row
                                                    .col-xs-12.question
                                                        .question-img-title
                                                            h4.title 2. On average, your meals look like:
                                                    .col-xs-12.answer.answer-type-round
                                                        .answer-option(data-score='3')
                                                            span A. Fairly healthy, but you enjoy some fried foods & usually enjoy dessert.
                                                        .answer-option(data-score='2')
                                                            span B. A balanced meal, plenty of fruits & veggies.
                                                        .answer-option(data-score='1')
                                                            span C. You eat whatever you want.
                                        .question-item(data-question='3')
                                            .question-item-content
                                                .row
                                                    .col-xs-12.question
                                                        .question-img-title
                                                            h4.title 3. The last time you went for a brisk walk or jog, you:
                                                    .col-xs-12.answer.answer-type-round
                                                        .answer-option(data-score='3')
                                                            span A. Spent twenty minutes running, then called it quits. 
                                                        .answer-option(data-score='2')
                                                            span B. Made it a routine to run regularly at least twice a week.
                                                        .answer-option(data-score='1')
                                                            span C. Must’ve been chased by someone or something. 
                                        .question-item(data-question='4')
                                            .question-item-content
                                                .row
                                                    .col-xs-12.question
                                                        .question-img-title
                                                            h4.title 4. The best way I deal with stress is by:
                                                    .col-xs-12.answer.answer-type-round
                                                        .answer-option(data-score='3')
                                                            span A. Taking a deep breath and organizing my thoughts and actions 
                                                        .answer-option(data-score='2')
                                                            span B. Mindful meditation practices and/or exercise.
                                                        .answer-option(data-score='1')
                                                            span C. Distraction by television or a glass of wine
                                        .wrapper-quiz-form.result-form-block
                                            .block-quiz-result
                                                .result-score-mark
                                                .result-score-number
                                                .result-score.status-hidden.result-1
                                                    //- .result-score-image
                                                        img(src="../images/campaigns/be-unbroken/results/manulife-unbroken-result-A.jpg", alt='You’re prepared, but only for the expected. ')
                                                    //- .result-score-title
                                                        h2.title You’re prepared, but only for the expected. 
                                                    .result-score-text
                                                        p.subtitle While you tend to make good decisions most of the time, there are still things you might not be prepared for. It might be time to start researching your options to ensure you are ready if something life changing occurs. 
                                                    //- .result-score-notes
                                                        .result-score-info
                                                            p.subtext.text-regular <b>Did you know that 1 in every 10* patients had to declare bankruptcy due to their critical illness?</b>
                                                        p.note.text-small *Manulife research from a survey conducted with 500 patients and caretakers in Singapore.
                                                        
                                                .result-score.status-hidden.result-2
                                                    //- .result-score-image
                                                        img(src="../images/campaigns/be-unbroken/results/manulife-unbroken-result-B.jpg", alt='Congratulations! You’re ready for what life throws at you.')
                                                    //- .result-score-title
                                                        h2.title Congratulations! You’re ready for what life throws at you.
                                                    .result-score-text
                                                        p.subtitle You should be proud of yourself for making the right decisions often and opting to do the right thing even when it’s not the most fun thing to do. Preparing for critical illness might be the missing piece of the puzzle for you to feel truly confident that you’re ready for whatever life sends you and your family’s way. 
                                                    //- .result-score-notes
                                                        .result-score-info
                                                            p.subtext.text-regular <b>Did you know that almost 100%* of patients that were Contested felt as though they were burdening their loved ones? </b>
                                                        p.note.text-small *Manulife research from a survey conducted with 500 patients and caretakers in Singapore.
                                                        
                                                .result-score.status-hidden.result-3
                                                    //- .result-score-image
                                                        img(src="../images/campaigns/be-unbroken/results/manulife-unbroken-result-C.jpg", alt='It’s time to reconsider what your priorities are.')
                                                    //- .result-score-title
                                                        h2.title It’s time to reconsider what your priorities are. 
                                                    .result-score-text
                                                        p.subtitle Life is difficult – and sometimes it’s easier just to sit back and forget about everything that’s going on in the world. But what happens when something comes up that you absolutely need to handle? Had they planned and researched their options for handling critical illness without waiting until it was too late, the results might have been different. Don’t wait until it’s too late. 
                                                    //- .result-score-notes
                                                        .result-score-info
                                                            p.subtext.text-regular <b>Did you know that 1 in 2* patients used all or most of their savings on medical treatments?</b>
                                                        p.note.text-small *Manulife research from a survey conducted with 500 patients and caretakers in Singapore.
                                                       
                                            .block-quiz-form
                                                .block-quiz-form-inner
                                                    .col-xs-12.block-form#form-campaign-form
                                                        h3.title Stand to win a $10 Starbucks Voucher!
                                                        p.subtitle Fill in the form below and meet up with {{websiteMainUser.firstName}}{{#if websiteMainUser.lastName}} {{websiteMainUser.lastName}}{{/if}} to stand to win a <b>$10 Starbucks voucher</b>. <u><span class="showTerms popupterms">Terms and conditions</span></u> apply.
                                                        
                                                        .quiz-form
                                                            .block-form
                                                                .row
                                                                    form.form-survey.form-element
                                                                        .form-field.form-field-name.col-xs-12.col-sm-6
                                                                            .form-field-inner
                                                                                label Name (As per NRIC):
                                                                                input(class='input-firstname', type='text', id="campaign-form-name")

                                                                        .form-field.form-field-lastname.col-xs-12.col-sm-6
                                                                            .form-field-inner
                                                                                label Phone Number:
                                                                                input(class='input-phone', type='tel', id="campaign-form-phone")

                                                                        .clearfix

                                                                        .form-field.form-field-email.col-xs-12.col-sm-6
                                                                            .form-field-inner
                                                                                label Your email:
                                                                                input(class='input-email', type='email', id="campaign-form-email")


                                                                        .clearfix
                                                                        .col-xs-12.news-latter-opt-option
                                                                            label.container
                                                                                input.general-checkbox#surveyNewsLetter(type='checkbox', class="")
                                                                                | Yes, I  have also read and consent to Manulife FA's <u><span class="showConsent popupterms">Marketing Consent Terms &amp; Conditions</span></u>. 
                                                                                span.checkmark
                                                                                span.error-color Please tick the box and provide your consent to participate
                                                                        .col-xs-12.block-term
                                                                            p *By participating and submitting the form above, you read and agree to the <u><span class="showTerms popupterms">terms and conditions</span></u>.
                                                                        .block-button.col-xs-12
                                                                            input#ExternalId(type='hidden', name="ExternalId")
                                                                            a(id="button-submit-campaign-form", class="button button-orange button-submit")
                                                                                span Submit
                                                                        .col-xs-12
                                                                            p.submission-error
                                                                            p.multiplesubmission You’ve submitted multiple times, please try again later.<br/>Alternatively, you may contact us at {{websiteMainUser.emails}}.
                                                                        .clearfix
                                                    .col-xs-12.block-thank#form-thank-campaign-form
                                                        h3.title Thank You for participating!  
                                                        p.subtitle {{websiteMainUser.firstName}}{{#if websiteMainUser.lastName}} {{websiteMainUser.lastName}}{{/if}} will get in touch with you soon! 
                                                            | <br><br>Interested to learn more about Manulife FA’s Critical Illness plans? Click <a href="/health/critical-illness" target="_blank">here</a> to find out more.
                                                        .result-score-info
                                                            p.subtext.text-regular.result-score-info-text
                                                        p.note.text-small *Manulife research from a survey conducted with 500 patients and caretakers in Singapore.

                                                        .block-button.block-share-button
                                                            .block-text
                                                                p <strong>Share this survey with a friend</strong>

                                                            .share-result-button.addthis_inline_share_toolbox(data-url="")

                                                    .clearfix

                .section-wrapper.section-term#term-modal
                    .main-content.container-fluid
                        section.section-wrapper-list
                            .close-modal-btn
                            section.section-article-intro
                                .block-article-intro
                                    .row
                                        .col-xs-12
                                            .block-subtitle
                                                h5 ‘Be #Unbroken’ Contest<br/>Terms &amp; Conditions 
                                            .block-text
                                                p By participating in the ‘<b>Be #Unbroken</b>’ survey (the “Contest”), I understand and agree to the following: 
                                        .clearfix 

                            section.section-article-content
                                .block-article-content
                                    .row
                                        .col-xs-12.block-article-item
                                            .block-list
                                                ol.list-decimal.list-regular 
                                                    li By participating in the ‘<b>Be #Unbroken</b>’ contest (the “<b>Contest</b>”) organized by Manulife (Singapore) Pte. Ltd. and/or its affiliates (“<b>Manulife</b>”) from <b>09 March  2020 to 22 March 2019 (“Contest Period”)</b> (both dates inclusive), I understand and agree to these Terms.
                                                    li The Contest is operated by {{currentBu.businessUnit.BranchName}}, ("{{websiteMainUser.firstName}}{{#if websiteMainUser.lastName}} {{websiteMainUser.lastName}}{{/if}}") representing Manulife.  
                                                    li Submissions after <b>11:59PM on 22 March 2019</b> will not be accepted.
                                                    li The participant (“<b>Participants</b>”) must be a natural person who is a Singapore citizen or a Singapore Permanent Resident residing in Singapore and shall be above 21 years of age at time of participation. Participants affirm the accuracy and correctness of all information provided at the time of entry in the Contest. Any misrepresentation of any facts or particulars shall result in disqualification, forfeiture, withholding or withdrawal of the Prizes (as defined below) won, or recovery of the amount of the Prizes won at the sole discretion of Manulife.
                                                    li The Participants will be required to complete a survey accessed through the Contest link. Upon completion of the survey, Participants will be required to further fulfil following criteria and Manulife will then decide on 10 winners (the “<b>Winners</b>”) who will be the first 10 Participants fulfilling all criteria within the Contest Period.
                                                        ol.list-alphabet.list-regular
                                                            li submit a successful entry, that is, relevant details as requested during the Contest Period;
                                                            li answer verification call from Manulife; and
                                                            li meet with a Manulife Financial Consultant/Manulife Financial Advisor Financial Services Consultant.
                                                    li The Winners will each receive a SGD <b>$10 voucher</b> (“<b>Prize</b>” or “<b>Prizes</b>”). 
                                                    li Participants may participate in the Contest multiple times, but only the first submission of each Participant will be captured and recorded for their chance to win.
                                                    li Manulife’s decision on and method of deciding the respective Winners shall be at its absolute discretion and shall be final, conclusive and binding. Notwithstanding anything to the contrary, Manulife reserves the right to select another Winner to substitute Winner who is subsequently found to be ineligible or disqualified in Manulife’s opinion. Any such determination shall be final, binding and conclusive on all parties.
                                                    li Winners will be notified separately by phone call according to the contact details submitted upon entry. Winners will be deemed notified once they have received a phone call from Manulife and verified their details. Manulife shall not be responsible for a delay in notification or no notification at all.
                                                    li Manulife shall not be responsible for any breakdown or malfunction in any computer system or equipment or network/internet connection that may impair a Participant’s participation or a chance to win during the Contest.
                                                    li The Prize is not (a) transferable, (b) exchangeable or (c) redeemable for cash. Manulife reserves the right to replace the Prize with item(s) of similar value without prior notice. Manulife assumes no liability or responsibility and shall not be responsible or liable for any injury, loss, claim or damage whatsoever or for any charges, costs, tax or expenses of any kind whatsoever suffered or incurred as a result of the redemption or usage of the goods and services or the Prize or in connection with the Contest and/or redemption or use of the Prize and any consequences including, but not limited to, loss of life, injury to person and/or loss or damage to property arising from or in connection with the Contest, and/or use of the Prize howsoever arising. Manulife does not assume any liability or responsibility for and will not be liable or responsible for any defect, quality, merchantability, the fitness or any other aspect of the Prize, or the goods/services offered in connection with this Contest; or for the acts or defaults of the Prize merchants. Manulife is not an agent of such merchants. Any dispute relating to the Prize including but not limited to the quality or service standard must be resolved directly with the relevant merchant.
                                                    li All decisions made by Manulife in connection with the Contest (including the interpretation of the Terms) including but not limited to, terminating, cancelling or suspending the Contest or to varying the Terms of the Contest or prohibiting a Participant from participating in the Contest, shall be final and binding on all parties to this Contest. Manulife shall not be liable for payment or compensation to any party. No appeal shall be entertained.
                                                    li All Participants, their friends and families are participating in the Contest on their own free will and assume all risks and liability inherent in this participation. Participants will not hold Manulife and its directors, shareholders, affiliates, employees, agents, representatives, contractors and partners and the owner/operator of the Contest liable for any claims, demands, suits, causes of action of any kind whatsoever, costs, liabilities and/or expenses (including legal fees and disbursements) as and when they arise during the course of the Contest to the extent permitted by law including but not limited to injury to themselves and their friends and families, property damage, death during the Contest or on the premises where the Contest are/were held. Participants also agree to indemnify Manulife and hold it harmless against all losses, claims, demands, expenses and other liabilities (including legal fees) suffered or incurred by Manulife as a result of any breach of these Terms or of applicable laws by the Participants including, without limitation, any representation made by the Participants which is not authorised under these Terms or otherwise in writing by Manulife.
                                                    li A person who does not participate in the Contest shall have no right under the Contracts (Rights of Third Parties) Act (Cap.53B) to enforce any of these Terms.
                                                    li This Contest is subject to the laws of and the courts of the Republic of Singapore. 
                                                    li In the event of any inconsistency between these Terms and any brochure, marketing or promotional material relating to this Contest, these Terms shall prevail. 
                                                    li Participants consent under the ‘Personal Data Protection Act 2012’ to the collection, use and disclosure of one’s personal data by/to Manulife FA and other third parties as Manulife FA may reasonably consider necessary for the purpose of the Contest – and confirm that they agree to be bound by the terms of Manulife FA’s Statement of Personal Data Protection, a copy of which can be found on: <u><a href="/privacy-policy" target="_blank">{{currentBu.website.url}}/privacy-policy</a></u>. 
                                                    li Manulife FA can use the Winner’s name, image and/or voice for editorial, advertising, promotional, marketing and/or other purposes without further consent and compensation, except where prohibited by law.
                                                    li All information above is correct as of 09 March 2020.
                                        .clearfix 
                .section-wrapper.section-term#consent-modal
                    .main-content.container-fluid
                        section.section-wrapper-list
                            .close-modal-btn
                            section.section-article-intro
                                .block-article-intro
                                    .row
                                        .col-xs-12
                                            .block-subtitle
                                                h5 Marketing Consent
                                        .clearfix 

                            section.section-article-content
                                .block-article-content
                                    .row
                                        .col-xs-12.block-article-item
                                            .block-list
                                                ol.list-decimal.list-regular 
                                                    li I consent to Manulife Financial Advisers Pte. Ltd. (“Manulife FA”), to contact me (even though my telephone number is already registered on the National Do Not Call Registry) for marketing purposes, and provide me with marketing, advertising and promotional information, materials and/or documents relating to products and services of Manulife. 
                                                        | <br><br>The consent I provide is in addition to and does not supersede, vary or nullify any consent which I may have provided previously in respect of the above purposes, unless my previous consent is withdrawn.
                                                    li I confirm that I am the user and/or subscriber of the telephone number and/or email provided by me.
                                        .clearfix 
                             
                +footer()
        +footer_scripts()