block pageData

doctype html
html(lang=relativeLang)
    head
        +head()
            meta(property='og:image', content='http:../images/campaigns/a-tale-of-gifts/landing/landing-mobile.jpg')
            meta(property='og:image:secure_url', content='https:../images/campaigns/a-tale-of-gifts/landing/landing-mobile.jpg')
            meta(property='og:description', content="Christmas season is almost upon us and you know what that means – office parties, Secret Santa exchanges, feasting and shopping for gifts! Tell us how you would respond to these holiday season scenarios and receive a $10 Starbucks voucher if you are one of the first 1000 eligible participants! T&Cs apply.")

    body(class=relativePageDetails)
        +google-tag-manager-body()
        +mobile-menu()
        .page-content#page
            +header()
            +side-menu-bar-discovery({ 
                detailsSubtitle : "Help us understand you better!"
            })

            main
                #loadingscreen
                +main_banner_sidebar_responsive({
                    imageDesktop: "../images/campaigns/a-tale-of-gifts/landing/landing-desktop.jpg",
                    imageTablet: "../images/campaigns/a-tale-of-gifts/landing/landing-tablet.jpg",
                    imageMobile: "../images/campaigns/a-tale-of-gifts/landing/landing-mobile.jpg"
                })

                section.section-wrapper.campaign-form#tale-of-gift-form
                    .main-content.container-fluid
                        .row
                            .col-xs-12.col-xlg-offset-1.col-xlg-8
                                section.section-title-main.tale-gift-title-wrapper.campaign-form-title-wrapper
                                    .row
                                        .col-xs-12
                                            h1.title-main.form-title A Tale of Gifts &amp; Greetings
                                            h5.text-subtitle-product Christmas season is almost upon us and you know what that means – office parties, Secret Santa exchanges, feasting and shopping for gifts!  
                                                | <br><br>Tell us how you would respond to these holiday season scenarios.
                                            
                                            //- h5.text-subtitle-product Thank you for taking part in our Tales of Gifts &amp; Greeting holiday survey!
                                                | <br><br>We hope you had fun answering playing along and perhaps also learnt a thing or two from your answer! Whatever it is, we would like to thank you for your valuable time and effort that made this survey a great success! 
                                                | <br><br>Wishing you a Merry Christmas and Happy Holidays!
                                                | <br><br>{{websiteMainUser.firstName}}{{#if websiteMainUser.lastName}} {{websiteMainUser.lastName}}{{/if}}

                                            .block-button
                                                +button-static({theme: "button-orange button-show-gift-question", text: "Start Now"})
                                            //- .block-term
                                                p <u><span class="showTerms popupterms">*Terms & Conditions</span></u> apply.
                                section.section-questions
                                    .block-questions
                                        .question-item(data-question='1')
                                            .question-item-content
                                                .row
                                                    .col-xs-12.question
                                                        .question-img-title
                                                            +image_block({   
                                                                customClass: "question-gift-img",                                                                                                         
                                                                imageDesktop: "../images/campaigns/a-tale-of-gifts/q1/Q1_1920x526.jpg",
                                                                imageTablet: "../images/campaigns/a-tale-of-gifts/q1/Q1_1600x800.jpg",
                                                                imageMobile: "../images/campaigns/a-tale-of-gifts/q1/Q1_1600x800.jpg",
                                                                imageAlt: "You’re kicking off Christmas by shopping for the people on your ‘Nice’ list. You find yourself: "
                                                            })
                                                            h4.title 1. You’re kicking off Christmas by shopping for the people on your ‘Nice’ list. You find yourself: 
                                                    .col-xs-12.answer.answer-type-round
                                                        .answer-option(data-score='1')
                                                            span A. Regretting not setting aside some extra cash over the last few months.
                                                        .answer-option(data-score='2')
                                                            span B. Staying cool because you’ve got a fixed budget all planned out. 
                                                        .answer-option(data-score='3')
                                                            span C. Feeling like Santa thanks to your pro saving skills!  

                                        .question-item(data-question='2')
                                            .question-item-content
                                                .row
                                                    .col-xs-12.question
                                                        .question-img-title
                                                            +image_block({   
                                                                customClass: "question-gift-img",                                                                                                         
                                                                imageDesktop: "../images/campaigns/a-tale-of-gifts/q2/Q2_1920x526.jpg",
                                                                imageTablet: "../images/campaigns/a-tale-of-gifts/q2/Q2_1600x800.jpg",
                                                                imageMobile: "../images/campaigns/a-tale-of-gifts/q2/Q2_1600x800.jpg",
                                                                imageAlt: "You’re kicking off Christmas by shopping for the people on your ‘Nice’ list. You find yourself: "
                                                            })
                                                            h4.title 2. Your bank account balance shows an extra amount of money that’s been neatly parked aside for a rainy day. You: 
                                                    .col-xs-12.answer.answer-type-round
                                                        .answer-option(data-score='1')
                                                            span A. Didn’t even get to the end of this question because you were too busy googling ‘flights to Bali’ 
                                                        .answer-option(data-score='2')
                                                            span B. Spend half of it on treating yourself, and saving the rest 
                                                        .answer-option(data-score='3')
                                                            span C. Withdraw the entire sum and deposit it safely into your dedicated savings account 
                                        .question-item(data-question='3')
                                            .question-item-content
                                                .row
                                                    .col-xs-12.question
                                                        .question-img-title
                                                            +image_block({   
                                                                customClass: "question-gift-img",                                                                                                         
                                                                imageDesktop: "../images/campaigns/a-tale-of-gifts/q3/Q3_1920x526.jpg",
                                                                imageTablet: "../images/campaigns/a-tale-of-gifts/q3/Q3_1600x800.jpg",
                                                                imageMobile: "../images/campaigns/a-tale-of-gifts/q3/Q3_1600x800.jpg",
                                                                imageAlt: "You’re kicking off Christmas by shopping for the people on your ‘Nice’ list. You find yourself: "
                                                            })
                                                            h4.title 3. Fast forward to December, 40 years from now; well into your retirement years. You need to decide how to spend Christmas, so you: 
                                                    .col-xs-12.answer.answer-type-round
                                                        .answer-option(data-score='1')
                                                            span A. Check your bank account balance grudgingly before making a decision which probably isn’t in your favour 
                                                        .answer-option(data-score='2')
                                                            span B. Call up your family - you’re not going to spend the holidays without them!
                                                        .answer-option(data-score='3')
                                                            span C. Pack your bags for a white Christmas in Europe that you’ve been planning with your travel buddies 
                                        .wrapper-quiz-form.result-form-block
                                            .block-quiz-result
                                                .result-score-mark
                                                .result-score-number
                                                .result-score.status-hidden.result-1
                                                    .result-score-image
                                                        img(src="../images/campaigns/a-tale-of-gifts/a-tale-of-gifts-santa.PNG", alt='Ho! Ho! Ho! You’re Santa')
                                                    .result-score-title
                                                        h2.title Ho! Ho! Ho! You’re Santa 
                                                    .result-score-text
                                                        p.subtitle While it’s good to spread joy the joy of giving this season, you need to be a little more mindful of your expenses and not get too carried away with your spending! 
                                                .result-score.status-hidden.result-2
                                                    .result-score-image
                                                        img(src="../images/campaigns/a-tale-of-gifts/a-tale-of-gifts-reindeer.PNG", alt='You’re Rudolph the Reindeer! ')
                                                    .result-score-title
                                                        h2.title You’re Rudolph the Reindeer! 
                                                    .result-score-text
                                                        p.subtitle Your good intentions and conscious efforts are what people love about you. Your priority is making sure you and your loved ones are always taken care of. 
                                                .result-score.status-hidden.result-3
                                                    .result-score-image
                                                        img(src="../images/campaigns/a-tale-of-gifts/a-tale-of-gifts-elf.PNG", alt='You’re a Christmas Elf ')
                                                    .result-score-title
                                                        h2.title You’re a Christmas Elf 
                                                    .result-score-text
                                                        p.subtitle You’ve got it all figured out, putting in that extra mile to make sure that everything you do goes according to the plan that unlocks your happily-ever-after.
                                                .block-button.block-share-button
                                                    //- .block-text
                                                        p <strong>Share this quiz with a friend</strong>

                                                    //- .share-result-button.addthis_inline_share_toolbox(data-url="")
                                                    .block-text.block-disclaimer.block-term
                                                        p <b>Disclaimer:</b><br/>Please note that the result is not derived from any research or statistics.

                                            .block-quiz-form
                                                .block-quiz-form-inner
                                                    .col-xs-12.block-form#form-tale-gift
                                                        h3.title Stand to win a $10 Starbucks Voucher!
                                                        p.subtitle Please fill out the form below so that {{websiteMainUser.firstName}}{{#if websiteMainUser.lastName}} {{websiteMainUser.lastName}}{{/if}} can get in touch with you with the details on how you can redeem your free <strong>$10 Starbucks voucher</strong> if you are one of the first 1000 eligible participants*.  <u><span class="showTerms popupterms">Terms and conditions</span></u> apply.
                                                        .quiz-form
                                                            .block-form
                                                                .row
                                                                    form.form-survey.form-element
                                                                        .form-field.form-field-name.col-xs-12.col-sm-6
                                                                            .form-field-inner
                                                                                label Name (As per NRIC):
                                                                                input(class='input-firstname', type='text', id="tale-gift-name")

                                                                        .form-field.form-field-lastname.col-xs-12.col-sm-6
                                                                            .form-field-inner
                                                                                label Phone Number:
                                                                                input(class='input-phone', type='tel', id="tale-gift-phone")

                                                                        .clearfix

                                                                        .form-field.form-field-email.col-xs-12.col-sm-6
                                                                            .form-field-inner
                                                                                label Your email:
                                                                                input(class='input-email', type='email', id="tale-gift-email")


                                                                        .clearfix
                                                                        //- .col-xs-12.news-latter-opt-option
                                                                            label.container
                                                                                input.general-checkbox#surveyNewsLetter(type='checkbox', class="")
                                                                                | Yes, I agree to Manulife Financial Advisers <u><span class="showConsent popupterms">Marketing Consent Terms &amp; Conditions</span></u>. 
                                                                                span.checkmark
                                                                                span.error-color Please tick the box and provide your consent to participate
                                                                        //- .col-xs-12.block-term
                                                                            p *By submitting this Contest Participation form, I have read and agreed to the <u><span class="showTerms popupterms">Terms &amp; conditions</span></u>. 
                                                                        +marketing_consent({
                                                                            textColorClass: ""
                                                                        })
                                                                        .block-button.col-xs-12
                                                                            input#ExternalId(type='hidden', name="ExternalId")
                                                                            a(id="button-submit-tale-gift", class="button button-orange button-submit")
                                                                                span Submit
                                                                        .col-xs-12
                                                                            p.submission-error
                                                                            p.multiplesubmission You’ve submitted multiple times, please try again later.<br/>Alternatively, you may contact us at {{websiteMainUser.emails}}.
                                                                        .clearfix
                                                    .col-xs-12.block-thank#form-thank-tale-gift
                                                        h3.title Thank You for Participating!  
                                                        p.subtitle Thank you! Your details have been confirmed. <br/><br/>
                                                            | {{websiteMainUser.firstName}}{{#if websiteMainUser.lastName}} {{websiteMainUser.lastName}}{{/if}} will be in touch with you soon to let you know if you are a winner of the <strong>$10 Starbucks voucher</strong>! 
                                                        .block-button.block-share-button
                                                            .block-text
                                                                p <strong>Share this quiz with a friend</strong>

                                                            .share-result-button.addthis_inline_share_toolbox(data-url="")

                                                    .clearfix

                .section-wrapper.section-term#term-modal
                    .main-content.container-fluid
                        section.section-wrapper-list
                            .close-modal-btn
                            section.section-article-intro
                                .block-article-intro
                                    .row
                                        .col-xs-12
                                            .block-subtitle
                                                h5 ‘A TALE OF GIFTS &amp; GREETINGS’ Survey<br/>Terms &amp; Conditions 
                                            .block-text
                                                p By participating in the ‘A TALE OF GIFTS &amp; GREETINGS’ (the “Survey”), I understand and agree to the following:  
                                        .clearfix 

                            section.section-article-content
                                .block-article-content
                                    .row
                                        .col-xs-12.block-article-item
                                            .block-list
                                                ol.list-decimal.list-regular 
                                                    li The Survey is organised by {{currentBu.businessUnit.BranchName}}, ("{{currentBu.businessUnit.BranchName}}"), representing Manulife Financial Advisers Pte. Ltd. (“Manulife FA”) and will run from 18 November 2019 to 29 November 2019 (“Survey Period”). Entries submitted after 11:59PM on 29 November 2019 will not be accepted.
                                                    li The Survey is open to all Singaporeans and Permanent Residents residing in Singapore only. Only persons aged 21 years old and above are eligible to participate in the Survey.
                                                    li All participants of the Survey (the “Participants”) affirm the accuracy and correctness of all information provided at the time of entry. Any misrepresentation of any facts or particulars shall result in disqualification, forfeiture, withholding or withdrawal of the Prizes won, or recovery of the amount of the Prizes won at the sole discretion of Manulife FA.
                                                    li Participants may take the Survey multiple times, but only the first submission will be considered as the entry for their chance to win.
                                                    li The first 1,000 participants, who have submitted a successful entry during the Survey Period and answered the verification call from a Manulife FA Financial Services Consultant (“Financial Services Consultant”) will be the winners of the Survey (the “Winners”).
                                                    li The Winners will each receive a <strong>$10 voucher</strong> (“Prize”). All Prizes are non-transferable and non-exchangeable. Manulife FA reserves the right to replace the Prizes with other prizes of equivalent value. 
                                                    li Manulife FA’s decision on the Winners is final. No correspondence, enquiries, appeals, verbal or written, will be entertained. All Participants and Winners shall accept and abide by all decisions made by Manulife FA concerning, without limitation, to these terms and conditions, the rules, procedures and regulations of the Survey, the award of the Prizes and any other matters relating to the Survey. 
                                                    li Winners will be notified separately by phone call, according to the contact details submitted. Winners will be deemed notified once they have received a phone call from the Financial Services Consultant and have their details verified.
                                                    li {{currentBu.businessUnit.BranchName}}, Manulife FA shall have the sole and absolute discretion to exclude any person from participating in the Survey, without providing any reason and prior notice.
                                                    li Participants consent under the ‘Personal Data Protection Act 2012’ to the collection, use and disclosure of one’s personal data by/to Manulife FA other third parties as Manulife FA may reasonably consider necessary for the purpose of the Survey – and confirm that they agree to be bound by the terms of Manulife’s Statement of Personal Data Protection, a copy of which can be located at:  <u><a href="/privacy-policy" target="_blank">{{currentBu.website.url}}/privacy-policy</a></u>. 
                                                    li Manulife FA are permitted to use the Winner’s name, photo and/or voice for editorial, advertising, promotional, marketing and/or other purposes without further compensation, except where prohibited by law.
                                                    li Manulife FA shall be released and discharged by each Participant from any liabilities, claims, demands, causes of action and/or damages which the Participants may have, whether known or unknown at present time, of any nature whatsoever, arising out of or relating to: (i) the Survey, (ii) loss suffered by the Winners as a result of the use and/or enjoyment of the Prize, and/or (iii) any tax liabilities in relation to the Survey, Prizes and/or use or enjoyment of the same.
                                                    li Manulife FA reserve the right to amend the terms and conditions of the Survey without giving notice or reason.
                                                    li The terms of the Survey will be governed by and construed in accordance to the laws of the Republic of Singapore. The exclusive jurisdiction will be reserved to the Courts of the Republic of Singapore.
                                                    li All information above is correct as of 18 November 2019.
                                        .clearfix 
                .section-wrapper.section-term#consent-modal
                    .main-content.container-fluid
                        section.section-wrapper-list
                            .close-modal-btn
                            section.section-article-intro
                                .block-article-intro
                                    .row
                                        .col-xs-12
                                            .block-subtitle
                                                h5 Marketing Consent
                                        .clearfix 

                            section.section-article-content
                                .block-article-content
                                    .row
                                        .col-xs-12.block-article-item
                                            .block-list
                                                ol.list-decimal.list-regular 
                                                    li I consent to the Representatives of Manulife Financial Advisers Pte. Ltd. (“Manulife Financial Advisers”), to contact me (even though my telephone number is already registered on the National Do Not Call Registry) for marketing purposes, and provide me with marketing, advertising and promotional information, materials and/or documents relating to products and services of Manulife Financial Advisers . The consent I provide is in addition to and does not supersede, vary or nullify any consent which I may have provided previously in respect of the above purposes, unless my previous consent is withdrawn.
                                                    li I confirm that I am the user and/or subscriber of the telephone number and/or email provided by me.
                                        .clearfix 
                             
                +footer()
        +footer_scripts()