block pageData

doctype html
html(lang=relativeLang)
    head
        +head()
            meta(property='og:image', content='http:../images/campaigns/women-we-know/manulife-WomenWeKnow-FB-meta.jpg')
            meta(property='og:image:secure_url', content='https:../images/campaigns/women-we-know/manulife-WomenWeKnow-FB-meta.jpg')
            meta(property='og:image:width', content='800')
            meta(property='og:image:height', content='400')            
            meta(property='og:image', content='http:../images/campaigns/women-we-know/Manulife-women-whatsapp.jpg')
            meta(property='og:image:width', content='400')
            meta(property='og:image:height', content='400')
            meta(property='og:description', content="In honour of Mother’s Day, we’re celebrating the amazing women in our lives with a S$10 foodpanda voucher giveaway. Terms and conditions apply.")

    body(class=relativePageDetails)
        +google-tag-manager-body()
        +mobile-menu()
        .page-content#page
            +header()
            +side-menu-bar()

            main.no-first-level-menu
                #loadingscreen
                +main_banner_mobile_no_contact_box({                    
                    imageDesktop: "../images/campaigns/women-we-know/manulife-WomenWeKnow-banner-1380-01.jpg",
                    imageTablet: "../images/campaigns/women-we-know/manulife-WomenWeKnow-banner-700-01.jpg",
                    imageMobile: "../images/campaigns/women-we-know/manulife-WomenWeKnow-banner-375-01.jpg"
                })
                form.section-wrapper.campaign-form#womenweknow-form(method="post")
                    .main-content.container-fluid
                        .row
                            .col-xs-12.col-md-11.col-lg-10.col-xlg-7
                                p.source-caption ^Resist the urge to spend more with the 50-30-20 guide. <a href="https://www.todayonline.com/singapore/resist-urge-spend-more-50-20-30-guide" target="_blank">Today Online</a>
                                .row.d-flex
                                    .col-xs-3.col-md-2.bg-image
                                        img(src='../images/campaigns/women-we-know/manulife-womenweknow-main-1.png' alt='Women We Know')
                                    .col-xs-9.col-md-10.section-form-content
                                        section.section-title-main.campaign-form-title-wrapper.womenweknow-form-title-wrapper
                                            .row
                                                .col-xs-12
                                                    h1.form-title.d-none WomenWeKnow
                                                    p.subtitle.text-regular.text-green.question-1.form-question Thank you for participating in the #WomenWeKnow Campaign. The campaign has ended on the 28th May 2020, {{websiteMainUser.firstName}}{{#if websiteMainUser.lastName}} {{websiteMainUser.lastName}}{{/if}} will be in touch to let you know if you are one of the eligible winners.
                                                    //- p.subtitle.text-regular.text-green.question-1.form-question Name a woman that taught you the importance of saving money, and answer the next question to stand to win a <strong>S$10 foodpanda voucher</strong>* from 30 April – 28 May 2020! 
                                                    //- p.subtitle.text-regular.text-green.question-2.form-question Now answer the question below to stand to win a <strong>S$10 foodpanda voucher</strong>*!
                                                    
                                                //- .col-xs-12
                                                    .quiz-form
                                                        .block-form
                                                            .row
                                                                .form-survey.form-element.block-questions
                                                                    .form-field.form-field-select.col-xs-12.question-1.form-question
                                                                        .form-field-inner
                                                                            label.text-bold.title She is my
                                                                            .form-select-wrapper.select-dropdown
                                                                                select.select-dropdown-form.selectpicker#womenweknow-form-select-she
                                                                                    option(value='default') Please select
                                                                                    option(value='My Mother') My Mother
                                                                                    option(value='My Grandmother') My Grandmother
                                                                                    option(value='My Sister') My Sister
                                                                                    option(value='My Wife') My Wife
                                                                                    option(value='My Boss') My Boss
                                                                                    option(value='Someone else') Someone else

                                                                    .form-field.form-field-question.col-xs-12.question-2.form-question
                                                                        .form-field-inner
                                                                            label.text-bold.title What percentage of your salary should you save each month?
                                                                            input(class='input-question input-number-only', type='text', id="womenweknow-form-ques-percentage")
                                                                    
                                                                    .col-xs-12.block-term
                                                                        p <u><span class="showTerms popupterms">*Terms & Conditions apply.</span></u>
                                                                    
                                                                    .col-xs-12.block-button
                                                                        +button-static({theme: "button-orange button-womenweknow-next-question button-question-1 button-green", text: "NEXT"})
                                                                        +button-static({theme: "button-orange button-womenweknow-form button-question-2 button-green", text: "NEXT"})

                                        
                                        //- section.section-form-submission
                                            .row
                                                .col-xs-12.block-form#form-womenweknow-form
                                                    //- .result-text-wrapper
                                                        .result-text
                                                            p.text-regular Record your monthly expenditure - it’s probably changed over the past few weeks. Now is a good time to have a closer look and what you need to spend on vs what you should be spending on.
                                                        .result-text
                                                            p.text-regular Make the most out of your DIYs. Coffee, home workouts and meals. Compare how much you’re saving while you’re working from home against when you’re at the office.
                                                        .result-text
                                                            p.text-regular Pay yourself first! Set up a standing order with your bank that automatically deducts a fixed amount of money each month from your bank account and have it tucked away safely into a bank savings account.

                                                    p.subtitle.text-regular.text-green Please complete the form below so that I can reach out to you to inform you if you have won yourself a <strong>S$10 foodpanda voucher</strong>*.
                                                    
                                                    .quiz-form
                                                        .block-form
                                                            .row
                                                                .form-survey.form-element
                                                                    .form-field.form-field-name.col-xs-12.col-sm-6
                                                                        .form-field-inner
                                                                            label Name (As per NRIC):
                                                                            input(class='input-firstname', type='text', id="womenweknow-form-name")

                                                                    .form-field.form-field-lastname.col-xs-12.col-sm-6
                                                                        .form-field-inner
                                                                            label Phone Number:
                                                                            input(class='input-phone', type='tel', id="womenweknow-form-phone")

                                                                    .clearfix

                                                                    .form-field.form-field-email.col-xs-12.col-sm-6
                                                                        .form-field-inner
                                                                            label Your email:
                                                                            input(class='input-email', type='email', id="womenweknow-form-email")


                                                                    .clearfix
                                                                    .col-xs-12.news-latter-opt-option
                                                                        label.container
                                                                            input.general-checkbox#surveyNewsLetter(type='checkbox', class="")
                                                                            | Yes, I am above the age of 21. I have also read and consent to Manulife’s <u><span class="showConsent popupterms">Marketing Consent Terms &amp; Conditions</span></u>. 
                                                                            span.checkmark
                                                                            span.error-color Please tick the box and provide your consent to participate
                                                                    .col-xs-12.block-term
                                                                        p *By participating and submitting the form above, you read and agree to the <u><span class="showTerms popupterms">terms and conditions</span></u>.
                                                                    .block-button.col-xs-12
                                                                        input#ExternalId(type='hidden', name="ExternalId")
                                                                        a(id="button-submit-womenweknow-form", class="button button-orange button-submit button-green")
                                                                            span SUBMIT
                                                                    .col-xs-12
                                                                        p.submission-error
                                                                        p.multiplesubmission You’ve submitted multiple times, please try again later.<br/>Alternatively, you may contact us at {{websiteMainUser.emails}}.
                                                                    .clearfix
                                                .col-xs-12.block-thank#form-thank-womenweknow-form
                                                    h3.subtitle Thank You for participating!  
                                                    p.text-regular I will be in touch with you soon.
                                                        | <br><br>Till then, reach out to the inspirational women in your life this Mother’s Day, to share your thoughts on how they have made a positive impact in your life.
                                                        | <br><br>Want to show them you care? Share this <a href='/insights/self-care-guide-for-mothers' target='_blank'>Self-Care Guide for Mothers</a>. 
                                                    
                                                    .block-button.block-share-button
                                                        .block-text
                                                            p <strong>Share this survey with a friend</strong>

                                                        .share-result-button.addthis_inline_share_toolbox(data-url="")

                                                .clearfix

                .section-wrapper.section-term#term-modal
                    .main-content.container-fluid
                        section.section-wrapper-list
                            .close-modal-btn
                            section.section-article-intro
                                .block-article-intro
                                    .row
                                        .col-xs-12
                                            .block-subtitle
                                                h5 ‘#WomenWeKnow’ Contest<br/>Terms &amp; Conditions 
                                            .block-text
                                                p By participating in the ‘<b>#WomenWeKnow</b>’ survey (the “Contest”), I understand and agree to the following: 
                                        .clearfix 

                            section.section-article-content
                                .block-article-content
                                    .row
                                        .col-xs-12.block-article-item
                                            .block-list
                                                ol.list-decimal.list-regular 
                                                    li By participating in the ‘<b>Women We Know</b>’ contest (the “<b>Contest</b>”) organized by Manulife (Singapore) Pte. Ltd. and/or its affiliates (“<b>Manulife</b>”) from <b>30 April  2020 to 28 May 2020 (“Contest Period”)</b> (both dates inclusive), I understand and agree to these Terms.
                                                    li The Contest is operated by {{currentBu.businessUnit.BranchName}}, ("{{websiteMainUser.firstName}}{{#if websiteMainUser.lastName}} {{websiteMainUser.lastName}}{{/if}}") representing Manulife.  
                                                    li Submissions after <b>11:59PM on 28 May 2020</b> will not be accepted.
                                                    li The participant (“<b>Participants</b>”) must be a natural person who is a Singapore citizen or a Singapore Permanent Resident residing in Singapore and shall be above 21 years of age at time of participation. Participants affirm the accuracy and correctness of all information provided at the time of entry in the Contest. Any misrepresentation of any facts or particulars shall result in disqualification, forfeiture, withholding or withdrawal of the Prizes (as defined below) won, or recovery of the amount of the Prizes won at the sole discretion of Manulife.
                                                    li Each Participants will be required to fulfil the following criteria during the Contest Period. Manulife will then decide on 10 winners (the “<b>Winners</b>”) who will be the first 10 Participants fulfilling all criteria within the Contest Period:
                                                        ol.list-alphabet.list-regular
                                                            li Click on the Contest link;
                                                            li Provide the correct answer to questions;
                                                            li Complete the contact detail form;
                                                            li Submit a complete entry;
                                                            li Answer verification call from a Manulife Financial Advisor Financial Services Consultant; and
                                                            li Complete a non Face-to-Face Financial Review Session with a Manulife Financial Advisor Financial Services Consultant.  
                                                    li The Winners will each receive a SGD <b>$10 voucher</b> (“<b>Prize</b>” or “<b>Prizes</b>”). 
                                                    li Participants may participate in the Contest multiple times, but only the first submission of each Participant will be captured and recorded for their chance to win.
                                                    li Manulife’s decision on and method of deciding the respective Winners shall be at its absolute discretion and shall be final, conclusive and binding. Notwithstanding anything to the contrary, Manulife reserves the right to select another Winner to substitute Winner who is subsequently found to be ineligible or disqualified in Manulife’s opinion. Any such determination shall be final, binding and conclusive on all parties.
                                                    li Winners will be notified separately by phone call according to the contact details submitted upon entry. Winners will be deemed notified once they have received a phone call from Manulife and verified their details. Manulife shall not be responsible for a delay in notification or no notification at all.
                                                    li Manulife shall not be responsible for any breakdown or malfunction in any computer system or equipment or network/internet connection that may impair a Participant’s participation or a chance to win during the Contest.
                                                    li The Prize is not (a) transferable, (b) exchangeable or (c) redeemable for cash. Manulife reserves the right to replace the Prize with item(s) of similar value without prior notice. Manulife assumes no liability or responsibility and shall not be responsible or liable for any injury, loss, claim or damage whatsoever or for any charges, costs, tax or expenses of any kind whatsoever suffered or incurred as a result of the redemption or usage of the goods and services or the Prize or in connection with the Contest and/or redemption or use of the Prize and any consequences including, but not limited to, loss of life, injury to person and/or loss or damage to property arising from or in connection with the Contest, and/or use of the Prize howsoever arising. Manulife does not assume any liability or responsibility for and will not be liable or responsible for any defect, quality, merchantability, the fitness or any other aspect of the Prize, or the goods/services offered in connection with this Contest; or for the acts or defaults of the Prize merchants. Manulife is not an agent of such merchants. Any dispute relating to the Prize including but not limited to the quality or service standard must be resolved directly with the relevant merchant.
                                                    li All decisions made by Manulife in connection with the Contest (including the interpretation of the Terms) including but not limited to, terminating, cancelling or suspending the Contest or to varying the Terms of the Contest or prohibiting a Participant from participating in the Contest, shall be final and binding on all parties to this Contest. Manulife shall not be liable for payment or compensation to any party. No appeal shall be entertained.
                                                    li All Participants, their friends and families are participating in the Contest on their own free will and assume all risks and liability inherent in this participation. Participants will not hold Manulife and its directors, shareholders, affiliates, employees, agents, representatives, contractors and partners and the owner/operator of the Contest liable for any claims, demands, suits, causes of action of any kind whatsoever, costs, liabilities and/or expenses (including legal fees and disbursements) as and when they arise during the course of the Contest to the extent permitted by law including but not limited to injury to themselves and their friends and families, property damage, death during the Contest or on the premises where the Contest are/were held. Participants also agree to indemnify Manulife and hold it harmless against all losses, claims, demands, expenses and other liabilities (including legal fees) suffered or incurred by Manulife as a result of any breach of these Terms or of applicable laws by the Participants including, without limitation, any representation made by the Participants which is not authorised under these Terms or otherwise in writing by Manulife.
                                                    li A person who does not participate in the Contest shall have no right under the Contracts (Rights of Third Parties) Act (Cap.53B) to enforce any of these Terms.
                                                    li This Contest is subject to the laws of and the courts of the Republic of Singapore. 
                                                    li In the event of any inconsistency between these Terms and any brochure, marketing or promotional material relating to this Contest, these Terms shall prevail. 
                                                    li Participants consent under the ‘Personal Data Protection Act 2012’ to the collection, use and disclosure of one’s personal data by/to Manulife FA and other third parties as Manulife FA may reasonably consider necessary for the purpose of the Contest – and confirm that they agree to be bound by the terms of Manulife FA’s Statement of Personal Data Protection, a copy of which can be found on: <u><a href="/privacy-policy" target="_blank">{{currentBu.website.url}}/privacy-policy</a></u>. 
                                                    li Manulife FA can use the Winner’s name, image and/or voice for editorial, advertising, promotional, marketing and/or other purposes without further consent and compensation, except where prohibited by law.
                                                    li All information above is correct as of 30 April 2020. 
                                        .clearfix 
                .section-wrapper.section-term#consent-modal
                    .main-content.container-fluid
                        section.section-wrapper-list
                            .close-modal-btn
                            section.section-article-intro
                                .block-article-intro
                                    .row
                                        .col-xs-12
                                            .block-subtitle
                                                h5 Marketing Consent
                                        .clearfix 

                            section.section-article-content
                                .block-article-content
                                    .row
                                        .col-xs-12.block-article-item
                                            .block-list
                                                ol.list-decimal.list-regular 
                                                    li I consent to the Representatives of Manulife Financial Advisers Pte. Ltd. (“Manulife Financial Advisers”), to contact me (even though my telephone number is already registered on the National Do Not Call Registry) for marketing purposes, and provide me with marketing, advertising and promotional information, materials and/or documents relating to products and services of Manulife Financial Advisers. 
                                                        | <br><br>The consent I provide is in addition to and does not supersede, vary or nullify any consent which I may have provided previously in respect of the above purposes, unless my previous consent is withdrawn.
                                                    li I confirm that I am the user and/or subscriber of the telephone number and/or email provided by me.
                                        .clearfix 
                             
                +footer()
        +footer_scripts()