block pageData

doctype html
html(lang=relativeLang)
    head
        +head()
            meta(property='og:image', content='http:../images/campaigns/women-we-know/manulife-WomenWeKnow-FB-meta.jpg')
            meta(property='og:image:secure_url', content='https:../images/campaigns/women-we-know/manulife-WomenWeKnow-FB-meta.jpg')
            meta(property='og:image:width', content='800')
            meta(property='og:image:height', content='400')            
            meta(property='og:image', content='http:../images/campaigns/women-we-know/Manulife-women-whatsapp.jpg')
            meta(property='og:image:width', content='400')
            meta(property='og:image:height', content='400')
            meta(property='og:description', content="In honour of Mother’s Day, we’re celebrating the amazing women in our lives with a S$10 foodpanda voucher giveaway. Terms and conditions apply.")

    body(class=relativePageDetails)
        +google-tag-manager-body()
        +mobile-menu()
        .page-content#page
            +header()
            +side-menu-bar()

            main.no-first-level-menu.no-banner
                section.section-wrapper
                    .main-content.container-fluid
                        .row
                            .col-xs-12.col-md-8.col-lg-6.col-lg-offset-1
                                section.section-title-main
                                    .block-form
                                        .row
                                            .col-xs-12
                                                form#form-WWKredemption.form-element
                                                    .section-form-title
                                                        .form-title.d-none WomenWeKnow Redemption
                                                        h1.title-main ‘Women We Know’ Contest<br>Incentive Acknowledgement

                                                    .form-survey.form-element
                                                        .form-field.form-field-name
                                                            .form-field-inner
                                                                label Name (As per NRIC):
                                                                input(class='input-firstname', type='text', id="WWKredemption-name")

                                                        .form-field.form-field-contactnumber
                                                            .form-field-inner
                                                                label Phone Number:
                                                                input(class='input-phone', type='tel', id="WWKredemption-phone")

                                                        .form-field.form-field-email
                                                            .form-field-inner
                                                                label Email:
                                                                input(class='input-email', type='email', id="WWKredemption-email")

                                                        .clearfix

                                                        .news-latter-opt-option
                                                            label.container
                                                                input.general-checkbox#WWKAcknowledge(type='checkbox', class="")
                                                                | I hereby acknowledge that I have received the contest prize of SGD10.00 in FoodPanda Gift Vouchers as the eligible winner of ‘Women We Know’ contest.
                                                                span.checkmark
                                                                span.error-color Please tick the box and provide your consent to participate
                                                        
                                                        .news-latter-opt-option
                                                            label.container
                                                                input.general-checkbox#WWKredemptionNewsLetter(type='checkbox', class="")
                                                                | I agree to give my permission to {{currentBu.businessUnit.BranchName}} to use my name for publicity purposes on our website, social media page, and other types of promotional materials.
                                                                span.checkmark
                                                        
                                                        .block-button
                                                            input#ExternalId(type='hidden', name="ExternalId")
                                                            a(id="button-submit-WWKredemption", class="button button-orange button-submit button-green")
                                                                span SUBMIT
                                                        .clearfix
                                    
                                                #form-thank-WWKredemption.block-thank
                                                    .thank-content
                                                        h3.subtitle Thank you for your submission.  
                                                        p.text-regular.text-green #wwk and #redeemed

                                    
                +footer()
        +footer_scripts()