block pageData

doctype html
html(lang=relativeLang)
    head
        +head()
            meta(property='og:image', content='http:../images/campaigns/tortoise-and-hare/manulife-tortoise-hare-facebook-meta.jpg')
            meta(property='og:image:secure_url', content='https:../images/campaigns/tortoise-and-hare/manulife-tortoise-hare-facebook-meta.jpg')
            meta(property='og:image:width', content='800')
            meta(property='og:image:height', content='400')            
            meta(property='og:image', content='http:../images/campaigns/tortoise-and-hare/manulife-tortoise-hare-whatsapp.jpg')
            meta(property='og:image:width', content='400')
            meta(property='og:image:height', content='400')
            meta(property='og:description', content="Remember the tale of tortoise and the hare and wondered what happened once the famous race was over? After all, both characters had two totally different approaches to life, so what do you think would be their views on topics like Savings & Insurance? Find out for yourself and while you’re at it, subscribe to my mailing list for more awesome tips on financial planning!")

    body(class=relativePageDetails)
        +google-tag-manager-body()
        +mobile-menu()
        .page-content#page
            +header()
            +side-menu-bar()

            main.no-first-level-menu
                #loadingscreen
                +main_banner_mobile_no_contact_box({                    
                    imageDesktop: "../images/campaigns/tortoise-and-hare/1380-banner/manulife-tortoise-hare-1380-1A.jpg",
                    imageTablet: "../images/campaigns/tortoise-and-hare/700-banner/manulife-tortoise-hare-700-1A.jpg",
                    imageMobile: "../images/campaigns/tortoise-and-hare/375-banner/manulife-tortoise-hare-375-1A.jpg"
                })

                form.section-wrapper.campaign-form#tortoisehare-form(method="post")
                    .main-content.container-fluid
                        .row
                            .col-xs-12.col-md-10.col-lg-5.col-lg-offset-1.col-xlg-4
                                .campaign-form-content-wrapper
                                    section.section-title-main.campaign-form-title-wrapper.tortoisehare-form-title-wrapper
                                        .row
                                            .col-xs-12
                                                h1.form-title.d-none Tortoise and Hare

                                                .block-text
                                                    p.subtitle.text-regular.text-center You may have heard of the tale of the Tortoise and the Hare, but have you ever wondered what transpired after the infamous race between the two? 
                                                        | <br><br>Here is their untold story. 
                                                    .block-image.landing-breaker-img
                                                        img(src="../images/campaigns/tortoise-and-hare/manulife-tortoise-hare-landing-breaker.png" alt="Tortoise and Hare")
                                                    p.subtitle.text-regular.text-center To begin, please select a story title

                                                .block-button
                                                    .row.d-flex
                                                        .col-xs-6.text-right
                                                            +button-static({theme: "button-orange button-show-articles button-go-articles-save button-green text-curly", text: "Who Saves the Day?"})
                                                        .col-xs-6.text-left
                                                            +button-static({theme: "button-orange button-show-articles button-go-articles-invest text-curly", text: "The Best to Invest"})
                                    
                                    section.go-articles-save.go-articles.d-none-i
                                        .row
                                            .col-xs-12
                                                .block-text
                                                    p.text-regular The highly strung <span class="text-orange">#AspiringHare</span> planned to keep working for as long as his feet could thump. This way, he could maintain a healthy mind and body too!
                                                
                                                .block-text
                                                    p.text-regular.text-center.text-orange.text-curly “If I keep working, I’ll keep making money, and<br class="d-md-block d-none-i"> that only means more time to enjoy life now!”<br> he marvelled, his eyes gleaming.
                                                
                                                .block-text
                                                    p.text-regular The <span class="text-green">#CautiousTortoise</span> on the other hand, who was constantly teased by his fluffy friend for being more about the destination rather than the race, went about his daily routine, squirreling money away each month into a savings account to make room for the future, though it meant living on a budget now.
                                                
                                                .block-button
                                                    .row
                                                        .col-xs-6
                                                            +button-static({theme: "button-orange-arrow button-green-arrow button-go-back button-go-back-title text-curly", text: "go back"})
                                                        .col-xs-6.text-right
                                                            +button-static({theme: "button-orange-arrow button-green-arrow button-continue button-go-save-sign-up text-curly", text: "continue"})

                                        //- .accordion.row
                                            .accordion-item.accordion-article.col-xs-12.status-closed
                                                .block-accordion-item-title
                                                    .accordion-item-title Read more on our Savings guides and tips
                                                .accordion-item-content 
                                                    .row
                                                        .col-xs-6.col-md-3
                                                            .block-image
                                                                a(href="/discovery/see-how-the-savings-grow")
                                                                    img(src="" alt="")
                                                        .col-xs-6.col-md-9
                                                            .block-text
                                                                p.text-regular Fast or Slow, See How the Savings Grow
                                                            .block-text
                                                                p.text-small.text-curly updated on date

                                    section.go-save-sign-up.go-articles.d-none-i
                                        .row
                                            .col-xs-12
                                                .block-text
                                                    h5.text-regular.text-curly.text-normal Which of these two characters do you resonate with the most?
                                                    p.text-regular Do you find yourself relating more to the <span class="text-green">#CautiousTortoise</span> in this story, who takes priority in saving for the future?
                                                        |<br><br>Or are you the ever-so optimistic <span class="text-orange">#AspringHare</span>, who insists on keeping himself healthy and busy for as long as possible so he can enjoy his hard-earned money?
                                                        |<br><br>Sign up for my exclusive email subscription and receive best practices and insightful articles from me that may provide you on how to effectively manage your financial future. 

                                                .block-button
                                                    .row.d-flex.align-center
                                                        .col-xs-6
                                                            +button-static({theme: "button-orange-arrow button-green-arrow button-go-back button-go-back-save-articles text-curly", text: "go back"})
                                                        .col-xs-6.text-right
                                                            +button-static({theme: "button-orange button-green text-curly button-go-sign-up-form", text: "Sign up now"})

                                    section.go-articles-invest.go-articles.d-none-i
                                        .row
                                            .col-xs-12
                                                .block-text
                                                    p.text-regular The young, visionary that was the <span class="text-orange">#AspiringHare</span> soon became a successful entrepreneur yet he was hungry for more! He decided to park a large sum of his gains in the stock market. It might be risky, but the returns would be quicker and bigger he was told.
                                                        |<br><br>The <span class="text-green">#CautiousTortoise</span> too had found himself with a fair bit of money. He instead chose the ‘safer route’ and put his money in an investment-linked insurance policy. 
                                                .block-text
                                                    p.text-regular.text-center.text-green.text-curly “Good things come to those who wait,”<br>said the #CautiousTortoise.
                                                
                                                .block-button
                                                    .row
                                                        .col-xs-6
                                                            +button-static({theme: "button-orange-arrow button-green-arrow button-go-back button-go-back-title text-curly", text: "go back"})
                                                        .col-xs-6.text-right
                                                            +button-static({theme: "button-orange-arrow button-green-arrow button-continue button-go-invest-title text-curly", text: "continue"})

                                        //- .accordion.row
                                            .accordion-item.accordion-article.col-xs-12.status-closed
                                                .block-accordion-item-title
                                                    .accordion-item-title Read more on our Investment strategies
                                                .accordion-item-content 
                                                    .row
                                                        .col-xs-6.col-md-3
                                                            .block-image
                                                                a(href="/discovery/investing-strategies-for-every-speed")
                                                                    img(src="" alt="")
                                                        .col-xs-6.col-md-9
                                                            .block-text
                                                                p.text-regular Investing Strategies for Every Speed
                                                            .block-text
                                                                p.text-small.text-curly updated on date

                                    section.go-invest-title.go-articles.d-none-i
                                        .row
                                            .col-xs-12
                                                .block-text
                                                    p.text-regular Suddenly, the forest economy took a downturn, crashing the stock market. If it weren’t for his savings, the <span class="text-orange">#AspiringHare</span> would have been in big trouble.
                                                        |<br><br>The <span class="text-green">#CautiousTortoise</span> on the other hand, took a lighter hit from the blow and suggested that his fluffy friend rethink his investment strategy.  
                                                    h5.text-regular.text-curly.text-normal.text-center After all, what are good friends for if<br class="d-md-block d-none-i"> not for sound advice?

                                                .block-button
                                                    .row
                                                        .col-xs-6
                                                            +button-static({theme: "button-orange-arrow button-green-arrow button-go-back button-go-back-invest-articles text-curly", text: "go back"})
                                                        .col-xs-6.text-right
                                                            +button-static({theme: "button-orange-arrow button-green-arrow button-continue button-go-invest-sign-up text-curly", text: "continue"})
                                    
                                    section.go-invest-sign-up.go-articles.d-none-i
                                        .row
                                            .col-xs-12
                                                .block-text
                                                    h5.text-regular.text-curly.text-normal Stock market investments bring quick, and possibly larger returns, but tend to pose higher risks.
                                                    p.text-regular 	Investment-Linked insurance plan are better suited for those with a longer investment horizon to ride out market fluctuations and defray initial costs which can significantly limit short-term potential returns.
                                                        |<br><br>Want more useful tips on how to better manage your investment decisions?
                                                        |<br><br>Subscribe to my mailing list now!                                                

                                                .block-button
                                                    .row.d-flex.align-center
                                                        .col-xs-6
                                                            +button-static({theme: "button-orange-arrow button-green-arrow button-go-back button-go-back-invest-title text-curly", text: "go back"})
                                                        .col-xs-6.text-right
                                                            +button-static({theme: "button-orange button-green text-curly button-go-sign-up-form", text: "Sign up now"})
                                                                                            
                                    section.section-form-submission
                                        .row
                                            .col-xs-12.block-form#form-tortoisehare-form
                                                p.text-regular Please fill in your details below to get yourself subscribed to my mailing list to receive exclusive tips, insights and news on financial planning.
                                                
                                                .quiz-form
                                                    .block-form
                                                        .row
                                                            .form-survey.form-element
                                                                .form-field.form-field-learn-more.col-xs-12
                                                                    .form-field-inner
                                                                        label I want to learn more about
                                                                        
                                                                    .block-input-radio
                                                                        .input-radio.input-radio-invest
                                                                            input.input-radio-learn-more(type="radio", id="tortoisehare-form-investment", name="input-radio-article", value="Investment")
                                                                            label(for="tortoisehare-form-investment") Investment
                                                                        .input-radio.input-radio-save
                                                                            input.input-radio-learn-more(type="radio", id="tortoisehare-form-savings", name="input-radio-article", value="Savings") 
                                                                            label(for="tortoisehare-form-savings") Savings

                                                                .form-field.form-field-name.col-xs-12.col-sm-6
                                                                    .form-field-inner
                                                                        label Your Name:
                                                                        input(class='input-firstname', type='text', id="tortoisehare-form-name")

                                                                //- .form-field.form-field-lastname.col-xs-12.col-sm-6
                                                                    .form-field-inner
                                                                        label Phone Number:
                                                                        input(class='input-phone', type='tel', id="tortoisehare-form-phone")

                                                                //- .clearfix

                                                                .form-field.form-field-email.col-xs-12.col-sm-6
                                                                    .form-field-inner
                                                                        label Your email:
                                                                        input(class='input-email', type='email', id="tortoisehare-form-email")

                                                                .clearfix
                                                                .col-xs-12.news-latter-opt-option
                                                                    label.container
                                                                        input.general-checkbox#surveyNewsLetter(type='checkbox', class="")
                                                                        | Yes, I have also read and agree to Manulife’s  <u><span class="showConsent popupterms">Marketing Consent</span></u>. 
                                                                        span.checkmark
                                                                        span.error-color Please check the box and provide your consent to join my mailing list.
                                                                //- .col-xs-12.block-term
                                                                    p *By participating and submitting the form above, you read and agree to the <u><span class="showTerms popupterms">terms and conditions</span></u>.
                                                                .block-button.col-xs-12
                                                                    input#ExternalId(type='hidden', name="ExternalId")
                                                                    a(id="button-submit-tortoisehare-form", class="button button-orange button-submit button-green")
                                                                        span SUBMIT
                                                                .col-xs-12
                                                                    p.submission-error
                                                                    p.multiplesubmission You’ve submitted multiple times, please try again later.<br/>Alternatively, you may contact us at {{websiteMainUser.emails}}.
                                                                .clearfix
                                            
                                            .col-xs-12.block-thank#form-thank-tortoisehare-form
                                                h3.subtitle Thank you! 
                                                p.text-regular You are now subscribed to my mailing list.  
                                                    | <br><br>You’ll be hearing from me shortly with more tales of our dear friends, the <span class="text-orange">#AspiringHare</span> and the <span class="text-green">#CautiousTortoise</span>.
                                                
                                                .block-button.block-share-button
                                                    .block-text
                                                        p Share this with a friend

                                                    .share-result-button.addthis_inline_share_toolbox(data-url="")

                                            .clearfix

                .section-wrapper.section-term#consent-modal
                    .main-content.container-fluid
                        section.section-wrapper-list
                            .close-modal-btn
                            section.section-article-intro
                                .block-article-intro
                                    .row
                                        .col-xs-12
                                            .block-subtitle
                                                h5 Marketing Consent
                                        .clearfix 

                            section.section-article-content
                                .block-article-content
                                    .row
                                        .col-xs-12.block-article-item
                                            .block-list
                                                ol.list-decimal.list-regular 
                                                    li I consent to the Representatives of {{currentBu.businessUnit.BranchName}}, an agency branch representing Manulife (Singapore) Pte. Ltd. (“Manulife”) to contact me (even though my telephone number is already registered on the National Do Not Call Registry) for marketing purposes, and provide me with marketing, advertising and promotional information, materials and/or documents relating to products and services of Manulife. The consent I provide is in addition to and does not supersede, vary or nullify any consent which I may have provided previously in respect of the above purposes, unless my previous consent is withdrawn.
                                                    li I confirm that I am the user and/or subscriber of the email provided by me.
                                        .clearfix 
                             
                +footer()
        +footer_scripts()