extends /template/content/footer/content-fair-dealing-policy

block append pageData
    include /all/agency/general/en/components/components.jade
    -var titleMeta = 'Fair Dealing Policy | {{websiteMainUser.firstName}}{{#if websiteMainUser.lastName}} {{websiteMainUser.lastName}}{{/if}} | {{currentBu.businessUnit.BranchName}}'
    -var canonicalLink = "https://www.manulife.com.sg/fair-dealing-policy.html"