extends /template/content/footer/content-insurance-guides-and-useful-links

block append pageData
    include /all/agency/general/en/components/components.jade
    -var titleMeta = 'Insurance Guides and Useful Links | {{websiteMainUser.firstName}}{{#if websiteMainUser.lastName}} {{websiteMainUser.lastName}}{{/if}} | {{currentBu.businessUnit.BranchName}}'
    -var canonicalLink = "https://www.manulife.com.sg/insurance-guides.html"
