extends /template/content/footer/content-legal

block append pageData
    include /all/agency/general/en/components/components.jade
    -var titleMeta = 'Legal Notices & Conditions of Use | {{websiteMainUser.firstName}}{{#if websiteMainUser.lastName}} {{websiteMainUser.lastName}}{{/if}} | {{currentBu.businessUnit.BranchName}}'
    -var canonicalLink = "/legal"