extends /template/content/footer/content-marketing

block append pageData
    include /all/agency/general/en/components/components.jade
    -var titleMeta = 'Marketing Consent | {{websiteMainUser.firstName}}{{#if websiteMainUser.lastName}} {{websiteMainUser.lastName}}{{/if}} | {{currentBu.businessUnit.BranchName}}'
    -var canonicalLink = "/marketing"