extends /template/content/footer/content-privacy-policy

block append pageData
    include /all/agency/general/en/components/components.jade
    -var titleMeta = 'Statement of Personal Data Protection | {{websiteMainUser.firstName}}{{#if websiteMainUser.lastName}} {{websiteMainUser.lastName}}{{/if}} | {{currentBu.businessUnit.BranchName}}'
    -var canonicalLink = "/privacy-policy"