include partials/icons.jade
include partials/footer-scripts.jade
include partials/head.jade
include partials/footer.jade
include partials/header.jade
include mixins/mixins.jade

include partials/review-and-partners.jade
include partials/our-solutions-card.jade
include partials/contact-box.jade
include partials/form-data.jade
include partials/side-bar.jade
include partials/mobile-menu.jade


