.contact-box {
    background-color: #fff;
    margin: 20px 0 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s;

    .greenTitle {
        color: $greenColor;
        margin-top: 30px;
        margin-top: 0;
        margin-bottom: 20px;
        font-weight: 600;
        font-size: 20px;

    }

    .tabs-content-block {
        .chat-form-container {
            p {
                color: #fff;
                font-size: 13px;
                line-height: 1.38;

            }
        }

    }

    .box-user {
        position: relative;
        &:before {
            content: "";
            display: inline-block;
            width: 100%;
            height: 5px;
            top: 0;
            background-color: #34384b;
            padding: 0;
            margin: 0;
            font-size: 0;
            margin-bottom: 20px;
        }

        .user-image-holder {
            background-color: #ccc;
            width: 70px;
            height: 70px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            background-size: cover;
            background-position: center center;
            position: relative;

            .icon-user-accessible {
                position: absolute;
                right: 4px;
                bottom: 0;
                top: inherit;
                display: inline-block;
                border-radius: 50%;
                width: 12px;
                height: 12px;
                font-size: 0.750em;
                text-align: center;
                line-height: 20px;
                color: #fff;
            }
        }

        .box-user-name {
            text-align: left;
            h2 {
                color: $greenColor;
                font-size: 16px;
                font-weight: 600;
                line-height: 1.5;
                margin-bottom: 10px;
            }
            p {
                color: $textLightGray;
                font-size: 13px;
                font-weight: 600;
                line-height: 1.38;
                display: none;
            }
            p:first-of-type {
                //fix for each member jobtitle hack
                display: block;
            }
        }

        .block-social {
            position: absolute;
            right: 9px;
            top: 14px;

            .social-icon {
                width: 32px;
                height: 32px;
                margin-bottom: 6px;
                display: block;
                float: right;
                clear: both;
            }
        }
    }

    .contact-box-data, .contact-tab-content-mobile {
        margin-top: 20px;
        //padding: 0;

        // ------------------------------------------------ Form overwrites
        .form-select-wrapper {
            &:after {
                background-image: url('../images/icon/icon-arrow-down-gray.svg');
            }

            .btn {
                height: 40px;
            }
        }

        .form-field {
            // label, select, input, textarea {
            //     color: #ffffff;
            // }

            input {
                height: 40px;
            }

            &.form-field-phone {
                input {
                    width: calc(100% - 87px);
                    margin-left: 14px;

                    @include mobile-mmedium {
                        width: calc(100% - 99px);
                        margin-left: 25px;
                    }
                    @include tablet {
                        width: calc(100% - 87px);
                        margin-left: 14px;
                    }
                }
            }

            .select-phone-prefix {
                width: 73px;
                .bootstrap-select {
                    width: 73px!important;
                }

                &:after {
                    width: 10.31px;
                    height: 6.5px;
                    top: 15px;
                    right: 9px;
                }
            }
        }
        //overwrite style for contact box inputs
        .bootstrap-select.btn-group .dropdown-toggle .filter-option {
            //color: #ffffff;
        }


        .tabs-icon-block {
            background-color: $redColor;
        }

        .tabs-content-item {
            //background-color: $redColor;
        }

        .chat-container {
            //display:none;
        }

        // PHONE
        .phone-container {
            //padding-bottom: 30px;
            h3 {
                margin-bottom: 20px;
            }
            //a {
            //    font-size: 22px;
            //    color: #fff;
            //    background-color: $greenColor;
            //    border-radius: 30px;
            //    padding: 18px 40px;
            //    display: inline-block;
            //
            //    @include tablet {
            //        background-color: transparent;
            //        border-radius: 0;
            //        padding: 0;
            //    }
            //}
        }

        // THANK YOU
        .thankYou-container {
            padding-bottom: 30px;
            p {
                font-size: 18px;
                line-height: 1.44;
            }
            p.thankYou-txt {
                padding-top: 30px;
                max-width: 188px;
                font-weight: 600;
            }

            p.schedule {
                color: $greenColor;
                font-weight: 500;
                margin: 20px 0;
                max-width: 188px;
            }
            p.postSctipt {
                font-size: 14px;
                max-width: 188px;
            }
        }
    }

    // MEETING FORM
    .meeting-form-container {
    }

    .button-orange {
        width: 100%;
        //bottom: -75px;
        position: absolute;
    }

    .news-latter-opt-option { 
        margin-top: 5px;
        padding-bottom: 5px;

        .container {
            font-size: 10px;
            line-height: 14px;
        }
    }
}

.tabs-icon-block {
    overflow: hidden;

    .tabs-icon {
        padding: 15px 16px 20px;
        //border-bottom: solid 1px $redColor;
        //min-height: 70px;
        display: flex;

        position: relative;
        border-top: solid 5px $redColor;
        text-align: center;

        i, .icon {
            margin: 0 auto 5px;
            width: 25px;
            height: 25px;
            display: block;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;

            svg {
                width: 25px;
                height: 25px;

                &.svg-icon-livechat {
                    width: 26px;
                    height: 24px;
                }

                @include mobile-mmedium {
                    width: 35px;
                    height: 35px;

                    &.svg-icon-livechat {
                        width: 38px;
                        height: 35px;
                    }
                }

                @include tablet {
                    width: 25px;
                    height: 25px;

                    &.svg-icon-livechat {
                        width: 26px;
                        height: 24px;
                    }
                }
            }

            &.fa-angle-right {
                position: relative;
                top: 1px;
                display: none;
                margin-right: 5px;
            }

            @include mobile-mmedium {
                left: -4px;
                top: -2px;
                margin-bottom: 0;
                position: relative;
            }
            @include tablet {
                left: 0;
                display: inline-block;
                top: 1px;

                svg {
                    width: 15px;
                    height: 15px;

                    &.svg-icon-livechat {
                        width: 18px;
                        height: 17px;
                    }
                }

                &.fa-angle-right {
                    display: inline-block;
                    width: 13px;
                    height: 14px;
                    font-size: 18px;
                    line-height: 14px;
                    margin-right: 0;
                }
            }
        }

        p, a {
            font-size: 12px;
            line-height: 14px;
            font-weight: normal;
            display: block;
            color: #fff;
            text-align: center;
            margin: auto;

            @include mobile-mmedium {
                font-size: 16px;
                line-height: 50px;
            }

            @include tablet {
                line-height: 24px;
            }
        }

        .phone {
            background-image: url("../images/general/icon-phone-white.svg");
        }
        .meeting {
            background-image: url("../images/general/icon-calendar-white.svg");
        }
        .mail {
            background-image: url("../images/general/icon-letter-white.svg");
        }
        .chat {
            background-image: url("../images/general/icon-chat-white.svg");
        }

        &:nth-child(1n+1) {
            border-right: solid 1px #fff;
        }

        &:last-child {
            border-right: none;
        }
    }
}

// DESKTOP VARIATION
.contact-box-desktop {
    margin-top: 0;
    display: none !important;
    position: absolute;
    right: 30px;
    z-index: 99;
    margin-bottom: 0;
    max-width: 280px;
    border-top: solid 5px $darkGrayColor;
    box-shadow: none;

    @include tablet {
        display: block !important;
        //position top in main banner
        //top: 100%!important;
        //margin-top: -435px!important;
        bottom: 0;
        //top: 15px;
    }

    .contact-box-data .tabs-icon-block {
        position: relative;
        z-index: 10;
    }

    .box-user {
        .box-user-img {
            width: 100%;
            .user-image-holder {
                margin: 0 auto;
                width: 120px;
                height: 120px;
                .icon-user-accessible {
                    @include tablet {
                        display: none;
                    }
                }
            }
        }

        .box-user-name {
            text-align: center;
            width: 100%;
            h2 {
                font-size: 22px;
                line-height: 28px;
                font-family: $mainFont;
                color: #00a854;
                margin-top: 10px;
                font-weight: 600;
            }
            p {
                font-size: 14px;
                line-height: 20px;
                font-family: $mainFont;
                font-weight: 400;
            }
        }
    }

    .form-field-title {
        display: none;
    }

    .tabs-content-item {
        .tabs-content-item-content {
            .block-thank {
                .button-close-tab {
                    display: block;
                    bottom: -104px;
                }
            }
        }
    }
    
    .tabs-icon-1:hover {
        border-bottom: none;
        background: $darkGrayColor;
        border-top: solid 5px $darkGrayColor;

        // span svg g {
        //     stroke: $greenColor;
        //     fill: $greenColor;
        // }

        // a {
        //     color: $greenColor;
        // }
    }

    .tabs-icon-2:hover {
        border-bottom: solid 1px #272b3d;
        background: $darkGrayColor;
        border-top: solid 5px $darkGrayColor;

        // span svg g {
        //     fill: $greenColor;
        // }

        // p {
        //     color: $greenColor;
        // }
    }
}

// DESKTOP MINI VARIATION
.contact-box-desktop-mini {
    width: 100%;
    background: #fff;
    box-shadow: none;
    padding-left: 10px;
    position: fixed;
    z-index: 99;
    margin: 0;
    bottom: -1px;

    @include tablet {
        top: 0;
        max-height: 81px;
        bottom: auto;
        right: 30px;
        width: 674px;
        background: transparent;
        display: none;

        &:before {
            content: "";
            position: absolute;
            left: 10px;
            top: 0;
            width: 1px;
            height: 80px;
            border-left: 1px solid #e5e5e5;
        }
    }

    //.thankYou-container, .chat-container, .phone-container, .meeting-form-container, .email-container {
    //    display: none !important;
    //}


    .box-user {
        background: $darkGrayColor;
        padding-top: 11px;
        padding-right: 12px;
        height: 70px;
        width: calc(100% - 184px);
        
        @include mobile-mmedium {
            padding-top: 9px;
            width: calc(100% - 242px);
            height: 94px;
        }

        @include tablet {
            background: transparent;
            padding-top: 13px;
            width: 309px;
            height: 80px;
            padding-right: 20px;
        }

        .box-user-img {
            width: 62px;
            padding-left: 5px;
            padding-right: 7px;

            @include mobile-small-only {
                width: 51px;
                padding-left: 0;
                padding-right: 2px;
            }
        }
        .user-image-holder {
            width: 49px;
            height: 49px;
        }

        .box-user-name {
            padding-left: 2px;
            padding-right: 0px;
            position: absolute;
            top: 50%;
            left: 78px;
            transform: translateY(-50%);
            width: calc(100% - 84px);

            @include mobile-small-only {
                left: 68px;
                width: calc(100% - 73px);
            }

            h2 {
                color: #fff;
                margin-bottom: 0;
                font-size: 16px;
                line-height: 20px;
                font-weight: normal;

                @include mobile-small-only {
                    font-size: 12px;
                    line-height: 15px;
                }
            }

            p {
                color: #fff;
                font-size: 12px;
                line-height: 20px;
                font-weight: normal;

                @include mobile-small-only {
                    font-size: 10px;
                    line-height: 12px;
                }
            }

            @include mobile-mmedium {
                h2 {
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 26px;
                    letter-spacing: 0.2px;
                }

                p {
                    font-size: 14px;
                    line-height: 20px;
                }
            }

            @include tablet {
                h2 {
                    color: $greenColor;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 20px;
                }
    
                p {
                    color: $darkGrayColor;
                    font-size: 12px;
                    line-height: 20px;
                }
            }
        }

        @include mobile-mmedium {
            .box-user-img {
                padding-left: 25px;
                width: 100px;
            }

            .user-image-holder {
                width: 76px;
                height: 76px;
            }

            .box-user-name {
                left: 127px;
                padding-right: 10px;
                padding-left: 11px;
                width: auto;
                max-width: 306px;
            }
        }


        @include tablet {
            .box-user-img {
                padding-left: 15px;
                width: 82px;
            }

            .user-image-holder {
                width: 55px;
                height: 55px;
            }

            .box-user-name {
                left: 97px;
                padding-left: 7px;
                max-width: 135px;
            }
        }

        &:before {
            display: none;
        }

        .block-social {
            padding-top: 12px;
            padding-left: 9px;
            padding-right: 0;
            display: none;

            @include tablet {
                display: block;
            }

            .social-icon {
                width: 27px;
                height: 27px;
                display: inline-block;
                float: none;

                + .social-icon {
                    margin-left: 9px;
                }
            }
        }
    }
    &.status-tab-selected-2 {
        .tabs-icon-2 {
            p {
                color: #fff !important;
            }

            &.button-orange { 
                background-color: $darkGrayColor; 
                border-left:  thin solid $darkGrayColor;

                span svg g {
                    fill: #fff;
                }

                @include tablet {
                    border: none;
                }
            }
            
        }
    }
    margin-bottom: 0!important;

    .contact-box-data {
        margin-top: 0;
        padding: 0;
        width: 183px;

        @include mobile-mmedium {
            width: 241px;
        }
        @include tablet {
            width: 365px;
            margin-top: 14px;
            padding-left: 15px;
            padding-right: 11px;
        }
        .tabs-icon-block {
            background-color: #fff;
            padding-right: 15px;
            @include tablet {
                padding: 0;
            }
            .tabs-icon {
                border: none;

                + .tabs-icon {
                    border-left: thin solid #fff;
                }

                &.button-orange { 
                    width: 50%;
                    padding: 15px 0;
                    height: 70px;

                    @include mobile-mmedium {
                        padding: 18px 0;
                        height: 94px;
                    }

                    &:hover {
                        background: $darkGrayColor;
                    }
                }
                @include tablet {
                    + .tabs-icon {
                        margin-left: 10px;
                        border-left: none;
                    }

                    &.button-orange { 
                        height: auto;
                        padding: 10px 20px 12px;
                        width: 162px;

                        .icon {
                            left: -5px;
                            top: 4px;

                            svg {
                                width: 22px;
                                height: 22px;

                                &.svg-icon-livechat {
                                    width: 25px;
                                    height: 22px;
                                }
                            }
                        }
                    }
                }
            }

            @include tablet {
                &:before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: -18px;
                    width: 1px;
                    height: 80px;
                    border-left: 1px solid #e5e5e5;
                }
            }
        }
    }
    .tabs-content-block {
        position: absolute;
        margin-top: 16px;
        right: 11px;
        .button-orange { 
            width: 100%;
        }
    }

    .contact-tab-content {
        @include mobile-and-tablet-small-only {
            display: block;
            margin: 0;
            padding-left: 5px;
            padding-right: 5px;
            height: 100%;
            // position: relative;
            // padding: 0;
            // height: 60%;
            // overflow: hidden;
            // float: none;
        }
        .contact-tab-content-mobile {
            position: relative;
            right: 0;
            margin: 0;
            height: 100%;
             
            .tabs-content-item {
                width: calc(100% - 10px);
                max-height: calc(100vh - 160px);
                overflow-y: scroll;

                .button-orange {
                    position: fixed;
                    bottom: 0;
                    width: calc(100% + 30px);
                    left: -15px;
                }

                .form-field-title { 
                    h3 {
                        margin-top: 24px;
                        font-size: 36px;	
                        line-height: 43px;
                    }
                }
                .button-close-tab {
                    z-index: 10;
                    right: 12px;
                    top: 28px;

                    &:before, &:after {
                        background: $darkGrayColor;
                    }
                    @include mobile-mmedium {
                        right: 25px;
                    }
                    @include tablet {
                        right: 12px;
                    }
                }
            }

            @include tablet {
                .form-field.col-sm-6, .form-field.col-xs-6 {
                    padding-left: 15px;
                    padding-right: 7.5px;
                }
                .form-field.col-sm-6 + .form-field.col-sm-6,
                .form-field.col-xs-6 + .form-field.col-xs-6 {
                    padding-left: 7.5px;
                    padding-right: 15px;
                }
            }
        }
    }

    @include tablet {
        .contact-tab-content-mobile {
            display: none;
        }
    }
}

.contact-tab-content-desktop-mini, .contact-tab-content-mobile {
    height: 80%;
    max-height: 600px;

    @include desktop-small {
        max-height: 577px;
    }

    .button-close-tab {
        cursor: pointer;
        width: 25px;
        height: 25px;
        position: absolute;
        right: 1%;
        top: 14px;

        @include desktop-medium {
            right: 1%;
            top: 16px;
        }

        @include desktop-fullhd {
            right: 10%;
        }

        &:before, &:after {
            content: "";
            width: 25px;
            height: 3px;
            position: absolute;
            top: 12px;
            left: 0;
            background: $darkGrayColor;
            transform: rotate(45deg);
        }

        &:after {
            transform: rotate(-45deg);
        }
    }
}
.contact-tab-content-desktop {
    display: none;
}

.contact-tab-content-desktop, .contact-tab-content-mobile {
    height: 100%;

    @include tablet {
        box-shadow: 0 0 13px 0 rgba(0,0,0,0.22);
    }

    form {
        label {
            
            font-size: 14px;
            line-height: 18px;
        }

        .form-field {
            margin-bottom: 15px;

            .error-label {
                top: 60px;
            }
        }
    }

    .block-thank {
        //display: none;
        .thank-title {
            font-size: 18px;
            line-height: 24px;
            font-weight: 600;
        }
        .thank-shedule {
            font-size: 18px;
            line-height: 24px;
            font-weight: 500;
        }
        .thank-text {
            font-size: 14px;
            line-height: 24px;
            font-weight: 400;
            margin-top: 0;
        }
    }
}
.contact-tab-content-desktop-mini {
    display: none;
    position: fixed;
    right: 0;
    top: 80px;
    width: 100%;

    .form-contact-box {
        height: 100%;
    }

    .tabs-content-item {
        height: 100%;
        padding: 40px;
        background: white;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

        .tabs-content-item-content {
            height: 100%;

            .button-close-tab {
                display: block;

                &.button-orange {
                    display: none;
                }
            }

            background: white;
            width: 60%;
            padding: 0 35px;
            //max-height: none;
            overflow-y: auto;

            @include desktop-medium {
                width: 50%;
                max-width: 660px;
                //max-height: none;
            }

            .button-orange {
                position: relative;
                min-width: 182px;
                bottom: 0;
            }

            .form-field-select {
                width: 50%;
                padding-right: 7.5px;
            }

            .form-field-email {
                width: 50%;
                padding-left: 7.5px;
            }

            .news-latter-opt-option {
                .container {
                    font-size: 12px;	
                    line-height: 20px;
                }
            }
        }

        .form-field-title {
            width: 40%;
            text-align: right;

            @include desktop-medium {
                width: 50%;
            }

            h3 {
                font-size: 46px;	
                font-weight: 600;	
                line-height: 59px;
            }
        }

        @include tablet {
            .form-field-phone {
                .form-select-wrapper {
                    width: 60px;
                    display: inline-block;
                    float: left;
                }
                input {
                    //width: calc(100% - 90px);
                    width: calc(100% - 113px);
                    margin-left: 53px;
                    display: inline-block;
                    vertical-align: bottom;
                }
            }
        }
    }


    @include tablet {
        &.status-tab-selected-2 {
            display: block;
        }
    }
}

.thankYou-container {
    display: none;
}

.tabs-content-item {
    position: relative;
    .tabs-content-item-content {
        .button-close-tab {
            display: none;
        }

        background-color: #fff;
        padding-top: 20px;
        padding-bottom: 15px;
    }

    .button-orange {
        position: absolute;
        left: 0;
        cursor: pointer;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0;
        bottom: -79px;
    }
}



//reset buttons on tablet and up
.phone-container {
    word-wrap: break-word;
    @include tablet {

        .button {
            display: inline-block;
            padding: 0;
            margin: 0;
            border: 0;
            background-color: inherit;
            color: #ffffff;
            text-align: left;

            &:hover {
                background-color: inherit;
            }
        }
    }

}

// ------------------------------------------------ Behaviour
.tabs-content-item {
    display: none;
}

.tabs-icon {
    cursor: pointer;
}

.status-tab-selected-1 {
    //margin-bottom: 105px;
    .tabs-icon-1 {
        border-bottom: none;
        //border-top: solid 5px $greenColor;

        .chat {
            //background-image: url("../images/general/icon-chat-green.svg");
        }

        // p {
        //     color: $greenColor;
        // }
    }

    .tabs-content-item-1 {
        display: block;
    }
}


.status-tab-selected-2 {
    // margin-bottom: 105px;
    .tabs-icon-2 {
        border-bottom: none;
        background: $darkGrayColor;
        border-top: solid 5px $darkGrayColor;
        // border-top: solid 5px $greenColor;
        // span svg g {
        //     fill: $greenColor;
        // }

        // p {
        //     color: $greenColor;
        // }
    }
    .tabs-content-item-2 {
        display: block;
    }

    @include tablet {
        &.show-contact-box + .contact-tab-content-desktop-mini {
            display: block;

            .tabs-content-item-2 {
                display: block;
            }
        }
    }
}

.status-tab-selected-3 {
    .tabs-icon-3 {
        border-bottom: none;
        border-top: solid 5px $greenColor;
        .phone {
            background-image: url("../images/general/icon-phone-green.svg");
        }

        p {
            color: $greenColor;
        }
    }
    .tabs-content-item-3 {
        display: block;
    }
}

.status-tab-selected-4 {
    .tabs-icon-4 {
        border-bottom: none;
        border-top: solid 5px $greenColor;
        .mail {
            background-image: url("../images/general/icon-letter-green.svg");
        }

        p {
            color: $greenColor;
        }
    }
    .tabs-content-item-4 {
        display: block;
    }
}



//Extra Padding for opened small contact box mini
.contact-box-desktop-mini.status-tab-selected-1 {
    top: 0;
}


.contact-box-desktop-mini.status-tab-selected-2 {
    top: 0;

    @include mobile-and-tablet-small-only {
        z-index: 1000;
    }
}
.contact-box-desktop-mini.status-tab-selected-1.status-position-bottom,
.contact-box-desktop-mini.status-tab-selected-2.status-position-bottom {
    //bottom: 340px;
    //bottom: 307px;
    position: absolute;
    bottom: 402px;
    @include tablet{
        bottom: 435px;
    }

    @include desktop-small{
        bottom: 405px;
        //bottom: 374px;
    }

    @include desktop-medium{
        bottom: 360px;
        //bottom: 329px;
    }
}


//online ofline behaviour
.icon-user-accessible {
    background-color: #9a9da7;
}
.status-user-is-online {
    .icon-user-accessible {
        background-color: $greenColor;
    }
}

.text-user-accessible {
    min-height: 20px;
}

.advice-banner {
    padding: 21px 28px;
    background-color: $greenColor;

    @include desktop-small {
        padding: 21px 28px;
    }
    
    .linkbanner {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      @include tablet {
        flex-wrap: nowrap;
      }
      
    }

    .linkbanner-agent  {
        height: 92px;

        @include tablet {
            margin-left: 9px;
            margin-right: 20px;
            width: 12.323%;
            min-width: 126px;
        }

        .box-user-img {
            padding-top: 9px;

            .user-image-holder {
                background-color: #ccc;
                margin: auto;
                width: 68px;
                height: 68px;
                border-radius: 4px;
                background-size: cover;
                background-position: center center;
                position: relative;

                &:before {
                    content: "";
                    border: 4px solid #fff;
                    width: 86px;
                    height: 86px;
                    position: absolute;
                    top: -8.5px;
                    left: -8.5px;
                    border-radius: 8px;
                }

                .chatbox-arrow {
                    position: absolute;
                    left: 28px;
                    bottom: -24px;
                    width: 0;
                    height: 0;
                    border-top: 11px solid #fff;
                    border-right: 9px solid #fff;
                    border-left: 17px solid transparent;
                    border-bottom: 7px solid transparent;

                    &:before {
                        content: "";
                        position: absolute;
                        left: -12.5px;
                        bottom: 1px;
                        width: 0;
                        height: 0;
                        border-top: 8px solid #00bf66;
                        border-right: 6px solid #00bf66;
                        border-left: 12px solid transparent;
                        border-bottom: 4px solid transparent;
                    }
                    // &:before, &:after {
                    //     content: "";
                    //     background: #fff;
                    //     height: 19px;
                    //     position: absolute;
                    //     width: 4px;
                    //     bottom: -8.9px;
                    //     left: 6px;
                    //     -webkit-transform: rotate(-59deg);
                    //     transform: rotate(0deg);
                    // }

                    // &:after {
                    //     bottom: -17px;
                    //     transform: rotate(-122deg);
                    //     height: 26px;
                    // }
                    // &:before {
                    //     content: ""; 
                    //     position: absolute;
                    //     width: 0;
                    //     height: 0;
                    //     bottom: -9px;
                    //     left: -24px;
                    //     border-top: 9px solid transparent;
                    //     border-bottom: 9px solid transparent;
                    //     border-left: 16px solid #00bf66;
                    // }
                }
            }
        }
    }
    .linkbanner-text {
        padding: 0px;
        margin-top: 10px;
        text-align: center;

      .subtext {
        color: #fff;

        @include tablet {	
            font-weight: 600;
        }
      }

      @include tablet {
        margin-top: 0;
        text-align: left;
        width: 69.119%;
      }
    }
    .linkbanner-button {
      margin-top: 15px;
      @include tablet {
        margin-top: 0;
        width: 18.558%;
        min-width: 172.84px;
      }
      text-align: center;
      display: flex;
      align-content: center;
      
      .button {
        width: auto;
        padding: 20px;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
      }
    }
}
