footer {
    background-color: $darkGrayColor;
    padding: 30px 0 120px;

    @include tablet {
        padding-bottom: 30px;
    }

    h3 {
        font-weight: 600;
        color: $greenColor;
        //fix for bug: contact box pull down when no displayName in BO
        min-height: 32px;
    }
    .footer-nav {
        margin-top: 30px;
        padding-bottom: 20px;
        display: flex;
        flex-wrap: wrap;
        @include desktop-small{
            width: 75%;
        }


        li {
            padding-bottom: 15px;
            width: 50%;


            @include tablet-small{
                width: 25%;
            }

            @include mobile-only{
                &:last-child {
                    padding-bottom: 0;
                }
            }


            a {
                font-size: 14px;
                font-weight: 600;
                line-height: 20px;
                color: #f6f6f6;
            }
        }
    }

    .footer-legal-and-social {
        &:before {
            content: "";
            width: 100%;
            height: 1px;
            background-color: #1e212f;
            position: absolute;
            left: 0;
        }

        .footer-legal-section {
            margin-top: 30px;
            display: flex;
            flex-wrap: wrap;





            li {
                padding-bottom: 15px;
                width: 100%;
                @include tablet-small{
                    width: 50%;

                }
                @include tablet{
                    width: 50%;
                }

                @include desktop-small{
                    width: auto;
                    margin-right: 20px;
                }

                &:last-child {
                    padding-bottom: 0;
                }


                a {
                    color: #828590;
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 16px;
                    @include tablet{
                        line-height: 12px;
                    }

                }
            }
        }

        .footer-social {
            @include tablet-small {
                text-align: right;
            }

            padding: 20px 0;
            li {

                display: inline-block;
                &:first-child {
                    margin-right: 20px;
                }

            }
        }

        .copyright {
            font-size: 12px;
            line-height: 1.33;
            color: #828590;

            padding-top: 40px;
            text-align: center;

            @include tablet-small {
                display: inline-block;
                text-align: right;
                margin-top: 30px;
                padding-top: 0;
            }
        }
    }

}