header {
    display: block;

    @include tablet-small {
        z-index: 1000;
        position: relative;
    }

    .sticky-header-desktop {
        position: fixed;
        z-index: 1000;
        width: 100%;
        bottom: 0;
        right: 0;
        z-index: 12;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

        @include tablet-small {
            height: 80px;
            background: #fff;
            top: 0;
        }

        .logo-container {
            padding: 5px 20px;
            display: none;

            @include tablet-small {
                display: block;
            }

            img {
                max-height: 67px;
            }
        }
    }
    .mobile-menu-container {
        position: relative;
        top: -1px;

        @include tablet-small {
            display: none;
        }
        .hamburger {
            background-color: $greenColor;

            text-align: center;
            display: inline-block;
            float: left;
            text-align: center;
            width: 60px;
            height: 60px;
            line-height: 60px;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 2;
            cursor: pointer;
            img {
                vertical-align: middle;
            }
        }

        .logo-container {
            // background-color: $grayColor;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            background-color: #fff;
            text-align: left;
            height: 60px;
            line-height: 60px;
            left: -1px;
            
            a {
                //display: none;
                span {
                    position: relative;
                    top: 5px;
                    color: #fff;
                    font-size: 14.5px;
                    line-height: 18px;
                    margin-left: 7px;
                }
            }
            img {
                vertical-align: middle;
                max-width: 150px;
            }
        }
    }
}

.page-type {
    &-services, &-products {
        #menu .mm-listview > .icon-services a {
            color: $greenColor;
            svg path {
                fill: $greenColor;
            }
        }
    }

    &-articles #menu .mm-listview > .icon-insights a {
        color: $greenColor;
        svg path {
            fill: $greenColor;

            &:first-child {
                stroke: $greenColor;
            }
        }
    }
}

.page-name {
    &-about #menu .mm-listview > .icon-about a {
        color: $greenColor;
        svg path {
            fill: $greenColor;
        }
    }

    &-insights #menu .mm-listview > .icon-insights a {
        color: $greenColor;
        svg path {
            fill: $greenColor;

            &:first-child {
                stroke: $greenColor;
            }
        }
    }

    &-review #menu .mm-listview > .icon-review a {
        color: $greenColor;
        svg path {
            stroke: $greenColor;
        }
    }

    &-events #menu .mm-listview > .icon-seminars a {
        color: $greenColor;
        svg path {
            fill: $greenColor;
            &:first-child, &:nth-child(2) {
                stroke: $greenColor;
            }
        }
    }

    &-contact-us {
        #menu .mm-listview > .icon-contact-us a {
            color: $greenColor;
            svg path {
                fill: $greenColor;
            }
        }
    }

    &-careers {
        #menu .mm-listview > .icon-careers a {
            color: $greenColor;
            svg path {
                fill: $greenColor;

                &:first-child, &:last-child {
                    stroke: $greenColor;
                    fill: #f3f3f3;
                }
            }
        }
    }

    &-partners {
        #menu .mm-listview > .icon-partners a {
            color: $greenColor;
            svg g {
                fill: $greenColor;
                stroke: $greenColor;

                path {
                    fill: inherit;
                }
            }
        }
    }
}