aside {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 999;
    font-size: 0;
    background: #343b4b;

    @include tablet-small {
        display: block;
    }

    .first-level-menu {
        display: inline-block;
        background-color: #fff;
        height: 100%;
        width: 280px;
        border-right: 1px solid #f5f5f5;
    }

    .side-bar {
        background: #343b4b;
        width: 80px;
        display: inline-block;
        vertical-align: top;
        li {
            text-align: center;
            border-bottom: solid 1px $darkGrayColor;
            &:first-child {
                background-color: $greenColor;
                a {
                    padding: 23px 0;
                    height: 80px;

                    img {
                        margin-bottom: 0;
                        filter: none;
                        width: 30px;
                        // max-width: 30px;
                        height: auto;
                    }
                }

            }
            a {
                font-size: 12px;
                font-weight: 600;
                line-height: 14px;
                padding: 12px 0;
                display: block;
                color: #fff;
                img, svg {
                    display: block;
                    margin: 0 auto 8px;
                    min-width: 20px;
                    min-height: 20px;
                }
            }
        }
    }



    .first-level-menu {
        position: relative;




        .first-level-menu-logo {
            padding: 16px 30px 17px;
            //border-bottom: 1px solid #f5f5f5;
            //visibility: hidden;
            display: none;
        }
        .first-level-menu-details {
            padding-top: 120px;
            padding-bottom: 40px;
            padding-right: 54px;
            padding-left: 30px;
        }
        h3 {
            font-size: 14px;
            line-height: 17px;
            font-family: $mainFont;
            font-weight: bold;
            text-transform: uppercase;
        }
        h5 {
            font-size: 16px;
            line-height: 22px;
            font-family: $mainFont;
            font-weight: 400;
            margin-top: 30px;
        }
        ul {
            li {
                position: relative;
                cursor: pointer;
                a {
                    font-family: $mainFont;
                    text-transform: uppercase;
                    font-size: 12px;	
                    letter-spacing: 1px;	
                    line-height: 18px;
                    // font-weight: 400;
                    padding-top: 25px;
                    padding-bottom: 25px;
                    padding-right: 40px;
                    padding-left: 40px;
                    display: block;
                    border-top: 1px solid #f5f5f5;
                    position: relative;

                    // @include tablet-small{
                    //     font-size: 16px;
                    //     line-height: 24px;
                    // }

                    &:after {
                        content: "\f105";
                        font: normal normal normal 16px/1 FontAwesome;
                        position: absolute;
                        right: 20px;
                        top: 50%;
                        transform: translateY(-50%);
                    }

                    &.article-type-tag {
                        &:after {
                            content:"\f107";
                        }
                    }

                }

                .status-active {
                    &:before {
                        content: '';
                        height: 100%;
                        width: 6px;
                        background-color: $greenColor;
                        position: absolute;
                        left: 0;
                        top: 0;
                    }
                }
            }
        }


        .second-level-menu-list {
            position: relative;

            ul {
                li {
                    position: relative;
                    cursor: pointer;

                    a {
                        font-family: $mainFont;
                        font-size: 14px;
                        line-height: 20px;
                        font-weight: 400;
                        padding-top: 20px;
                        padding-bottom: 20px;
                        padding-left: 30px;
                        display: block;
                        border-top: 1px solid #f5f5f5;

                        @include tablet-small {
                            font-size: 16px;
                            line-height: 24px;
                        }

                    }

                    &:last-child {
                        a {
                            border-bottom: 1px solid #f5f5f5;
                        }
                    }

                    .status-active {
                        &:before {
                            content: '';
                            height: 100%;
                            width: 6px;
                            background-color: $greenColor;
                            position: absolute;
                            left: 0;
                            top: 0;
                        }
                    }
                }
            }

            li {
                &:first-child {
                    border-top: 1px solid #f5f5f5;
                    padding-top: 10px;
                }

                &:last-child {                    
                    padding-bottom: 10px;
                }
            }
        }


        .aside-closed-title {
            padding: 0;
            height: auto;
            -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);

            white-space: nowrap;
            position: absolute;


            top: 50%;
            margin-top: -40px;
            right: 10px;
            font-size: 13px;
            line-height: 18px;
            font-weight: 600;
            width: 40px;

            color: #424559;
            opacity: 0.3;
        }

        .aside-closed-button {
            position: absolute;
            top: 50%;
            right: 20px;
            border-radius: 100%;
            width: 20px;
            height: 20px;
            line-height: 16px;
            border: 2px solid #343b4b;
            background-color: #ffffff;
            cursor: pointer;

            &:before {
                display: block;
                content: "";
                height: 2px;
                width: 8px;
                position: absolute;
                background: #343b4b;
                top: 50%;
                margin-top: -1px;
                left: 50%;
                margin-left: -4px;
            }

            &:after {
                display: block;
                content: "";
                height: 8px;
                width: 2px;
                position: absolute;
                background: #343b4b;
                top: 50%;
                margin-top: -4px;
                left: 50%;
                margin-left: -1px;
            }


        }







    }




    .first-level-menu-content {
        display: none;
        @include desktop-small{
            display: block;
        }
    }
    .aside-closed-button, .aside-closed-title {
        display: none;
        @include tablet-small{
            display: block;
        }
        @include desktop-small{
            display: none;
        }


    }
    .first-level-menu-list-item {
        position: relative;
        .item-link-arrow {
            width: 20px;
            height: 20px;
            position: absolute;
            right: 20px;
            top: 22px;
            padding: 0;
            margin: 0;
            background-image: url("../images/icon/icon-arrow-right.svg");
            background-repeat: no-repeat;
            background-position: center center;
            display: none;
        }
    }


}

aside {
    ul.property-page-view{
        li:hover {
            background-color: #fafafa;
            a {
                font-weight: 600;
                color: $greenColor;
            }
        }
    }
}

aside {
    ul.property-category-view {
        li a {
            font-size: 12px;	
            letter-spacing: 1px;	
            line-height: 18px;
        }

        .second-level-menu-list {

            &:hover {
                background-color: #fafafa;
            }
            li {

                a {
                    text-transform: unset;
                    font-size: 14px;
                    line-height: 20px;
                    font-weight: 400;
                    border: 0;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    cursor: pointer;
                    position: relative;
                    &:after {
                        content: '';
                        width: 6px;
                        height: 9px;
                        display: inline-block;
                        position: absolute;
                        right: 15px;
                        top: 15px;
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center;
                        background-image: url('../images/icon/icon-arrow-right.svg');
                    }
                    &:hover {
                        color: $greenColor;
                        font-weight: 500;
                        &:after {
                            background-image: url('../images/icon/icon-arrow-right-hover.svg');
                        }
                    }

                }

                &.status-current-page {
                    a {
                        color: $greenColor;
                    }
                }
            }
        }


        .status-menu-active, .status-current-page {
            background-color: #fafafa;
            //border-left: 6px solid $greenColor;
            // padding-bottom: 10px;
            // .first-level-menu-list-item-link {
            //     padding-bottom: 10px;
            // }
            // a {
            //     padding-left: 24px;
            // }

            a {
                color: $darkGrayColor;
                font-weight: normal;
                &:after {
                    color: $textLightGray;
                }
            }
        }
    }
}
.status-menu-opened {
    aside {
            cursor: inherit;
            .aside-closed-button {
                line-height: 14px;
                &:after {
                    display: none;
                }
            }

    }
}

.page-name-index {
    .first-level-menu {
        display: none;
    }
}

.page-name-review {
    .side-bar .status-current-page {
        a svg path {
            stroke: $greenColor;
            fill: #14151A;
        }
    }
}

.page-name-events {
    .side-bar .status-current-page {
        a svg path {
            &:first-child, &:nth-child(2) {
                stroke: $greenColor;
                fill: #14151A;
            }
        }
    }
}

.page-name-insights, .page-type-articles {
    .side-bar .status-current-page {
        a svg path:first-child {
            stroke: $greenColor;
            fill: #14151A;
        }
    }
}

.page-name-careers {
    .side-bar .status-current-page {
        a svg path {
            &:first-child, &:last-child {
                stroke: $greenColor;
                fill: #14151A;
            }
        }
    }
}

.page-type {
    &-services {
        .menu-services {
            background-color: #14151A;

            a {
                color: $greenColor;
            }
        }
    }
    &-products, &-services {
        .services-page{
            background-color: #14151A;

            a {
                color: $greenColor;

                svg path {
                    fill: $greenColor;
                }
            }
        }
    }

    &-articles {
        .insights-page {
            background-color: #14151A;

            a {
                color: $greenColor;

                svg path {
                    &:first-child {
                        stroke: $greenColor;
                        fill: #14151A;
                    }

                    &:nth-child(2) {
                        fill: $greenColor;
                    }
                }
            }
        }
    }

}

.page-name-partners {
    .side-bar .status-current-page {
        a svg g {
            stroke: $greenColor;
            fill: $greenColor;
        }
    }
}

// ------------------------------------------------------------------------------------------------------ Aside Discovery
.page-type-articles {
    .page-content {
        position: relative;
    }
}


// aside.aside-discovery {
//     //position: absolute;
//     bottom: inherit;
//     height: 100%;

//     .first-level-menu-discovery {
//         .first-level-menu-list-item {
//             .first-level-menu-list-item-link {
//                 font-weight: 600;
//             }
//         }
//         .first-level-menu-list-item-tags {
//             &:hover {
//                 cursor: inherit;
//             }
//             .first-level-menu-list-item-link {
//                 text-transform: uppercase;
//                 font-size: 13px;
//                 font-weight: 400;
//                 color: #34384b;
//             }
//         }
//     }
//     .first-level-menu {
//         li {
//             a {
//                 font-weight: 600;
//             }

//         }
//         .aside-closed-title {
//             top:50vh;
//             //right: inherit!important;
//             //left: 70px;
//             //position: fixed;
//         }

//         .aside-closed-button {
//             top:50vh;
//             //right: inherit!important;
//             //left: 80px;
//             //position: fixed;
//         }
//     }

//     .article-type-tag {
//         position: relative;
//         img {
//             display: inline-block;
//             vertical-align: middle;
//             width: 48px;
//         }
//         span {
//             display: inline-block;
//             vertical-align: middle;
//             padding-left: 10px;
//         }

//         // &:after {
//         //     content: '';
//         //     display: inline-block;
//         //     height: 10px;
//         //     width: 14px;
//         //     position: absolute;
//         //     top: 50%;
//         //     margin-top: -5px;
//         //     right: 15px;
//         //     background-size: cover;
//         //     background-repeat: no-repeat;
//         //     background-position: center;
//         //     background-image: url('../images/icon/icon-v.svg');
//         // }
//     }

    

//     .article-type-tag.status-tag-selected {

//         span {
//             color: $greenColor;
//         }

//         &:after {
//             background-image: url('../images/icon/icon-v-active.svg');
//         }

//     }


// }

aside.aside-with-tags {
    .second-level-menu-list {
        display: none;
    }

    .status-menu-active .second-level-menu-list, 
    .status-current-page .second-level-menu-list {
        display: block;
    }
}

//aside.aside-services, .page-name-quiz aside.aside-discovery, .page-name-survey aside.aside-discovery {
aside.aside-services, aside.aside-discovery {
    .first-level-menu-content {
        overflow-y: auto;
        height: 100%;
    }
    .first-level-menu-content::-webkit-scrollbar {
        width: 2px;
    }

    .first-level-menu-content::-webkit-scrollbar-thumb {
        //background: rgba(53, 55, 64, 1);
        background: rgba(52, 59, 75, 1);
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,1);
    }
    .first-level-menu-content ul::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
    }


}

.side-bar {
    
    @include tablet {
        overflow-y: auto;
        max-height: 100vh;

        li {
            &:first-child {
                position: fixed;
                width: 80px;
            }

            &:nth-child(2) {
                padding-top: 80px;
            }
        }

        &::-webkit-scrollbar {
            width: 2px;
        }

        &::-webkit-scrollbar-thumb {
            //background: rgba(53, 55, 64, 1);
            background: rgba(52, 59, 75, 1);
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,1);
        }
        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
        }
    }

}
aside.aside-services {
    ul.property-category-view .second-level-menu-list li a {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    ul.property-category-view .second-level-menu-list li a:after {
        display: none;
    }

    &.aside-main-services {
        .first-level-menu ul li {
            a {
                &.first-level-menu-list-item-link {
                    width: calc(100% - 60px);
                    display: inline-block;
                    &:after {
                        display: none;
                    }
                }

                &.article-type-tag {
                    width: 60px;
                    right: 0;
                    height: 69px;
                    top: 0;
                    display: block;
                    background-image: none;        
                }
            }

            &.status-current-page {
                a {    
                    &.first-level-menu-list-item-link {
                        &:after {
                            display: block;
                            right: -39px;
                        }
                    }

                    &.article-type-tag {
                        &:after {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

//Behaviour
aside {
    .first-level-menu {
        position: relative;

        @include from-tablet-small-to-desktop-small-only {
            cursor: pointer;
            &:hover {
                box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1) inset;
            }
        }

        .status-current-page {
            background-color: #fafafa;
            a {
                color: $darkGrayColor;
                &:after {
                    color: $textLightGray;
                }

                img {
                    filter: invert(46%) sepia(71%) saturate(2426%) hue-rotate(88deg) brightness(126%) contrast(66%);
                }

                svg path {
                    fill: $greenColor;
                }
            }
        }
    }
    .first-level-menu.status-menu-opened {
        box-shadow: none;
        cursor: default;
    }
}

.status-menu-opened {
    aside {
        .first-level-menu {
            box-shadow: none;
            cursor: default;
        }
    }
}



.side-bar {
    .status-current-page {
        background-color: #14151A;

        a {
            color: $greenColor;

            img {
                filter: invert(46%) sepia(71%) saturate(2426%) hue-rotate(88deg) brightness(126%) contrast(66%);
            }

            svg path {
                fill: $greenColor;
            }
        }
    }
}



