include /all/agent/components/components.jade

//-include mixins/mixins.jade
//-include partials/added-scripts.jade
//-include partials/head.jade
//-include partials/top-navigation
//-include partials/footer.jade
//-include partials/header.jade
//-include partials/main-navigation
//-include partials/navigation



-var options = [ {value: "EN", text: "EN"}, {value: "DE", text: "DE"} ];
-var technologySolutionTitle = 'Case Study'
-var footerTitle = 'Contact Us'
-var footerSubTitle = 'We’ll get back to you within a few hours'
-var seoGoogleTagNumber = 'GTM-PBP36HZ'
