block pageData

doctype html
html(lang=relativeLang)
    head
        +head()
            meta(name="google-site-verification", content="DFOYY6sd1On5s1G5R1IdCnk8lK1-EBH0MOT6qfuUirg")
            meta(property='og:image', content='http:../images/homepage/homepage-banner.jpg')
            meta(property='og:image:secure_url', content='https:../images/homepage/homepage-banner.jpg')
            meta(property='og:description', content="The Manulife Circuit Builder is an online job application portal to offer job seekers the option to explore new career opportunities as a Financial Services Consultants.")

    body.page-theme-agency(class=relativePageDetails)
        +google-tag-manager-body()
        .page-content#page
            +header()         
            
            main.no-first-level-menu.no-banner
                #loadingscreen

                form.section-wrapper.campaign-form#circuit_builder-form(method="post")
                    .main-content.container-fluid
                        .row
                            .col-xs-12                           
                                section.section-wrapper-list
                                    .row
                                        .col-xs-12
                                            h1.form-title.d-none Circuit Builder

                                            .campaign-form-wrapper
                                                .campaign-form-content-wrapper.circuit_builder-home-page
                                                    .campaign-form-content.circuit_builder-page
                                                        .circuit_builder-page-title
                                                            .block-text.text-center
                                                                p.subtitle.text-regular MANULIFE CIRCUIT BUILDER
                                                                h3.text-green Start a new Career with us

                                                        .circuit_builder-page-content
                                                            .circuit-builder-img-wrapper
                                                                .circuit-builder-img
                                                                    img.hide-mobile-only(src="../images/campaigns/circuit-builder/BG_Desktop_Landing.png" alt="")

                                                            .circuit_builder-pop-up-wrapper.showPopUp
                                                                .circuit_builder-pop-up-content.circuit_builder-whitebox.showPopUp#cbWhatisThis  
                                                                    .circuit_builder-close-btn                                                         
                                                                    .circuit_builder-whitebox-content
                                                                        .block-text  
                                                                            h6.text-green What is This?
                                                                            p The Manulife Circuit Builder is an online job application portal to offer job seekers the option to explore new career opportunities as a Financial Services Consultant.
                                                                                                                                               
                                                                .circuit_builder-pop-up-content.circuit_builder-whitebox#cbJoinUs
                                                                    .circuit_builder-close-btn                                                         
                                                                    .circuit_builder-whitebox-content
                                                                        .block-text
                                                                            h6.text-green Why Us?
                                                                            ul.list-regular.list-bullet
                                                                                li Fastest-growing Financial Advisory Company in Singapore
                                                                                li Inclusive working environment
                                                                                li Right system and tools for ease of sale and success
                                                                                li A rewarding career or reach the top of your profession or rewarding remuneration
                                                                                li Continuous training and development
                                                                                li We offer the right solutions to cater to clients personal and business needs

                                                                .circuit_builder-pop-up-button                                     
                                                                    .circuit_builder-whatisthis.circuit_builder-pop-up
                                                                        .block-text 
                                                                            a.cbWhatisThisPopUp(href="javascript:void(0);") WHAT <br>IS THIS?

                                                                    .circuit_builder-joinus.circuit_builder-pop-up
                                                                        .block-text 
                                                                            a.cbJoinUsPopUp(href="javascript:void(0);") WHY <br>US?

                                                                    .circuit_builder-startnow.circuit_builder-pop-up
                                                                        .block-text
                                                                            +button-static({theme: "button-orange button-show-cb-page2", text: "START NOW"})


                                                                //- .circuit_builder-pop-up-content.circuit_builder-greenbox.circuit_builder-whitebox#cbInviteMessage  
                                                                    .circuit_builder-close-btn                                                         
                                                                    .circuit_builder-whitebox-content
                                                                        .block-text 
                                                                            h6.text-center Share with a friend
                                                                            //- textarea#cbInviteMessageText(cols="30", rows="6") Hey, Manulife is recruiting and I think you’d be perfect for the job. Check the Manulife Circuit Builder to find out more: https://{{currentBu.website.url}}/careers
                                                                        .block-button.block-share-button
                                                                                .row
                                                                                    .col-xs-12.text-center
                                                                                        .share-result-button.addthis_inline_share_toolbox(data-url="")
                                                                                        
                                                                                    //- .col-xs-12.text-center
                                                                                        +button-static({theme: "button-orange button-show-cb-copy-invite", text: "Copy Message"})
                                                        //- .circuit_builder-block-button
                                                            .block-button
                                                                .row
                                                                    .col-xs-12.text-center
                                                                        +button-static({theme: "button-orange button-show-cb-page2", text: "START NOW"})

                                                .campaign-form-content-wrapper.circuit_builder-page2.d-none-i
                                                    .campaign-form-content.circuit_builder-page
                                                        .circuit_builder-page-title
                                                            .block-text.text-center
                                                                p.subtitle.text-regular MANULIFE CIRCUIT BUILDER
                                                                h3.text-green BUILDING YOUR COVER LETTER

                                                        .circuit_builder-page-content
                                                            h5.text-center.text-bold Choose one of the below

                                                            .circuit_builder-about-skills
                                                                .row
                                                                    .col-xs-12.col-sm-6.circuit_builder-about-skills-box-left
                                                                        .circuit_builder-about-skills-box.circuit_builder-about-skills-box-green
                                                                            .row
                                                                                .col-xs-8.col-sm-12
                                                                                    .block-text
                                                                                        p Friends turn to you for advice as you tend to be a positive influence on the people around you.
                                                                                .col-xs-4.col-sm-12
                                                                                    .block-button
                                                                                        +button-static({theme: "button-orange button-show-cb-analysis button-show-cb-influencer", text: "THAT’S ME"})

                                                                    .col-xs-12.col-sm-6.circuit_builder-about-skills-box-right
                                                                        .circuit_builder-about-skills-box.circuit_builder-about-skills-box-darkblue
                                                                            .row
                                                                                .col-xs-8.col-sm-12
                                                                                    .block-text
                                                                                        p A keen observer, you prefer to look deeper into the facts and figures before making a decision.
                                                                                .col-xs-4.col-sm-12
                                                                                    .block-button
                                                                                        +button-static({theme: "button-orange button-show-cb-analysis button-show-cb-analyst", text: "THAT’S ME"})

                                                                    .col-xs-12.col-sm-6.circuit_builder-about-skills-box-left
                                                                        .circuit_builder-about-skills-box.circuit_builder-about-skills-box-orange
                                                                            .row
                                                                                .col-xs-8.col-sm-12
                                                                                    .block-text
                                                                                        p A born negotiator that cautiously calculates every option to make the most out of each opportunity.
                                                                                .col-xs-4.col-sm-12
                                                                                    .block-button
                                                                                        +button-static({theme: "button-orange button-show-cb-analysis button-show-cb-planner", text: "THAT’S ME"})

                                                                    .col-xs-12.col-sm-6.circuit_builder-about-skills-box-right
                                                                        .circuit_builder-about-skills-box.circuit_builder-about-skills-box-blue
                                                                            .row
                                                                                .col-xs-8.col-sm-12
                                                                                    .block-text
                                                                                        p Creativity and innovation is your passion! You enjoy using technology to make life even more interesting. 
                                                                                .col-xs-4.col-sm-12
                                                                                    .block-button
                                                                                        +button-static({theme: "button-orange button-show-cb-analysis button-show-cb-innovator", text: "THAT’S ME"})
                                                            
                                                .campaign-form-content-wrapper.circuit_builder-page2-result.d-none-i
                                                    .campaign-form-content.circuit_builder-page
                                                        .circuit_builder-page-title
                                                            .block-text.text-center
                                                                p.subtitle.text-regular MANULIFE CIRCUIT BUILDER
                                                                h3.text-green Start a new Career with us

                                                        .circuit_builder-page-content
                                                            .circuit-builder-img-wrapper
                                                                .circuit-builder-img
                                                                    img.hide-mobile-only(src="../images/campaigns/circuit-builder/BG_Desktop_Landing.png" alt="")
                                                                    
                                                            .circuit_builder-about-skills-result.circuit_builder-img-with-text
                                                                .circuit_builder-img-with-text-title.text-center
                                                                    h4.text-bold You have picked
                                                                    h2.text-curly#cbSkilssTitle
                                                            .circuit_builder-img-with-text-greenbox.circuit_builder-whitebox.cbSkillbox
                                                                .circuit_builder-whitebox-content
                                                                    .block-text 
                                                                        p#cbSkilssDesc
                                                        
                                                        .circuit_builder-block-button
                                                            .block-button
                                                                .row
                                                                    .col-xs-12.circuit_builder-build-btn.text-center
                                                                        +button-static({theme: "button-orange button-show-cb-page3", text: "BUILD A COVER LETTER"})

                                                                    .col-xs-12.circuit_builder-back-btn.text-center
                                                                        a.button-show-cb-page2(href="javascript:void(0);") <u>Go back to selection</u>
                                
                                                .campaign-form-content-wrapper.circuit_builder-page3.d-none-i
                                                    .campaign-form-content.circuit_builder-page
                                                        .circuit_builder-page-title
                                                            .block-text.text-center
                                                                p.subtitle.text-regular MANULIFE CIRCUIT BUILDER
                                                                h3.text-green Start a new Career with us

                                                        .circuit_builder-page-content
                                                            h6.text-bold Customise your Cover Letter

                                                            .circuit_builder-build-cover-letter
                                                                .row
                                                                    .col-xs-12
                                                                        .block-text
                                                                            p Dear Sir/Mdm

                                                                            .circuit_builder-build-cover-letter-text I
                                                                                .cb-select-dropdown
                                                                                    .cb-select#cvReferredBy
                                                                                        label.cb-select-label(data-value="was referred by a friend to") was referred by a friend to
                                                                                        ul
                                                                                            li(data-value="was referred by a friend to") was referred by a friend to
                                                                                            li(data-value="would like to") would like to

                                                                                | submit my application as part of Manulife’s Circuit Builder to find out more about becoming a Financial Services Consultant.

                                                                        .block-text
                                                                            .circuit_builder-build-cover-letter-text I am 
                                                                                .cb-select-dropdown
                                                                                    .cb-select#cvEmployStatus
                                                                                        label.cb-select-label(data-value="a fresh graduate") a fresh graduate 
                                                                                        ul
                                                                                            li(data-value="a fresh graduate") a fresh graduate 
                                                                                            li(data-value="currently unemployed ") currently unemployed 
                                                                                            li(data-value="currently employed") currently employed

                                                                                | and would like to explore 
                                                                                
                                                                                .cb-select-dropdown
                                                                                    .cb-select#cvOpportunities  
                                                                                        label.cb-select-label(data-value="new opportunities") new opportunities  
                                                                                        ul
                                                                                            li(data-value="new opportunities") new opportunities  
                                                                                            li(data-value="a career change") a career change
                                                                                | that will help 

                                                                                .cb-select-dropdown
                                                                                    .cb-select#cvLaunchCareer  
                                                                                        label.cb-select-label(data-value="launch my career") launch my career  
                                                                                        ul
                                                                                            li(data-value="launch my career") launch my career   
                                                                                            li(data-value="open new doors") open new doors

                                                                                | professionally.

                                                                        .block-text
                                                                            .circuit_builder-build-cover-letter-text I feel that my persona as 
                                                                                .cb-select-dropdown
                                                                                    .cb-select#cvSkillsResult
                                                                                        label.cb-select-label(data-value="The Influencer") The Influencer 
                                                                                        ul
                                                                                            li(data-value="The Influencer") The Influencer   
                                                                                            li(data-value="The Analyst") The Analyst  
                                                                                            li(data-value="The Planner") The Planner 
                                                                                            li(data-value="The Innovator") The Innovator

                                                                                | that highlights my 
                                                                                
                                                                                .cb-select-dropdown
                                                                                    .cb-select#cvSkillsDetails
                                                                                        label.cb-select-label(data-value="people skills") people skills  
                                                                                        ul
                                                                                            li(data-value="people skills") people skills 
                                                                                            li(data-value="love for research and data") love for research and data 
                                                                                            li(data-value="number crunching abilities") number crunching abilities 
                                                                                            li(data-value="resourceful nature") resourceful nature 

                                                                                | adds to my potential to excel in the role and be a great contribution to your team of esteemed agents.

                                                                        .block-text
                                                                            .circuit_builder-build-cover-letter-text I am looking for a dynamic organization that gives me the opportunity to use my strengths and I look forward to hearing from you with regards to my application via 
                                                                                .cb-select-dropdown
                                                                                    .cb-select#cvContactDetails
                                                                                        label.cb-select-label(data-value="email") email
                                                                                        ul
                                                                                            li(data-value="email") email  
                                                                                            li(data-value="phone") phone  
                                                                                            li(data-value="email and phone") email and phone
                                                        
                                                        .circuit_builder-block-button
                                                            .block-button
                                                                .row
                                                                    .col-xs-12.circuit_builder-build-btn.text-center
                                                                        +button-static({theme: "button-orange button-show-cb-lastpage", text: "GIVE US YOUR DETAILS"})

                                                                    .col-xs-12.circuit_builder-back-btn.text-center
                                                                        a.button-show-cb-page2(href="javascript:void(0);") <u>Go back</u>
                                                            
                                                //- .campaign-form-content-wrapper.circuit_builder-page4.d-none-i
                                                    .campaign-form-content.circuit_builder-page
                                                        .circuit_builder-page-title
                                                            .block-text.text-center
                                                                p.subtitle.text-regular MANULIFE CIRCUIT BUILDER
                                                                h3.text-green BUILD YOUR COVER LETTER

                                                        .circuit_builder-page-content
                                                            h6.text-bold Customise your Cover Letter

                                                            .circuit_builder-build-cover-letter
                                                                .row
                                                                    .col-xs-12
                                                                        .block-text
                                                                            p Have more to add? <span class="text-small">(optional)</span>
                                                                            .cb-input-field
                                                                                textarea.cb-input-additional-text#cvAdditionalText(rows="6")

                                                        .circuit_builder-block-button
                                                            .block-button
                                                                .row
                                                                    .col-xs-12.circuit_builder-build-btn.text-center
                                                                        +button-static({theme: "button-orange button-show-cb-lastpage", text: "GIVE US YOUR DETAILS"})

                                                                    .col-xs-12.circuit_builder-back-btn.text-center
                                                                        a.button-show-cb-page3(href="javascript:void(0);") <u>Go back</u>
                                                            
                                                .campaign-form-content-wrapper.circuit_builder-lastpage.section-form-submission.d-none-i
                                                    .campaign-form-content.circuit_builder-page
                                                        .circuit_builder-page-title
                                                            .block-text.text-center
                                                                p.subtitle.text-regular MANULIFE CIRCUIT BUILDER
                                                                h3.text-green COMPLETE YOUR APPLICATION

                                                        .circuit_builder-page-content
                                                            h6.text-bold GIVE US YOUR DETAILS
                                                            .row
                                                                .col-xs-12.block-form#form-circuit_builder-form
                                                                    .quiz-form
                                                                        .block-form
                                                                            .row
                                                                                .form-survey.form-element
                                                                                    .form-field.form-field-name.col-xs-12.col-sm-6
                                                                                        .form-field-inner
                                                                                            label Your Name:*
                                                                                            input(class='input-firstname', type='text', id="circuit_builder-form-name")

                                                                                    .form-field.form-field-email.col-xs-12.col-sm-6
                                                                                        .form-field-inner
                                                                                            label Email Address:*
                                                                                            input(class='input-email', type='email', id="circuit_builder-form-email")

                                                                                    .clearfix

                                                                                    .form-field.form-field-contact.col-xs-12.col-sm-6
                                                                                        .form-field-inner
                                                                                            label Contact Number:*
                                                                                            input(class='input-phone', type='tel', id="circuit_builder-form-phone")

                                                                                    .form-field.form-field-select.col-xs-12.col-sm-6
                                                                                        .form-field-inner
                                                                                            label Are you:
                                                                                            .form-select-wrapper.select-dropdown
                                                                                                select.select-dropdown-form.selectpicker#circuit_builder-form-citizen
                                                                                                    option(value='default') Please select
                                                                                                    option(value='Singaporean') Singaporean
                                                                                                    option(value='Singapore PR') Singapore PR
                                                                                                    option(value='Others') Others                                                                                

                                                                                    .clearfix

                                                                                    .form-field.form-field-select.col-xs-12.col-sm-6
                                                                                        .form-field-inner
                                                                                            label Qualification: 
                                                                                            .form-select-wrapper.select-dropdown
                                                                                                select.select-dropdown-form.selectpicker#circuit_builder-form-qualification
                                                                                                    option(value='default') Please select
                                                                                                    option(value='A-level') A-level
                                                                                                    option(value='Diploma') Diploma
                                                                                                    option(value='Graduate and above') Graduate and above
                                                                                                    option(value='My Wife') Others

                                                                                    .clearfix

                                                                                    .form-field.form-field-cv.col-xs-12
                                                                                        .form-field-inner  
                                                                                            #circuit_builder-form-cv
                                                                                                label Upload your CV, please do not include your NRIC in your CV. (Microsoft Word, pdf, or text files of up to 500kb)
                                                                                                .block-button
                                                                                                    .button.button-cb-upload
                                                                                                        label(for='button-cb-upload-cv') Upload
                                                                                                        input(type='file', id='button-cb-upload-cv')

                                                                                    .col-xs-12.block-term
                                                                                        p *Mandatory fields

                                                                                    .col-xs-12
                                                                                        p.text-small By submitting this application/form, I hereby authorize, agree and consent to Manulife Financial Advisers Pte. Ltd., it's representatives and service providers to collect, use and disclose all my personal data for the purpose of career personality profile test, career advice and other related purposes only.
                                                                                    
                                                                                    .clearfix                                                                                                                             
                                                        .circuit_builder-block-button
                                                            .block-button
                                                                .row
                                                                    .col-xs-12.text-md-left.text-md-right.text-center
                                                                        input#ExternalId(type='hidden', name="ExternalId")
                                                                        a(id="button-submit-circuit_builder-form", class="button button-orange button-submit")
                                                                            span SUBMIT APPLICATION

                                                .campaign-form-content-wrapper.circuit_builder-thankyou.d-none-i#form-thank-circuit_builder-form
                                                    .campaign-form-content.circuit_builder-page 
                                                        .circuit_builder-page-title
                                                            .block-text.text-center
                                                                p.subtitle.text-regular MANULIFE CIRCUIT BUILDER
                                                                h3.text-green Start a new Career with us

                                                        .circuit_builder-page-content
                                                            .circuit-builder-img-wrapper
                                                                .circuit-builder-img
                                                                    img.hide-mobile-only(src="../images/campaigns/circuit-builder/BG_Desktop_Landing.png" alt="")
                                                                    
                                                            .circuit_builder-thankyou-wrapper.circuit_builder-img-with-text
                                                                .circuit_builder-img-with-text-title.text-center
                                                                    h2.text-curly Thank You for your application!
                                                                    p We will be in touch with regards to your submission.

                                                            .circuit_builder-img-with-text-greenbox.circuit_builder-whitebox.cbSkillbox.cbCareerbox
                                                                    .circuit_builder-whitebox-content
                                                                        .block-text 
                                                                            h6 Career Tip
                                                                            p#cbCareerTip 
                                                        
                                                .campaign-form-content-button
                                                    //- .campaign-form-block-button.circuit_builder-home-page
                                                        .block-button
                                                            .row.d-flex.align-center
                                                                //- .col-xs-3.circuit_builder-invite-text
                                                                    p.text-bold Know someone<br>perfect for this job?
                                                                //- .col-xs-3.circuit_builder-invite-btn
                                                                    +button-static({theme: "button-orange button-cb-invite", text: "Invite"})
                                                                .col-xs-12.text-right
                                                                    +button-static({theme: "button-orange button-show-cb-page2", text: "START NOW"})
                                                                                                    
                                                    //- .campaign-form-block-button.circuit_builder-page2-result.d-none-i
                                                        .block-button
                                                            .row.d-flex.align-center
                                                                .col-xs-6.circuit_builder-back-btn
                                                                    a.button-show-cb-page2(href="javascript:void(0);") <u>Go back to selection</u>
                                                                .col-xs-6.circuit_builder-build-btn.text-right
                                                                    +button-static({theme: "button-orange button-show-cb-page3", text: "BUILD A COVER LETTER"})

                                                    //- .campaign-form-block-button.circuit_builder-page3.d-none-i
                                                        .block-button
                                                            .row.d-flex.align-center
                                                                .col-xs-4.circuit_builder-back-btn
                                                                    a.button-show-cb-page2(href="javascript:void(0);") <u>Go back</u>
                                                                .col-xs-8.circuit_builder-build-btn.text-right
                                                                    +button-static({theme: "button-orange button-show-cb-lastpage", text: "GIVE US YOUR DETAILS"})

                                                    //- .campaign-form-block-button.circuit_builder-page4.d-none-i
                                                        .block-button
                                                            .row.d-flex.align-center
                                                                .col-xs-4.circuit_builder-back-btn
                                                                    a.button-show-cb-page3(href="javascript:void(0);") <u>Go back</u>
                                                                .col-xs-8.circuit_builder-build-btn.text-right
                                                                    +button-static({theme: "button-orange button-show-cb-lastpage", text: "GIVE US YOUR DETAILS"})

                                                    //- .campaign-form-block-button.circuit_builder-lastpage.d-none-i
                                                        .block-button
                                                            .row.d-flex.align-center
                                                                .col-xs-12.circuit_builder-build-btn.text-right                                                                
                                                                    input#ExternalId(type='hidden', name="ExternalId")
                                                                    a(id="button-submit-circuit_builder-form", class="button button-orange button-submit")
                                                                        span SUBMIT <br>APPLICATION

                                                    .campaign-form-block-button.circuit_builder-thankyou.d-none-i
                                                        .block-button.block-share-button
                                                            .row
                                                                .col-xs-12
                                                                    p Share this on

                                                                    .share-result-button.addthis_inline_share_toolbox(data-url="")

                //- +footer()
        +footer_scripts_careers()