extends /template/agency/general/template-index

block append pageData
    include /all/agency/general/en/components/components.jade
    -var titleMeta = "Manulife Circuit Builder - Building New Opportunities | {{websiteMainUser.firstName}}{{#if websiteMainUser.lastName}} {{websiteMainUser.lastName}}{{/if}} | {{currentBu.businessUnit.BranchName}}"
    -var descriptionMeta = "The Manulife Circuit Builder is an online job application portal to offer job seekers the option to explore new career opportunities as a Financial Services Consultants."