//@mixin mobile {
//  @media (min-width: 480px) {
//    @content;
//  }
//}
@mixin mobile-se {
    @media (min-width: 321px) {
      @content;
    }
}

@mixin mobile-small-only {
    @media (max-width: 479px) {
        @content;
    }
}

@mixin mobile-mmedium-only {
  @media (max-width: 600px) {
    @content;
  }
}

@mixin mobile-only {
    @media (max-width: 767px) {
        @content;
    }
}

@mixin mobile-mmedium {
    @media (min-width: 601px) {
      @content;
    }
  }

@mixin tablet-small {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin mobile-mmedium-and-tablet-only {
    @media (min-width: 601px) and (max-width: 991px) {
        @content;
    }
}

@mixin tablet-small-only {
    @media (min-width: 768px) and (max-width: 991px) {
        @content;
    }
}

@mixin mobile-and-tablet-small-only {
    @media (max-width: 991px) {
        @content;
    }
}
@mixin mobile-and-tablet-only {
    @media (max-width: 1199px) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: 992px) {
        @content;
    }
}

@mixin tablet-only {
    @media (min-width: 992px) and (max-width: 1199px) {
        @content;
    }
}

@mixin desktop-small {
    @media (min-width: 1200px) {
        @content;
    }
}

@mixin desktop-small-only {
    @media (min-width: 1200px) and (max-width: 1499px) {
        @content;
    }
}

@mixin from-tablet-small-to-desktop-small-only {
    @media (min-width: 768px) and (max-width: 1499px) {
        @content;
    }
}

@mixin desktop-medium {
    @media (min-width: 1500px) {
        @content;
    }
}

@mixin desktop-hd {
    @media (min-width: 1600px) {
        @content;
    }
}

@mixin desktop-fullhd {
    @media (min-width: 1920px) {
        @content;
    }
}

@mixin keyframe ($animation_name) {
    @keyframes #{$animation-name} {
        @content;
    }

    @-webkit-keyframes #{$animation-name} {
        @content;
    }

    @-moz-keyframes #{$animation-name} {
        @content;
    }

    @-o-keyframes #{$animation-name} {
        @content;
    }

    @-ms-keyframes #{$animation-name} {
        @content;
    }
}


@mixin animation-iteration ($duration, $animation, $iteration) {
    animation-duration: $duration;
    animation-name: $animation;
    animation-iteration-count: $iteration;

    -webkit-animation-duration: $duration;
    -webkit-animation-name: $animation;
    -webkit-animation-iteration-count: $iteration;

    animation-duration: $duration;
    -moz-animation-name: $animation;
    -moz-animation-iteration-count: $iteration;
}

@mixin animation ($delay, $duration, $animation, $timing, $direction: normal, $fillmode: forwards) {
    animation-delay: $delay;
    animation-duration: $duration;
    animation-name: $animation;
    animation-timing-function: $timing;
    animation-fill-mode: $fillmode;
    animation-direction: $direction;

    -webkit-animation-delay: $delay;
    -webkit-animation-duration: $duration;
    -webkit-animation-name: $animation;
    -webkit-animation-timing-function: $timing;
    -webkit-animation-fill-mode: $fillmode;
    -webkit-animation-direction: $direction;

    -moz-animation-delay: $delay;
    -moz-animation-duration: $duration;
    -moz-animation-name: $animation;
    -moz-animation-timing-function: $timing;
    -moz-animation-fill-mode: $fillmode;
    -moz-animation-direction: $direction;

    -ms-animation-delay: $delay;
    -ms-animation-duration: $duration;
    -ms-animation-name: $animation;
    -ms-animation-timing-function: $timing;
    -ms-animation-fill-mode: $fillmode;
    -ms-animation-direction: $direction;
}