$mainFont: 'Manulife JH Sans', arial, sans-serif;
$secondaryFont: 'Manulife JH Sans', arial, sans-serif;
$tertiaryFont: 'Manulife JH Serif', arial, serif;

//$mainFont: 'Raleway', arial, sans-serif;
//$secondaryFont: 'Playfair Display', arial, sans-serif;

$greenColor: #00bf66;
$textLightGray: #282b3e;
$grayColor: #424559;
$mediumGrayColor: #34384b;
$darkGrayColor: #272b3d;
$lightGrayColor: #676b78;
$redColor: #EC6251;
$darkredColor: #f8453c;
