mixin contact-box(className, idModificator)
    .contact-box(class=className, data-details-info='partials-contact-box-' + idModificator)
        .row
            .col-xs-12.box-user
                //- FULL NAME AND JOB TITLE
                .col-xs-4.col-sm-3.box-user-img
                    | {{#if websiteMainUser.imageUrl}}
                    .user-image-holder(style="background-image:url('{{websiteMainUser.imageUrl}}')")
                        span.icon-user-accessible
                    | {{else}}
                    .user-image-holder(style="background-image:url('../images/placeholder/user-image-default.png')")
                        span.icon-user-accessible
                    | {{/if}}



                .col-xs-8.col-sm-9.box-user-name
                    h2 {{websiteMainUser.firstName}}{{#if websiteMainUser.lastName}} {{websiteMainUser.lastName}}{{/if}}
                    p {{websiteMainUser.jobTitle}}

                .col-xs-12.block-social.block-agent-social
                    +social-icon('facebook')
                    +social-icon('instagram')
                    +social-icon('twitter')
                    +social-icon('linkedin')

            //- CONTACT OPTIONS
            .col-xs-12.contact-box-data
                .tabs-icon-block
                    //- .col-xs-3.tabs-icon.tabs-icon-1(data-tab-target='status-tab-selected-1')
                    //-     a.chat
                    //- .col-xs-3.tabs-icon.tabs-icon-2(data-tab-target='status-tab-selected-2')
                    //-     a.meeting
                    //- .col-xs-3.tabs-icon.tabs-icon-3(data-tab-target='status-tab-selected-3')
                    //-     a.phone
                    //- .col-xs-3.tabs-icon.tabs-icon-4(data-tab-target='status-tab-selected-4')
                    //-     a.mail
                    //- .col-xs-6.tabs-icon.tabs-icon-1(data-tab-target='status-tab-selected-1', id="button-open-chat", chat="open-chat")
                    .col-xs-6.tabs-icon.tabs-icon-1
                        a(id="button-open-chat", open-chat="open-chat", class="button-open-chat") 
                            span.icon
                                +svg-icon-livechat()
                            | Live Chat
                            //- i.fa.fa-angle-right
                    .col-xs-6.tabs-icon.tabs-icon-2(data-tab-target='status-tab-selected-2')
                        p 
                            span.icon
                                +svg-icon-lets-meet()
                            | Let's Talk
                            //- i.fa.fa-angle-right
                +contact-tab-content-block("contact-tab-content-desktop", idModificator)
                
mixin contact-box-sticky(className, idModificator)
    .contact-box(class=className, data-details-info='partials-contact-box-' + idModificator)
        .row
            .col-xs-7.col-md-6.box-user
                //- FULL NAME AND JOB TITLE
                .col-xs-3.box-user-img
                    | {{#if websiteMainUser.imageUrl}}
                    .user-image-holder(style="background-image:url('{{websiteMainUser.imageUrl}}')")
                        span.icon-user-accessible
                    | {{else}}
                    .user-image-holder(style="background-image:url('../images/placeholder/user-image-default.png')")
                        span.icon-user-accessible
                    | {{/if}}



                .col-xs-9.col-md-6.box-user-name
                    h2 {{websiteMainUser.firstName}}{{#if websiteMainUser.lastName}} {{websiteMainUser.lastName}}{{/if}}
                    p {{websiteMainUser.jobTitle}}

                .col-xs-3.block-social.block-agent-social
                    +social-icon('facebook')
                    +social-icon('instagram')
                    +social-icon('twitter')
                    +social-icon('linkedin')

            //- CONTACT OPTIONS
            .col-xs-5.col-md-6.contact-box-data
                .tabs-icon-block
                    //- .col-xs-3.tabs-icon.tabs-icon-1(data-tab-target='status-tab-selected-1')
                    //-     a.chat
                    //- .col-xs-3.tabs-icon.tabs-icon-2(data-tab-target='status-tab-selected-2')
                    //-     a.meeting
                    //- .col-xs-3.tabs-icon.tabs-icon-3(data-tab-target='status-tab-selected-3')
                    //-     a.phone
                    //- .col-xs-3.tabs-icon.tabs-icon-4(data-tab-target='status-tab-selected-4')
                    //-     a.mail
                    //- .col-xs-6.tabs-icon.tabs-icon-1(data-tab-target='status-tab-selected-1', id="button-open-chat", chat="open-chat")
                    .col-xs-6.tabs-icon.tabs-icon-1(class="button button-orange")
                        a(id="button-open-chat", open-chat="open-chat", class="button-open-chat") 
                            span.icon
                                +svg-icon-livechat()
                            | Live Chat
                            //- i.fa.fa-angle-right
                    .col-xs-6.tabs-icon.tabs-icon-2#openLetsMeet(data-tab-target='status-tab-selected-2', class="button button-orange")
                        p 
                            span.icon
                                +svg-icon-lets-meet()
                            | Let's Talk
                            //- i.fa.fa-angle-right
            .col-xs-12.contact-tab-content     
                +contact-tab-content-block("contact-tab-content-mobile", "mobile")  
            .clearfix    
    +contact-tab-content-block("contact-tab-content-desktop-mini",idModificator)              

mixin contact-box-sticky-career(className, idModificator)
    .contact-box(class=className, data-details-info='partials-contact-box-' + idModificator + '-career')
        .row
            .col-xs-7.col-md-6.box-user
                //- FULL NAME AND JOB TITLE
                .col-xs-3.box-user-img
                    | {{#if websiteMainUser.imageUrl}}
                    .user-image-holder(style="background-image:url('{{websiteMainUser.imageUrl}}')")
                        span.icon-user-accessible
                    | {{else}}
                    .user-image-holder(style="background-image:url('../images/placeholder/user-image-default.png')")
                        span.icon-user-accessible
                    | {{/if}}

                .col-xs-9.col-md-6.box-user-name
                    h2 {{websiteMainUser.firstName}}{{#if websiteMainUser.lastName}} {{websiteMainUser.lastName}}{{/if}}
                    p {{websiteMainUser.jobTitle}}

                .col-xs-3.block-social.block-agent-social
                    +social-icon('facebook')
                    +social-icon('instagram')
                    +social-icon('twitter')
                    +social-icon('linkedin')

            //- CONTACT OPTIONS
            .col-xs-5.col-md-6.contact-box-data
                .tabs-icon-block
                    .col-xs-6.tabs-icon.tabs-icon-1(class="button button-orange")
                        a(id="button-open-chat", open-chat="open-chat", class="button-open-chat") 
                            span.icon
                                +svg-icon-livechat()
                            | Live Chat
                            //- i.fa.fa-angle-right
                    .col-xs-6.tabs-icon.tabs-icon-2#openLetsMeet(data-tab-target='status-tab-selected-2', class="button button-orange")
                        p 
                            span.icon
                                +svg-icon-lets-meet()
                            | Let's Talk
                            //- i.fa.fa-angle-right
            .col-xs-5.cb-button.d-none-i.circuit_builder-home-page
                +button-static({theme: "button-orange button-show-cb-page2", text: "START NOW"})
            .col-xs-5.cb-button.d-none-i.circuit_builder-page2-result
                +button-static({theme: "button-orange button-show-cb-page3", text: "BUILD A COVER LETTER"})
            .col-xs-5.cb-button.d-none-i.circuit_builder-page3
                +button-static({theme: "button-orange button-show-cb-lastpage", text: "GIVE US YOUR DETAILS"})
            .col-xs-12.contact-tab-content     
                +contact-tab-content-block("contact-tab-content-mobile", "mobile")
            .clearfix    
    +contact-tab-content-block("contact-tab-content-desktop-mini",idModificator)              
             
mixin contact-tab-content-block(className, idModificator)
    .tabs-content-block(class=className)
        //- MEETING FORM
        .tabs-content-item.tabs-content-item-2.meeting-form-container
            .form-contact-box.clearfix
                a.button-close-tab
                .col-xs-12.form-field-title
                    h3 Let's Talk
                .col-xs-12.tabs-content-item-content
                    
                    .row
                        form.form-element.form-contact-box-element(id='form-contact-box-' + idModificator)
                            .form-field.form-field-name.col-xs-6
                                .form-field-inner
                                    label First Name*
                                    input(class='input-firstname', type='text')
                            .form-field.form-field-lastname.col-xs-6
                                .form-field-inner
                                    label Last Name*
                                    input(class='input-lastname', type='text')

                            //- .clearfix
                            //- .form-field.form-field-date.col-xs-6.col-sm-6
                            //-     .form-field-inner
                            //-         .form-select-wrapper.select-date-day
                            //-             input(id='input-date' + idModificator, class='select-date-day-input input-date', placeholder="Date", readonly)
                            //- .form-field.form-field-time.col-xs-6.col-sm-6
                            //-     .form-field-inner
                            //-         .form-select-wrapper.select-date-time
                            //-             select(id='input-time' + idModificator, class='selectpicker input-time')
                            //-                 option Time
                            //-                 option 09:00-12:00
                            //-                 option 12:00-15:00
                            //-                 option 15:00-18:00
                            .clearfix

                            .form-field.form-field-select.form-field-phone.col-xs-12
                                .form-field-inner
                                    label Phone Number*
                                    .form-select-wrapper.select-phone-prefix
                                        select(id='input-phone-prefix' + idModificator, class='selectpicker-phone-code')
                                            +select-phone-prefix()
                                    input(class='input-phone', type='tel')

                            .form-field.form-field-email.col-xs-12
                                .form-field-inner
                                    label Email Address*
                                    input(class='input-email', type='email')

                            .clearfix
                            .form-field.form-field-icon.form-field-method.col-xs-12
                                .form-field-inner
                                    label Preferred Contact Method*
                                    .block-input-method
                                        .input-method.input-method-email.status-selected
                                            .input-method-radio Email
                                        .input-method.input-method-phone
                                            .input-method-radio Phone
                            .clearfix
                            +marketing_consent({
                                textColorClass: ""
                            })
                            .clearfix 
                            .col-xs-12
                                +button({
                                    theme: "button-orange button-submit button-submit-contact",
                                    text: "Send Message",
                                    id: "button-submit-contact-" + idModificator
                                })
                            .clearfix     

                        div(id='form-contact-thank-' + idModificator).block-thank
                            .thank-content
                                .col-xs-12
                                    p.thank-title Thanks!
                                    p.thank-text I'll get in touch with you as soon as possible.
                                .clearfix
                                .col-xs-12
                                    +button({
                                        theme: "button-orange button-close-tab block-thank",
                                        text: "Close",
                                        id: "form-contact-thank-" + idModificator
                                    })
                .clearfix

        .tabs-content-item.tabs-content-item-3.phone-container.clearfix
            .col-xs-12.tabs-content-item-content
                h3.greenTitle Let's talk
                | {{#if websiteMainUser.mobilePhoneObj.fullNumber}}
                +button({
                    theme: "button-green-round",
                    //- text: "+({{websiteMainUser.mobilePhoneObj.dialCode}}) {{websiteMainUser.mobilePhoneObj.originalNumber}}",
                    //- href: "tel:{{websiteMainUser.mobilePhoneObj.fullNumber}}"
                    text: "",
                    href: ""
                })
                | {{/if}}

        .tabs-content-item.tabs-content-item-4.email-container.clearfix
            .col-xs-12.tabs-content-item-content
                h3.greenTitle Email me
                +button({
                    theme: "button-green-round",
                    text: "Go to Contact us",
                    href: "/contact-us#form-contact-us"
                })
            .clearfix    

mixin advice-block(className)
    .advice-banner.section-wrapper-list(class=className, data-details-info='partials-contact-box-advice-block')
        .linkbanner.row
            .col-xs-12.col-md-2.linkbanner-agent  
                .box-user-img
                    | {{#if websiteMainUser.imageUrl}}
                    .user-image-holder(style="background-image:url('{{websiteMainUser.imageUrl}}')")
                        span.chatbox-arrow
                        span.icon-user-accessible
                    | {{else}}
                    .user-image-holder(style="background-image:url('../images/placeholder/user-image-default.png')")
                        span.chatbox-arrow
                        span.icon-user-accessible
                    | {{/if}}
            .col-xs-12.col-md-7.col-lg-8.linkbanner-text
                h4.subtext Have any questions or enquiries? <br/>We're always ready to help.
            .col-xs-12.col-md-3.linkbanner-button
                +button({theme: "button-white button-let-me-help", text: "Get in touch", href:"/contact-us"})

mixin contact_banner(object)
    .banner-top-wrapper.contact-banner(data-details-info='mixins-contact_banner')
        .cover-image-wrapper
            img.cover-image(src=object.image, alt= pageName + ' top banner image')
        .banner-top-caption
            div(class=object.customClass || "container-fluid")
                .row
                    .col-xs-12.col-md-8.col-lg-6
                        h4.mainTitle!=object.text
                        if object.subText
                            p.subText!=object.subText
                        +button({theme: "button-white button-contact-us", text: "Contact Us", href:"/contact-us"})    






