mixin footer(customClass)
    footer(data-details-info='partial-footer')
        div(class=customClass || "container-fluid")
            .row
                .col-xs-12.col-md-11.col-lg-10.col-lg-offset-1.col-xlg-7
                    h3 {{currentBu.businessUnit.BranchName}}
                .col-xs-12.col-md-11.col-lg-10.col-lg-offset-1.col-xlg-7
                    ul.footer-nav
                        //- li
                        //-     a(href="/") Home
                        li(page="services")
                            a(href='/services') Services      
                        //- li.hydralink
                        //-     a(href="/life", page="life") Solutions
                        //-     a(href="/health", page="health") Solutions
                        //-     a(href="/save", page="save") Solutions
                        //-     a(href="/invest", page="invest") Solutions
                        //-     a(href="/signature", page="signature") Solutions
                        li(page="insights")
                            a(href="/insights") Insights
                        li(page="events")
                            a(href='/events') Events
                        li(page="careers")
                            a(href='/careers') Careers
                        li(page="about")
                            a(href="/about") About
                        li(page="review")
                            a(href="/review") Review
                        li(page="contact-us")
                            a(href="/contact-us") Contact Us
                        li(page="partners")
                            a(href="/partners") Partners

            .footer-legal-and-social
                .row
                    .col-xs-12.col-md-11.col-lg-10.col-lg-offset-1.col-xlg-7
                        ul.footer-legal-section
                            li(page="privacy-policy")
                                a(href="/privacy-policy") Statement of Personal Data Protection
                            li(page="fair-dealing-policy")
                                a(href="/fair-dealing-policy") Fair Dealing Policy
                            li(page="legal")
                                a(href="/legal") Legal Notices &amp; Conditions of Use
                            li(page="marketing")
                                a(href="/marketing") Marketing Consent
                            li(page="insurance-guides-and-useful-links")
                                a(href="/insurance-guides-and-useful-links") Insurance Guides &amp; Useful Links


                    .col-xs-12.col-md-11.col-lg-10.col-lg-offset-1.col-xlg-7
                        p.copyright ©<script>document.write(new Date().getFullYear())</script> Manulife Financial Advisers Pte. Ltd

mixin footer_services-page(customClass)
    footer(data-details-info='partial-footer_services-page')
        div(class=customClass || "container-fluid")
            .row
                .col-xs-12.col-md-11.col-xlg-offset-1.col-xlg-7
                    h3 {{currentBu.businessUnit.BranchName}}
                .col-xs-12.col-md-11.col-xlg-offset-1.col-xlg-7
                    ul.footer-nav
                        //- li
                        //-     a(href="/") Home
                        li(page="services")
                            a(href='/services') Services      
                        //- li.hydralink
                        //-     a(href="/life", page="life") Solutions
                        //-     a(href="/health", page="health") Solutions
                        //-     a(href="/save", page="save") Solutions
                        //-     a(href="/invest", page="invest") Solutions
                        //-     a(href="/signature", page="signature") Solutions
                        li(page="insights")
                            a(href="/insights") Insights
                        li(page="events")
                            a(href='/events') Events
                        li(page="careers")
                            a(href='/careers') Careers
                        li(page="about")
                            a(href="/about") About
                        li(page="review")
                            a(href="/review") Review
                        li(page="contact-us")
                            a(href="/contact-us") Contact Us
                        li(page="partners")
                            a(href="/partners") Partners

            .footer-legal-and-social
                .row
                    .col-xs-12.col-md-11.col-xlg-offset-1.col-xlg-7
                        ul.footer-legal-section
                            li(page="privacy-policy")
                                a(href="/privacy-policy") Statement of Personal Data Protection
                            li(page="fair-dealing-policy")
                                a(href="/fair-dealing-policy") Fair Dealing Policy
                            li(page="legal")
                                a(href="/legal") Legal Notices &amp; Conditions of Use
                            li(page="marketing")
                                a(href="/marketing") Marketing Consent
                            li(page="insurance-guides-and-useful-links")
                                a(href="/insurance-guides-and-useful-links") Insurance Guides &amp; Useful Links


                    .col-xs-12.col-md-11.col-xlg-offset-1.col-xlg-7
                        p.copyright ©<script>document.write(new Date().getFullYear())</script> Manulife Financial Advisers Pte. Ltd
