mixin footer_scripts()
    .handelbars-data(style='display:none!important')
        script.
            window.handelbarsDataPrivatObject = {
                firstName: '{{websiteMainUser.firstName}}',
                lastName: '{{websiteMainUser.lastName}}',
                companyName: '{{currentBu.businessUnit.BranchName}}',
                social:{
                    facebook: '{{currentBu.businessUnit.facebookAddress}}',
                    twitter: '{{currentBu.businessUnit.twitterAddress}}',
                    linkedin: '{{currentBu.businessUnit.linkedinAddress}}',
                    googleplus: '{{currentBu.businessUnit.googleplusAddress}}',
                },
                address: {
                    fullAddress: '{{currentBu.businessUnit.address}}'
                },
                jobTitle : '{{websiteMainUser.jobTitle}}'
            }

    script(src='//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js' )
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')

    if block
        block

    +script-for-swiper()

    //script(src='https://use.fontawesome.com/releases/v5.0.9/js/all.js', integrity='sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl', crossorigin='anonymous')
    script(src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js')

    +script-for-mobile-nav()

    script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/js/bootstrap-datetimepicker.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js')

    +addthis-share-script()
    
    script(src='../tools/js/tools-bundle.js', type='text/javascript')
    script(src='../js/bundle.js', type='text/javascript')

mixin footer_scripts_careers()
    .handelbars-data(style='display:none!important')
        script.
            window.handelbarsDataPrivatObject = {
                firstName: '{{websiteMainUser.firstName}}',
                lastName: '{{websiteMainUser.lastName}}',
                companyName: '{{currentBu.businessUnit.BranchName}}',
                social:{
                    facebook: '{{currentBu.businessUnit.facebookAddress}}',
                    twitter: '{{currentBu.businessUnit.twitterAddress}}',
                    linkedin: '{{currentBu.businessUnit.linkedinAddress}}',
                    googleplus: '{{currentBu.businessUnit.googleplusAddress}}',
                },
                address: {
                    fullAddress: '{{currentBu.businessUnit.address}}'
                },
                jobTitle : '{{websiteMainUser.jobTitle}}'
            }

    script(src='//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js' )
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')

    if block
        block

    +script-for-swiper()

    //script(src='https://use.fontawesome.com/releases/v5.0.9/js/all.js', integrity='sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl', crossorigin='anonymous')
    script(src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js')

    +script-for-mobile-nav()

    script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/js/bootstrap-datetimepicker.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js')

    script(type="text/javascript", src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5d0857aa34177af1")
    
    script(src='../tools/js/tools-bundle.js', type='text/javascript')
    script(src='../js/bundle.js', type='text/javascript')
    

mixin footer_syf_scripts()
    .handelbars-data(style='display:none!important')
        script.
            window.handelbarsDataPrivatObject = {
                firstName: '{{websiteMainUser.firstName}}',
                lastName: '{{websiteMainUser.lastName}}',
                companyName: '{{currentBu.businessUnit.BranchName}}',
                social:{
                    facebook: '{{currentBu.businessUnit.facebookAddress}}',
                    twitter: '{{currentBu.businessUnit.twitterAddress}}',
                    linkedin: '{{currentBu.businessUnit.linkedinAddress}}',
                    googleplus: '{{currentBu.businessUnit.googleplusAddress}}',
                },
                address: {
                    fullAddress: '{{currentBu.businessUnit.address}}'
                },
                jobTitle : '{{websiteMainUser.jobTitle}}'
            }
    script(src="https://www.google.com/recaptcha/api.js" async defer)
    script(src='//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js' )
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')

    script.        
        var onSubmit = function(token) {
            console.log('success!');
            console.log( 'g-recaptcha-response: ' + grecaptcha.getResponse());
        }

    if block
        block

    +script-for-swiper()

    //script(src='https://use.fontawesome.com/releases/v5.0.9/js/all.js', integrity='sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl', crossorigin='anonymous')
    script(src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js')

    +script-for-mobile-nav()

    script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/js/bootstrap-datetimepicker.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js')

    script(src='../tools/js/tools-bundle.js', type='text/javascript')
    script(src='../js/bundle.js', type='text/javascript')
    
    script(src='//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5d5bc11c26b0a9d3', type='text/javascript')



mixin script-for-swiper()
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.2.2/js/swiper.min.js', type='text/javascript')


mixin script-for-map()
    //-script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAGrUBFlLSzv8i4TFHR1xZImA5Viqlj3Qw', type='text/javascript')
    //-script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCgnNQLDWz1wbIAIA5K2VZp3_-to9eUC50', type='text/javascript')
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDUfCl7uMjZYiKm1ZWG8yYRxSuhdMKCSMc', type='text/javascript')

mixin script-for-mobile-nav()
    script(src='//cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/5.7.8/js/jquery.mmenu.all.min.js' )
