mixin list-country-options()
    option(value='Afghanistan') Afghanistan
    option(value='Africa') Africa
    option(value='Aland Islands') Aland Islands
    option(value='Albania') Albania
    option(value='Algeria') Algeria
    option(value='American Samoa') American Samoa
    option(value='Andorra') Andorra
    option(value='Angola') Angola
    option(value='Anguilla') Anguilla
    option(value='Antarctica') Antarctica
    option(value='Antigua and Barbuda') Antigua and Barbuda
    option(value='Argentina') Argentina
    option(value='Armenia') Armenia
    option(value='Aruba') Aruba
    option(value='Australia') Australia
    option(value='Austria') Austria
    option(value='Azerbaijan') Azerbaijan
    option(value='Bahamas') Bahamas
    option(value='Bahrain') Bahrain
    option(value='Bangladesh') Bangladesh
    option(value='Barbados') Barbados
    option(value='Belarus') Belarus
    option(value='Belgium') Belgium
    option(value='Belize') Belize
    option(value='Benin') Benin
    option(value='Bermuda') Bermuda
    option(value='Bhutan') Bhutan
    option(value='Bolivia') Bolivia
    option(value='Bosnia and Herzegovina') Bosnia and Herzegovina
    option(value='Botswana') Botswana
    option(value='Bouvet Island') Bouvet Island
    option(value='Brazil') Brazil
    option(value='British Indian Ocean Territory') British Indian Ocean Territory
    option(value='British Virgin Islands') British Virgin Islands
    option(value='Brunei') Brunei
    option(value='Bulgaria') Bulgaria
    option(value='Burkina Faso') Burkina Faso
    option(value='Burundi') Burundi
    option(value='Cambodia') Cambodia
    option(value='Cameroon') Cameroon
    option(value='Canada') Canada
    option(value='Cape Verde') Cape Verde
    option(value='Cayman Islands') Cayman Islands
    option(value='Chad') Chad
    option(value='Channel Islands And Guernsey') Channel Islands And Guernsey
    option(value='Chile') Chile
    option(value='China') China
    option(value='Christmas Island') Christmas Island
    option(value='Cocos Islands') Cocos Islands
    option(value='Colombia') Colombia
    option(value='Comoros') Comoros
    option(value='Cook Islands') Cook Islands
    option(value='Costa Rica') Costa Rica
    option(value='Croatia') Croatia
    option(value='Cuba') Cuba
    option(value='Curacao') Curacao
    option(value='Cyprus') Cyprus
    option(value='Czech Republic') Czech Republic
    option(value='Democratic Rep of Timor-Leste') Democratic Rep of Timor-Leste
    option(value='Democratic Republic of Congo') Democratic Republic of Congo
    option(value='Denmark') Denmark
    option(value='Djibouti') Djibouti
    option(value='Dominica') Dominica
    option(value='Dominican Republic') Dominican Republic
    option(value='Ecuador') Ecuador
    option(value='Egypt') Egypt
    option(value='El Salvador') El Salvador
    option(value='England') England
    option(value='Equatorial Guinea') Equatorial Guinea
    option(value='Eritrea') Eritrea
    option(value='Estonia') Estonia
    option(value='Ethiopia') Ethiopia
    option(value='Falkland Islands') Falkland Islands
    option(value='Faroe Islands') Faroe Islands
    option(value='Fiji') Fiji
    option(value='Finland') Finland
    option(value='France') France
    option(value='French Polynesia') French Polynesia
    option(value='French Southern Territories') French Southern Territories
    option(value='Gabon') Gabon
    option(value='Gambia') Gambia
    option(value='Georgia') Georgia
    option(value='Germany') Germany
    option(value='Ghana') Ghana
    option(value='Gibraltar') Gibraltar
    option(value='Greece') Greece
    option(value='Greenland') Greenland
    option(value='Grenada') Grenada
    option(value='Guadeloupe') Guadeloupe
    option(value='Guam') Guam
    option(value='Guatemala') Guatemala
    option(value='Guinea') Guinea
    option(value='Guinea-Bissau') Guinea-Bissau
    option(value='Guyana') Guyana
    option(value='Haiti') Haiti
    option(value='Heard and Mcdonald Islands') Heard and Mcdonald Islands
    option(value='Honduras') Honduras
    option(value='Hongkong') Hongkong
    option(value='Hungary') Hungary
    option(value='Iceland') Iceland
    option(value='India') India
    option(value='Indonesia') Indonesia
    option(value='Iran') Iran
    option(value='Iraq') Iraq
    option(value='Ireland') Ireland
    option(value='Isle of Man') Isle of Man
    option(value='Israel') Israel
    option(value='Italy') Italy
    option(value='Ivory Coast') Ivory Coast
    option(value='Jamaica') Jamaica
    option(value='Japan') Japan
    option(value='Jersey') Jersey
    option(value='Jordan') Jordan
    option(value='Kampuchea') Kampuchea
    option(value='Kazakhstan') Kazakhstan
    option(value='Kenya') Kenya
    option(value='Kiribati') Kiribati
    option(value='Korea') Korea
    option(value='Kosovo') Kosovo
    option(value='Kuwait') Kuwait
    option(value='Kyrgyzstan') Kyrgyzstan
    option(value='Laos') Laos
    option(value='Latvia') Latvia
    option(value='Lebanon') Lebanon
    option(value='Lesotho') Lesotho
    option(value='Liberia') Liberia
    option(value='Libya') Libya
    option(value='Liechtenstein') Liechtenstein
    option(value='Lithuania') Lithuania
    option(value='Luxembourg') Luxembourg
    option(value='Macao') Macao
    option(value='Macedonia') Macedonia
    option(value='Madagascar') Madagascar
    option(value='Malawi') Malawi
    option(value='Malaysia') Malaysia
    option(value='Maldives') Maldives
    option(value='Male') Male
    option(value='Mali') Mali
    option(value='Malta') Malta
    option(value='Marshall Islands') Marshall Islands
    option(value='Martinique') Martinique
    option(value='Mauritania') Mauritania
    option(value='Mauritius') Mauritius
    option(value='Mayotte') Mayotte
    option(value='Mexico') Mexico
    option(value='Micronesia') Micronesia
    option(value='Moldova') Moldova
    option(value='Monaco') Monaco
    option(value='Mongolia') Mongolia
    option(value='Montenegro') Montenegro
    option(value='Montserrat') Montserrat
    option(value='Morocco') Morocco
    option(value='Mozambique') Mozambique
    option(value='Myanmar') Myanmar
    option(value='Namibia') Namibia
    option(value='Nauru') Nauru
    option(value='Nepal') Nepal
    option(value='Netherlands') Netherlands
    option(value='Netherlands Antilles') Netherlands Antilles
    option(value='New Caledonia') New Caledonia
    option(value='New Zealand') New Zealand
    option(value='Nicaragua') Nicaragua
    option(value='Niger') Niger
    option(value='Nigeria') Nigeria
    option(value='Niue') Niue
    option(value='Norfolk Island') Norfolk Island
    option(value='North Korea') North Korea
    option(value='Northern Mariana Islands') Northern Mariana Islands
    option(value='Norway') Norway
    option(value='Others') Others
    option(value='Palau') Palau
    option(value='Palestine') Palestine
    option(value='Panama') Panama
    option(value='Papua New Guinea') Papua New Guinea
    option(value='Paraguay') Paraguay
    option(value='Parkistan') Parkistan
    option(value='Peru') Peru
    option(value='Philippines') Philippines
    option(value='Pitcairn') Pitcairn
    option(value='Poland') Poland
    option(value='Portugal') Portugal
    option(value='Puerto Rico') Puerto Rico
    option(value='Qatar') Qatar
    option(value='Republic of the Congo') Republic of the Congo
    option(value='Reunion') Reunion
    option(value='Romania') Romania
    option(value='Russia') Russia
    option(value='Rwanda') Rwanda
    option(value='Samoa') Samoa
    option(value='San Marino') San Marino
    option(value='Sao Tome and Principe') Sao Tome and Principe
    option(value='Saudi Arabia') Saudi Arabia
    option(value='Senegal') Senegal
    option(value='Serbia') Serbia
    option(value='Seychelles') Seychelles
    option(value='Sierra Leone') Sierra Leone
    option(value='Singapore') Singapore
    option(value='Sint Maarten') Sint Maarten
    option(value='Sloval Republic') Sloval Republic
    option(value='Slovenia') Slovenia
    option(value='Solomon Islands') Solomon Islands
    option(value='Somalia') Somalia
    option(value='South Africa') South Africa
    option(value='South Korea') South Korea
    option(value='South Sudan') South Sudan
    option(value='South Yemen') South Yemen
    option(value='Spain') Spain
    option(value='Sri Lanka') Sri Lanka
    option(value='St. Barthelemy') St. Barthelemy
    option(value='St. Helena') St. Helena
    option(value='St. Kitts and Nevis') St. Kitts and Nevis
    option(value='St. Lucia') St. Lucia
    option(value='St. Martin') St. Martin
    option(value='St. Pierre and Miquelon') St. Pierre and Miquelon
    option(value='St. Vincent and the Grenadines') St. Vincent and the Grenadines
    option(value='Sudan') Sudan
    option(value='Sultanate of Oman') Sultanate of Oman
    option(value='Suriname') Suriname
    option(value='Svalbard and Jan Mayen') Svalbard and Jan Mayen
    option(value='Swaziland') Swaziland
    option(value='Sweden') Sweden
    option(value='Switzerland') Switzerland
    option(value='Syria') Syria
    option(value='Tahiti') Tahiti
    option(value='Taiwan') Taiwan
    option(value='Tajikistan') Tajikistan
    option(value='Tanzania') Tanzania
    option(value='Thailand') Thailand
    option(value='Togo') Togo
    option(value='Tokelau') Tokelau
    option(value='Tonga') Tonga
    option(value='Trinidad and Tobago') Trinidad and Tobago
    option(value='Tunisia') Tunisia
    option(value='Turkey') Turkey
    option(value='Turkmenistan') Turkmenistan
    option(value='Turks and Caicos Islands') Turks and Caicos Islands
    option(value='Tuvalu') Tuvalu
    option(value='U.S. Virgin Islands') U.S. Virgin Islands
    option(value='US Minor Outlying Islands') US Minor Outlying Islands
    option(value='Uganda') Uganda
    option(value='Ukraine') Ukraine
    option(value='United Arab Emirates') United Arab Emirates
    option(value='United Kingdom') United Kingdom
    option(value='United States of America') United States of America
    option(value='Uruguay') Uruguay
    option(value='Uzbekistan') Uzbekistan
    option(value='Vanuatu') Vanuatu
    option(value='Vatican') Vatican
    option(value='Venezuela') Venezuela
    option(value='Vietnam') Vietnam
    option(value='Wallis and Futuna') Wallis and Futuna
    option(value='Western Sahara') Western Sahara
    option(value='Yemen') Yemen
    option(value='Yugoslavia') Yugoslavia
    option(value='Zambia') Zambia
    option(value='Zimbabwe') Zimbabwe