mixin head(object)    
    // -var title =object && object.title ? object.title : '{{currentBu.businessUnit.BranchName}}';
    -var title = titleMeta ? titleMeta : '';
    -var description = descriptionMeta ? descriptionMeta : '{{websiteMainUser.firstName}}{{#if websiteMainUser.lastName}} {{websiteMainUser.lastName}}{{/if}}: As a Manulife Financial Services Consultant, I provide financial advisory services tailored to your needs. Get in touch today.';
    -var canonical = canonicalLink ? canonicalLink : '';
    -var currentogurl = currentogurlLink ? currentogurlLink : '';
    -var ogurl = ogurlLink ? ogurlLink : '';
    -var ogtitle = ogtitleMeta ? ogtitleMeta : titleMeta;


    meta(charset='utf-8')
    meta(name='robots', content='index, follow')
    if canonical
        link(rel='canonical', href=canonical)

    meta(name='timestamp', content='momentDateStampObject')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    meta(name='description', content=description)

    title=title

    //- FAVICON
    link(rel='icon', href='../images/icon/favicon/favicon.png', type='image/png')
    link(rel='icon', href='../images/icon/favicon/favicon.ico', type='image/x-icon')

    //- GOOGLE FONTS
    //-link(href='https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,600&subset=latin-ext', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Roboto', rel='stylesheet')
    //-link(href='https://fonts.googleapis.com/css?family=Playfair+Display:400,400i&subset=latin-ext', rel='stylesheet')

    //- CSS STYLES
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css')
    link(rel='stylesheet', href='https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/5.7.8/css/jquery.mmenu.all.css')

    +style-for-swiper()
        
    if currentogurl
        meta(property="og:url", content="https://{{currentBu.website.url}}"+currentogurl)

    if ogurl
        meta(property="og:url", content=ogurl)

    if ogtitle
        meta(property="og:title", content=ogtitle)

    if block
        block

    +fast-render-css()

    link(rel='stylesheet', href='../tools/css/tools.css')
    link(rel='stylesheet', href='../css/style.css')
    
    +google-tag-manager-head()

mixin head-goforit(object)
    -var title = "#GoForIt Contest - Share Your Life Goals";
    -var canonical = canonicalLink ? canonicalLink : '';

    meta(charset='utf-8')
    meta(name='robots', content='index, follow')
    if canonical
        link(rel='canonical', href=canonical)

    meta(name='timestamp', content='momentDateStampObject')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    title=title
    meta(name='og:title', content=title)
    meta(name='og:image', content="https://s3-eu-west-1.amazonaws.com/studio.gf.manulife.digital/manulife-website/production/images/goforit/graphic-angbao.png")
    meta(name='description', content='We are giving away S$88 cash ang bao to every 88th participant (10 winners only). The most creative entry stands to win S$10,000 worth of insurance premium vouchers.')
    meta(name='og:description', content='Tell us how you plan to achieve your life goal and stand to win S$88 cash* and S$10,000 insurance premium vouchers!')        

    //- FAVICON
    link(rel='icon', href='../images/icon/favicon/favicon', type='image/png')
    link(rel='icon', href='../images/icon/favicon/favicon.png', sizes="16x16", type='image/png')
    link(rel='icon', href='../images/icon/favicon/favicon.png', sizes="32x32", type='image/png')

    //- GOOGLE FONTS
    link(href='https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,600&subset=latin-ext', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Roboto', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Playfair+Display:400,400i&subset=latin-ext', rel='stylesheet')

    //- CSS STYLES
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.css')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css')
    link(rel='stylesheet', href='https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/5.7.8/css/jquery.mmenu.all.css')
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css')

    +style-for-swiper()

    if block
        block

    +fast-render-css()

    link(rel='stylesheet', href='../css/style.css')

    +google-tag-manager-head()

mixin head-make-sense-of-your-finances(object)
    -var title = "Make Sense of your Finances and stand to win $200 cash*!";
    -var canonical = canonicalLink ? canonicalLink : '';

    meta(charset='utf-8')
    meta(name='robots', content='index, follow')
    if canonical
        link(rel='canonical', href=canonical)

    meta(name='timestamp', content='momentDateStampObject')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=0')

    title=title
    meta(property='og:title', content=title)
    meta(property='og:image', content='https://s3-eu-west-1.amazonaws.com/studio.gf.manulife.digital/manulife-website/staging/images/campaign/Make-Sense-of-Your-Finances/FB_share_v1.jpg')
    meta(property='description', content='Life is full of financial decisions. Do you do well with budgets or find yourself asking how to save money every month? Find out with our simple game!​')
    meta(property='og:description', content='Life is full of financial decisions. Do you do well with budgets or find yourself asking how to save money every month? Find out with our simple game!​')        
    meta(property='keywords', content='how to save money,budget,expense tracker,money manager,financial management')
    //- FAVICON
    link(rel='icon', href='../images/icon/favicon/favicon', type='image/png')
    link(rel='icon', href='../images/icon/favicon/favicon.png', sizes="16x16", type='image/png')
    link(rel='icon', href='../images/icon/favicon/favicon.png', sizes="32x32", type='image/png')

    //- GOOGLE FONTS
    link(href='https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,600&subset=latin-ext', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Roboto', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Playfair+Display:400,400i&subset=latin-ext', rel='stylesheet')

    //- CSS STYLES
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.css')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css')
    link(rel='stylesheet', href='https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/5.7.8/css/jquery.mmenu.all.css')
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css')

    +style-for-swiper()

    if block
        block

    +fast-render-css()

    link(rel='stylesheet', href='../css/style.css')
    
    +google-tag-manager-head()

mixin style-for-swiper()
    //link(href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.2.2/css/swiper.min.css", rel="stylesheet")

mixin fast-render-css()
    style.
        .banner-top-wrapper .cover-image {-o-object-fit: cover;object-fit: cover;}








