mixin header
    header(data-details-info='partial-header')
        .sticky-header-desktop
            .logo-container
                a(href='https://www.manulifea.com.sg/', target="_blank")
                    img(src="../images/logo-mfa.png" alt="logo")
        +contact-box-sticky-career("contact-box-desktop-mini", "desktop-mini")
        .mobile-menu-container
            .container
                .row
                    .col-xs-12.logo-container
                        a(href='https://www.manulifea.com.sg/', target="_blank")
                            img(src="../images/mobile_manulifelogo.png" alt="logo")
                            //- span Financial Advisers
                    //- .hamburger
                        a(id='button-open-menu')
                            img(src="../images/general/icon-bars.svg" alt="icon bar")        

mixin header-career
    header(data-details-info='partial-header-career')
        .sticky-header-desktop
            .logo-container
                a(href='https://www.manulifea.com.sg/')
                    img(src="../images/icon/logo.svg" alt="logo")
        +contact-box-sticky-career("contact-box-desktop-mini", "desktop-mini")
        .mobile-menu-container
            .container
                .row
                    .col-xs-12.logo-container
                        a(href='/')
                            img(src="../images/icon/logo-white.svg" alt="logo")
                            //- span Financial Advisers
                    //- .hamburger
                        a(id='button-open-menu')
                            img(src="../images/general/icon-bars.svg" alt="icon bar")       

mixin header-share-your-feels
    header(data-details-info='header-share-your-feels')
        .sticky-header-desktop
            .logo-container
                a(href='/')
                    img(src="../images/logo-mfa.png" alt="logo")
        .mobile-menu-container
            .container
                .row
                    .col-xs-12.logo-container
                        a(href='/')
                            img(src="../images/mobile_manulifelogo.png" alt="logo")
                            //- span Financial Advisers
                    .hamburger
                        a(id='button-open-menu')
                            img(src="../images/general/icon-bars.svg" alt="icon bar")    


