//- All icons should have default white colors

mixin svg-chat()
    svg.svg-icon-chat(width='32px', height='32px', viewBox='0 0 34 34', version='1.1', xmlns='http://www.w3.org/2000/svg')
        g(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
            g(transform='translate(1.000000, 1.000000)')
                path(stroke='#ffffff', d='M28.6985051,25.7351896 L29.0599018,31.1827388 L22.672385,30.5465948 C20.6414238,31.4797084 18.3814722,32 16,32 C7.163444,32 0,24.836556 0,16 C0,7.163444 7.163444,0 16,0 C24.836556,0 32,7.163444 32,16 C32,19.6628889 30.7691552,23.0382987 28.6985051,25.7351896 Z', stroke-width='2')
                circle(fill='#ffffff', fill-rule='nonzero', cx='11.5', cy='16.5', r='1.5')
                circle(fill='#ffffff', fill-rule='nonzero', cx='16.5', cy='16.5', r='1.5')
                circle(fill='#ffffff', fill-rule='nonzero', cx='21.5', cy='16.5', r='1.5')

mixin svg-calendar()
    svg.svg-icon-calendar(width='32px', height='32px', viewBox='0 0 34 34', version='1.1', xmlns='http://www.w3.org/2000/svg')
        g(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
            g(transform='translate(1.000000, 1.000000)')
                path(d='M0,4.05 L32,4.05 L32,28 C32,30.209139 30.209139,32 28,32 L0,32 L0,4.05 Z', stroke-width='2', stroke='#ffffff')
                path(d='M0.666666667,12.125 L30,12.125', stroke-width='1.33333333', stroke-linecap='square', stroke='#ffffff')
                g.svg-part-cross(transform='translate(19.333333, 16.500000)', fill-rule='nonzero', fill='#ffffff')
                    polygon(points='0 1.125 1.11111111 0 6.66666667 5.625 5.55555556 6.75')
                    polygon(transform='translate(3.333333, 3.375000) scale(-1, 1) translate(-3.333333, -3.375000) ', points='-6.69999999e-07 1.125 1.11111044 0 6.666666 5.625 5.55555489 6.75')
                path(d='M6.66666667,6.075 L6.66666667,0.675', stroke-width='2', stroke-linecap='round', stroke='#ffffff')
                path(d='M25.3333333,6.075 L25.3333333,0.675', stroke-width='2', stroke-linecap='round', stroke='#ffffff')


mixin svg-phone()
    svg.svg-icon-phone(width='32px', height='32px', viewBox='0 0 29 34', version='1.1', xmlns='http://www.w3.org/2000/svg')
        g(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
            g.svg-part-body(transform='translate(-180.000000, -1676.000000)', stroke='#ffffff', stroke-width='2')
                g(transform='translate(20.000000, 1502.000000)')
                    path(d='M161.402743,181.607426 C161.531275,177.931132 163.955395,175 166.926989,175 C169.980906,175 172.456594,178.095785 172.456594,181.91463 C172.456594,185.248509 170.569769,188.031315 168.058603,188.684341 C168.982139,192.468523 171.339369,196.357487 174.327994,198.508894 C175.420227,197.039345 177.296072,195.947151 179.524153,195.673577 C183.314532,195.208177 186.688953,197.288131 187.061132,200.319284 C187.433311,203.350438 184.662311,206.184954 180.871931,206.650354 C180.722809,206.668664 180.574331,206.683034 180.426654,206.693562 L180.426654,206.948482 C179.986658,206.982624 179.54218,207 179.093808,207 C169.320363,207 161,195.722002 161,185.537466 C161,184.188735 161.138949,182.873823 161.402743,181.607426 Z')


mixin svg-letter()
    svg.svg-icon-letter(width='32px', height='32px', viewBox='0 0 32 24', version='1.1', xmlns='http://www.w3.org/2000/svg')
        g(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
            g.rectangle(transform='translate(-244.000000, -1681.000000)', stroke='#ffffff', stroke-width='2')
                g(transform='translate(20.000000, 1502.000000)')
                    g(transform='translate(224.000000, 179.000000)')
                        rect(x='1', y='1', width='30', height='22', rx='1.42222222')
                        path(d='M2.27555556,4.48 L15.9288889,13.09', stroke-linecap='round', stroke-linejoin='round')
                        path(d='M16.4235749,4.48 L30.0769082,13.09', stroke-linecap='round', stroke-linejoin='round', transform='translate(23.002899, 8.680000) scale(-1, 1) translate(-23.002899, -8.680000) ')

mixin svg-round-phone()
    svg.svg-icon-round-phone(width='30px', height='30px', viewBox='0 0 30 30', version='1.1', xmlns='http://www.w3.org/2000/svg')
        g(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
            g.svg-part-circle(transform='translate(1.000000, 1.000000)', stroke='#80828B', stroke-width='2')
                circle(cx='14', cy='14', r='14')
                path(d='M17.5398241,15.6900324 L16.0390943,17.1893531 L15.3754678,16.807874 C13.7004841,15.8450264 12.1180693,14.2428277 11.2219834,12.5959279 L10.8740467,11.9564614 L11.3757007,11.4289004 L12.3166622,10.4398302 C12.7080894,10.0489552 12.6991463,9.4305861 12.2424138,9.033172 L10.5817844,7.30233687 C10.1782897,6.89922104 9.5477404,6.89922104 9.1579361,7.28838932 L7.41282384,9.1011017 C6.24740431,10.2652884 7.60169717,13.4339779 11.0969059,16.9259048 C14.6087922,20.4344937 17.7728209,21.7645567 18.9773629,20.5611458 L20.6977683,18.8423557 C21.1007439,18.4397584 21.1007439,17.8114197 20.6977683,17.4088225 L18.9773629,15.6900324 C18.5738682,15.2869166 17.9433188,15.2869166 17.5398241,15.6900324 Z')

mixin svg-round-email()
    svg.svg-icon-round-email(width='30px', height='30px', viewBox='0 0 40 40', version='1.1', xmlns='http://www.w3.org/2000/svg')
        g(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
            g.svg-part-circle(transform='translate(1.000000, 1.000000)', stroke-width='2')
                circle(cx='19', cy='19', r='19')
                rect(x='10.6666667', y='13.3333333', width='16.6666667', height='12.6666667')
                polyline(points='11 13.6666667 19.0206888 20.3333333 27 13.6666667')

mixin svg-services-rectangles()
    svg.svg-icon-services-rectangles(xmlns='http://www.w3.org/2000/svg', width='40', height='40', viewBox='0 0 40 40')
        g(fill='none', fill-rule='evenodd')
            path(stroke-width='3.81', d='M1.905 7.905h29.739v29.739H1.905z')
            path(stroke-width='3.81', d='M8.356 1.905h29.739v29.739H8.356z')
            rect(width='12.903', height='2.469', x='12.903', y='18.801', rx='1.234')
            rect(width='12.903', height='2.469', x='12.903', y='18.801', rx='1.234')


mixin svg-services-shield()
    svg.svg-icon-services-shield(xmlns='http://www.w3.org/2000/svg', width='34', height='40', viewBox='0 0 34 40')
        g(fill='none', fill-rule='evenodd')
            path.svg-part-body(stroke='#00BF66', stroke-width='3.636', d='M16.997 37.456C28.15 33.447 31.84 26.988 32.155 15.78c.044-1.587.035-2.896-.02-5.718 0-.08 0-.08-.002-.152-.008-.337-.016-.763-.025-1.279L17.001 1.986 1.885 8.636c-.01.506-.015.927-.015 1.27l-.003.141c-.056 2.829-.067 4.143-.023 5.735.308 11.204 3.998 17.665 15.153 21.674z')
            path.svg-part-lines(fill='#00BF66', d='M16.749 15.438l15.53 6.915-1.05 2.358-15.53-6.915zM16.749 8.986l15.53 6.915-1.05 2.358-15.53-6.915z')
            path.svg-part-lines(fill='#00BF66', d='M16.845 15.438l-15.53 6.915 1.05 2.358 15.53-6.915zM16.845 8.986l-15.53 6.915 1.05 2.358 15.53-6.915z')


mixin svg-services-graph()
    svg.svg-icon-services-graph(xmlns='http://www.w3.org/2000/svg', width='34', height='40', viewBox='0 0 34 40')
        g(fill='none', fill-rule='evenodd')
            path.svg-part-body(stroke='#00BF66', stroke-width='3.333', d='M1.667 26.667h5.481v5.282H1.667zM14.259 13.52h5.481v18.662h-5.481zM26.852 2.579h5.481v29.66h-5.481z')
            path.svg-part-underline(fill='#00BF66', d='M0 37.5h34V40H0z')

mixin svg-services-s()
    svg.svg-icon-services-s(xmlns='http://www.w3.org/2000/svg', width='40', height='40', viewBox='0 0 44 44')
        g.svg-part-body(fill='none', fill-rule='evenodd', stroke='#00BF66', transform='translate(2 2)')
            path(stroke-width='3.131', d='M25 18.066c0-3.25-1.82-4.138-5.46-4.062-3.64.077-5.54.813-5.54 4.062 0 4.873 11 0 11 4.873 0 3.249-2.2 4.06-5.46 4.061-3.259.002-5.54-.812-5.54-4.061')
            circle(cx='20', cy='20', r='20', stroke-width='3')
            circle(cx='20', cy='20', r='14', stroke-width='3')

mixin svg-services-heart()
    svg.svg-icon-services-heart(width='43px', height='40px', viewbox='0 0 43 40', version='1.1', xmlns='http://www.w3.org/2000/svg')
        g(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
            g(transform='translate(-380.000000, -1354.000000)', fill-rule='nonzero', stroke='#00BF66', stroke-width='3.81')
                g(transform='translate(115.000000, 1324.000000)')
                    path(d='M286.491252,67.9048347 C288.699718,65.5161953 290.644136,63.415125 294.586138,59.156856 C294.653985,59.083566 294.653985,59.083566 294.721831,59.0102761 C298.986338,54.4036289 300.894246,52.3419582 303.269203,49.7730232 C307.036933,45.6975272 307.036933,39.0014096 303.2692,34.9258907 C299.580691,30.9360636 293.651286,30.9360466 289.965208,34.9232484 L286.514909,38.669567 L285.113649,37.1480483 L283.035143,34.8911553 C281.236045,32.9451642 278.855694,31.905 276.381903,31.905 C273.90809,31.905 271.527707,32.9451717 269.728678,34.8911378 C265.962815,38.9646388 265.964309,45.6584362 269.729916,49.739595 L286.491252,67.9048348 Z')



mixin svg-form-coffee()
    svg.svg-icon-form-coffee(xmlns='http://www.w3.org/2000/svg', width='76', height='71', viewBox='0 0 76 71')
        g(fill='none', fill-rule='evenodd')
            path.svg-part-body(fill='#9c9da4', fill-rule='nonzero', d='M72.626 24.157c-3.607-2.564-9.075-1.632-11.17-1.049.117-3.496.117-5.71 0-5.943 0-.582-.581-1.165-1.163-1.165H1.19c-.581 0-1.163.466-1.163 1.165 0 .35-.35 8.973 1.512 19.926 1.746 10.138 5.701 24.237 15.01 33.56.232.232.465.349.814.349h26.76c.348 0 .58-.117.814-.35 4.537-4.544 7.795-10.137 10.122-15.847.814-.466 1.745-.932 2.56-1.398C67.506 48.16 76 43.617 76 31.847c0-3.495-1.163-6.059-3.374-7.69zm-70.273-5.71h56.893c0 1.981 0 6.292-.698 11.886H3.051c-.582-5.594-.698-9.905-.698-11.886zm41.303 50.222H17.943C8.52 58.998 4.796 43.966 3.283 32.663h55.032C56.92 43.966 53.08 58.881 43.655 68.67zM56.57 51.424s-.116 0-.116.116c1.745-5.01 2.908-10.02 3.607-14.332.698-4.312 1.163-8.274 1.28-11.536.232-.117 6.515-2.098 10.005.466 1.513 1.165 2.327 3.146 2.327 5.826 0 10.254-7.213 14.1-17.103 19.46z')
            g(stroke='#9c9da4', stroke-width='1.706', transform='translate(17 41)')
                ellipse(cx='11.413', cy='11.541', rx='6.635', ry='9.288', transform='rotate(-45 11.413 11.54)')
                path(d='M4.423 5.308c4.128.59 6.487 2.948 7.077 7.077.36 2.515 2.423 4.284 6.192 5.307')
            path.svg-part-body(fill='#9c9da4', fill-rule='nonzero', d='M19.46 13c-.408 0-.808-.203-1.053-.58a1.322 1.322 0 0 1 .352-1.801c1.03-.708.977-1.238-.354-3.547-1.023-1.767-2.736-4.731.354-6.853a1.238 1.238 0 0 1 1.75.362c.387.595.23 1.404-.35 1.801-.885.609-.953.993.416 3.362 1.046 1.81 2.794 4.836-.414 7.038-.218.148-.46.218-.7.218zM30.461 13c-.41 0-.808-.203-1.053-.58a1.322 1.322 0 0 1 .35-1.801c1.031-.708.978-1.238-.355-3.547-1.021-1.767-2.734-4.731.356-6.853a1.238 1.238 0 0 1 1.75.362c.387.595.23 1.404-.35 1.801-.885.609-.953.993.416 3.362 1.046 1.81 2.794 4.836-.414 7.038a1.23 1.23 0 0 1-.7.218zM40.462 13c-.41 0-.809-.203-1.054-.58a1.322 1.322 0 0 1 .352-1.801c1.03-.708.978-1.238-.357-3.547-1.02-1.767-2.735-4.731.357-6.853a1.239 1.239 0 0 1 1.751.362c.387.595.23 1.404-.351 1.801-.887.609-.956.99.414 3.362 1.047 1.81 2.796 4.836-.414 7.038a1.217 1.217 0 0 1-.698.218z')


mixin svg-form-tea()
    svg.svg-icon-form-tea(xmlns='http://www.w3.org/2000/svg', width='71', height='56', viewBox='0 0 71 56')
        g(fill='#9c9da4', fill-rule='nonzero')
            path(d='M42.764 55.217H13.45C6.379 55.217.626 50.423.626 44.53V1.782c0-.843.82-1.527 1.832-1.527h51.298c1.011 0 1.832.684 1.832 1.527V44.53c0 5.893-5.753 10.687-12.824 10.687zM3.193 2.61V44.53c0 4.211 5.208 7.774 10.258 7.774h29.313c5.049 0 10.257-3.566 10.257-7.774V2.61H3.193z')
            path(d='M61.084 40.666h-7.328c-1.011 0-.735-.823-.735-1.837s-.276-.74.735-.74h7.328c3.03 0 6.594-3.57 6.594-6.607V16.787c0-3.038-3.563-6.608-6.594-6.608h-7.328c-1.011 0-.735.275-.735-.74 0-1.013-.276-1.836.735-1.836h7.328c5.05 0 9.16 4.122 9.16 9.184v14.695c0 5.066-4.11 9.184-9.16 9.184zM17.134 22.154a1.835 1.835 0 0 1-1.832-1.837V1.95c0-1.014.82-1.837 1.832-1.837 1.011 0 .735.823.735 1.837v18.368c0 1.018.276 1.837-.735 1.837z')
            path(d='M23.346 35.895H10.884a1.835 1.835 0 0 1-1.832-1.837v-9.925c0-.488.194-.955.535-1.3l2.566-2.577c.345-.341.81-.536 1.298-.536h7.328c.487 0 .952.195 1.297.536l2.567 2.577c.34.345.535.812.535 1.3v9.925c0 1.018-.821 1.837-1.832 1.837zm-11.728-2.577h10.993v-8.424l-2.59-2.598h-5.812l-2.59 2.598v8.424z')

mixin svg-plus-minus-circle()
    svg.svg-icon-plus-minus-circle(xmlns='http://www.w3.org/2000/svg', width='20', height='20', viewBox='0 0 20 20')
        g(fill='none', fill-rule='evenodd')
            circle(cx='10', cy='10', r='9')
            path.svg-part-line-horizontal(d='M14 9v2H6V9z')
            path.svg-part-line-vertical(d='M9 6h2v8H9z')

mixin svg-arrow-right-circle()
    svg.svg-icon-arrow-right-circle(xmlns='http://www.w3.org/2000/svg', width='20', height='20', viewBox='0 0 20 20')
        g(fill='none', fill-rule='evenodd')
            circle(cx='10', cy='10', r='9', stroke='#FFFFFF', stroke-width='2')
            path(fill='#FFFFFF', d='M12.984 9.582l.46.46-.712.71-.024-.023-3.285 3.285L8 12.59l2.584-2.583L8 7.423 9.423 6l3.572 3.571-.01.011z')


mixin svg-triangle-right()
    svg.svg-icon-triangle-right(xmlns='http://www.w3.org/2000/svg', width='18', height='18', viewBox='0 0 18 18')
        path(stroke-width='2.011', d='M15.382 10.473l-10.864 6.11A1.69 1.69 0 0 1 2 15.112V2.889a1.69 1.69 0 0 1 2.518-1.473l10.864 6.111a1.69 1.69 0 0 1 0 2.946z')

mixin svg-social-facebook()
    svg.svg-icon-social-facebook(xmlns='http://www.w3.org/2000/svg', width='37', height='37', viewBox='0 0 37 37')
        g(fill='none' fill-rule='evenodd')
            circle(cx='18.5', cy='18.5', r='17.5', stroke-width='2')
            path( d='M19.517 25.694V18.5h1.825l.241-2.48h-2.066l.003-1.24c0-.647.057-.994.91-.994h1.14v-2.48h-1.824c-2.192 0-2.963 1.203-2.963 3.226v1.489h-1.366v2.48h1.366v7.194h2.734z')

mixin svg-social-twitter()
    svg.svg-icon-social-twitter(xmlns='http://www.w3.org/2000/svg', width='37', height='37', viewBox='0 0 37 37')
        g(fill='none', fill-rule='evenodd')
            circle(cx='18.5', cy='18.5', r='17.5', stroke-width='2')
            path(fill-rule='nonzero', d='M28.269 11.558a7.814 7.814 0 0 1-2.414.9 3.871 3.871 0 0 0-2.775-1.152c-2.065-.015-3.757 1.591-3.793 3.6.001.28.035.558.102.83-3.041-.14-5.882-1.52-7.826-3.8a3.53 3.53 0 0 0-.518 1.8c0 1.223.638 2.362 1.693 3.026a3.91 3.91 0 0 1-1.72-.46v.045c-.006 1.756 1.271 3.269 3.043 3.602a3.98 3.98 0 0 1-1.711.063c.51 1.487 1.931 2.498 3.542 2.52a7.823 7.823 0 0 1-5.614 1.522 11.089 11.089 0 0 0 5.818 1.639c5.874.104 10.723-4.446 10.83-10.163l.002-.182v-.468a7.574 7.574 0 0 0 1.85-1.882c-.695.296-1.43.49-2.183.576a3.686 3.686 0 0 0 1.674-2.016z')

mixin svg-social-letter()
    svg.svg-icon-social-letter(width='36px', height='36px', viewBox='0 0 36 36', xmlns='http://www.w3.org/2000/svg')
        g(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
            circle(stroke-width='2', cx='18', cy='18', r='17')
            path(d='M25.5026667,11 L10.4973333,11 C9.12044444,11 8,12.0713982 8,13.3882278 L8,22.6117722 C8,23.9286018 9.12044444,25 10.4973333,25 L25.5024444,25 C26.8795556,25 28,23.9286018 28,22.6117722 L28,13.3882278 C28,12.0713982 26.8795556,11 25.5026667,11 Z M10.4973333,11.6763706 L25.5024444,11.6763706 C25.8548889,11.6763706 26.1826667,11.7753931 26.4597778,11.9443264 L19.3157778,18.3963026 C18.59,19.0514237 17.4097778,19.0514237 16.6844444,18.3963026 L9.54022222,11.9443264 C9.81733333,11.7753931 10.1451111,11.6763706 10.4973333,11.6763706 Z M27.2924444,22.6117722 C27.2924444,23.5554611 26.4897778,24.3234169 25.5024444,24.3234169 L10.4973333,24.3234169 C9.51044444,24.3234169 8.70733333,23.5556736 8.70733333,22.6117722 L8.70733333,13.3882278 C8.70733333,13.0254994 8.82644444,12.6897578 9.02822222,12.4126647 L16.1988889,18.8880153 C16.6951111,19.3365916 17.3475556,19.560986 17.9997778,19.560986 C18.652,19.560986 19.3046667,19.3365916 19.8008889,18.8880153 L26.9713333,12.4126647 C27.1731111,12.6899703 27.2922222,13.0254994 27.2922222,13.3882278 L27.2922222,22.6117722 L27.2924444,22.6117722 Z')

mixin svg-social-lindedin()
    svg.svg-icon-social-lindedin(width='36px', height='36px', viewBox='0 0 36 36', version='1.1', xmlns='http://www.w3.org/2000/svg')
        g(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
            circle(stroke-width='2', cx='18', cy='18', r='17')
            g.letter(transform='translate(11.000000, 11.000000)', fill-rule='nonzero')
                circle.letter-circle(cx='2.09092187', cy='2.09092187', r='1.63638281')
                rect(x='0.454539062', y='4.54546094', width='3.27269531', height='9')
                path(d='M11.3854609,4.54546094 C8.93092188,4.54546094 8.63638281,6.00184375 8.63638281,6.00184375 L8.63638281,4.54546094 L5.3636875,4.54546094 L5.3636875,13.5454609 L8.63638281,13.5454609 L8.63638281,8.63638281 C8.63638281,8.63638281 8.63638281,7 10.0273047,7 C10.8454609,7 11.0909219,7.72815625 11.0909219,8.63638281 L11.0909219,13.5454609 L14.3636172,13.5454609 L14.3636172,8.63638281 C14.3636172,6.07546094 13.2509219,4.54546094 11.3854609,4.54546094 Z')


mixin svg-v()
    svg.svg-icon-v(xmlns='http://www.w3.org/2000/svg', width='22', height='17', viewbox='0 0 22 17')
        path(fill='none', fill-rule='evenodd', stroke-width='4', d='M2 7.824L8.116 14 20 2')

mixin svg-plus()
    svg.svg-icon-plus(xmlns='http://www.w3.org/2000/svg', width='16', height='16', viewBox='0 0 16 16')
        g(fill-rule='evenodd' stroke-width='2')
            rect(width='16', height='1.6', y='7', rx='.8')
            rect(width='16', height='1.6', x='-.2', y='7.2', rx='.8', transform='rotate(90 7.8 8)')

mixin svg-clock
    svg.svg-icon-clock(xmlns='http://www.w3.org/2000/svg', width='18', height='18', viewBox='0 0 18 18')
        path(fill-rule='evenodd', d='M9 5.625c-.621 0-1.125.504-1.125 1.125v2.925l-.792.791c-.281.282-.333.547-.333.784 0 .621.504 1.125 1.125 1.125.325 0 .585-.136.783-.333l1.165-1.164a1.06 1.06 0 0 0 .302-.753V6.75c0-.621-.504-1.125-1.125-1.125zM9 2.25a7.875 7.875 0 0 0-7.875 7.875c0 1.772.593 3.403 1.581 4.72l-1.254 1.254a1.06 1.06 0 0 0-.327.776c0 .668.572 1.125 1.125 1.125.29 0 .555-.105.776-.326l1.255-1.255a7.835 7.835 0 0 0 9.438 0l1.255 1.254c.221.222.486.327.776.327.553 0 1.125-.457 1.125-1.125 0-.299-.109-.56-.326-.776l-1.255-1.255a7.835 7.835 0 0 0 1.581-4.719A7.875 7.875 0 0 0 9 2.25zm0 13.5a5.626 5.626 0 1 1 .001-11.251A5.626 5.626 0 0 1 9 15.75zM14.625 0a3.37 3.37 0 0 0-2.847 1.567 9.02 9.02 0 0 1 5.14 4.279A3.361 3.361 0 0 0 18 3.375 3.376 3.376 0 0 0 14.625 0zM6.222 1.567A3.37 3.37 0 0 0 3.375 0 3.376 3.376 0 0 0 0 3.375c0 .977.417 1.855 1.081 2.471a9.021 9.021 0 0 1 5.14-4.279z')

mixin svg-fast-letter
    svg.svg-icon-fast-letter(xmlns='http://www.w3.org/2000/svg', width='36', height='17', viewBox='0 0 36 17')
        g(fill-rule='evenodd')
            path(fill-rule='nonzero', d='M34.345.02H12.927c-.912 0-1.654.747-1.654 1.666v13.628c0 .919.742 1.667 1.654 1.667h21.418c.913 0 1.655-.748 1.655-1.667V1.686C36 .767 35.258.02 34.345.02zM12.927 1.081h21.418a.6.6 0 0 1 .556.378l-9.25 7.215a3.272 3.272 0 0 1-4.03 0l-9.25-7.215a.6.6 0 0 1 .556-.378zM34.945 14.23l-5.913-4.612a.525.525 0 0 0-.74.095.534.534 0 0 0 .094.746l6.515 5.08a.6.6 0 0 1-.556.38H12.927a.6.6 0 0 1-.556-.379l6.515-5.081a.534.534 0 0 0 .095-.746.525.525 0 0 0-.74-.094l-5.914 4.612V2.77l8.649 6.745a4.318 4.318 0 0 0 5.32 0l8.65-6.745v11.46z')
            path(d='M9.545 9.672H2.782a.53.53 0 0 0-.527.531.53.53 0 0 0 .527.532h6.763a.53.53 0 0 0 .528-.532.53.53 0 0 0-.528-.53zM9.545 12.511H.527a.53.53 0 0 0-.527.531.53.53 0 0 0 .527.532h9.018a.53.53 0 0 0 .528-.532.53.53 0 0 0-.528-.53zM9.545 6.833H5.036a.53.53 0 0 0-.527.531.53.53 0 0 0 .527.532h4.51a.53.53 0 0 0 .527-.532.53.53 0 0 0-.528-.53zM9.545 3.994H7.291a.53.53 0 0 0-.527.531.53.53 0 0 0 .527.532h2.254a.53.53 0 0 0 .528-.532.53.53 0 0 0-.528-.53z')

mixin svg-icon-services
    svg.svg-icon-services(xmlns='http://www.w3.org/2000/svg', width='22', height='24', viewBox='0 0 22 24')
        g(fill-rule='nonzero', fill='#FFF')
            path(d='M8.234 13.306H5.766a.764.764 0 0 0-.663.388.784.784 0 0 0 0 .776c.136.24.39.387.663.387h2.468v2.5a.77.77 0 0 0 .765.775.77.77 0 0 0 .766-.775v-2.5h2.47a.77.77 0 0 0 .765-.775.77.77 0 0 0-.766-.776H9.766v-2.5A.77.77 0 0 0 9 10.031a.77.77 0 0 0-.766.775v2.5z')
            path(d='M2 6.992v14.619h14.435V6.992H2zm16.435-2.025v18.67H0V4.966h18.435z')
            path(d='M20 2.941H4.565V.916H22v17.657h-2z')

mixin svg-icon-about
    svg.svg-icon-about(xmlns='http://www.w3.org/2000/svg', width='20', height='20', viewBox='0 0 20 20')
        g(fill-rule='evenodd', fill='#FFF')
            path(d='M9 8h2v7H9zM9 5h2v2H9z')
            path(fill-rule='nonzero', d='M10 18a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm0 2C4.477 20 0 15.523 0 10S4.477 0 10 0s10 4.477 10 10-4.477 10-10 10z')

mixin svg-icon-review
    svg.svg-icon-review(xmlns='http://www.w3.org/2000/svg', width='22', height='22', viewBox='0 0 22 22')
        path(fill='none', fill-rule='evenodd', stroke='#FFF', stroke-width='2', d='M11 16.5l-5.29 2.781 1.01-5.89-4.28-4.172 5.915-.86L11 3l2.645 5.36 5.915.859-4.28 4.172 1.01 5.89z')

mixin svg-icon-insights
    svg.svg-icon-insights(xmlns='http://www.w3.org/2000/svg', width='20', height='20', viewBox='0 0 20 20')
        g(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
            path(d='M9,2.04 L9,15.96 L17.984,17.777 L17.984,0.223 L9,2.04 Z M9,2.04 L9,15.96 L0,17.778 L0,0.222 L9,2.04 Z', stroke='#FFFFFF', stroke-width='2')
            path(d='M4,4 L7,4 L7,6 L4,6 L4,4 Z M11,4 L14,4 L14,6 L11,6 L11,4 Z M4,7 L7,7 L7,9 L4,9 L4,7 Z M11,7 L14,7 L14,9 L11,9 L11,7 Z', fill='#FFFFFF', fill-rule='nonzero')

mixin svg-icon-career
    svg.svg-icon-career(xmlns='http://www.w3.org/2000/svg', width='26', height='23', viewBox='0 0 26 23')
        g(fill-rule='evenodd', fill='none')
            path(stroke='#ffffff', stroke-width='2', d='M1 6h24v16H1z')
            path(fill='#ffffff', d='M1 13h24v2H1z')
            path(fill='#ffffff', d='M15 11h2v6h-2zM9 11h2v6H9z')
            path(stroke='#ffffff', stroke-width='2', d='M19 6V1.5a.5.5 0 0 0-.5-.5h-11a.5.5 0 0 0-.5.5V6h12z')

mixin svg-icon-seminars
    svg.svg-icon-seminars(xmlns='http://www.w3.org/2000/svg', width='21', height='24', viewBox='0 0 21 24')
        g(fill='none', fill-rule='evenodd')
            path(stroke='#ffffff', stroke-width='2', d='M1 1v22h18.4V4.957L15.035 1H1z')
            path(stroke='#ffffff', stroke-width='1.429', d='M14.2 0v6h6')
            path(fill='#ffffff', fill-rule='nonzero', d='M4.8 13.2h10.8v-2.4H4.8zM4.8 18h10.8v-2.4H4.8z')

mixin svg-icon-contact
    svg.svg-icon-contact(xmlns='http://www.w3.org/2000/svg', width='19', height='20', viewBox='0 0 19 20')
        path(fill='#FFF', fill-rule='nonzero', d='M12.77 18.334c.199.001.4-.01.6-.032 2.004-.221 3.404-1.511 3.23-2.79-.174-1.277-1.88-2.224-3.883-2.003-1.093.121-2.049.57-2.643 1.205l-.567.606-.699-.48C6.9 13.529 5.351 11.332 4.672 9.065l-.239-.797.883-.22c1.207-.303 2.143-1.6 2.143-3.16 0-1.817-1.252-3.226-2.682-3.226-1.14 0-2.2.903-2.558 2.263-.267.86-.373 1.749-.373 2.914 0 5.715 5.28 11.498 10.827 11.499l.097-.004zM4.777 0C7.33 0 9.305 2.224 9.305 4.888c0 1.923-1.033 3.643-2.612 4.434.562 1.427 1.51 2.777 2.631 3.732.857-.637 1.963-1.061 3.168-1.194 2.937-.325 5.63 1.17 5.94 3.45.311 2.28-1.9 4.317-4.836 4.642-.28.03-.559.045-.758.042-.077.005-.077.005-.164.006C6.019 20 0 13.408 0 6.839c0-1.298.122-2.328.427-3.315C.974 1.476 2.71 0 4.777 0z')

mixin svg-icon-partners
    svg.svg-icon-partners(xmlns='http://www.w3.org/2000/svg', width='32', height='21', viewBox='0 0 32 21')
        g(fill='#FFFFFF', fill-rule='nonzero', stroke='#FFFFFF', stroke-width='0.5')
            path(d='M30.0526261,5.94225448 C30.0519443,5.48682067 29.9179731,5.02490989 29.6217366,4.64413177 L27.2446857,1.60267933 C26.846522,1.09713417 26.2407541,0.839759523 25.6353272,0.838736842 C25.2750027,0.838736842 24.9082012,0.931119 24.5840114,1.13326889 L22.266276,2.57524869 C22.0225371,2.73069616 21.6046016,2.83739584 21.2009836,2.8346687 C20.8873615,2.83603227 20.5843071,2.77330785 20.3842026,2.67444872 L18.1145332,1.57506695 C17.7484135,1.39882498 17.3403639,1.32655554 16.9299281,1.32587375 C16.3405231,1.3286009 15.7436184,1.47348067 15.2639812,1.8058519 L14.9991069,1.9916389 C14.787412,1.88596189 14.463904,1.72506012 14.0974434,1.54268206 C13.6580316,1.32723733 13.1412369,1.24030947 12.6193289,1.238605 C12.1478731,1.23996857 11.6764172,1.3125789 11.2625725,1.48745731 L9.71662011,2.14708636 C9.46504066,2.25617231 9.06483161,2.32741906 8.6673497,2.3257146 C8.2698678,2.32741906 7.87034054,2.25617231 7.61876108,2.14708636 L6.07144517,1.48711641 C5.78918529,1.36678098 5.48749448,1.31530605 5.18853082,1.31496516 C4.84422831,1.31530605 4.50197117,1.38314387 4.18391747,1.51200164 C3.86620466,1.6415412 3.57133172,1.83278249 3.33645605,2.09527054 L0.519311587,5.25024054 C0.207053076,5.59897466 0.0519465016,6.03804558 0.0526282887,6.47029862 C0.0519465016,6.9857297 0.272504642,7.50286525 0.697939817,7.86523511 L3.32588835,10.1072921 L2.07924056,11.4078011 C1.73561985,11.7664211 1.56449127,12.2314 1.56449127,12.6912654 C1.56380949,13.1804477 1.75811882,13.6744024 2.14298766,14.0381359 L2.39593069,14.2784659 C2.6342153,14.5044783 2.9205659,14.6483354 3.22021134,14.7250364 C3.06987728,15.0015011 2.98772193,15.3045555 2.98840372,15.6082917 C2.98772193,16.0978148 3.18203126,16.5914287 3.56621832,16.9555031 L3.56553653,16.9551622 L3.81916135,17.1965148 C4.18016764,17.538772 4.64821451,17.7092187 5.10944351,17.7088778 C5.35727314,17.7092187 5.60544366,17.6594483 5.83861486,17.5619527 C5.92042931,17.8939831 6.08951253,18.2096505 6.35540951,18.4619117 L6.60903433,18.7032644 C6.97004062,19.0455215 7.4374057,19.2159683 7.89931649,19.2156274 C8.26032278,19.2159683 8.62303354,19.1096095 8.93529205,18.903028 C9.02665153,19.1968783 9.18312168,19.4753883 9.42140628,19.7017417 L9.6750311,19.9430943 C10.0353556,20.2853515 10.5034025,20.4557982 10.9646315,20.4554573 C11.4558591,20.4557982 11.9518593,20.2628525 12.3183198,19.8803699 L13.4200879,18.7298541 L14.9169515,20.1152456 C15.2752307,20.4476168 15.7350961,20.6129502 16.1891663,20.6119275 C16.6878936,20.6129502 17.1910525,20.4131865 17.5581949,20.0201363 L17.7971613,19.7641252 C18.0034019,19.5425444 18.1380549,19.2803972 18.2161195,19.0066597 L18.7959795,19.5418626 C19.1549404,19.8728702 19.614124,20.0375218 20.0675125,20.0371809 C20.5669216,20.0375218 21.071444,19.8377582 21.4389273,19.444367 L21.6765301,19.1886968 C21.9509495,18.8955284 22.1053742,18.5324767 22.1530993,18.1615845 C22.3061606,18.2007873 22.4612671,18.227377 22.6177373,18.227377 C23.1171464,18.227377 23.6203053,18.0279542 23.9881294,17.6349039 L24.226414,17.3792338 C24.5594671,17.0223182 24.7251413,16.5644981 24.7244595,16.113155 C24.7244595,15.9730478 24.7043468,15.8336223 24.6733255,15.6959013 C25.0875112,15.6410175 25.4890838,15.4562531 25.7945245,15.1283135 L26.0334909,14.8723025 C26.3665439,14.5153869 26.5315364,14.0575668 26.5315364,13.6058828 C26.5322182,13.10886 26.3317727,12.6074056 25.9363362,12.2419677 L25.4894247,11.8291455 L29.5228774,7.36957586 C29.8849064,6.96800324 30.0519443,6.45120858 30.0526261,5.94225448 Z M2.84693288,13.3038511 C2.67171359,13.1381769 2.58512662,12.9176187 2.58444484,12.6912654 C2.58512662,12.4788887 2.66114589,12.2716254 2.81761604,12.1083374 L5.37090888,9.44391324 C5.53726494,9.27039841 5.75918666,9.18347055 5.98690356,9.18312966 C6.19996204,9.18347055 6.40824801,9.2601716 6.57289961,9.41527818 L6.82516085,9.65594904 C6.82516085,9.65594904 7.08628533,10.0421815 7.08696711,10.2688757 C7.08628533,10.4386407 7.03515129,10.6039741 6.93595126,10.7471494 C6.92742892,10.7556717 4.18016764,13.6188368 4.18016764,13.6188368 C4.03426519,13.7221275 3.86177304,13.7753069 3.68621285,13.7759887 C3.47247259,13.7753069 3.26350483,13.6989468 3.10021681,13.5441811 L2.84693288,13.3038511 Z M5.1101253,16.6936968 C4.89638503,16.6933559 4.68809906,16.6166549 4.52412925,16.4618892 L4.27050443,16.2208774 L4.26982265,16.2205365 C4.09596693,16.055544 4.00869817,15.8343041 4.00869817,15.6079508 C4.00869817,15.3955741 4.08539923,15.1883108 4.24118759,15.0250228 C4.24118759,15.0250228 7.64466899,11.4821159 7.67330405,11.4480265 C7.83591029,11.2915564 8.04555983,11.2107646 8.26202725,11.2104237 C8.47576752,11.2107646 8.68405349,11.2871248 8.8480233,11.4422313 L9.10164811,11.683584 L9.10164811,11.683584 C9.27618562,11.8485765 9.36277259,12.0694755 9.36345437,12.2961697 C9.36277259,12.5085464 9.28607153,12.7161506 9.13028317,12.8794386 L5.72543819,16.433595 C5.55942302,16.606428 5.3378422,16.693015 5.1101253,16.6936968 Z M7.89999828,18.2004464 C7.68625801,18.2001055 7.47797204,18.1234044 7.31400223,17.9682979 L7.05969563,17.7272861 C6.88515812,17.5619527 6.79788936,17.3410537 6.79788936,17.1147004 C6.79788936,16.9251635 6.86231825,16.7414219 6.98572172,16.5883607 L9.35595472,14.114496 C9.5158338,13.9702981 9.71627922,13.8942788 9.9238834,13.8942788 C10.1376237,13.8946197 10.3459096,13.9709799 10.5098795,14.1260864 L10.7641861,14.3674391 L10.7641861,14.3674391 C10.9380418,14.5324316 11.0253105,14.7533306 11.0259923,14.9796839 C11.0253105,15.1924015 10.9479277,15.4000057 10.7928211,15.5629528 L8.51497028,17.9400037 C8.349296,18.1131776 8.12771518,18.1997646 7.89999828,18.2004464 Z M11.5802853,19.1798336 C11.414611,19.3530075 11.1926893,19.4395945 10.9649724,19.4402763 C10.7512321,19.4399354 10.5429461,19.3632343 10.3789763,19.2081278 L10.1253515,18.967116 C9.95149578,18.8021235 9.86422703,18.5808836 9.86354524,18.3545303 C9.86422703,18.1418127 9.94092808,17.9342085 10.0967164,17.7716023 L11.5342646,16.2706479 C11.7006207,16.0974739 11.9225424,16.0105461 12.1502593,16.0102052 C12.3633178,16.0105461 12.5722856,16.0869062 12.7362554,16.2423537 L12.990562,16.4833655 L12.990562,16.4833655 C13.1644177,16.648358 13.2510047,16.869257 13.2516864,17.0956103 C13.2510047,17.3083279 13.1743036,17.5159321 13.0185152,17.6788792 L11.5802853,19.1798336 Z M25.286593,14.181993 L25.0483084,14.4376631 C24.8819524,14.6156096 24.6562808,14.7056055 24.425155,14.7059464 C24.2155054,14.7056055 24.0102875,14.6319725 23.8473404,14.4812975 L19.8316141,10.767603 L19.1372139,11.5110918 L23.435541,15.4930696 C23.6145101,15.6587439 23.704506,15.8837337 23.7058696,16.1134959 C23.704506,16.3228046 23.6305321,16.5266589 23.4795162,16.6889243 L23.2419134,16.9445945 C23.0755573,17.1225409 22.8498858,17.2121959 22.61876,17.2128777 C22.4091104,17.2121959 22.2032107,17.138222 22.0416271,16.9885697 L18.0248782,13.2748752 L17.3311598,14.0183641 L20.8958839,17.3148049 C21.0676942,17.4794565 21.1556448,17.698651 21.1556448,17.9236408 C21.1556448,18.1322677 21.0816709,18.3364629 20.930655,18.4983874 L20.6923704,18.7540575 C20.5266961,18.932004 20.3003428,19.0219999 20.0685352,19.0226817 C19.8582038,19.0219999 19.6529859,18.948026 19.4907206,18.7983737 L15.9331553,15.5138642 L15.9324735,15.5138642 L15.9317917,15.5131824 L15.2394368,16.2580348 L15.2401186,16.2587166 L15.2401186,16.2587166 L15.2534135,16.2713297 L17.0352642,17.9158002 C17.1930979,18.0780656 17.2749124,18.2860107 17.2755941,18.5011145 C17.2749124,18.7087187 17.2016202,18.9118913 17.0506044,19.0738157 L16.8123198,19.3298268 C16.6459637,19.5077732 16.420974,19.5970873 16.1905299,19.5977691 C15.9808804,19.5970873 15.7756624,19.5234543 15.6133971,19.3731203 L14.0619905,17.9365948 C14.1969843,17.6717205 14.2723218,17.3843472 14.2723218,17.0959512 C14.2730036,16.6067689 14.0786942,16.1134959 13.6945072,15.7490807 L13.4402006,15.5077281 C13.0798761,15.1658118 12.612511,14.9950241 12.151282,14.9957059 C12.1154882,14.9957059 12.0793534,15.0038874 12.0442414,15.0059327 C12.0442414,14.9974104 12.0462868,14.9885472 12.0462868,14.9800248 C12.0469686,14.4908425 11.4684722,13.6324725 11.4684722,13.6324725 L11.2148474,13.3918017 C10.9452005,13.1361315 10.6162382,12.9765933 10.2739811,12.9125053 C10.3445461,12.7127417 10.3844306,12.5047966 10.3844306,12.2965106 C10.3844306,11.8073284 10.1908031,11.3137145 9.80661602,10.9496401 L9.5529912,10.7082875 C9.19198491,10.3660303 8.72461982,10.1952427 8.26339082,10.1955836 C8.20952964,10.1955836 8.15635024,10.2064922 8.10282995,10.2112647 C8.08817153,9.74151332 7.8989756,9.27210288 7.53081054,8.92234608 L7.53081054,8.92200518 L7.27786751,8.68167521 C6.91686122,8.33907718 6.44949614,8.1682895 5.98826714,8.16863039 C5.49635771,8.1682895 5.00103936,8.36123526 4.63457877,8.74371784 L4.03187894,9.37266648 L1.36200049,7.09549743 C1.17007741,6.93118673 1.07428632,6.70415161 1.07360453,6.47098041 C1.07428632,6.2756484 1.14076057,6.0844071 1.28257229,5.9255507 L4.09971676,2.77058071 C4.21152985,2.64513187 4.37686323,2.53161431 4.57049078,2.4528679 C4.76411832,2.37412148 4.98399468,2.330828 5.1895535,2.33116889 C5.36852262,2.33116889 5.53658315,2.36355378 5.67089522,2.42150569 L7.21752935,3.08147564 C7.65353223,3.26521728 8.15975918,3.34055475 8.66837238,3.34225922 C9.17766738,3.34055475 9.68321254,3.26521728 10.1192154,3.08147564 L11.6651678,2.42184658 C11.9034524,2.31787404 12.2630951,2.25344516 12.6206924,2.25480873 C13.016129,2.25242248 13.4122473,2.33423694 13.6420096,2.45150432 C13.787912,2.52411465 13.9263148,2.59297515 14.0548317,2.65740404 L12.4781989,3.76564904 C11.9716311,4.12188282 11.6985753,4.68844793 11.6992571,5.26012645 C11.6985753,5.63851831 11.8185699,6.02372805 12.0626497,6.35064498 L12.0619679,6.34996319 L12.2702538,6.62983681 C12.6656904,7.1554947 13.2823669,7.4258233 13.8987024,7.42718688 C14.2467548,7.42718688 14.6012841,7.33923633 14.9172924,7.14969951 L15.860204,6.58347529 C16.052468,6.46586701 16.3429093,6.39155221 16.6432366,6.39291578 C16.9960614,6.39087042 17.3516134,6.49518385 17.5653537,6.65233579 L20.1738713,8.52247792 C20.754413,8.93836807 21.7000518,9.70981022 22.2240052,10.1952427 L25.2432996,12.9868201 C25.4222687,13.1528353 25.5122646,13.3768024 25.5129464,13.6069055 C25.5126055,13.8155324 25.4379498,14.0197276 25.286593,14.181993 Z M28.7657528,6.69085676 L24.7435496,11.1384952 L22.9173827,9.45039022 C22.3453633,8.92234608 21.4021108,8.1522675 20.7694123,7.69785637 L18.1615765,5.82771424 C17.7194376,5.51443305 17.1780986,5.37909831 16.6428957,5.37705294 C16.1874619,5.37841652 15.7286191,5.47761655 15.3325008,5.7135149 L14.390271,6.27973912 C14.2457321,6.36666698 14.0752853,6.41098314 13.8983615,6.41132404 C13.5820123,6.41234672 13.2653222,6.2647398 13.0887393,6.02440983 L12.8811351,5.74487711 L12.8804533,5.74419532 C12.7700038,5.59522483 12.7185289,5.42818698 12.7178471,5.25910377 C12.7192107,5.00343359 12.8371599,4.75526307 13.0655585,4.59402041 L15.8533862,2.63524596 C16.0943979,2.46070845 16.523242,2.33832766 16.9306098,2.3413957 C17.2135515,2.34003213 17.4838801,2.39696135 17.6689853,2.48832083 L19.9386547,3.58770259 C20.3255689,3.77348959 20.7622536,3.84950886 21.2016654,3.85053154 C21.7661851,3.84780439 22.336841,3.7250827 22.8069332,3.43634585 L25.1253504,1.99402515 C25.2732982,1.90164299 25.4509037,1.85391789 25.636009,1.85391789 C25.9489493,1.85323611 26.2625713,1.99504783 26.4401769,2.22651457 L28.8172278,5.267967 C28.954267,5.44216362 29.0336952,5.68794788 29.0336952,5.94259538 C29.0340361,6.2275824 28.9334725,6.50779692 28.7657528,6.69085676 Z' )

mixin svg-icon-lets-meet
    svg.svg-icon-lets-meet(xmlns='http://www.w3.org/2000/svg', width='15', height='15', viewBox='0 0 15 15')
        g(stroke='none', stroke-width='1', fill='#FFFFFF', fill-rule='evenodd')
            path(d='M3.52983472,0 C3.0441809,0 2.64705882,0.476409608 2.64705882,1.0590268 L2.64705882,2.64705882 L4.41176471,2.64705882 L4.41176341,1.0590268 C4.41259154,0.476409608 4.01546735,0 3.52981354,0 L3.52983472,0 Z', id='Fill-1')
            path(d='M12.1866563,2.64705882 L12.1866563,3.56238431 C12.1866563,4.0659451 11.7647897,4.4777098 11.248875,4.4777098 C10.7329603,4.4777098 10.3110938,4.0659451 10.3110938,3.56238431 L10.3110938,2.64705882 L4.68710626,2.64705882 L4.68710626,3.56238431 C4.68710626,4.0659451 4.2652397,4.4777098 3.74932501,4.4777098 C3.23341033,4.4777098 2.81154377,4.0659451 2.81154377,3.56238431 L2.81154377,2.64705882 L0,2.64705882 L0,15 L15,15 L14.9991203,2.64705882 L12.1866563,2.64705882 Z M13.1244375,13.1702275 L1.87466251,13.1702275 L1.87466251,5.39215686 L13.1244375,5.39215686 L13.1244375,13.1702275 Z', id='Fill-2')
            path(d='M11.4710118,0 C10.9853577,0 10.5882353,0.476409608 10.5882353,1.0590268 L10.5882353,2.64705882 L12.3529412,2.64705882 L12.3529412,1.0590268 C12.3529412,0.476409608 11.9558188,0 11.4709907,0 L11.4710118,0 Z', id='Fill-3')
            polygon(id='Fill-4', points='6.10471408 11.4705882 3.52941176 9.12740396 4.86534126 7.91188493 6.10471408 9.04036248 9.2523058 6.17647059 10.5882353 7.39117732')
    

mixin svg-icon-livechat
    svg.svg-icon-livechat(xmlns='http://www.w3.org/2000/svg', width='18', height='17', viewBox='0 0 18 17')
      g(id='Symbols', stroke='#FFFFFF', stroke-width='0.5', fill='#FFFFFF', fill-rule='evenodd')
        path(d='M11.0304948,2.38411135 L11.0304948,6.05828279 L15.6174941,6.05828279 C15.8356277,6.05828279 16,6.27733199 16,6.49700782 L16,16.8066043 C16,17.1354915 15.6174941,17.299927 15.344975,17.1354915 L12.3960983,15.0516879 L5.40583654,15.0516879 C5.18770287,15.0516879 4.96894518,14.8326387 4.96894518,14.6129628 L4.96894518,10.9387914 L3.60391769,10.9387914 L0.600639597,13.0225947 C0.382505925,13.2416439 0,13.0225947 0,12.6937076 L0,2.38411135 C0,2.16506216 0.163748237,2 0.382505925,2 L10.5946115,2 C10.8127451,2 11.0315028,2.16443552 11.0315028,2.38411135 L11.0304948,2.38411135 Z M11.0304948,7.26463602 L11.0304948,10.5547925 C11.0304948,10.7738417 10.8123611,10.9389039 10.5936034,10.9389039 L6.17028842,10.9389039 L6.17028842,13.8455274 L12.7779802,13.8455274 L14.7986728,15.2715244 L14.7986728,7.26537513 L11.0304148,7.26537513 L11.0304948,7.26463602 Z M9.82921555,3.20628895 L1.20083168,3.20628895 L1.20083168,11.2124382 L3.22152374,9.78644128 L9.82921555,9.78644128 L9.82921555,3.20564625 L9.82921555,3.20628895 Z', id='Fill-1')
      


