mixin menu-item(object)
    -var pageAttr = typeof object.page !== 'undefined' ? object.url : false;
    -var pageURL = typeof object.url !== 'undefined' ? object.url : false;
    -var pageTitle = typeof object.title !== 'undefined' ? object.title : '';
    li(page=pageAttr)
        a(href=pageURL)=pageTitle

mixin menu-title(object)
    -var pageURL = typeof object.url !== 'undefined' ? object.url : false;
    -var pageTitle = typeof object.title !== 'undefined' ? object.title : '';
    li
        a.menu-item-services.menu-item-inner-title(href=pageURL)=pageTitle

mixin mobile-menu()
    nav.mobile-menu#menu(data-details-info='partial-mobile-menu')
        ul
            //- li(class="icon-home")
            //-     a(href='/', class='menu-item-title menu-item-home') Home
            li(page='services', class="icon-services")
                a(href='/services', class='menu-item-title menu-item-services') 
                    +svg-icon-services()
                    | Services
                //- ul
                //-     +menu-title({title:"Services"})
                //-     li(page='your-personal-needs')
                //-         a(href='/your-personal-needs') Your Personal Needs
                //-         ul
                //-             +menu-title({title:"Services"})
                //-             +menu-item({page:true, url:"family-protection", title:"Family Protection"})
                //-             +menu-item({page:true, url:"health", title:"Health"})
                //-             +menu-item({page:true, url:"child-education", title:"Child's Education"})
                //-     li(page='your-business-needs')
                //-         a(href='/your-business-needs') Your Business Needs
                //-         ul
                //-             +menu-title({title:"Services"})
                //-             +menu-item({page:true, url:"family-protection", title:"Family Protection"})
                //-             +menu-item({page:true, url:"health", title:"Health"})
                //-             +menu-item({page:true, url:"child-education", title:"Child's Education"})
            li(page='insights', class="icon-insights")
                a(href='/insights', class='menu-item-title menu-item-insights') 
                    +svg-icon-insights()
                    | Insights
                //- ul(page='subdiscovery')
                //-     +menu-title({title:"Insights"})
                //-     +menu-item({page:true, url:"a-tale-of-gifts-and-greetings", title:"A Tale of Gifts & Greetings"})                    

                //-     li
                //-         a(href='discovery?active-tag=retirement') Retirement
                //-         ul
                //-             +menu-title({title:"Discovery"})
                //-             +menu-item({page:true, url:"i-dont-want-to-retire", title:"Can I save less if I don't retire?"})
                //-             +menu-item({page:true, url:"the-5-steps-to-help-your-parents-plan-their-retirement", title:"5 steps to help your parents plan their retirement"})
                //-             +menu-item({page:true, url:"the-6-factors-to-think-about-when-building-your-retirement-fund", title:"6 factors to think about when building your retirement fund"})
                //-             +menu-item({page:true, url:"automatic-vs-manual-transmission-turbo-boosting-your-pension", title:"Turbo boosting your retirement, Auto or Manual Transmission?"})
                //-             +menu-item({page:true, url:"planning-earlier-retirement", title:"Plan your retirement early, Learn how much of a difference it makes"})
                //-             +menu-item({page:true, url:"how-do-millennials-approach-retirement", title:"How do millennials approach retirement?"})
                //-     li
                //-         a(href='discovery?active-tag=financial') Financial Planning
                //-         ul
                //-             +menu-title({title:"Discovery"})
                //-             +menu-item({page:true, url:"how-to-save-money-in-3-simple-ways", title:"How To Save Money in 3 Simple Ways"})
                //-             +menu-item({page:true, url:"having-financial-safeguard-when-critical-illness-strikes", title:"Having financial safeguard when critical illness strikes"})
                //-             +menu-item({page:true, url:"planning-ahead-in-the-gig-economy", title:"Planning Ahead in the Gig Economy"})
                //-             +menu-item({page:true, url:"how-to-bridge-your-critical-illness-protection-gap", title:"Bridging your Critical Illness protection gap"})
                //-             +menu-item({page:true, url:"financial-planning-101-guide", title:"Financial Planning - a 101 guide"})
                //-             +menu-item({page:true, url:"is-leaving-money-in-a-regular-savings-account-a-bad-idea", title:"When you leave your money in a regular savings account..."})
                //-             +menu-item({page:true, url:"starting-a-new-family-4-changes-consider-financial-planning", title:"I want to start a family, does having children change my retirement plan?"})
                //-             +menu-item({page:true, url:"keep-savings-accessible", title:"How can I keep my savings accessible?"})
                //-             +menu-item({page:true, url:"am-i-saving-less-than-most-singaporeans", title:"Am I saving less than most Singaporeans?"})
                //-             +menu-item({page:true, url:"the-6-steps-to-buying-your-first-home", title:"6 steps to buying your first home"})
                //-             +menu-item({page:true, url:"what-should-i-do-with-the-bonus-i-just-received", title:"What should I do with the bonus I just received?"})
                //-             +menu-item({page:true, url:"financial-lessons-you-can-learn-from-watching-the-world-cup", title:"Financial Lessons You can Learn from Watching the World Cup"})
                //-     li
                //-         a(href='discovery?active-tag=education') Education
                //-         ul
                //-             +menu-title({title:"Discovery"})
                    //-         +menu-item({page:true, url:"10-ways-to-reduce-stress", title:"10 Ways to Reduce Stress"})
                //-             +menu-item({page:true, url:"how-the-gig-economy-is-shaping-the-future-of-work", title:"How the gig economy is shaping the future of work"})
                //-             +menu-item({page:true, url:"beat-the-fine-print-in-insurance", title:"Beat the fine print in insurance"})
                //-             +menu-item({page:true, url:"the-5-things-to-know-before-meeting-your-financial-representative", title:"5 things to know before meeting your financial representative"})
                //-             +menu-item({page:true, url:"the-5-unconventional-ways-to-protect-yourself-against-inflation", title:"5 unconventional ways to protect yourself against inflation"})
                //-             +menu-item({page:true, url:"can-i-afford-a-bigger-place", title:"Can I afford a bigger place?"})
                //-             +menu-item({page:true, url:"giving-my-kids-the-best-shot-at-perusing-their-dreams", title:"Plan ahead for your child's future"})
                //-             +menu-item({page:true, url:"financial-planner-advice", title:"The importance of a financial planner"})

            li(page='about', class="icon-about")
                a(href='/about', class='menu-item-title menu-item-about-us') 
                    +svg-icon-about()
                    | About
            li(page='events', class="icon-seminars")
                a(href='/events', class='menu-item-title menu-item-seminars')
                    +svg-icon-seminars()
                    | Events
            li(page='careers', class="icon-careers")
                a(href='/careers', class='menu-item-title menu-item-careers') 
                    +svg-icon-career()
                    | Careers
            li(page='review', class="icon-review")
                a(href='/review', class='menu-item-title menu-item-review') 
                    +svg-icon-review()
                    | Review
            li(class="icon-contact-us")
                a(href='/contact-us', class='menu-item-title menu-item-contact-us') 
                    +svg-icon-contact()
                    | Contact Us
            li(class="icon-partners")
                a(href='/partners', class='menu-item-title menu-item-partners') 
                    +svg-icon-partners()
                    | Partners