//- mixin service-card
mixin service-card(object, customClass)
    .col-xs-12.col-md-6.col-lg-3.card.service-card-wrapper(class=customClass, data-details-info='mixins-service-card', page=object.href)
        a(class='card-content-wrapper solutions-box', href=object.href)
            .card-content
                h4.dark-gray!=object.title
                p.text-regular=object.context
                ul.list-card
                    each item, index in object.list
                        li!=item
            +button-static({theme: "button-orange-arrow", text: "Find out more"})

mixin our-solution-card-big(object)
    .col-xs-12.card.large-solution-container(data-details-info='mixins-our-solution-card-big', page=object.href)
        a(class='card-content-wrapper', href=object.href)
            .card-image
                img(src=object.image, alt='service card image for - ' + object.href)
            .solutions-box.large-box.card-content
                h3.dark-gray!=object.title
                p.text-regular!=object.context
                ul.list-card
                    each item, index in object.list
                        li!=item            
                +button-static({theme: "button-orange-arrow", text: "Find out more"})

mixin our-solution-card-signature(object, customClass)
    .col-xs-12.card.card-inline(class=customClass, data-details-info='mixins-our-solution-card-signature', page=object.href)
        a(class='card-content-wrapper', href="/" + object.href)
            .card-image
                img(src=object.image, alt='service card image for - ' + object.title)
            .card-content
                h3.dark-gray!=object.title
                h5!=object.content
                +button-static({theme: "button-orange-arrow", text: "Discover more"})

mixin service-main-card-two-column(object, customClass)
    .col-xs-12.card(class=customClass, data-details-info='mixins-service-main-card-two-column', page=object.href)
        a(class='card-content-wrapper', href="/" + object.href)
            .card-image
                img(src=object.image, alt='service card image for - ' + object.title)
            .solutions-box.large-box.card-content
                h3.dark-gray!=object.title
                h5!=object.content
            +button-static({theme: "button-orange-arrow", text: "Discover more"})

mixin our-solution-card-two-column(object, customClass)
    .col-xs-12.card(class=customClass, data-details-info='mixins-our-solution-card-two-column', page=object.href)
        a(class='card-content-wrapper', href=object.href)
            .card-image
                img(src=object.image, alt='service card image for - ' + object.title)
            .solutions-box.large-box.card-content
                h3.dark-gray!=object.title
                h5!=object.context
            +button-static({theme: "button-orange-arrow", text: "Find out more"})