mixin review-box-carousel-slider(className)
    section.section-wrapper-list.review-box.review-box-carousel-slider(class=className, page="review", data-details-info='partials-review-box-carousel-slider')
        section.section-title-main
            .row
                .col-xs-12
                    h1.title-main  What our clients say about us

        section.section-review-content
            .row
                .col-xs-12
                    .block-rating-list-wrapper.swiper-container.swiper-rating-list
                        .block-rating-list.swiper-wrapper.row
                    .swiper-pagination
                    .swiper-button-prev
                    .swiper-button-next
                .col-xs-12.block-rating-button    
                    +button({theme: "button-orange button-see-all-review", text: "Be the first one to review me", href:"/review"})

mixin review-box-load-more(className)
    section.section-wrapper-list.review-box.section-rating-list(class=className, page="review", data-details-info='partials-review-box-load-more')
        section.section-title-main
            .row
                .col-xs-12
                    h2.title-main  What our clients say about us

        section.section-review-content
            .row
                .col-xs-12
                    .block-rating-list-wrapper.swiper-container.swiper-rating-list.custom-show-less
                        .block-rating-list.swiper-wrapper.row
                    .swiper-pagination
                    .show-more-overlay

                .col-xs-12.block-rating-button
                    a.show-more.button-orange Show all Reviews
                    +button({theme: "button-orange button-see-all-review", text: "Be the first one to review me", href:"/review"})

mixin partner-box-slider(className)
    section.section-wrapper-list.partner-box-slider(class=className, data-details-info='partials-partner-box-slider')
        section.section-title-main
            .row
                .col-xs-12
                    h2.title-main  Our partners

        section.section-review-content
            .row
                .col-xs-12
                    .block-rating-list-wrapper.swiper-container.swiper-rating-list
                        .block-rating-list.swiper-wrapper.row
                        .swiper-pagination
                        .swiper-button-prev
                        .swiper-button-next
                        //+button({theme: "button-orange button-see-all-review", text: "Be the first one to review me", href:"/review"})