mixin menu-list()
    li
        a(href="/")
            img(src="../images/general/home-icn.svg", alt='side menu icon - Home')   
    li.hydralink.services-page
        a(href="/services", page='services')
            +svg-icon-services()
            //img(src="../images/icon/icon-page-services.svg", alt='side menu icon - Services')
            | Services
        a(href="your-personal-needs", page="your-personal-needs")
            +svg-icon-services()
            | Services
        a(href="your-business-needs", page="your-business-needs")
            +svg-icon-services()
            | Services
    li.insights-page
        a(href="/insights")
            +svg-icon-insights()
            | Insights
    li.about-page
        a(href="/about")
            +svg-icon-about()
            //img(src="../images/general/about-icn.svg", alt='side menu icon - About Us')
            | About
    li.seminars-page(page='events')
        a(href="/events")
            +svg-icon-seminars()
            | Events
    li.careers-page(page="careers")
        a(href="/careers")
            +svg-icon-career()
            | Careers
    li.review-page
        a(href="/review")
            +svg-icon-review()
            | Review
    li.contact-page
        a(href="/contact-us")
            +svg-icon-contact()
            | Contact
    li.partners-page
        a(href="/partners")
            +svg-icon-partners()
            | Partners


mixin side-menu-bar(object)
    if object
        aside(data-details-info='partial-aside')
            ul.side-bar()
                +menu-list()

            .first-level-menu
                if object
                    .first-level-menu-content
                        .first-level-menu-logo
                            a(href='/')
                                img(src='../images/logo-mfa.png', alt='side menu logo')
                        .first-level-menu-details
                            h3.first-level-menu-details-title!=object.title
                            h5.first-level-menu-details-text!=object.description

                        if object.links
                            ul.first-level-menu-list.property-page-view
                                each link in object.links
                                    li.first-level-menu-list-item(class=link.uniqeLink)
                                        a.first-level-menu-list-item-link(data-target=link.targetId,class=link.className)!=link.name

                        if object.linksObjects
                            ul.first-level-menu-list(class=object.sideMenuCategoryHack)
                                each linkObject in object.linksObjects
                                    li.first-level-menu-list-item(class=linkObject.statusActive, page=linkObject.href)
                                        a.first-level-menu-list-item-link(href="/" + linkObject.href)!=linkObject.name
                                        if linkObject.subLinks
                                            ul.second-level-menu-list
                                                each subLink in linkObject.subLinks
                                                    li.second-level-menu-list-item
                                                        a.second-level-menu-list-item-link(data-target=subLink.targetId)!=subLink.name

                                         
                        if object.sublinksObjects
                            ul.first-level-menu-list(class=object.sideMenuCategoryHack)
                                each linkObject in object.sublinksObjects
                                    li.first-level-menu-list-item(class=linkObject.statusActive, page=linkObject.href)
                                        a.first-level-menu-list-item-link(href=linkObject.href)!=linkObject.name
                                        if linkObject.subLinks
                                            ul.second-level-menu-list
                                                each subLink in linkObject.subLinks
                                                    li.second-level-menu-list-item
                                                        a.second-level-menu-list-item-link(data-target=subLink.targetId)!=subLink.name               



                    .aside-closed-title Open
                    .aside-closed-button

                else
                    p.text-regular no data provided
    else
        aside(data-details-info='partial-aside (else)')
            ul.side-bar
                +menu-list()



mixin side-menu-bar-discovery(object)
    -var subtitle = typeof object != "undefined"  ? object.detailsSubtitle : 'Explore new ways to help you learn more about financial planning'
    aside.aside-discovery.aside-with-tags(data-details-info='partial-side-menu-bar-discovery')
        ul.side-bar
            +menu-list()

        .first-level-menu.first-level-menu-discovery
            .first-level-menu-content
                .first-level-menu-logo
                    a(href='/')
                        img(src='../images/logo-mfa.png', alt='side menu logo')
                .first-level-menu-details
                    h3.first-level-menu-details-title Insights
                    h5.first-level-menu-details-text!=subtitle

                ul.first-level-menu-list
                    li.first-level-menu-list-item(page='be-unbroken')
                        a.first-level-menu-list-item-link(href='be-unbroken') Be #Unbroken
                    li.first-level-menu-list-item(page='a-tale-of-gifts-and-greetings')
                        a.first-level-menu-list-item-link(href='a-tale-of-gifts-and-greetings') A Tale of Gifts & Greetings
                    li.first-level-menu-list-item(page='share-your-feels')
                        a.first-level-menu-list-item-link(href='share-your-feels') Share Your Feels
                    //- li.first-level-menu-list-item(page='survey')
                        a.first-level-menu-list-item-link(href='survey') How financially stable are you?
                    //- li.first-level-menu-list-item(page='quiz')
                        a.first-level-menu-list-item-link(href='quiz') How healthy are you?
                //-     li.first-level-menu-list-item.first-level-menu-list-item-tags
                //-         a.first-level-menu-list-item-link Articles tags:

                //- ul.first-level-menu-list
                //-     li.first-level-menu-list-item
                //-         a.first-level-menu-list-item-link.article-type-tag(data-tag='retirement')
                //-             img(src='../images/icon/article/icon-retirement.svg', alt='side menu icon - Retirement')
                //-             span Retirement
                //-         ul.second-level-menu-list
                //-             li(page='i-dont-want-to-retire')
                //-                 a(href='i-dont-want-to-retire') Can I save less if I don't retire?
                //-             li(page='the-5-steps-to-help-your-parents-plan-their-retirement')
                //-                 a(href='the-5-steps-to-help-your-parents-plan-their-retirement') 5 steps to help your parents plan their retirement
                //-             li(page='the-6-factors-to-think-about-when-building-your-retirement-fund')
                //-                 a(href='the-6-factors-to-think-about-when-building-your-retirement-fund') 6 factors to think about when building your retirement fund
                //-             li(page='automatic-vs-manual-transmission-turbo-boosting-your-pension')
                //-                 a(href='automatic-vs-manual-transmission-turbo-boosting-your-pension') Turbo boosting your retirement, Auto or Manual Transmission?
                //-             li(page='planning-earlier-retirement')
                //-                 a(href='planning-earlier-retirement') Plan your retirement early, Learn how much of a difference it makes
                //-             li(page='how-do-millennials-approach-retirement')
                //-                 a(href='how-do-millennials-approach-retirement') How do millennials approach retirement?

                //- ul.first-level-menu-list
                //-     li.first-level-menu-list-item
                //-         a.first-level-menu-list-item-link.article-type-tag(data-tag='financial')
                //-             img(src='../images/icon/article/icon-financial-planning.svg', alt='side menu icon - Financial Planning')
                //-             span Financial Planning
                //-         ul.second-level-menu-list
                //-             li(page='how-to-save-money-in-3-unconventional-steps')
                //-                 a(href='how-to-save-money-in-3-unconventional-steps') How To Save Money in 3 Unconventional Steps
                //-             li(page='having-financial-safeguard-when-critical-illness-strikes')
                //-                 a(href='having-financial-safeguard-when-critical-illness-strikes') Having financial safeguard when critical illness strikes
                //-             li(page='planning-ahead-in-the-gig-economy')
                //-                 a(href='planning-ahead-in-the-gig-economy') Planning Ahead in the Gig Economy
                //-             li(page='how-to-bridge-your-critical-illness-protection-gap')
                //-                 a(href='how-to-bridge-your-critical-illness-protection-gap') Bridging your Critical Illness protection gap
                //-             li(page='financial-planning-101-guide')
                //-                 a(href='financial-planning-101-guide') Financial Planning - a 101 guide
                //-             li(page='is-leaving-money-in-a-regular-savings-account-a-bad-idea')
                //-                 a(href='is-leaving-money-in-a-regular-savings-account-a-bad-idea') When you leave your money in a regular savings account...
                //-             li(page='starting-a-new-family-4-changes-consider-financial-planning')
                //-                 a(href='starting-a-new-family-4-changes-consider-financial-planning') I want to start a family, does having children change my retirement plan?
                //-             li(page='keep-savings-accessible')
                //-                 a(href='keep-savings-accessible') How can I keep my savings accessible?
                //-             li(page='am-i-saving-less-than-most-singaporeans')
                //-                 a(href='am-i-saving-less-than-most-singaporeans') Am I saving less than most Singaporeans?
                //-             li(page='the-6-steps-to-buying-your-first-home')
                //-                 a(href='the-6-steps-to-buying-your-first-home') 6 steps to buying your first home
                //-             li(page='what-should-i-do-with-the-bonus-i-just-received')
                //-                 a(href='what-should-i-do-with-the-bonus-i-just-received') What should I do with the bonus I just received?
                //-             li(page='financial-lessons-you-can-learn-from-watching-the-world-cup')
                //-                 a(href='financial-lessons-you-can-learn-from-watching-the-world-cup') Financial Lessons You can Learn from Watching the World Cup
                //- ul.first-level-menu-list
                //-     li.first-level-menu-list-item
                //-         a.first-level-menu-list-item-link.article-type-tag(data-tag='education')
                //-             img(src='../images/icon/article/icon-education.svg', alt='side menu icon - Education')
                //-             span Education
                //-         ul.second-level-menu-list
                                li(page='10-ways-to-reduce-stress')
                //-                 a(href='10-ways-to-reduce-stress') 10 Ways to Reduce Stress
                //-             li(page='how-the-gig-economy-is-shaping-the-future-of-work')
                //-                 a(href='how-the-gig-economy-is-shaping-the-future-of-work') How the gig economy is shaping the future of work
                //-             li(page='beat-the-fine-print-in-insurance')
                //-                 a(href='beat-the-fine-print-in-insurance') Beat the fine print in insurance
                //-             li(page='the-5-things-to-know-before-meeting-your-financial-representative')
                //-                 a(href='the-5-things-to-know-before-meeting-your-financial-representative') 5 things to know before meeting your financial representative
                //-             li(page='the-5-unconventional-ways-to-protect-yourself-against-inflation')
                //-                 a(href='the-5-unconventional-ways-to-protect-yourself-against-inflation') 5 unconventional ways to protect yourself against inflation
                //-             li(page='can-i-afford-a-bigger-place')
                //-                 a(href='can-i-afford-a-bigger-place') Can I afford a bigger place?
                //-             li(page='giving-my-kids-the-best-shot-at-perusing-their-dreams')
                //-                 a(href='giving-my-kids-the-best-shot-at-perusing-their-dreams') Plan ahead for your child's future
                //-             li(page='financial-planner-advice')
                //-                 a(href='financial-planner-advice') The importance of a financial planner

            .aside-closed-title Open
            .aside-closed-button

mixin side-menu-bar-discovery-landing(object)
    -var subtitle = typeof object != "undefined"  ? object.detailsSubtitle : 'Explore new ways to help you learn more about financial planning'
    aside.aside-discovery.aside-with-tags(data-details-info='partial-side-menu-bar-discovery-landing')
        ul.side-bar
            +menu-list()

        .first-level-menu.first-level-menu-discovery
            .first-level-menu-content
                .first-level-menu-logo
                    a(href='/')
                        img(src='../images/logo-mfa.png', alt='side menu logo')
                .first-level-menu-details
                    h3.first-level-menu-details-title Discovery
                    h5.first-level-menu-details-text!=subtitle

                ul.first-level-menu-list
                    li.first-level-menu-list-item(page='survey')
                        a.first-level-menu-list-item-link(href='survey') How financially stable are you?
                    li.first-level-menu-list-item(page='quiz')
                        a.first-level-menu-list-item-link(href='quiz') How healthy are you?
                    //- li.first-level-menu-list-item.first-level-menu-list-item-tags
                    //-     a.first-level-menu-list-item-link Articles tags:

                ul.first-level-menu-list
                    li.first-level-menu-list-item
                        a.first-level-menu-list-item-link.article-type-tag(data-tag='retirement')
                            img(src='../images/icon/article/icon-retirement.svg', alt='side menu icon - Retirement')
                            span Retirement
                        //- ul.second-level-menu-list
                        //-     li(page='i-dont-want-to-retire')
                        //-         a(href='i-dont-want-to-retire') Can I save less if I don't retire?
                        //-     li(page='the-5-steps-to-help-your-parents-plan-their-retirement')
                        //-         a(href='the-5-steps-to-help-your-parents-plan-their-retirement') 5 steps to help your parents plan their retirement
                        //-     li(page='the-6-factors-to-think-about-when-building-your-retirement-fund')
                        //-         a(href='the-6-factors-to-think-about-when-building-your-retirement-fund') 6 factors to think about when building your retirement fund
                        //-     li(page='automatic-vs-manual-transmission-turbo-boosting-your-pension')
                        //-         a(href='automatic-vs-manual-transmission-turbo-boosting-your-pension') Turbo boosting your retirement, Auto or Manual Transmission?
                        //-     li(page='planning-earlier-retirement')
                        //-         a(href='planning-earlier-retirement') Plan your retirement early, Learn how much of a difference it makes
                        //-     li(page='how-do-millennials-approach-retirement')
                        //-         a(href='how-do-millennials-approach-retirement') How do millennials approach retirement?

                ul.first-level-menu-list
                    li.first-level-menu-list-item
                        a.first-level-menu-list-item-link.article-type-tag(data-tag='financial')
                            img(src='../images/icon/article/icon-financial-planning.svg', alt='side menu icon - Financial Planning')
                            span Financial Planning
                        //- ul.second-level-menu-list
                        //-     li(page='how-to-save-money-in-3-unconventional-steps')
                        //-         a(href='how-to-save-money-in-3-unconventional-steps') How To Save Money in 3 Unconventional Steps
                        //-     li(page='having-financial-safeguard-when-critical-illness-strikes')
                        //-         a(href='having-financial-safeguard-when-critical-illness-strikes') Having financial safeguard when critical illness strikes
                        //-     li(page='planning-ahead-in-the-gig-economy')
                        //-         a(href='planning-ahead-in-the-gig-economy') Planning Ahead in the Gig Economy
                        //-     li(page='how-to-bridge-your-critical-illness-protection-gap')
                        //-         a(href='how-to-bridge-your-critical-illness-protection-gap') Bridging your Critical Illness protection gap
                        //-     li(page='financial-planning-101-guide')
                        //-         a(href='financial-planning-101-guide') Financial Planning - a 101 guide
                        //-     li(page='is-leaving-money-in-a-regular-savings-account-a-bad-idea')
                        //-         a(href='is-leaving-money-in-a-regular-savings-account-a-bad-idea') When you leave your money in a regular savings account...
                        //-     li(page='starting-a-new-family-4-changes-consider-financial-planning')
                        //-         a(href='starting-a-new-family-4-changes-consider-financial-planning') I want to start a family, does having children change my retirement plan?
                        //-     li(page='keep-savings-accessible')
                        //-         a(href='keep-savings-accessible') How can I keep my savings accessible?
                        //-     li(page='am-i-saving-less-than-most-singaporeans')
                        //-         a(href='am-i-saving-less-than-most-singaporeans') Am I saving less than most Singaporeans?
                        //-     li(page='the-6-steps-to-buying-your-first-home')
                        //-         a(href='the-6-steps-to-buying-your-first-home') 6 steps to buying your first home
                        //-     li(page='what-should-i-do-with-the-bonus-i-just-received')
                        //-         a(href='what-should-i-do-with-the-bonus-i-just-received') What should I do with the bonus I just received?
                        //-     li(page='financial-lessons-you-can-learn-from-watching-the-world-cup')
                        //-         a(href='financial-lessons-you-can-learn-from-watching-the-world-cup') Financial Lessons You can Learn from Watching the World Cup
                ul.first-level-menu-list
                    li.first-level-menu-list-item
                        a.first-level-menu-list-item-link.article-type-tag(data-tag='education')
                            img(src='../images/icon/article/icon-education.svg', alt='side menu icon - Education')
                            span Education
                        //- ul.second-level-menu-list
                        //-     li(page='how-the-gig-economy-is-shaping-the-future-of-work')
                        //-         a(href='how-the-gig-economy-is-shaping-the-future-of-work') How the gig economy is shaping the future of work
                        //-     li(page='beat-the-fine-print-in-insurance')
                        //-         a(href='beat-the-fine-print-in-insurance') Beat the fine print in insurance
                        //-     li(page='the-5-things-to-know-before-meeting-your-financial-representative')
                        //-         a(href='the-5-things-to-know-before-meeting-your-financial-representative') 5 things to know before meeting your financial representative
                        //-     li(page='the-5-unconventional-ways-to-protect-yourself-against-inflation')
                        //-         a(href='the-5-unconventional-ways-to-protect-yourself-against-inflation') 5 unconventional ways to protect yourself against inflation
                        //-     li(page='can-i-afford-a-bigger-place')
                        //-         a(href='can-i-afford-a-bigger-place') Can I afford a bigger place?
                        //-     li(page='giving-my-kids-the-best-shot-at-perusing-their-dreams')
                        //-         a(href='giving-my-kids-the-best-shot-at-perusing-their-dreams') Plan ahead for your child's future
                        //-     li(page='financial-planner-advice')
                        //-         a(href='financial-planner-advice') The importance of a financial planner

            .aside-closed-title Open
            .aside-closed-button

mixin side-menu-bar-solutions(object)
    aside.aside-services.aside-main-services.aside-with-tags(data-details-info='partial-side-menu-bar-solutions')
        ul.side-bar
            +menu-list()

        .first-level-menu
            .first-level-menu-content
                .first-level-menu-logo
                    a(href='/')
                        img(src='../images/icon/logo.svg', alt='side menu - logo')
                .first-level-menu-details
                    h3.first-level-menu-details-title Solutions
                    h5.first-level-menu-details-text Live a better life with quality financial planning


                ul.first-level-menu-list.property-category-view(page='life')
                    li.first-level-menu-list-item
                        a.first-level-menu-list-item-link(href='/life')
                            span Life
                        a.item-link-arrow.article-type-tag(data-tag='life')
                        ul.second-level-menu-list
                            li.second-level-menu-list-item(page='term-life')
                                a.second-level-menu-list-item-link(href='term-life') Term Life
                            li.second-level-menu-list-item(page='whole-life')
                                a.second-level-menu-list-item-link(href='whole-life') Whole Life

                ul.first-level-menu-list.property-category-view(page='health')
                    li.first-level-menu-list-item
                        a.first-level-menu-list-item-link(href='/health')
                            span Health
                        a.item-link-arrow.article-type-tag(data-tag='health')
                        ul.second-level-menu-list
                            li.second-level-menu-list-item(page='maternity')
                                a.second-level-menu-list-item-link(href='maternity') Maternity
                            li.second-level-menu-list-item(page='critical-illness')
                                a.second-level-menu-list-item-link(href='critical-illness') Critical Illness
                            li.second-level-menu-list-item(page='accident')
                                a.second-level-menu-list-item-link(href='accident') Accident
                            li.second-level-menu-list-item(page='medical-and-hospitalisation')
                                a.second-level-menu-list-item-link(href='medical-and-hospitalisation') Medical and Hospitalisation
                
                ul.first-level-menu-list.property-category-view(page='save')
                    li.first-level-menu-list-item
                        a.first-level-menu-list-item-link(href='/save')
                            span Save    
                        a.item-link-arrow.article-type-tag(data-tag='save')                    
                        ul.second-level-menu-list
                            li.second-level-menu-list-item(page='savings-plans')
                                a.second-level-menu-list-item-link(href='savings-plans') Savings Plans
                            li.second-level-menu-list-item(page='education')
                                a.second-level-menu-list-item-link(href='education') Education
                            li.second-level-menu-list-item(page='retirement')
                                a.second-level-menu-list-item-link(href='retirement') Retirement

                ul.first-level-menu-list.property-category-view(page='invest')
                    li.first-level-menu-list-item
                        a.first-level-menu-list-item-link(href='/invest')
                            span Invest
                        a.item-link-arrow.article-type-tag(data-tag='invest')
                        ul.second-level-menu-list
                            li.second-level-menu-list-item(page='invest')
                                a.second-level-menu-list-item-link(href='/invest') Investment-Linked Plans
                ul.first-level-menu-list.property-category-view(page='signature')
                    li.first-level-menu-list-item
                        a.first-level-menu-list-item-link(href='/signature')
                            span Signature
                        a.item-link-arrow.article-type-tag(data-tag='signature')
                        ul.second-level-menu-list
                            li.second-level-menu-list-item(page='signature')
                                a.second-level-menu-list-item-link(href='/signature') Our Solutions

            .aside-closed-title Open
            .aside-closed-button

mixin side-menu-bar-sub-solutions(object)
    aside.aside-services.aside-sub-services.aside-with-tags(data-details-info='partial-side-menu-bar-sub-solutions')
        ul.side-bar
            +menu-list()

        .first-level-menu
            .first-level-menu-content
                .first-level-menu-logo
                    a(href='/')
                        img(src='../images/logo-mfa.png', alt='side menu - logo')
                .first-level-menu-details
                    h3.first-level-menu-details-title Solutions
                    h5.first-level-menu-details-text Live a better life with quality financial planning


                ul.first-level-menu-list.property-category-view(page='life')
                    li.first-level-menu-list-item
                        a.item-link-arrow(href='life')
                        a.first-level-menu-list-item-link.article-type-tag.first-level-menu-list-item-link(data-tag='life')
                            span Life
                        ul.second-level-menu-list
                            li.second-level-menu-list-item(page='manu-protect-term')
                                a.second-level-menu-list-item-link(href='manu-protect-term') ManuProtect Term
                            li.second-level-menu-list-item(page='manu-protect-decreasing')
                                a.second-level-menu-list-item-link(href='manu-protect-decreasing') ManuProtect Decreasing
                            //- li.second-level-menu-list-item(page='life-ready')
                            //-     a.second-level-menu-list-item-link(href='life-ready') LifeReady
                            //- li.second-level-menu-list-item(page='manulife-ready-income')
                                a.second-level-menu-list-item-link(href='manulife-ready-income') Manulife ReadyIncome
                            li.second-level-menu-list-item(page='ready-lifeincome')
                                a.second-level-menu-list-item-link(href='ready-lifeincome') Ready LifeIncome
                            li.second-level-menu-list-item(page='life-ready-plus')
                                a.second-level-menu-list-item-link(href='life-ready-plus') LifeReady Plus

                ul.first-level-menu-list.property-category-view(page='health')
                    li.first-level-menu-list-item
                        a.item-link-arrow(href='health')
                        a.first-level-menu-list-item-link.article-type-tag.first-level-menu-list-item-link(data-tag='health')
                            span Health
                        ul.second-level-menu-list
                            li.second-level-menu-list-item(page='manu-care')
                                a.second-level-menu-list-item-link(href='manu-care') ManuCare
                            li.second-level-menu-list-item(page='ready-protect')
                                a.second-level-menu-list-item-link(href='ready-protect') ReadyProtect
                            li.second-level-menu-list-item(page='ready-complete-care')
                                a.second-level-menu-list-item-link(href='ready-complete-care') Ready CompleteCare
                            li.second-level-menu-list-item(page='critical-selectcare')
                                a.second-level-menu-list-item-link(href='critical-selectcare') Critical SelectCare
                            li.second-level-menu-list-item(page='ready-mummy')
                                a.second-level-menu-list-item-link(href='ready-mummy') ReadyMummy

                ul.first-level-menu-list.property-category-view(page='save')
                    li.first-level-menu-list-item
                        a.item-link-arrow(href='save')
                        a.first-level-menu-list-item-link.article-type-tag.first-level-menu-list-item-link(data-tag='save')
                            span Save
                        ul.second-level-menu-list
                            li.second-level-menu-list-item(page='manulifespring')
                                a.second-level-menu-list-item-link(href='manulifespring') Manulife Spring
                            li.second-level-menu-list-item(page='ready-builder')
                                a.second-level-menu-list-item-link(href='ready-builder') ReadyBuilder
                            li.second-level-menu-list-item(page='manulife-goal')
                                a.second-level-menu-list-item-link(href='manulife-goal') Manulife Goal 5
                            li.second-level-menu-list-item(page='manu-wealth-secure')
                                a.second-level-menu-list-item-link(href='manu-wealth-secure') ManuWealth Secure
                            li.second-level-menu-list-item(page='ready-payout-plus')
                                a.second-level-menu-list-item-link(href='ready-payout-plus') ReadyPayout Plus
                            li.second-level-menu-list-item(page='manulife-educate')
                                a.second-level-menu-list-item-link(href='manulife-educate') Manulife Educate
                            li.second-level-menu-list-item(page='retire-ready-plus')
                                a.second-level-menu-list-item-link(href='retire-ready-plus') RetireReady Plus

                ul.first-level-menu-list.property-category-view(page='invest')
                    li.first-level-menu-list-item
                        a.item-link-arrow(href='invest')
                        a.first-level-menu-list-item-link.article-type-tag.first-level-menu-list-item-link(data-tag='invest')
                            span Invest
                        ul.second-level-menu-list
                            li.second-level-menu-list-item(page='manuinvestduo')
                                a.second-level-menu-list-item-link(href='manuinvestduo') ManuInvest Duo
                            li.second-level-menu-list-item(page='invest-ready-wealth')
                                a.second-level-menu-list-item-link(href='invest-ready-wealth') InvestReady Wealth (II)
                            //- li.second-level-menu-list-item(page='invest-ready-protect')
                            //-     a.second-level-menu-list-item-link(href='invest-ready-protect') InvestReady Protect
                            li.second-level-menu-list-item(page='manu-link-investor')
                                a.second-level-menu-list-item-link(href='manu-link-investor') Manulink Investor
                            li.second-level-menu-list-item(page='manu-link-enrich')
                                a.second-level-menu-list-item-link(href='manu-link-enrich') Manulink Enrich

                ul.first-level-menu-list.property-category-view(page='signature')
                    li.first-level-menu-list-item
                        a.item-link-arrow(href='signature')
                        a.first-level-menu-list-item-link.article-type-tag.first-level-menu-list-item-link(data-tag='signature')
                            span Signature
                        ul.second-level-menu-list
                            li.second-level-menu-list-item(page='heirloom')
                                a.second-level-menu-list-item-link(href='heirloom') Heirloom (VI)
                            li.second-level-menu-list-item(page='signature-life')
                                a.second-level-menu-list-item-link(href='signature-life') Signature Life
                            li.second-level-menu-list-item(page='signature-income')
                                a.second-level-menu-list-item-link(href='signature-income') Signature Income
                            li.second-level-menu-list-item(page='signature-indexed-universal-life')
                                a.second-level-menu-list-item-link(href='signature-indexed-universal-life') Signature Indexed Universal Life

            .aside-closed-title Open
            .aside-closed-button

mixin side-menu-bar-product(object)
    aside.aside-services.aside-with-tags(data-details-info='partial-side-menu-bar-product')
        ul.side-bar
            +menu-list()

        .first-level-menu
            .first-level-menu-content
                .first-level-menu-logo
                    a(href='/')
                        img(src='../images/logo-mfa.png', alt='side menu - logo')
                .first-level-menu-details
                    h3.first-level-menu-details-title Services
                    h5.first-level-menu-details-text We provide our customers with a comprehensive range of solutions, catering to their specific financial and health needs at every stage of their lives with the commitment of helping them achieve their goals.

                ul.first-level-menu-list(class="property-category-view")
                    li.first-level-menu-list-item(page="family-protection")
                        a.first-level-menu-list-item-link(href="family-protection") Family Protection
                    li.first-level-menu-list-item(page="health")
                        a.first-level-menu-list-item-link(href="health") Health   
                    li.first-level-menu-list-item(page="child-education")
                        a.first-level-menu-list-item-link(href="child-education") Child's Education
                    li.first-level-menu-list-item(page="savings-and-investment")
                        a.first-level-menu-list-item-link(href="savings-and-investment") Savings and Investment
                    li.first-level-menu-list-item(page="retirement-planning")
                        a.first-level-menu-list-item-link(href="retirement-planning") Retirement Planning
                    li.first-level-menu-list-item(page="home-protection")
                        a.first-level-menu-list-item-link(href="home-protection") Home Protection
                    li.first-level-menu-list-item(page="legacy-planning")
                        a.first-level-menu-list-item-link(href="legacy-planning") Legacy Planning
                        
                //- ul.first-level-menu-list.property-category-view(page='your-personal-needs/family-protection')
                //-     li.first-level-menu-list-item
                //-         a.item-link-arrow(href='/your-personal-needs/family-protection')
                //-         a.first-level-menu-list-item-link.article-type-tag.first-level-menu-list-item-link(data-tag='your-personal-needs')
                //-             span Family Protection
                //- ul.first-level-menu-list.property-category-view(page='your-personal-needs/health')
                //-     li.first-level-menu-list-item
                //-         a.item-link-arrow(href='/your-personal-needs/health')
                //-         a.first-level-menu-list-item-link.article-type-tag.first-level-menu-list-item-link(data-tag='your-personal-needs')
                //-             span Health       
                        
            .aside-closed-title Open
            .aside-closed-button

mixin side-menu-bar-promotion(object)
    -var subtitle = typeof object != "undefined"  ? object.detailsSubtitle : 'SomeTextSomeText'
    aside.aside-discovery.aside-with-tags(data-details-info='partial-side-menu-bar-promotion')
        ul.side-bar
            +menu-list()

        .first-level-menu.first-level-menu-discovery
            .first-level-menu-content
                .first-level-menu-logo
                    a(href='/')
                        img(src='../images/logo-mfa.png', alt='side menu logo')
                .first-level-menu-details
                    h3.first-level-menu-details-title Promotion
                    h5.first-level-menu-details-text!=subtitle

                ul.first-level-menu-list
                    li.first-level-menu-list-item
                        a.first-level-menu-list-item-link(href='promotion-1') Enter Our World Cup Contest
                    li.first-level-menu-list-item
                        a.first-level-menu-list-item-link(href='promotion-1') Enter Our World Cup Contest
                    li.first-level-menu-list-item
                        a.first-level-menu-list-item-link(href='promotion-1') Enter Our World Cup Contest
                    li.first-level-menu-list-item
                        a.first-level-menu-list-item-link(href='promotion-1') Enter Our World Cup Contest
                    li.first-level-menu-list-item
                        a.first-level-menu-list-item-link(href='promotion-1') Enter Our World Cup Contest



            .aside-closed-title Open
            .aside-closed-button
