.block-text {
    ul, ol {
        li {
            a {
                color: $greenColor;
            }
        }
    }
}
.text-title {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
}

.text-subtitle {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

.text-small {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
}




.block-subtitle {
    h3, h4 {
        font-weight: 600;
    }
}

.block-image {
    max-width: 900px;
    
    + h4, + p, + ul, + h3 {
        margin-top: 10px;
        @include tablet {
            margin-top: 20px;
        }
    }
}

.block-text {
    p {
        //box-shadow:0 0 1rem rgba(0,0,0,0.6);
        //background-color:rgba(255,255,255,0.25);

        margin-bottom: 20px;
    }

    .text-semibold {
        font-weight: 600;
    }
    h4, h3 {
        font-weight: 600;
        + h6, + p, + .block-image, + ul, + h4, + h3 {
            margin-top: 10px;
            @include tablet {
                margin-top: 20px;
            }
        }
    }

    &.disclaimer-text {
        margin-bottom: 20px;
    }

    h5 {
        font-size: 20px;	
        font-weight: 600;	
        letter-spacing: 0.31px;	
        line-height: 26px;
        margin-bottom: 5px;
    }

    h6 {
        margin: 0;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
    }

    p {
        word-wrap: break-word;
        
        &:last-child {
            margin-bottom: 0;
        }

    }

}


.text-medium {
    font-size: 22px;
    line-height: 28px;

    span.secondary-font {
        font-family: $secondaryFont;
        font-style: italic;
    }
}


.generic-list {
    @extend .p-sm;
    span {
        font-weight: 600;
        margin-right: 5px;
    }

    &.with-dots {
        padding-left: 20px;
        li {
            list-style: disc;
        }
    }
}

.custom-underline {
    text-decoration: underline;

    &.center {
        text-align: center;
    }

}


.banner-regular {
    .banner-suptitle {
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
    }

    .banner-suptitle, .banner-title {
        margin-bottom: 20px;
    }
     .banner-text {
        margin-bottom: 30px;
    }
}


.link-icon {
    display: inline-block;
    cursor: pointer;

    span {
        display: inline-block;
        font-size: 14px;
        line-height: 18px;
        font-weight: 600;
        border-bottom: 2px solid $greenColor;
        padding-left: 20px;
        margin-right: 5px;
    }

    &:before {
        content: '';
        display: inline-block;
        width: 14px;
        height: 16px;
        background-image: url('../images/icon/icon-file.svg');
        margin-right: 8px;
        vertical-align: top;
        position: absolute;

    }
}

.block-text-note {
    margin-top: 30px;
    border-top: 6px solid #424559;
    padding-top: 20px;
    @include tablet{
        margin-top: 0;
    }
}