.title-default {
    // font-size: 36px;
    // line-height: 1.17;
    // text-align: left;
    // -webkit-font-smoothing: antialiased;
    // -moz-osx-font-smoothing: grayscale;

    @include tablet-small {
        font-size: 34px;	
        line-height: 42px;
    }

    span {
        font-family: $secondaryFont;
        font-style: italic;

    }

    &.white {
        color: #fff;
    }

    &.underline {
        border-bottom: solid 1px #d5d6da;
        padding-top: 14px;
    }
}

.greenText {
    color: $greenColor;
}

.orangeText {
    color: $redColor;
}

.section-title-main {
    .title-main {     
        .text-normal {   
            display: block;
            line-height: 32px;          
            font-size: 25px;
            font-style: normal;

            @include mobile-mmedium {                
                font-size: 30px;
                line-height: 38px;     
            }
        }
        //background-color: yellow;
        // padding-top: 20px;
        // margin-bottom: 20px;
        // @include tablet {
        //     padding-top: 60px;
        // }
        .title-numeric-big {
            margin-top: 0;
        }

        + .text-subtitle-product {
            margin-top: 10px;

            @include tablet {
                margin-top: 20px;
            }

            > p {
                margin-top: 0;
                margin-bottom: 20px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        + p {
            margin-top: 20px;

            @include tablet {
                margin-top: 30px;
            }
        }
    }
    p {
        margin-top: 20px;
        @include tablet {
            margin-top: 40px;
        }
    }

    .text-subtitle-product, .text-subtitle-product > p {
        font-weight: 500;

        b, strong   {
            font-weight: 600;
        }

        a {
            color: $greenColor;
        }

        + .button, + .block-button {
            margin-top: 10px;
            display: block;
    
            @include tablet {
                margin-top: 20px;
            }
        }

        + p {
            margin-top: 10px;
        }

        span {
            font-style: normal;
        }
    }

    .subtitle-main {
        font-size: 18px;
        line-height: 30px;
        font-weight: 500;
    }

}

.section-title-add-info {
    .text-subtitle-product {
        font-weight: 600;
    }
}

.section-intro-wrapper {
    .divider {
        display: block;

        @include tablet { 
            display: none;
        }
    }

    .two_column_quote {
        margin-top: 0;

        @include tablet { 
            margin-top: 20px;
        }
    }
}


.two_column_quote {
    margin-top: 30px;
    .subText {	
        letter-spacing: 0.31px;	

        b, strong {
            font-weight: 600;	
        }
    }

    > div {
        padding-right: 0;
        padding-left: 0;

        + div {
            margin-top: 30px;
        }
    }
    @include tablet {   
        > div {
            padding: 0 30px 0 0;

            + div {
                margin-top: 0;
                padding-left: 30px;
                padding-right: 0;
                border-left: 1px solid rgba(66, 69, 89, 0.2);
            }
        }
    }
}

.title-regular {
    font-size: 22px;
    line-height: 28px;
    font-weight: 300;

    @include tablet {
        font-size: 48px;
        line-height: 58px;
    }

}

.sm-title {
    font-size: 16px;
    line-height: 1.5;
    color: $grayColor;
    font-weight: 300;
    background-color: yellow;

    @include tablet-small {
        font-size: 26px;
        line-height: 1.21;
    }

    &.desktop-small {
        @include tablet-small {
            font-size: 16px;
            line-height: 1.5;
        }
    }

    &.secondary-font {
        font-family: $secondaryFont;
        font-style: italic;
        font-weight: 400;
    }

    span {
        font-family: $secondaryFont;
        font-style: italic;
        font-size: 16px;
        line-height: 1.5;
        @include tablet-small {
            font-size: 26px;
            line-height: 1.21;
        }
    }

    strong {
        font-weight: 600;
    }
}

.md-title {
    font-size: 22px;
    line-height: 1.27;
    font-weight: 300;
    background-color: yellow;

    @include tablet-small {
        font-size: 48px;
        font-weight: 300;
    }

    &.secondary-font, span {
        font-family: $secondaryFont;
        font-style: italic;
        font-weight: 400;
    }

    &.bold {
        font-weight: 600;
    }
}

.xs-title {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.43;
    background-color: yellow;

    &.orange {
        color: #ff5d55;
    }

    &.dark-gray {
        color: $grayColor;
    }
}



h1, h2, h3, h4, h5, h6 {
    font-family: $mainFont;
    margin: 0;
    padding: 0;
    color: $textLightGray;
    //color: yellow;
    //outline: 2px solid blue;

    span {
        font-family: $secondaryFont;
        font-style: italic;
        font-weight: 400;
    }
}

h1, h1 > p {
    font-size: 36px;
    line-height: 42px;
    font-weight: 400;
    @include mobile-mmedium {
        font-size: 40px;
        line-height: 46px;
    }
}

h2 {
    font-size: 36px;
    line-height: 42px;
    font-weight: 300;
    @include mobile-mmedium {
        font-size: 40px;
        line-height: 46px;
    }
}

h3, .accordion-item-title, 
.accordion-item-title p {
    font-size: 26px;
    line-height: 32px;
    font-weight: 300;
    @include mobile-mmedium {
        font-size: 30px;
        line-height: 36px;
    }

    span {
        font-family: $secondaryFont;
        font-style: italic;
    }
}

h4,
.banner-top-wrapper.contact-banner .banner-top-caption .mainTitle {
    font-size: 20px;
    line-height: 26px;
    font-weight: 400;
    @include mobile-mmedium {
        font-size: 24px;
        line-height: 30px;
    }
}

h5, h5.text-subtitle-product, 
h5.text-subtitle-product p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    @include mobile-mmedium {
        font-size: 20px;
        line-height: 26px;
    }
}

.title-text {
    font-weight: 400;
    padding-bottom: 10px;
}

h6 {
    font-size: 14px;
    line-height: 29px;
}

p, .p {
    font-family: $mainFont;
    margin: 0;
    padding: 0;
    letter-spacing: 0.25px;
    //outline: 2px solid blue;

    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: $textLightGray;
    //color: yellow;

    &.underline {
        border-bottom: solid 1px #d5d6da;
        padding-bottom: 13px;
    }
    
    &.bold, strong, b {
        font-weight: 600;
    }

    a {
        color: $greenColor;
    }
}

.list-regular {
    li {
        font-size: 16px;
        line-height: 24px;
        word-break: break-word;
        span {
            font-weight: 700;
        }

        + li {
           padding-top: 15px;
        }
    }
}

ul.list-bullet {
    margin-bottom: 10px;
    @include desktop-small{
        margin-bottom: 20px;
    }

    > li {
        &:before {
            content: '';
            display: inline-block;
            height: 5px;
            width: 5px;
            vertical-align: middle;
            margin-right: 20px;
            background-color: $greenColor;
        }

        b, strong {
            font-weight: bold;
        }
    }

}

ul.list-tick {
    margin-bottom: 10px;
    @include desktop-small{
        margin-bottom: 20px;
    }

    li {
        &:before {
            content: '';
            background: url('../images/icon/icon-tick.png') no-repeat;
            background-size: contain;
            background-position: center center;
            display: inline-block;
            height: 15px;
            width: 15px;
            margin-right: 5px;
        }

    }

}

.block-icon {
    p {
        margin-top: 20px;
    }
}
.icon {
    position: relative;

    &.date, &.location, &.icon-mail {
        padding-left: 25px;
        &:before {
            content: "\f017";
            top: 1px;
            position: absolute;
            font: normal normal normal 18px/1 FontAwesome;
            left: 0;
            color: $greenColor;
        }
    }

    &.location {
        margin-top: 10px;
        &:before {
            content: "\f041";
            left: 3px;
        }
    }

    &.icon-mail {
        margin-top: 10px;
        &:before {
            content: "\f0e0";
        }
    }
}
ol.list-decimal {
    margin-bottom: 10px;
    padding-left: 30px;
    // list-style: none; 
    // counter-reset: li;

    @include desktop-small{
        margin-bottom: 20px;
    }

    > li {
        list-style-type: decimal;
        // counter-increment: li;

        // &::before {
        //     content: counter(li); 
        //     color: $greenColor;
        //     display: inline-block; 
        //     width: 25px;
        //     margin-left: -30px;
        //     margin-right: 5px; 
        //     text-align: right; 
        //     direction: rtl;
        // }
    }

}

ol.list-alphabet {
    margin-bottom: 10px;
    padding-left: 30px;

    @include desktop-small{
        margin-bottom: 20px;
    }

    > li {
        list-style-type: lower-alpha;
    }

}

.title-icon {
    display: block;
    margin-top: 30px;
    .icon {
        display: inline-block;
        vertical-align: middle;
        margin-right: 15px;
    }
    .text {
        display: inline-block;
        vertical-align: middle;

    }
    .title {
        font-weight: 600;
        span {
            font-weight: 400;
        }
    }
    .date {
        font-size: 12px;
        line-height: 20px;
        color: $lightGrayColor;
    }
}

.title-main + .title-icon {
    margin-top: 20px;
    @include desktop-medium{
        margin-top: 60px;
    }

}

.title-numeric-big {
    overflow: hidden;
    margin-top: 40px;
    display: flex;
    align-items: flex-start;
    @include desktop-small{
        align-items: center;
    }


    .block-number {
        .number {
            font-weight: 600;
            color: #424559;
            font-size: 90px;
            line-height: 90px;
            font-family: 'Roboto', sans-serif;
            @include desktop-small{
                font-size: 180px;
                line-height: 180px;
            }

        }
    }

    .title {
        padding-left: 20px;

        @include desktop-small{
            padding-left: 30px;
        }

    }
}




.block-subtitle {
    h6 {
        font-weight: 500;
    }
}

.title-numeric-big + .block-subtitle,
.block-title + .block-subtitle,
.block-title + .block-text,
.block-text + .block-title {
    margin-top: 20px;
    @include desktop-small{
        margin-top: 30px;
    }
}




.title-numeric {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    //width: 100%;
    @include desktop-small{
        flex-wrap: nowrap;
    }

    .block-number {

        .number {
            font-family: 'Roboto', sans-serif;
            font-size: 70px;
            line-height: 70px;
            font-weight: 700;
        }
    }

    .title {
        width: 100%;
        font-weight: 600;
        @include desktop-small{
            margin-left: 20px;
        }

    }
}

.block-quote {
    margin-top: 30px;
    margin-bottom: 30px;
    @include tablet{
        margin-top: 50px;
        margin-bottom: 40px;
    }

    .quote {
            margin-top: 20px;

            padding-left: 80px;
            position: relative;
            &:before {
                content: "";
                display: inline-block;
                width: 48px;
                height: 46px;
                top: 0;
                padding: 0;
                margin: 0;
                position: absolute;
                left: 0;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                background-image: url('../images/icon/rating/icon-rating-quote.svg');
            }

        strong {
            font-weight: 700;
        }

    }

    h4 {
        font-size: 26px;
        line-height: 32px;
    }


}