include /components/components.jade

//- Create any .jade file in current components folder, include this file here
//- It will overwrite 'mixin' and/or variable for all pages of AGENCY
//- include partials/footer-scripts

//- You can put 'mixin' and/or variable here and it will do the same as 'include file' above