@import "../utilities/variables";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    //background-color: #edf0f1;
    background-color: #fafafa;
    font-family: $mainFont;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
    font-size: 100%;
    overflow-x: hidden;

    @include tablet-small {
        margin-top: 80px;
    }
}

body.status-unmovable {
    overflow: hidden;
}
body.status-unmovable.page-type-articles {
     .page-content {
        overflow-y: scroll;
        height: 100%;
         .contact-box-desktop-mini {
             margin-right: 15px;
         }
    }
}

.italic-text{
  font-style: italic;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote {
    &:before, &:after {
        content: '';
        content: none;
    }
}

q {
    &:before, &:after {
        content: '';
        content: none;
    }
}

.clear {
    &:before, &:after {
        content: '';
        display: table;
        clear: both;
    }
}

@mixin clearfix {
    &:after, &:before {
        content: " ";
        display: table;
        clear: both;
    }
}

label {
    font-weight: 400;
}

textarea {
    outline: none;
    resize: none;
}

input, select {
    outline: none;
}

a {
    text-decoration: none !important;
    color: #282b3e;
    outline: none;
    &:focus {
        text-decoration: none !important;
        color: #282b3e;
        outline: none;
    }
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    max-width: 100%;
}

a {
    &:hover, &:focus {
        color: inherit;
    }
}

*[can-edit] {
    white-space: pre-line;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}


sup {
    font-size: 80%;
}



.block-object-fit {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.d-none {
    display: none !important;
}

.d-none-i {
    display: none;
}

.d-flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.d-md-block {
    @include mobile-mmedium {
        display: block;
    }
}

.align-md-center {
    @include mobile-mmedium {
        align-items: center;
    }
}

.text-green {
    color: $greenColor;
}

.text-curly {
    font-family: $tertiaryFont;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.text-orange {
    color: $redColor;
}

.custom-object-fit {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    
    img{
        opacity: 0;
    }
 }
 
 .hide-desktop-only {
    display: block;

    @include tablet {
        display: none;
    }
}

.hide-mobile-only {
    @include mobile-only {
        display: none;
    }
}

.hide-tablet-only {
    @include tablet-small-only {
        display: none;
    }
}


//Update grid and gutter
@include mobile-mmedium {

    .container, .container-fluid {
        padding-left: 25px;
        padding-right: 25px;
    }
    .row {
        margin-left: -25px;
        margin-right: -25px;
    }
    .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
        padding-left: 25px;
        padding-right: 25px;
    }
}

@include tablet {

    .container, .container-fluid {
        padding-left: 20px;
        padding-right: 20px;
    }
    .row {
        margin-left: -20px;
        margin-right: -20px;
    }
    .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
        padding-left: 20px;
        padding-right: 20px;
    }
}
//New grid classes for xlg - 1400, hd - 1600, fhd 1920
@include desktop-medium{

        .col-xlg-1, .col-xlg-2, .col-xlg-3, .col-xlg-4, .col-xlg-5, .col-xlg-6, .col-xlg-7, .col-xlg-8, .col-xlg-9, .col-xlg-10, .col-xlg-11, .col-xlg-12 {
            float: left;
        }
        .col-xlg-12 {
            width: 100%;
        }
        .col-xlg-11 {
            width: 91.66666667%;
        }
        .col-xlg-10 {
            width: 83.33333333%;
        }
        .col-xlg-9 {
            width: 75%;
        }
        .col-xlg-8 {
            width: 66.66666667%;
        }
        .col-xlg-7 {
            width: 58.33333333%;
        }
        .col-xlg-6 {
            width: 50%;
        }
        .col-xlg-5 {
            width: 41.66666667%;
        }
        .col-xlg-4 {
            width: 33.33333333%;
        }
        .col-xlg-3 {
            width: 25%;
        }
        .col-xlg-2 {
            width: 16.66666667%;
        }
        .col-xlg-1 {
            width: 8.33333333%;
        }
        .col-xlg-pull-12 {
            right: 100%;
        }
        .col-xlg-pull-11 {
            right: 91.66666667%;
        }
        .col-xlg-pull-10 {
            right: 83.33333333%;
        }
        .col-xlg-pull-9 {
            right: 75%;
        }
        .col-xlg-pull-8 {
            right: 66.66666667%;
        }
        .col-xlg-pull-7 {
            right: 58.33333333%;
        }
        .col-xlg-pull-6 {
            right: 50%;
        }
        .col-xlg-pull-5 {
            right: 41.66666667%;
        }
        .col-xlg-pull-4 {
            right: 33.33333333%;
        }
        .col-xlg-pull-3 {
            right: 25%;
        }
        .col-xlg-pull-2 {
            right: 16.66666667%;
        }
        .col-xlg-pull-1 {
            right: 8.33333333%;
        }
        .col-xlg-pull-0 {
            right: auto;
        }
        .col-xlg-push-12 {
            left: 100%;
        }
        .col-xlg-push-11 {
            left: 91.66666667%;
        }
        .col-xlg-push-10 {
            left: 83.33333333%;
        }
        .col-xlg-push-9 {
            left: 75%;
        }
        .col-xlg-push-8 {
            left: 66.66666667%;
        }
        .col-xlg-push-7 {
            left: 58.33333333%;
        }
        .col-xlg-push-6 {
            left: 50%;
        }
        .col-xlg-push-5 {
            left: 41.66666667%;
        }
        .col-xlg-push-4 {
            left: 33.33333333%;
        }
        .col-xlg-push-3 {
            left: 25%;
        }
        .col-xlg-push-2 {
            left: 16.66666667%;
        }
        .col-xlg-push-1 {
            left: 8.33333333%;
        }
        .col-xlg-push-0 {
            left: auto;
        }
        .col-xlg-offset-12 {
            margin-left: 100%;
        }
        .col-xlg-offset-11 {
            margin-left: 91.66666667%;
        }
        .col-xlg-offset-10 {
            margin-left: 83.33333333%;
        }
        .col-xlg-offset-9 {
            margin-left: 75%;
        }
        .col-xlg-offset-8 {
            margin-left: 66.66666667%;
        }
        .col-xlg-offset-7 {
            margin-left: 58.33333333%;
        }
        .col-xlg-offset-6 {
            margin-left: 50%;
        }
        .col-xlg-offset-5 {
            margin-left: 41.66666667%;
        }
        .col-xlg-offset-4 {
            margin-left: 33.33333333%;
        }
        .col-xlg-offset-3 {
            margin-left: 25%;
        }
        .col-xlg-offset-2 {
            margin-left: 16.66666667%;
        }
        .col-xlg-offset-1 {
            margin-left: 8.33333333%;
        }
        .col-xlg-offset-0 {
            margin-left: 0%;
        }
}

@include desktop-hd{
    @media (min-width: 1600px) {
        .col-hd-1, .col-hd-2, .col-hd-3, .col-hd-4, .col-hd-5, .col-hd-6, .col-hd-7, .col-hd-8, .col-hd-9, .col-hd-10, .col-hd-11, .col-hd-12 {
            float: left;
        }
        .col-hd-12 {
            width: 100%;
        }
        .col-hd-11 {
            width: 91.66666667%;
        }
        .col-hd-10 {
            width: 83.33333333%;
        }
        .col-hd-9 {
            width: 75%;
        }
        .col-hd-8 {
            width: 66.66666667%;
        }
        .col-hd-7 {
            width: 58.33333333%;
        }
        .col-hd-6 {
            width: 50%;
        }
        .col-hd-5 {
            width: 41.66666667%;
        }
        .col-hd-4 {
            width: 33.33333333%;
        }
        .col-hd-3 {
            width: 25%;
        }
        .col-hd-2 {
            width: 16.66666667%;
        }
        .col-hd-1 {
            width: 8.33333333%;
        }
        .col-hd-pull-12 {
            right: 100%;
        }
        .col-hd-pull-11 {
            right: 91.66666667%;
        }
        .col-hd-pull-10 {
            right: 83.33333333%;
        }
        .col-hd-pull-9 {
            right: 75%;
        }
        .col-hd-pull-8 {
            right: 66.66666667%;
        }
        .col-hd-pull-7 {
            right: 58.33333333%;
        }
        .col-hd-pull-6 {
            right: 50%;
        }
        .col-hd-pull-5 {
            right: 41.66666667%;
        }
        .col-hd-pull-4 {
            right: 33.33333333%;
        }
        .col-hd-pull-3 {
            right: 25%;
        }
        .col-hd-pull-2 {
            right: 16.66666667%;
        }
        .col-hd-pull-1 {
            right: 8.33333333%;
        }
        .col-hd-pull-0 {
            right: auto;
        }
        .col-hd-push-12 {
            left: 100%;
        }
        .col-hd-push-11 {
            left: 91.66666667%;
        }
        .col-hd-push-10 {
            left: 83.33333333%;
        }
        .col-hd-push-9 {
            left: 75%;
        }
        .col-hd-push-8 {
            left: 66.66666667%;
        }
        .col-hd-push-7 {
            left: 58.33333333%;
        }
        .col-hd-push-6 {
            left: 50%;
        }
        .col-hd-push-5 {
            left: 41.66666667%;
        }
        .col-hd-push-4 {
            left: 33.33333333%;
        }
        .col-hd-push-3 {
            left: 25%;
        }
        .col-hd-push-2 {
            left: 16.66666667%;
        }
        .col-hd-push-1 {
            left: 8.33333333%;
        }
        .col-hd-push-0 {
            left: auto;
        }
        .col-hd-offset-12 {
            margin-left: 100%;
        }
        .col-hd-offset-11 {
            margin-left: 91.66666667%;
        }
        .col-hd-offset-10 {
            margin-left: 83.33333333%;
        }
        .col-hd-offset-9 {
            margin-left: 75%;
        }
        .col-hd-offset-8 {
            margin-left: 66.66666667%;
        }
        .col-hd-offset-7 {
            margin-left: 58.33333333%;
        }
        .col-hd-offset-6 {
            margin-left: 50%;
        }
        .col-hd-offset-5 {
            margin-left: 41.66666667%;
        }
        .col-hd-offset-4 {
            margin-left: 33.33333333%;
        }
        .col-hd-offset-3 {
            margin-left: 25%;
        }
        .col-hd-offset-2 {
            margin-left: 16.66666667%;
        }
        .col-hd-offset-1 {
            margin-left: 8.33333333%;
        }
        .col-hd-offset-0 {
            margin-left: 0;
        }
    }
}





.bg-white {
    background-color: #fff;
}

.bg-blue {
    background-color: #0000c1;

    h1, h2, h3, h4, h5, h6, p {
        color: #fff;
    }
}

main {
    background-color: #fafafa;
    position: relative;
    padding-left: 0;
    overflow-x: hidden;

    @include tablet-small {
        padding-left: 130px;
    }

    @include tablet {
        padding-left: 120px;
    }

    @include desktop-small {
        padding-left: 340px;
    }

    &.home-page {
        @include tablet-small {
            padding-left: 70px;
        }

        @include tablet {
            padding-left: 60px;
        }
    }

    &.no-first-level-menu {
        padding-left: 0;

        // @include tablet-small {
        //     padding-left: 70px;
        // }

        // @include tablet {
        //     padding-left: 60px;
        // }
    }

    &.no-banner {
        padding-top: 55px;
        
        @include tablet-small {
            padding-top: 0;
        }

        @include tablet {
            padding-top: 30px;
        }
    }

    .section-wrapper {
        padding-top: 30px;
        padding-bottom: 40px;
        border-bottom: 1px solid #f5f5f5;
        @include tablet {
            padding-top: 60px;
            padding-bottom: 60px;
        }
    }

    .section-wrapper-list + .section-wrapper-list {
        margin-top: 60px;
    }
}

body {
    aside {
        .first-level-menu {
            @include tablet-small {
                width: 60px;
            }

            @include desktop-small {
                width: 280px;
            }
        }
    }
}

.container {
    width: auto;

    @include tablet-small {
        width: 410px;
    }

    @include tablet {
        width: 630px;
    }

    @include desktop-small {
        width: 830px;
    }

    &.home-page-container {
        @include tablet-small {
            width: 690px;
        }

        @include tablet {
            width: 910px;
        }

        @include desktop-small {
            width: 1110px;
        }

    }
}





.no-padding-right {
    padding-right: 0;
}


.section-solutions {
    padding: 30px 0 15px;

    @include mobile-and-tablet-small-only {
        padding-bottom: 0;
    }
    
    .title-default, .sm-title {
        margin-bottom: 20px;
    }

    &.gray-border {
        border-bottom: solid 1px #ccc;
    }

    .greenApple {
        display: none;
    }

    .ul {
        li {

        }
    }
}




.contact-box {
    @include desktop-small {
        display: none;
    }
}


.property-hidden-mobile {
    @include mobile-only {
        display: none;
    }
}
.property-hidden-mobile-and-tablet-small {
    @include mobile-and-tablet-small-only {
        display: none;
    }
}

.property-visible-mobile {
    display: block;
    @include tablet{
        display: none;
    }
}


.theme-dark {
 h1,h2,h3,h4,h5,h6,a,p,span {
     color: white;
 }
}


.devider {
    width: 100%;
    height: 1px;
    display: inline-block;
    background-color: #d5d6da;
}

.divider {
    width: 100%;
    margin: 30px 0;
    height: 1px;
    display: block;
    background-color: #E5E5E5;

    @include tablet { 
        margin: 50px 0;
    }
}

.block-devider.fullwidth-on-mobile {
    @include mobile-and-tablet-small-only{
        margin-left: -15px;
        margin-right: -15px;
    }

}



// .container-fluid, .container {
//     @include tablet-small{
//         padding-left: 35px;
//     }

//     @include tablet {
//         padding-left: 45px;
//     }

//     @include desktop-small{
//         padding-left: 20px;
//         padding-left: 40px;
//     //    add reset for home-page container
//     }

// }


// .page-name-index {
//     .container-fluid, .container {        
//         @include tablet-small{
//             padding-left: 15px;
//         }

//         @include desktop-small{
//             padding-left: 20px;
//             //    add reset for home-page container
//         }

//     }
// }





// ------------------------------------------------------------------------------------------------------ Start injecting flexbox styling in place where it is helping
.flex-row {
    margin-left: -15px;
    margin-right: -15px;

    @include mobile-mmedium {
        margin-left: -25px;
        margin-right: -25px;
    }

    @include tablet {
        margin-left: -15px;
        margin-right: -15px;
    }

    display: flex;
    flex-wrap: wrap;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.flex-col {
    padding-left: 15px;
    padding-right: 15px;

    @include mobile-mmedium {
        padding-left: 25px;
        padding-right: 25px;
    }

    @include tablet {
        padding-left: 15px;
        padding-right: 15px;
    }

    flex-basis: auto;
    -webkit-flex-basis: auto;-ms-flex-preferred-size: auto;flex-basis: auto;
    img {
        height: auto;
        width: 100%;
        vertical-align: middle;
    }
}

@include desktop-small{
    .flex-closer-lg:nth-child(odd) {
        padding-right: 20px;
        padding-left: 10px;
    }
    .flex-closer-lg:nth-child(even) {
        padding-right: 10px;
        padding-left: 20px;
    }
}


.flex-col-xs-8 {
    width: 66.66666667%;
}
.flex-col-xs-7 {
    width: 58.33333333%;
}
.flex-col-xs-6 {
    width: 50%;
}
.flex-col-xs-5 {
    width: 41.66666667%;
}
.flex-col-xs-4 {
    width: 33.33333333%;
}
.flex-col-xs-3 {
    width: 25%;
}


.flex-col-xs-12 {
    width: 100%;
}



@include tablet-small {
    .flex-col-sm-12 {
        width: 100%;
    }
    .flex-col-sm-8 {
        width: 66.66666667%;
    }
    .flex-col-sm-7 {
        width: 58.33333333%;
    }
    .flex-col-sm-6 {
        width: 50%;
    }

    .flex-col-sm-5 {
        width: 41.66666667%;
    }
    .flex-col-sm-4 {
        width: 33.33333333%;
    }

    .flex-col-sm-3 {
        width: 25%;
    }

}

@include tablet {
    .flex-col-md-12 {
        width: 100%;
    }
    .flex-col-md-8 {
        width: 66.66666667%;
    }
    .flex-col-md-7 {
        width: 58.33333333%;
    }
    .flex-col-md-6 {
        width: 50%;
    }

    .flex-col-md-5 {
        width: 41.66666667%;
    }
    .flex-col-md-4 {
        width: 33.33333333%;
    }

    .flex-col-md-3 {
        width: 25%;
    }
}


@include desktop-small {
    .flex-col-lg-12 {
        width: 100%;
    }
    .flex-col-lg-8 {
        width: 66.66666667%;
    }
    .flex-col-lg-7 {
        width: 58.33333333%;
    }
    .flex-col-lg-6 {
        width: 50%;
    }

    .flex-col-lg-5 {
        width: 41.66666667%;
    }
    .flex-col-lg-4 {
        width: 33.33333333%;
    }

    .flex-col-lg-3 {
        width: 25%;
    }
}

@include desktop-medium {
    .flex-col-xlg-12 {
        width: 100%;
    }
    .flex-col-xlg-8 {
        width: 66.66666667%;
    }
    .flex-col-xlg-7 {
        width: 58.33333333%;
    }
    .flex-col-xlg-6 {
        width: 50%;
    }

    .flex-col-xlg-5 {
        width: 41.66666667%;
    }
    .flex-col-xlg-4 {
        width: 33.33333333%;
    }

    .flex-col-xlg-3 {
        width: 25%;
    }
}


.flex-col-oneline-image {

}
.flex-col-oneline-text {
    flex: 1;
}


//Update grid and gutter
@include desktop-small {

    .flex-row {
        margin-left: -20px;
        margin-right: -20px;
    }
    .flex-col {
        padding-left: 20px;
        padding-right: 20px;
    }


}


.page-fullwidth {
    main {
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
    }

    .container-fluid {
        padding-left: 15px;
        @include desktop-small{
            padding-left: 20px;
        }

    }
}

.text-bold {
    font-weight: bold;
}

.text-italic {
    font-style: oblique;
}