.block-accordion {
}

.accordion {
    //margin-top: 20px;
    //background-color: red;
}

.accordion-item {
    //border-top: 1px solid rgba(66, 69, 89, 0.2);
    //&:last-of-type {
    //    border-bottom: 1px solid rgba(66, 69, 89, 0.2);
    //}
}

.block-accordion-item-title {
    //padding: 25px 0;
    padding: 15px 0;
    position: relative;

    @include tablet {
       padding: 30px 0;
    }

    //display: flex;
    //flex: 0 0 auto;
    //align-items: end;

    h2, h2 p {
        font-weight: 300;
        letter-spacing: 0.25px;	

        @include tablet {
            letter-spacing: normal;
        }
    }
}

.accordion-item-title {

    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
    cursor: pointer;
    width: 100%;
    position: relative;
    padding-left: 45px;

    @include tablet {
       padding-left: 60px;
    }

    &:after {
        position: absolute;
        content: '';
        left: 0;
        top: 4px;
        width: 30px;
        height: 30px;

        background: url(../images/icon/icon-minus.svg) no-repeat;
        background-size: cover;
    }

}

h3.accordion-item-title {
    &:after {
        top: -1px;

        @include mobile-mmedium {
            top: 2px;
        }
    }
}

.accordion-item-content {
    margin-top: 15px;
    //padding-bottom: 20px;
    margin-bottom: 15px;
    width: 100%;

    @include tablet {
        margin-top: 5px;
        margin-bottom: 30px;
    }
}

.accordion-item-content-title {
    //from website
    font-family: $mainFont;

    font-weight: 500;
    text-align: left;
    letter-spacing: 1px;
    font-size: 13px;
    line-height: 18px;
    color: #34384b;
    margin-top: 20px;
    @include tablet{
        margin-top: 0;
    }


}

.accordion-item-content-text, .accordion-item-content-list-item {
    //from website
    color: #414558;
    font-family: $mainFont;
    font-size: 16px;
    font-weight: 300;
    text-align: left;
    letter-spacing: 1px;
    line-height: 1.67;
}

.accordion-item-content-text, .accordion-item-content-list-item {
    font-size: 13px;
    line-height: 18px;
    color: #34384b;
    padding-top: 15px;
}

.accordion-item-content-list {
    padding-left: 20px;
}

ul.accordion-item-content-list-item {
    list-style: square;
}

ol.accordion-item-content-list {
    list-style: decimal;
}


// ------------------------------------------------ Special behaviour
.section-accordion {
    + .section-accordion {
        &:before {
            content: "";
            display: inline-block;
            width: 100%;
            height: 2px;
            background-color: rgba(66, 69, 89, 0.2);
            padding: 0;
            margin: 15px 0;
            font-size: 0;

            @include tablet {
                margin: 30px 0;
            }
        }
    }

    &:first-child {
        .block-accordion-item-title {
            padding-top: 0;
        }
    }
}

//.accordion-article {
.accordion-article {
    font-size: 0;
    position: relative;

    .accordion-item-content {
        padding-left: 0;

        @include tablet {
            padding-left: 60px;
        }

        .link-icon {
            display: block;
            margin-bottom: 20px;
            overflow: hidden;
            @include tablet{
                white-space: nowrap;
                text-overflow: ellipsis;
            }

        }

        .accordion-item {
            padding-left: 0;
            padding-right: 0;
        }

    }

    .accordion-item {
        &:last-of-type {
            border-bottom: none;
        }
    }
}




.accordion-mobile-only {
    font-size: 0;
    &:before {
        content: "";
        display: inline-block;
        width: 100%;
        height: 1px;
        background-color: rgba(66, 69, 89, 0.2);
        padding: 0;
        margin: 0;
        font-size: 0;
        position: absolute;
        top: 0;
        left: 0;
        @include tablet{
            position: relative;
            top:inherit;
            left:inherit;
            cursor: default;
        }
    }


    .accordion-item {
        &:last-of-type {
            border-bottom: none;
        }
    }

    @include tablet-small{
        &:before {
            content: none;
            display: none;
        }

        .accordion-item-title {
            margin-left: 0;
            padding-left: 0;
            cursor: default;
            &:after {
                content: none;
                display: none;
            }
        }
    }

}

.accordion-article.status-closed {
    & > .block-accordion-item-title {
        .accordion-item-title {

            &:after {
                background: url(../images/icon/icon-plus.svg) no-repeat;
                background-size: cover;
            }
        }
    }
    & > .accordion-item-content {
        display: none;
    }
}

.accordion-mobile-only.status-closed {
    @include mobile-only {
        & > .block-accordion-item-title {
            .accordion-item-title {
                &:after {
                    background: url(../images/icon/icon-plus.svg) no-repeat;
                    background-size: cover;
                }
            }
        }
        & > .accordion-item-content {
            display: none;
        }
    }
}


