.button {
    cursor: pointer;
}

.more, .less, .more-on-rating-page{
  font-size: 16px;
  color:$greenColor;
  white-space: nowrap;
  
  &:visited, &:focus{
    color:$greenColor;
  }
}

.button-orange-arrow {
    vertical-align: bottom;
    padding-left: 30px;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    color: #34384b;
    position: relative;

    &:before {
        content: "";
        background: url("../images/icon/icon-arrow-right-circle.svg") no-repeat center center / cover;
        width: 20px;
        height: 20px;
        display: inline-block;
        vertical-align: baseline;
        margin-right: 10px;
        position: absolute;
        left: 0;
        bottom: 0;
    }

    &.button-green-arrow {
        color: $greenColor;

        &:before {
            background: url("../images/icon/icon-arrow-right-green-circle.svg") no-repeat center center / cover;
        }
    }
}

.button-white {
    display: inline-block;
    background-color: #fff;
    padding: 20px;
    text-align: center;
    color: $textLightGray;
    height: 60px;
    font-size: 16px;	
    font-weight: 600;	
    line-height: 20px;
    
    &:hover {
        color: #fff;
        background-color: $textLightGray;
    }
}

.button-orange {
    display: inline-block;
    background-color: #EC6251;
    padding: 20px 40px;
    text-align: center;
    color: #fff;
    font-size: 16px;	
    font-weight: 600;	
    line-height: 24px;
    &:hover {
        color: #fff;
        background-color: #f8453c;
    }
}

.button-lightgray {
    display: inline-block;
    background-color: #00a69b;
    padding: 0 24px;
    height: 66px;
    line-height: 66px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    &:hover {
        color: #fff;
        background-color: #00a69b;
    }
}


.button-green-round {
    display: inline-block;
    width: 100%;
    background-color: $greenColor;
    padding: 18px 12px;
    text-align: center;
    color: #fff;
    border-radius: 50px;
    cursor: pointer;

    font-size: 18px;
    line-height: 24px;
    font-weight: 600;

    &:hover {
        color: #fff;
        background-color: #00a558;
    }
}


.button-transparent-round {
    display: inline-block;
    width: 100%;
    background-color: transparent;
    padding: 18px 12px;
    text-align: center;
    border-radius: 50px;
    cursor: pointer;
    border: 2px solid #ececec;
    color: #34384b;

    font-size: 18px;
    line-height: 24px;
    font-weight: 600;

    &:hover {
        background-color: #ececec;
    }
}

.pdf-link {
    font-size: 13px;
    font-weight: 600;
    line-height: 1.38;
    color: #34384b;
    &:before {
        content: "";
        background: url("../images/general/icon-doc.svg");
        width: 14px;
        height: 14px;
        display: inline-block;
        vertical-align: middle;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: left top;
        margin-right: 5px;
        margin-top: -3px;
    }
}



.panel {
    display: block;
    margin: 0;
    padding: 20px;
    text-align: center;
    line-height: 12;
    font-size: 12px;
    font-weight: 600;
    min-height: 60px;
    border-radius: 0;
    .panel-title {
        font-size: 16px;
        font-weight: 600;
        line-height: 28px;
        color: #ffffff;
        text-align: left;
        margin-bottom: 6px;
    }
    .panel-text {
        font-size: 14px;
        line-height: 20px;
        font-weight: 600;
        color: #ffffff;
        text-align: center;
    }

    .panel-title + .panel-text {
        text-align: left;
    }
}

.panel + .panel {
    margin-top: 20px;
}

.panel-theme-orange {
    background-color: #EC6251;
    &:hover {
        background-color: #f8453c;
    }
}

.panel-theme-dark {
    background-color: #282b3e;
    .panel-title {
        color: $greenColor;
    }
}


.block-back-button {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    position: relative;
    @include tablet-small{
        display: none;
    }

    div {
        display: inline-block;
        vertical-align: middle;
    }

    &.block-back-button-top {
        display: block;
    }

    &.block-back-button-bottom {
        display: block;
    }

    .img-button-back {
        img {
            width: 30px;
            height: 30px;
        }
    }
    .text-button-back {
        span {
            font-size: 16px;
            font-weight: 500;
            line-height: 18px;
            margin-left: 15px;
        }
    }
}

.button-blue {
    background-color: $darkGrayColor;
}

.button-green {
    background-color: $greenColor;
}

.button.status-disabled {
    cursor: not-allowed;
}

.show-more {
    cursor: pointer;
}