.block-form-offer {
    background-color: #282b3e;
    position: relative;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 40px;
    border-top: 40px solid #fafafa;
    padding-top: 50px;
    @include tablet-small{
        margin-left: 0;
        margin-right: 0;
    }



    .form-offer-user-image {
        margin-left: auto;
        margin-right: auto;
        .user-image-holder {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            background-size: cover;
            background-repeat: no-repeat;
            left: 50%;
            margin-left: -40px;
            margin-top: -40px;
            position: absolute;
            top: 0;
        }
    }

    .form-offer-title {
        text-align: center;
        padding-bottom: 15px;
        padding-left: 15px;
        padding-right: 15px;
        @include tablet-small{
            padding-left: 0;
            padding-right: 0;
        }

        h3 {
            font-family: $mainFont;
            font-weight: 400;
            font-size: 36px;
            line-height: 42px;
            color: #ffffff;
            //font-size: 22px;
            //line-height: 28px;


            @include tablet-small{
                font-size: 22px;
                line-height: 28px;
            }

            @include tablet{
                font-size: 24px;
                line-height: 32px;
            }

            span {
                font-family: $secondaryFont;
                font-style: italic;
            }
        }
    }

    .form-offer-options-wrapper {
        overflow: hidden;
        text-align: center;
        padding-bottom: 30px;

        .block-form-offer-option-image {
            padding-left:23px;
            padding-right: 23px;
        }
        .form-offer-option {
            //width: 50%;
            //float: left;
            display: inline-block;
            text-align: center;
            cursor: pointer;

            &:hover {
                //background-color: #fafafa;
            }
        }

    }



    .form-offer-answer {
        display: none;
        .title {
            font-weight: 600;
            color: #00bf66;
            font-size: 22px;
            line-height: 28px;
            margin-bottom: 30px;

        }

        .block-form {
            margin-top: 10px;
        }
    }


    .form-offer-option-text {
        h6 {
            font-size: 16px;
            line-height: 24px;
            font-weight: 600;
            margin-top: 10px;
            @include tablet{

            }

        }
    }

    .form-element-wrapper {
        margin-top: 0;
        margin-bottom: 30px;
    }


}





.block-form-offer-option-image {

    .form-offer-option-image {
        display: inline-block;
        width: 80px;
        height: 80px;


        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom center;
    }
    
    .form-offer-option-image-coffee {
        background-image: url('../images/icon/form/icon-form-coffee.svg');
        //background-image: url('../images/icon/form/icon-form-coffee.gif');
        &:hover {
            background-image: url('../images/icon/form/icon-form-coffee-selected.svg');
        }
    }
    .form-offer-option-image-tea {
        background-image: url('../images/icon/form/icon-form-tea.svg');
        width: 74px;
        //background-image: url('../images/icon/form/icon-form-tea.gif');
        &:hover {
            background-image: url('../images/icon/form/icon-form-tea-selected.svg');
        }

    }


}

.status-selected {
    .form-offer-option-image-coffee {
        background-image: url('../images/icon/form/icon-form-coffee-selected.svg');
    }
    .form-offer-option-image-tea {
        background-image: url('../images/icon/form/icon-form-tea-selected.svg');
    }
}

.form-offer-option.status-selected {
    h6 {
        color: $greenColor;
    }
}

.form-offer-answer {
    form {
        label,
        input,
        textarea,
        .form-select-wrapper .btn {
            color: rgba(256,256,256,0.75);
        }

    }


    .block-thank {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 15px;
        padding-right: 15px;
        @include tablet{
            padding-top: 0;
            padding-bottom: 0;
            padding-left: 30px;
            padding-right: 30px;
        }


        .product-thank-title {
            margin-top: 40px;
            @include tablet-small{
                margin-top: 60px;
            }

        }
        .product-thank-subtitle {
            font-weight: 600;
        }

        .thank-text {
            font-size: 16px;
            line-height: 24px;
            margin-top: 40px;
            @include tablet-small{
                margin-top: 20px;
            }

        }


    }
    .thank-content {
        h2, p {
            color: #ffffff;
        }
    }
}



.bootstrap-select.btn-group .dropdown-toggle .filter-option {
    font-family: $mainFont;
}

.form-field-inner {
    position: relative;
}

.form-field-inner .error-label {
    display: none;
    padding: 3px;
    //background: white;
    //color: #f8453c;
    background: #f8453c;
    color: white;
    position: absolute;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);

    font-size: 13px;
    top: 60px;
    left: 0;
    z-index: 10;
}

.status-error + .error-label {
    display: inline-block;
}





.form-field-inner .error-label:before{
    border: 6px solid transparent;
    border-left: 6px solid #f8453c;
    position: absolute;
    top: -5px;
    left: 0;
    content: "";
    display: inline-block;

}


