.page-name-critical-selectcare, .page-name-ready-mummy, .page-name-life-ready-plus {
    .section-form-offer {
        display: none !important;
    }
}

.section-form-offer-green {
    .linkbanner-agent  {
        height: 92px;

        @include tablet {
            margin-left: 9px;
            margin-right: 20px;
            width: 12.323%;
            min-width: 126px;
        }

        .box-user-img {
            padding-top: 9px;

            .user-image-holder {
                background-color: #ccc;
                margin: auto;
                width: 68px;
                height: 68px;
                border-radius: 4px;
                background-size: cover;
                background-position: center center;
                position: relative;

                &:before {
                    content: "";
                    border: 4px solid #fff;
                    width: 86px;
                    height: 86px;
                    position: absolute;
                    top: -8.5px;
                    left: -8.5px;
                    border-radius: 8px;
                }

                .chatbox-arrow {
                    position: absolute;
                    left: 28px;
                    bottom: -24px;
                    width: 0;
                    height: 0;
                    border-top: 11px solid #fff;
                    border-right: 9px solid #fff;
                    border-left: 17px solid transparent;
                    border-bottom: 7px solid transparent;

                    &:before {
                        content: "";
                        position: absolute;
                        left: -12.5px;
                        bottom: 1px;
                        width: 0;
                        height: 0;
                        border-top: 8px solid #00bf66;
                        border-right: 6px solid #00bf66;
                        border-left: 12px solid transparent;
                        border-bottom: 4px solid transparent;
                    }
                }
            }
        }
    }
    .linkbanner-text {
        padding: 0px;
        margin-top: 10px;
        text-align: center;

      .subtext {
        color: #fff;

        @include tablet {	
            font-size: 26px;	
            line-height: 31px;
        }
      }

      @include tablet {
        margin-top: 0;
        text-align: left;
        width: 69.119%;
      }
    }
    .linkbanner-button {
      margin-top: 15px;
      @include tablet {
        margin-top: 0;
        width: 18.558%;
        min-width: 172.84px;
      }
      text-align: center;
      display: flex;
      align-content: center;
      
      .button {
        width: auto;
        padding: 20px;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
      }
    }

    
    .form-offer-green-question {
      padding: 21px 20px;
      background-color: $greenColor;  
      display: none;
      
      @include desktop-small {
          padding: 21px 28px;
      }

        .linkbanner-agent  {
            .box-user-img {
                .user-image-holder {
                    background-color: #ccc;

                    &:before {
                        content: "";
                        border: 4px solid #fff;
                    }

                    .chatbox-arrow {
                        border-top: 11px solid #fff;
                        border-right: 9px solid #fff;

                        &:before {
                            border-top: 8px solid #00bf66;
                            border-right: 6px solid #00bf66;
                        }
                    }
                }
            }
        }
      
    }

    .form-offer-green-answer {
        border-top: 10px solid $greenColor; 
        background: #fff;

        .linkbanner-agent  {
            .box-user-img {
                .user-image-holder {
                    background-color: #ccc;

                    &:before {
                        content: "";
                        border: 4px solid #00bf66;
                    }

                    .chatbox-arrow {
                        border-top: 11px solid #00bf66;
                        border-right: 9px solid #00bf66;

                        &:before {
                            border-top: 8px solid #FBFBFB;
                            border-right: 6px solid #FBFBFB;
                        }
                    }
                }
            }
        }

        .form-element-wrapper {
            padding: 0px;
            @include tablet {
                margin-left: -20px;
                width: 83%;
            }
        }

        .title {
            font-size: 26px;	
            line-height: 31px;
            margin-bottom: 30px;
            text-align: center;

            @include tablet {
                text-align: left;
            }
        }

        .block-form {
            padding: 21px 20px;
        
            @include desktop-small {
                padding: 21px 28px;
            }

            .select-topic .bootstrap-select {
                width: 100% !important;
            }
        }
    }

    
    .form-offer-green-question-row {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        @include tablet {
          flex-wrap: nowrap;
        }
    } 

    .block-form-row {
        display: flex;
        flex-wrap: wrap;

        @include tablet {
          flex-wrap: nowrap;
        }
    } 
}