//.contact-form {
body {
    form {
        position: relative;

        .form-field {
            margin-bottom: 30px;
            position: relative;
            
            .error-label {
                top: auto;
                bottom: -19px;
            }

            .error-label-message, .error-label-review {
                top: 181px;

                @include tablet {
                    top: 291px;
                }
            }

            .error-label-contact-method {
                top: 62px;
            }

            &.form-field-method {
                .status-error {
                    border: none !important;

                    .input-method-radio {
                        color: #f8453c;
                    }
                }
            }
        }

        label {
            font-size: 16px;	
            letter-spacing: 0.25px;	
            line-height: 26px;
            font-weight: 400;
            color: #424559;
            display: block;
            margin-bottom: 5px;
            span {
                font-family: $secondaryFont;
                font-style: italic;
            }
        }
        input {
            width: 100%;
            height: 60px;
            line-height: 28px;
            font-size: 16px;
            font-weight: 500;
            color: #282b3e;


            background-color: rgba(216,216,216,0.1);
            padding: 0 10px;
            border: 0;

            padding-top: 5px;
            padding-bottom: 5px;
            border: 1px solid #E5E5E5;
            font-family: "Manulife JH Sans", arial, sans-serif;

        }

        .select-dropdown {
            height: 60px;
            background-color: rgba(216,216,216,0.1);
            border: 1px solid #E5E5E5;

            .btn {
                border: 0;
            }
        }

        select {
            width: 100%;
            height: 24px;
            height: 28px;
            line-height: 24px;
            font-size: 16px;
            font-weight: 500;
            color: #282b3e;
            padding: 0;
            border-radius:0;
            box-shadow: none;
            background: none;
            border: 0;
            outline:0;
            padding-top: 5px;
            padding-bottom: 5px;
            border-bottom: 1px dashed #93959e;
            -webkit-appearance: listbox;
        }

        textarea {
            width: 100%;
            height: 150px;
            line-height: 24px;
            font-size: 16px;
            font-weight: 500;
            color: $darkGrayColor;
            background-color: rgba(216,216,216,0.1);
            padding: 5px 10px;
            border: 1px solid #E5E5E5;

            @include tablet {
                height: 260px;
            }
        }

        .block-button {}

        .block-input-method {
            display: block;
            margin-top: 4px;
            .input-method {
                display: inline-block;
                //width: 45%;
                @include desktop-small{
                    width: auto;
                    float: left;
                    //margin-right: 30px;
                }

            }

        }

        .input-method-radio {
            display: inline-block;
            font-size: 14px;
            line-height: 20px;
            font-weight: 500;
            color: $lightGrayColor;
            position: relative;
            cursor: pointer;


            &:nth-of-type(1) {
                margin-right: 20px;
            }

            &:before {
                width: 30px;
                height: 30px;
                content: "";
                background-size: cover;
                background-repeat: no-repeat;
                background-position: top left;
                display: inline-block;
                vertical-align: middle;
                margin-right: 10px;

                @include tablet-small-only{
                    width: 24px;
                    height: 24px;
                }

            }


        }
        .input-method-email {
            .input-method-radio {
                &:before {
                    background-image: url("../images/icon/icon-round-email.svg");
                }
            }
        }
        .input-method-phone {
            .input-method-radio {
                &:before {
                    background-image: url("../images/icon/icon-round-phone.svg");
                }
            }
        }



        .form-field-phone {
            .form-select-wrapper {
                width: 60px;
                display: inline-block;
                float: left;

                &:after {
                    right: -26px;
                }
            }
            input {
                //width: calc(100% - 90px);
                width: calc(100% - 113px);
                margin-left: 53px;
                display: inline-block;
                vertical-align: bottom;
                
                @include tablet-small {
                    margin-left: 63px;
                    width: calc(100% - 123px);
                }

                @include tablet {
                    margin-left: 56px;
                    width: calc(100% - 116px);
                }
            }
        }


        .form-field-date-and-time {
            overflow: hidden;
            .form-select-wrapper {
                float: left;
                margin-right: 15px;
                width: calc(50% - 15px);
                @include desktop-small{
                    margin-right: 20px;
                    width: calc(50% - 20px);
                }



            }
            .form-select-wrapper + .form-select-wrapper {
                margin-right: 0;
                margin-left: 15px;
                @include desktop-small{
                    margin-left: 20px;
                }
            }
            select + select {
                //margin-left: 4%;
            }
        }

    }



    // ------------------------------------------------ Errors and Messages

    .block-thank {
        display: none;
    }

    .section-form-contact {

        .block-thank {

        }

        .title-thank {

        }

        .icon-thank-you {

        }

        textarea {
            background-color: #fff;
        }
    }

    //.block-thank {
    //    display: none;
    //}

    .block-thank.status-visible {
        display: block;
    }

    .status-error {
        //border: 2px solid red;
        border: 1px solid #ff5d55!important;
        //color: red;
        color: #ff5d55!important;
    }

    select.status-error {
        border: 1px dashed #ff5d55;
    }

    // ------------------------------------------------ Behavioiur
    .status-selected.input-method-email {
        .input-method-radio {
            color: $greenColor;
            &:before {
                background-image: url("../images/icon/icon-round-email-selected.svg");
            }
        }
    }
    .status-selected.input-method-phone {
        .input-method-radio {
            color: $greenColor;
            &:before {
                background-image: url("../images/icon/icon-round-phone-selected.svg");
            }
        }
    }

    select:active, select:focus {
        border: 1px dashed $greenColor;
    }

    input:active, input:focus {
        border: 1px solid $greenColor;
    }




}
// ------------------------------------------------------------------------------------------------------ Form general style
.form-select-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;

    &:after {
        content: '';
        width: 14px;
        height: 9.5px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top left;
        background-image: url(../images/icon/icon-arrow-down-black.svg);
        display: inline-block;
        vertical-align: middle;
        position: absolute;
        top: 23px;
        right: 16px;
    }
}


.form-select-wrapper       {

    .dropdown-menu {
        border-radius: 0;
        span {
            font-family: $mainFont;
            font-size: 14px;
            font-weight: 400;
        }
    }

    .btn {
        height: 60px;
        line-height: 19px;
        font-size: 16px;
        font-weight: 500;
        color: #93959e;
        background-color: transparent;
        background-color: rgba(216, 216, 216, 0.1);
        padding: 0;
        border: 0;
        padding-left: 10px;
        padding-right: 20px;
        border: 1px solid #E5E5E5;
        border-radius: 0;
        //border-bottom: 1px dashed #93959e;
    }

    .btn-default:hover {
        background: none;
        color: #93959e;
    }

    .open>.dropdown-toggle.btn-default {
        background: none;
        color: #93959e;
    }

    .bs-caret {
        display: none;
    }
}

.select-phone-prefix {
    width: 98px;
    .bootstrap-select {
        width: 98px!important;
    }
}

.select-dropdown {
    .bootstrap-select {
        width: 100%!important;
    }
}

.form-field-type {
    width: 100%;
    .bootstrap-select {
        width: 100%!important;
    }
}

.select-date-time {
    .bootstrap-select {
        width: 100%!important;
    }
}

.form-element {
    @include tablet-small {
        .form-field.col-sm-6, .form-field.col-xs-6 {
            padding-left: 25px;
            padding-right: 12.5px;
        }
        
        .form-field.col-sm-6 + .form-field.col-sm-6,
        .form-field.col-xs-6 + .form-field.col-xs-6 {
            padding-left: 12.5px;
            padding-right: 25px;
        }
    }

    @include tablet {
        .form-field.col-sm-6, .form-field.col-xs-6,
        .form-field.col-md-6, .form-field.col-md-6 {
            padding-left: 20px;
            padding-right: 10px;
        }

        .form-field.col-sm-6 + .form-field.col-sm-6,
        .form-field.col-xs-6 + .form-field.col-xs-6,
        .form-field.col-md-6 + .form-field.col-md-6 {
            padding-left: 10px;
            padding-right: 20px;
        }
    }
}

.form-product, .form-contact-box {
    //reset padding
    .form-field.col-sm-6, .form-field.col-xs-6 {
        padding-left: 15px;
        padding-right: 7.5px;
    }
    .form-field.col-sm-6 + .form-field.col-sm-6,
    .form-field.col-xs-6 + .form-field.col-xs-6 {
        padding-left: 7.5px;
        padding-right: 15px;
    }

    .form-field.col-xs-12 {
        padding-left: 15px;
        padding-right: 15px;
    }


    .form-field.col-sm-3 {
        padding-left: 15px;
        padding-right: 7.5px;
    }
    .form-field.col-sm-3 + .form-field.col-sm-3 {
        padding-left: 7.5px;
        padding-right: 15px;
    }

    @include mobile-mmedium {
        .form-field.col-sm-6, .form-field.col-xs-6 {
            padding-left: 25px;
            padding-right: 12.5px;
        }
        .form-field.col-sm-6 + .form-field.col-sm-6,
        .form-field.col-xs-6 + .form-field.col-xs-6 {
            padding-left: 12.5px;
            padding-right: 25px;
        }

        .form-field.col-xs-12 {
            padding-left: 25px;
            padding-right: 25px;
        }


        .form-field.col-sm-3 {
            padding-left: 25px;
            padding-right: 12.5px;
        }
        .form-field.col-sm-3 + .form-field.col-sm-3 {
            padding-left: 12.5px;
            padding-right: 25px;
        }
    }

    @include tablet {
        .form-field.col-sm-6, .form-field.col-xs-6 {
            padding-left: 15px;
            padding-right: 7.5px;
        }
        .form-field.col-sm-6 + .form-field.col-sm-6,
        .form-field.col-xs-6 + .form-field.col-xs-6 {
            padding-left: 7.5px;
            padding-right: 15px;
        }

        .form-field.col-xs-12 {
            padding-left: 15px;
            padding-right: 15px;
        }


        .form-field.col-sm-3 {
            padding-left: 15px;
            padding-right: 7.5px;
        }
        .form-field.col-sm-3 + .form-field.col-sm-3 {
            padding-left: 7.5px;
            padding-right: 15px;
        }
    }



    @include desktop-small {

        .form-field.col-sm-6 {
            padding-left: 20px;
            padding-right: 5px;
        }
        .form-field.col-sm-6 + .form-field.col-sm-6 {
            padding-left: 5px;
            padding-right: 20px;
        }

        .form-field.col-sm-3 {
            padding-left: 10px;
            padding-right: 10px;
        }
        .form-field.col-sm-3 + .form-field.col-sm-3 {
            padding-left: 10px;
            padding-right: 10px;
        }


    }

}



.form-field-date {
    padding-left: 15px;
    padding-right: 7.5px;
}
.form-field-time {
    padding-left: 7.5px;
    padding-right: 15px;
}


@include desktop-small {


    .form-field-date {
        padding-left: 20px;
        padding-right: 10px;
    }
    .form-field-time {
        padding-left: 10px;
        padding-right: 20px;
    }


}


.select-date-day-input {
        cursor: pointer;
        width: 100%;
        height: 28px;
        line-height: 24px;
        font-size: 14px;
        font-weight: 400;
        font-family: $mainFont;

        padding: 0;
        border-radius:0;
        box-shadow: none;
        background: none;
        border: 0;
        outline:0;
        padding-top: 5px;
        padding-bottom: 5px;
        border-bottom: 1px dashed #93959e;

        //-webkit-appearance: listbox;

}

.select-date-day-input::-webkit-input-placeholder {color: #ffffff;}
.select-date-day-input::-moz-placeholder {color: #ffffff;}
.select-date-day-input:-ms-input-placeholder {color: #ffffff;}
.select-date-day-input:-moz-placeholder {color: #ffffff;}

// ------------------------------------------------------------------------------------------------------ Custom style
// ------------------------------------------------------------------------------------------------------ Product page form
.form-product {


    .form-field-date-and-time {
        overflow: inherit;
        .form-select-wrapper {
            margin-top: 10px;
        }
    }


    .form-field-date-label {
        margin-bottom: 0;
    }

    .form-select-wrapper .btn {
        color: #282b3e;
    }

    .button {
        padding-left: 40px;
        padding-right: 40px;
    }
}



.form-offer-answer {
    .block-form {
        margin-top: 30px;
        margin-bottom: 30px;
        @include desktop-small {
            margin-left: 60px;
            margin-right: 60px;
        }
    }

}

// ------------------------------------------------------------------------------------------------------ Contact box form


.tabs-content-item .button-close-thanks {
    display: none;
}


.block-thank {
    .thank-title {
        color:$darkGrayColor;
        font-weight: normal;
        font-size: 20px;	
        line-height: 24px;
    }
    .thank-shedule {
        color: $greenColor;
        margin-top: 20px;
    }
    .thank-text {
        color: $darkGrayColor;
        font-size: 16px;	
        line-height: 19px;
        margin-top: 9px;
    }
    margin-bottom: 13px;
}




//.form-contact-box {



.form-element {
    .datepicker {
        padding: 0;
    }

    .bootstrap-datetimepicker-widget.dropdown-menu {
        margin: 0;
        border-radius: 0;
        padding: 0;

    }


    .bootstrap-datetimepicker-widget.dropdown-menu.top:before, .bootstrap-datetimepicker-widget.dropdown-menu.top:after {
        display: none!important;
    }

    .datepicker > div > table > thead tr:first-child {
        background-color: $greenColor;
    }

    .datepicker > div > table > thead tr:first-child th {
        border-radius: 0;
        height: 40px;
        line-height: 40px;
    }
    .picker-switch {
        font-family: $mainFont;
        font-weight: 700;
        font-size: 18px;
        color:white;
    }

    .next, .prev {
        position: relative;
        &:before {
            width: 30px;
            height: 30px;
            content: "";
            background-size: cover;
            background-repeat: no-repeat;
            background-position: top left;
            background-image: url('../images/icon/icon-round-arrow-right.svg');
            display: inline-block;
            vertical-align: middle;
            left: 0px;
            top: 10px;
            position: absolute;

        }
        span {
            display: none;
        }

        &:hover {
            background-color: $greenColor;
            &:before {
                background-image: url('../images/icon/icon-round-arrow-right-hover.svg');
            }
        }
    }
    .prev {
        &:before {
            background-image: url('../images/icon/icon-round-arrow-left.svg');
            left: inherit;
            right: 0;
            top: 10px;

        }


        &:hover {
            &:before {
                background-image: url('../images/icon/icon-round-arrow-left-hover.svg');
            }
        }
    }

    .datepicker .prev.disabled {
        visibility: visible;
        opacity: 0;
    }
    .dow {
        font-size: 14px;
        font-weight: 600;
        font-family: $mainFont;
    }

    .day {
        font-size: 14px;
        font-weight: 400;
        font-family: $mainFont;

        width: 32px!important;
        padding: 0!important;
        line-height: 33px !important;
        height: 27px !important;
    }

    .datepicker table tr td.today {
        background: inherit!important;
    }

    .datepicker table tr td.active {
        border-radius: 50%;
        font-weight: 700;
        background: $greenColor !important;
        font-size: 16px;
        line-height: 23px !important;
    }
}


.form-contact-box {
    .bootstrap-datetimepicker-widget.dropdown-menu {
        margin: 0;
        width: calc(100% - 40px);
        height: calc(100% - 60px);
        border-radius: 0;
        padding: 0;
        top: 40px!important;
        bottom: inherit!important;
        left: 20px!important;
        right: 20px!important;
        &:before {
            display: none;
        }
        &:after {
            display: none;
        }
    }
}

.form-product {
    .bootstrap-datetimepicker-widget.dropdown-menu {
        width: 240px;
    }
}


.form-description {
    margin-bottom: 30px;
    h6 {
        font-weight: 600;
    }

    p {
        margin-top: 10px;
    }
}

.form-field {
    .block-button {
        margin-top: 20px;
    }

    .form-field-inner {
        .block-button {
            margin-top: 0;
        }
    }
}


.form-field-devider {
    .form-field-inner {
        width: 100%;
        height: 1px;
        background-color: #d5d6da;
    }
}

.form-element-wrapper {
    margin-top: 30px;
    margin-bottom: 30px;
}

.bootstrap-select.btn-group .dropdown-menu li {
    list-style: none;
}