.insurance-guides-container {
    background-color: #fff;
    padding: 30px 40px 15px;
    border: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
}

.botton-container {
    background-color: #fff;
    padding: 15px 40px;
    border: 1px solid #f1f1f1;
    border-top: none;
    margin-bottom: 15px;

    .button-orange-arrow {
        text-transform: uppercase;
    }
}