
.item-box-wrapper {
    margin-top: 40px;
}
.item-box {
    background-color: #ffffff;
    border-left: solid 7px $greenColor;
    height: 100%;


    .box-content-wrapper {
        display: block;
        width: 100%;
        height: 100%;
        padding: 15px;
        @include tablet{
            padding: 20px;
            padding-top: 30px;
            padding-bottom: 30px;
        }

        cursor: pointer;
    }



    img {
        margin-bottom: 10px;
        height:auto;
        width: auto;

    }

    h3 {
        font-weight: 600;
        margin-top: 20px;
        @include tablet-small{
            font-size: 23px;
        }

    }
    p {
        //display: none;
        margin-top: 20px;
        @include tablet {
            display: block;
        }
    }

    .orange-arrow-button {
        margin-top: 25px;
        display: inline-block;
    }
}




// ------------------------------------------------ This section should not be here
.block-features {
    .features-extra-link {

        padding-bottom: 30px;
        .link-icon {
            margin-right: 20px;
            @include tablet-small{
                margin-right: 55px;
            }
        }

        .link-icon + .link-icon {
            float: right;
            @include tablet-small{
                float: inherit;
            }
        }

        @include tablet-small{
            padding-left: 85px;
        }


    }
    .features-title {
        margin-top: 30px;
        margin-bottom: 30px;
        font-weight: 600;
    }
    .features-item {
        margin-bottom: 30px;

        &:nth-of-type(odd){
            clear:left;
        }

        p {
            margin-top: 0;
        }

        .features-item-image {
            display: inline-block;
            vertical-align: top;
            width: 50px;
            height: 50px;
            text-align: center;

            img {
                width: 100%;
            }
        }
        .features-item-text {
            display: inline-block;
            width: calc(100% - 75px);
            padding-left: 30px;
            vertical-align: middle;
            strong {
                display: block;
            }
        }
    }
    .features-items {
        .table-feature-wrapper {
            overflow-x: auto;
            .table-feature {
                min-width: 350px;
                border: 1px solid #ddd;
                table-layout: fixed;
                width: 100%;
                margin-bottom: 30px;

                td {
                    padding: 10px;
                    vertical-align: top;
                    font-size: 16px;

                    &:first-child {
                        border-right: 1px solid #e9e9e9;
                    }

                    &.table-feature-title {
                        background:#e9e9e9;
                        border-right: 1px solid fff;
                        text-align: center;
                    }
                }
            }
        }
    }
}