.banner-top-wrapper {
    position: relative;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    min-height: 180px;
    z-index: 2;
    border-bottom: 1px solid #f5f5f5;

    &.contact-banner {
        min-height: 285px;
        margin: 0 -15px;

        @include mobile-mmedium {
            margin: 0;
        }

        .cover-image {
            height: 285px;
        }

        .mainTitle + .subText,
        .subText + .button {
            margin-top: 15px;
        }
        .banner-top-caption .container-fluid {
            text-align: center;

            .mainTitle, .subText {
                max-width: 272px;
                margin-left: auto;
                margin-right: auto;

                @include mobile-mmedium {
                    max-width: 467px;
                }

                @include tablet {
                    margin-left: 0;
                    margin-right: 0;
                }
            }
            
            @include tablet {
                text-align: left;
                max-width: inherit;
            }
        }
    }

    &.banner-with-blue-enquiry-bar {
        border-bottom: none;

        .banner-top-caption {
            .mainTitle {
                @include mobile-mmedium-only {
                    font-size: 24px;
                    line-height: 30px;
                    max-width: none;
                }
            }
        }

    }

    &.banner-with-long-headline {
        .banner-top-caption {
            .mainTitle {
                @include mobile-mmedium {
                    font-size: 30px;
                    line-height: 35px;
                    max-width: none;
                }
            }
        }

    }
    //fix for bo editor, in case of using background black and opacity on img you will see black area on slow loading
    .cover-image-wrapper {
        font-size: 0;
        &:after {
            content: '';
            display: inline-block;
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            right: 0;
            //background-color: rgba(0,0,0,0.15);
            z-index: 2;

            .home-page & {
                background-color: transparent;
            }
        }
        p {
            font-size: 0;
            line-height: 0;
        }

        &.hide-mobile {
            display: none;

            @include desktop-small {
                display: block;
            }
        }

        &.hide-tablet {
            display: none;

            @include tablet-small {
                display: block;
            }

            @include desktop-small {
                display: none;
            }
        }

        &.hide-desktop {
            display: block;

            @include tablet-small {
                display: none;
            }
        }
    }



    //fix for bo editor, in case of using background black and opacity on img you will see black area on slow loading
    .cover-image-wrapper.fr-box {
        padding: 4px!important;
        margin: 0 !important;
        border-radius: 0!important;


        &:after {
            display: none;
        }
        background-color: #000;
        .cover-image {
            opacity: 0.85;
        }

        p {
            font-size: 0;
            line-height: 0;
        }
    }


    .cover-image {
        object-fit: cover;
        min-height: 180px;
        width: 100%;
        //opacity: 0.85;
        @include mobile-mmedium {
            //height: 450px;
            height: 373px;
        }

        @include desktop-medium {
            height: 480px;
        }
    }

    @include mobile-mmedium {
        min-height: 373px;
    }
    
    @include desktop-medium {
        min-height: 480px;
    }

    .banner-top-caption {
        color: #fff;
        width: 100%;
        position: absolute;
        top: 50%;
        z-index: 3;
        transform: translateY(-50%);

        .mainTitle {
            max-width: 214px;
            font-weight: 400;
            font-family: $mainFont;
            font-size: 20px;	
            line-height: 26px;
            color: #fff;

            @include mobile-mmedium {
                font-size: 46px;
                line-height: 56px;
                max-width: 574px;
            }

            span {
                font-style: normal;
            }            

            + .block-button {
                margin-top: 10px;
            }
        }

        .subText {
            margin-top: 5px;
            color: #ffffff;
            max-width: 177px;
            
            @include mobile-mmedium {
                margin-top: 15px;
                max-width: 625px;
            }

            + .block-button {
                margin-top: 10px;
            }
        }        

        .subCategory {
            font-weight: normal;
            color: #ffffff;
            max-width: 177px;
            
            @include mobile-mmedium {
                max-width: 625px;
            }
        }

        p {
            max-width: 625px;
            color: #fff;
        }

        .color-black {
            p, .subText, .mainTitle {
                color: #333333; 
            }
        }

        .title-green {
            .mainTitle {
                color: $greenColor;
            }
        }
    }
}

$bannerButtonInvisibleWidth: 120px;
.banner {
    .button-close-banner {
        background-image: none;
        overflow: hidden;
        margin: 0;
        right: 5px;

        &:after, &:before {
            content: "";
            width: 1px;
            height: 100%;
            background-color: #272b3d;
            display: block;
            z-index: 1;
            position: absolute;
            left: 50%;
        }
        &:after {
            transform: rotate(45deg);
        }
        &:before {
            transform: rotate(-45deg);
        }
    }

    .banner-text {
        max-width: 260px;
    }

    .button-invisible-placeholder {
        -webkit-appearance: none;
        display: inline-block;
        position: absolute;
        margin: 0;
        padding: 0;

        top: 24px;
        left: 50%;
        margin-left: -($bannerButtonInvisibleWidth / 2);
        width: $bannerButtonInvisibleWidth;
        height: 52px;
    }
}

.page-name-index, .page-name-non-face-to-face-advisory {
    .banner-top-wrapper {    
        &.banner-top-with-button {

            @include tablet-small {
                .cover-image-wrapper {
                    background-color: #000;
                }
                  
                .cover-image {
                    opacity: 0.5;
        
                    @include tablet-small {                
                        opacity: 0.9;
                    }
                }
            }

            @include mobile-only {
                border-bottom: none;
            }

            .banner-top-caption {
                .subText {
                    max-width: none;

                    b {
                        font-weight: bold;
                    }

                    .orangeText {
                        color: #fff;
                    }
                }

                &.banner-top-mobile-caption {
                    @include mobile-only {
                        position: relative;
                        top: 0;
                        transform: none;
                        padding-top: 20px;
                        padding-bottom: 20px;
        
                        h2, p, .subText, .mainTitle {
                            color: #282b3e;
                            max-width: none;
                            text-align: center;
                        }

                        .subText {
                            display: none;
                        }
        
                        .block-button {
                            .button-orange {
                                width: 100%;
                            }
                        }
                    }

                    @include mobile-mmedium-only {
                        .subText {
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }
}

.page-name-index {
    .banner-top-with-button {
        @media (max-width: 1199px) {
            border-bottom: none;
        }

        .cover-image {
            opacity: 1 !important;
        }

        .banner-top-caption {
            @media (max-width: 1199px) {
                background: #fff;
            }

            @include desktop-small {
                display: none;
            }

            @media (max-width: 1199px) and (min-width: 768px) {
                position: relative;
                top: 0;
                transform: none;
                padding-top: 20px;
                padding-bottom: 20px;
                text-align: center;

                .col-xs-12.col-md-8 {
                    float: none;
                    margin: auto;
                    width: 100%;
                }

                .block-button {
                    .button-orange {
                        width: 50%;
                        max-width: 300px;
                    }
                }
            }
        }
    }
}