.news-latter-opt-option {
  /* Custom check box */
  padding-bottom: 20px;
  .container {
    display: block;
    position: relative;
    padding-left: 24px;
    padding-right: 0;
    margin: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
    
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.3px;
    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }
  
    span.error-color {
      display: none;
      padding: 3px;
      background: #f8453c;
      color: white;
      position: relative;
      box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
      font-size: 13px;
      z-index: 10;
      font-style: normal;
      font-family: $mainFont;
      // margin-top: 20px;
  
      &:before {
        border: 6px solid transparent;
        border-left: 6px solid #f8453c;
        position: absolute;
        top: -5px;
        left: 0;
        content: "";
        display: inline-block;
      }
    }
    
    &.white-text{
      color: #fff;
    }

    a {
      color: $greenColor;
      
      &:hover {
        color: inherit;
      }
    }
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;	
    width: 16px;	
    border: 1px solid #E5E5E5;	
    background-color: #FFFFFF;
  }
  .container {
    &:hover input ~ .checkmark {
      //background-color: #ccc;
    }
    input:checked ~ .checkmark {
      //background-color: #2196F3;
    }
  }
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  .container {
    input:checked ~ .checkmark:after {
      display: block;
    }
    .checkmark:after {
      left: 5px;
      top: 0;
      width: 5px;
      height: 11px;
      border: solid #00A854;
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
  
  &.check-false{
    .checkmark{
      border-color:#f8453c;
    }
  
    .container{
      span.error-color{
        display: block;
      }
      .checkmark:after {
        border-color:#f8453c;
      }
    }
  }
}