//
//.mm-menu_theme-black {
//    background: #f99;
//    background: linear-gradient(135deg, #f99 10%,#c6f 90%);
//}
//.mm-navbars_top
//{
//    background: rgba( 255, 255, 255, 0.3 );
//}
//.mm-panels,
//.mm-panels > .mm-panel {
//    background: none;
//}
//.mm-navbar_has-btns {
//    border: none;
//    padding-left: 0 !important;
//}
//.mm-searchfield {
//    height: 60px;
//    padding: 23px 0 0 20px;
//    position: relative;
//}
//.mm-searchfield input {
//    background: none !important;
//    border-radius: 0 !important;
//    color: #fff !important;
//    height: 45px;
//}
//.mm-navbar__btn {
//    margin-top: 22px;
//}
//.mm-prev::before {
//    left: 18px;
//}
//.mm-panels > .mm-panel:before
//{
//    height: 40px;
//}
//.mm-listitem > a,
//.mm-listitem > span {
//    color: rgba( 255, 255, 255, 0.8 );
//}
//.mm-listitem > a,
//.mm-listitem > span {
//    font-size: 16px;
//    padding: 15px 10px 15px 40px;
//}

// For slide right
// .mm-wrapper_opened .mm-fx-menu-zoom.mm-position-right {
//     -webkit-transform:scale(.7,.7) translate3d(30%,0,0);
//     transform:scale(.7,.7) translate3d(30%,0,0);
//     -webkit-transform-origin:right center;
//     -ms-transform-origin:right center;
//     transform-origin:right center;
// }

// .status-first-mmenu-open .mm-fullscreen.mm-position-right.mm-opened~.mm-slideout {
//     -webkit-transform:translate3d(-100vw,0,0);
//     transform:translate3d(-100vw,0,0);
// }
// .mm-position-right {
//     left:auto;
//     right:0;
// }
// .mm-panel_noanimation.mm-panel_opened-parent,[class*=mm-columns-] .mm-panels>.mm-panel_columns-0,[dir=rtl].mm-wrapper_sidebar-collapsed .mm-slideout,[dir=rtl].mm-wrapper_sidebar-expanded .mm-slideout,[dir=rtl].mm-wrapper_sidebar-expanded:not(.mm-wrapper_sidebar-closed) .mm-sidebar-expanded.mm-opened~.mm-slideout,.status-first-mmenu-open .mm-fx-menu-slide,.status-first-mmenu-open .mm-fx-menu-slide.mm-position-right,.mm-fx-panels-none .mm-panel.mm-panel_opened-parent,.mm-panel_fx-none.mm-panel_opened-parent,.mm-fx-panels-slide-0 .mm-panel_opened-parent,.mm-panel_fx-slide-0.mm-panel_opened-parent,.mm-fx-panels-slide-up .mm-panel_opened,.mm-fx-panels-slide-up .mm-panel_opened-parent,.mm-panel_fx-slide-up.mm-panel_opened,.mm-fx-panels-slide-right .mm-panel_opened,.mm-fx-panels-slide-right .mm-panel_opened-parent,.mm-panel_fx-slide-right.mm-panel_opened,.status-first-mmenu-open .mm-position-bottom,.status-first-mmenu-open .mm-position-front,.status-first-mmenu-open .mm-position-top {
// -webkit-transform:translate3d(0,0,0);
// transform:translate3d(0,0,0);
// }
// [dir=rtl] .mm-panel.mm-panel_opened-parent,.mm-wrapper_opened .mm-fx-menu-slide.mm-position-right {
// -webkit-transform:translate3d(30%,0,0);
// transform:translate3d(30%,0,0);
// }
// .mm-columns-0 .mm-panels>.mm-panel:not(.mm-panel_opened):not(.mm-panel_opened-parent),[class*=mm-columns-] .mm-panels>.mm-panel_columns-1,.mm-position-front.mm-position-right {
// -webkit-transform:translate3d(100%,0,0);
// transform:translate3d(100%,0,0);
// }

// .status-first-mmenu-open .mm-columns-0.mm-position-right.mm-opened~.mm-slideout,.status-first-mmenu-open .mm-columns-1.mm-position-right.mm-opened~.mm-slideout,.status-first-mmenu-open .mm-columns-2.mm-position-right.mm-opened~.mm-slideout,.status-first-mmenu-open .mm-columns-3.mm-position-right.mm-opened~.mm-slideout,.status-first-mmenu-open .mm-columns-4.mm-position-right.mm-opened~.mm-slideout,.status-first-mmenu-open .mm-position-right.mm-opened~.mm-slideout {
// -webkit-transform:translate3d(-80vw,0,0);
// transform:translate3d(-80vw,0,0);
// }
// .status-first-mmenu-open .mm-fx-menu-zoom.mm-position-right,.mm-fx-panels-zoom .mm-panel.mm-panel_opened,.mm-panel_fx-zoom.mm-panel_opened {
//     -webkit-transform:scale(1,1) translate3d(0,0,0);
//     transform:scale(1,1) translate3d(0,0,0);
// }

// @media all and (max-width:300px){
// .status-first-mmenu-open .mm-columns-0.mm-position-right.mm-opened~.mm-slideout,.status-first-mmenu-open .mm-columns-1.mm-position-right.mm-opened~.mm-slideout,.status-first-mmenu-open .mm-columns-2.mm-position-right.mm-opened~.mm-slideout,.status-first-mmenu-open .mm-columns-3.mm-position-right.mm-opened~.mm-slideout,.status-first-mmenu-open .mm-columns-4.mm-position-right.mm-opened~.mm-slideout,.status-first-mmenu-open .mm-position-right.mm-opened~.mm-slideout {
// -webkit-transform:translate3d(-240px,0,0);
// transform:translate3d(-240px,0,0);
// }
// }
// @media all and (min-width:550px){

// .status-first-mmenu-open .mm-columns-1.mm-position-right.mm-opened~.mm-slideout,.status-first-mmenu-open .mm-position-right.mm-opened~.mm-slideout {
// -webkit-transform:translate3d(-440px,0,0);
// transform:translate3d(-440px,0,0);
// }
// }

// @media all and (min-width:0px){
// .status-first-mmenu-open .mm-columns-0.mm-opened~.mm-slideout,.status-first-mmenu-open .mm-columns-0.mm-position-right.mm-opened~.mm-slideout {
// -webkit-transform:translate3d(0,0,0);
// transform:translate3d(0,0,0);
// }
// }

#menu {
    max-height: 100%;
    overflow-y: auto;

    //header
    .mm-navbar-top-1 {
        height: 60px;
    }

    //back buttons
    .mm-hasnavbar-top-2 .mm-panels, .mm-navbar-top-3 {
        height: 70px;
        top: 60px;
    }
    //main content
    //.mm-hasnavbar-top-3 .mm-panels, .mm-navbar-top-4 {
    .mm-panels {
        top: 130px;
    }


    //style for menu items
    .mm-listview>li {
        svg {
            width: 24px;
            height: 24px;    
            margin-right: 17px;
            position: relative;
            top: 3px;

            path {
                fill: $darkGrayColor;
            }
        }

        &.icon-insights {
            svg path {
                &:first-child {
                    fill: inherit;
                    stroke: $darkGrayColor;
                }
            }
        }

        &.icon-seminars {
            svg path {
                &:first-child, &:nth-child(2) {
                    fill: inherit;
                    stroke: $darkGrayColor;
                }
            }
        }

        &.icon-review {
            svg path {
                stroke: $darkGrayColor;
                fill: #f3f3f3;
            }
        }

        &.icon-careers {
            svg path {
                &:first-child, &:last-child {
                    stroke: $darkGrayColor;
                    fill: #f3f3f3;
                }
            }
        }

        &.icon-partners {
            svg g {
                fill: $darkGrayColor;
                stroke: $darkGrayColor;

                path {
                    fill: inherit;
                }
            }
        }
    }
    .mm-listview>li>a, .mm-listview>li>span {
        font-size: 20px;	
        line-height: 20px;
        font-family: $mainFont;
        padding-top: 30px;
        padding-bottom: 30px;
        border-bottom: 1px solid #dadada;
        border-left: 1px solid transparent;
    }

    header {
        padding: 0;
    }

    .icon {
        display: inline-block;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .icon-mmenu-close {
        background-image: url('../images/icon/icon-menu-close.svg');
        width: 14px;
        height: 14px;
        vertical-align: middle;
    }

    .icon-mmenu-logo {
        background-image: url('../images/mobile_manulifelogo.png');
        width: 117px;
        height: 49px;
        vertical-align: middle;
        background-size: contain;
        position: relative;

        &:before {
            content: "Financial Advisers";
            position: absolute;
            top: 8px;
            left: 117px;
            color: #fff;
            font-size: 14.5px;
            line-height: 18px;
            margin-left: 7px;
            white-space: nowrap;
        }
    }


    .mm-prev {
        top: 15px;
        &:before {
            content: '';
            width: 20px;
            height: 20px;
            display: inline-block;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            background-image: url('../images/icon/icon-arrow-left-circle.svg');
            transform: none;
            border: 0;
        }

        &:after {
            content: 'Back';

            display: inline-block;
            transform: none;
            border: 0;
            font-size: 16px;
            line-height: 24px;
            color: #282b3e;
            width: 40px;
            height: 24px;
            margin: auto;
            position: absolute;
            left: 60px;
        }
    }


    .menu-item-title {
        font-size: 20px;
        line-height: 24px;
        font-weight: 600;
        color: #34384b;
        padding-left: 20px;
        &:before {
            content: '';
            width: 24px;
            height: 24px;
            left: 20px;
            top: 50%;
            margin-top: -15px;
            display: inline-block;
            background-repeat: no-repeat;
            background-position: center;
            //background-size: cover;
            background-size: contain;

            transform: none;
            border: 0;
            position: absolute;

        }

    }

    .mm-listview > li .menu-item-inner-title {
        font-size: 36px;
        line-height: 42px;
        font-weight: 400;
        color: #34384b;
        padding-left: 60px;
        &:before {
            content: '';
            width: 24px;
            height: 24px;
            left: 20px;
            top: 50%;
            margin-top: -13px;
            display: inline-block;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;

            transform: none;
            border: 0;
            position: absolute;

        }
    }

    /*.menu-item-home:before {background-image: url('../images/icon/menu/icon-home.svg');}
    .menu-item-services:before {background-image: url('../images/icon/icon-menu-services.svg');}
    .menu-item-about-us:before {background-image: url('../images/icon/icon-menu-about-us.svg');}
    .menu-item-review:before {background-image: url('../images/icon/icon-menu-reviews.svg');}
    .menu-item-discovery:before {background-image: url('../images/icon/icon-menu-discovery.svg');}
    .menu-item-promotion:before {background-image: url('../images/icon/menu/icon-promotion.svg');}
    .menu-item-forms:before {background-image: url('../images/icon/menu/icon-support.svg');}
    .menu-item-contact-us:before {background-image: url('../images/icon/icon-menu-contact-us.svg');}

    .menu-item-seminars:before {background-image: url('../images/icon/menu/icon-seminars.svg');}
    .menu-item-careers:before {background-image: url('../images/icon/menu/icon-careers.svg');}*/
    
    footer {
        text-align: left;
        h3 {
            margin-bottom: 0;
            margin-top: 20px;
        }

        .footer-legal-and-social:before {
            display: none;
        }

        .footer-legal-and-social .copyright {
            text-align: left;
            padding-top: 30px;
        }
        .block-footer-copyright {
            margin-top: 30px;
            margin-bottom: 20px;
        }
        .block-footer-copyright:before {
            content: "";
            width: 100%;
            height: 1px;
            background-color: #1e212f;
            position: absolute;
            left: 0;
        }
    }
}



.mobile-menu {
    display: none;
}


.status-first-mmenu-open {
    #menu .mm-navbar-top-3 {
        display: none;
    }
    #menu .mm-panels {
        top: 60px;
    }
}