.large-box {
    box-shadow: none;
    margin-bottom: 0;

    ul {
        li {
            &:before {
                background-color: $darkGrayColor;
            }
        }
    }

    h3 {
        margin-bottom: 20px;
        &:before {
            background-color: $darkGrayColor;
        }

    }
}

//rebuild
.section-solutions {
    &.section-articles {
        .large-solution-container {
            &.card {
                width: 100%;
                min-height: auto;
            }

            box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.07);
            margin-bottom: 20px;
            overflow: hidden;
            position: relative;

            @include tablet {
                margin-bottom: 30px;
            }
            
            &:hover {
                box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.07);
            }



            .card-image {
                max-height: 300px;
                overflow: hidden;

                img {
                    width: 100%;
                    min-height: auto;
                    max-height: none; 
                    max-width: inherit;
                    @include tablet-small {
                        max-width: 100%;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }

                }

                @include tablet-small {
                    width: calc(33.33333333% - 21px);
                    height: 100%;
                    display: inline-block;
                    position: absolute;
                    max-height: inherit;
                    overflow: inherit;
                    left: 0;
                    top: 0;
                }
                @include desktop-small{
                    width: calc(33.33333333% - 31px);
                }


            }
            .card-content {
                @include tablet-small {
                    //padding-left: 220px;
                    padding-left: calc(33.33333333% + 20px);
                    padding-right: 20px;
                    display: inline-block;
                    vertical-align: top;
                }
                @include desktop-small{
                    //padding-left: 295px;
                    padding-left: calc(33.33333333% + 30px);
                }

                .card-details {
                    @include mobile-only{
                        margin-left: -30px;
                        margin-right: -30px;
                        width: auto;
                    }
                }

                .button-orange-arrow {
                    @include tablet-small {
                        left: calc(33.33333333% + 20px);
                    }

                    @include desktop-small{
                        left: calc(33.33333333% + 30px);
                    }
                }
            }


        }  
    }

    .card {
        &.card-inline {
            @include tablet {
                min-height: 350px;
                width: 100%;

                .card-image {
                    width: 49.5%;
                    display: inline-block;
                    max-height: none;
                    position: relative;
                    height: 100%;
                    vertical-align: top;
                    img {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        max-height: none;
                    }
                }

                .card-content {
                    vertical-align: top;
                    width: 50%;
                    display: inline-block;
                    height: 100%;
                }
            }
        }

        &.card-gold {
            background: #a97236;
            h5, h3 {
                color: #fff;
            }
            .button-orange-arrow {
                color: #fff;
            }
        }

        &.card-full-image {
            .card-content-wrapper {
                position: relative;
                min-height: 300px;
                display: flex;
                flex-direction: row;
                align-items: center;

                .card-image {
                    position: absolute;
                    width: 100%;
                    display: block;

                    &.block-object-fit {
                        top: 0;
                    }
                }

                .card-content {
                    vertical-align: middle;
                    position: relative;
                    width: 100%;
                    display: block;
                    z-index: 10;
                    padding-bottom: 20px;

                    h3 {
                        color: #fff;
                    }
                    @include tablet {
                        height: auto;
                    }
                    
                    @include tablet-small {
                        padding-bottom: 30px;
                    }
                }
            }
        }

        &.our-solutions-main-details,
        &.our-solutions-main-intro {
            margin-bottom: 20px;

            @include tablet {
                margin-bottom: 30px;
            }
        }
    }
}


//rebuild
.large-solution-container {
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.07);
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
    &:hover {
        box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.07);
    }



    .card-image {
        max-height: 300px;
        overflow: hidden;

        img {
            width: 100%;
            max-width: inherit;
            @include tablet-small {
                max-width: 100%;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

        }

        @include tablet-small {
            width: calc(33.33333333% - 21px);
            height: 100%;
            display: inline-block;
            position: absolute;
            max-height: inherit;
            overflow: inherit;
            left: 0;
            top: 0;
        }
        @include desktop-small{
            width: calc(33.33333333% - 31px);
        }


    }
    .card-content {


        @include tablet-small {
            //padding-left: 220px;
            padding-left: calc(33.33333333% + 20px);
            padding-right: 20px;
            display: inline-block;
            vertical-align: top;
        }
        @include desktop-small{
            //padding-left: 295px;
            padding-left: calc(33.33333333% + 30px);
        }

        .card-details {
            @include mobile-only{
                margin-left: -30px;
                margin-right: -30px;
                width: auto;
            }
        }
    }


}

.services-main-intro {
    @include tablet-small {
        margin-bottom: 0;

        + .services-main-solutions {
            margin-top: 40px;
        }
    }
}

.services-main-details {
    .card-content {
        .text-medium {
            margin-bottom: 0;
        }
        
        padding-bottom: 20px;

        @include tablet-small {
            padding-bottom: 30px;
        }
    }
}

.half-solution-container {
    &.col-md-6 {
        @include tablet-small  {
            width: calc(50% - 31px);
        }
    }

    .card-image {
        img {
            @include tablet-small {
                min-height: 264px;
            }
        }
    }

}

.block-solutions {
    .row {
        display: flex;
        flex-flow: row wrap; 
        margin: 0;

        @include tablet-small {
            margin: 0 -10px;
        }
    }
}

.item-box {
    .button {
        margin-top: 15px;
        display: block;
    }
}

.card-form {
    .card-content {
        @include tablet-small{
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}

// .card-article {
//     margin-bottom: 0;
//     @include desktop-small {
//         margin-bottom: 30px;
//     }

//     .card-content-wrapper {
//         position: relative;
//         background-size: cover;
//         background-position: top center;
//         background-repeat: no-repeat;
//     }
//     .card-content {

//         padding-top: 200px;
//         @include desktop-small{
//             padding-top: 240px;
//         }


//     }

//     .date {
//         font-size: 16px;
//         line-height: 22px;
//         font-weight: 500;

//     }
//     .title {
//             margin-top: 20px;
//             font-size: 22px;
//             line-height: 32px;
//             font-weight: 500;
//             @include tablet-small {
//                 font-size: 26px;
//                 line-height: 32px;
//                 margin-top: 30px;
//             }
//     }
// }

// @include tablet{
//     .page-type-products .section-solutions .swiper-wrapper {
//         display: flex;
//         flex-flow: row wrap; 
//         margin: 0;

//         @include tablet{
//             margin: 0 -10px;
//         }
//     }

//     .page-type-articles .section-more-articles .more-articles-wrapper {
//         display: flex;
//         flex-flow: row wrap; 
//         margin: 0;

//         @include tablet{
//             margin: 0 -10px;
//         }
//     }

// }





.service-card-flex-wrapper {
    margin-bottom: 20px;
    @include tablet{
        margin-bottom: 30px;
    }
    @include desktop-small{
        margin-bottom: 40px;
    }
    .card {
        margin-bottom: 0;
        height: 100%;
    }

}
.swiper-container-horizontal {
    .service-card-wrapper {
        margin-bottom: 0;
    }
}

