.svg-icon-round-email {
    vertical-align: middle;
    .svg-part-circle {
        stroke: #676b78;
    }
}

.svg-icon-round-phone {
    vertical-align: middle;
    .svg-part-circle {
        stroke: #676b78;
    }
}









.svg-icon-services-rectangles {
    path {
        stroke: #00bf66;
    }
    rect {
        fill: #00bf66;
    }
}
.svg-icon-services-shield {

    .svg-part-body {
        stroke: #00bf66;
    }
    .svg-part-lines{
        fill: #00bf66;
    }
}

.svg-icon-services-graph {

    .svg-part-body {
        stroke: #00bf66;
    }
    .svg-part-underline {
        fill: #00bf66;
    }
}

.svg-icon-services-s {
    .svg-part-body {
        stroke: #00bf66;
    }
}








.svg-icon-form-coffee {
    .svg-part-body {
        fill: #9c9da4;
    }

    g {
        stroke: #9c9da4;
    }
}

.svg-icon-form-tea {
    g {
        fill: #9c9da4;
    }
}


//.svg-circle-plus-minus {
//    circle {
//        fill: #00bf66;
//    }
//    .svg-part-line-vertical {
//        fill: #ffffff;
//    }
//    .svg-part-line-horizontal {
//        fill: #ffffff;
//    }
//}


.svg-icon-plus-minus-circle {

    circle {
        transition: fill 0.2s, stroke 0.2s, stroke-width 0.2s;
        fill: none;
        stroke: #00bf66;
        stroke-width: 2px;
    }

    .svg-part-line-vertical {
        transition: fill 0.2s, stroke 0.2s, stroke-width 0.2s, opacity 0.2s;
        fill: #00bf66;
        opacity: 0;
    }
    .svg-part-line-horizontal {
        transition: fill 0.2s, stroke 0.2s, stroke-width 0.2s;
        fill: #00bf66;
    }
}



.svg-icon-arrow-right-circle {
    circle {
        transition: stroke 0.2s;

        stroke: #00bf66;
    }
    path {
        transition: fill 0.2s;
        fill: #00bf66;
    }

}


// ------------------------------------------------------------------------------------------------------ Overwrites




.status-tab-selected-1 .tabs-icon-1 .chat svg{
    circle {
        fill: #00bf66;
    }
    path {
        stroke: #00bf66;
    }
}



.status-tab-selected-2 .tabs-icon-2 .meeting svg{
    path {
        stroke: #00bf66;
    }
    .svg-part-cross {
        fill: #00bf66;
    }
}


.status-tab-selected-3 .tabs-icon-3 .phone svg{
    .svg-part-body {
        stroke: #00bf66;
    }
}

.status-tab-selected-4 .tabs-icon-4 .mail svg{
    .rectangle {
        stroke: #00bf66;
    }
}





body form .status-selected.input-method-email .input-method-radio svg .svg-part-circle{
    stroke: #00bf66
}
body form .status-selected.input-method-phone .input-method-radio svg .svg-part-circle{
    stroke: #00bf66
}



.block-form-offer-option-image {

    .form-offer-option-image {
        display: inline-block;
        width: 80px;
        height: 80px;

    }

    .form-offer-option-image-coffee {

        &:hover {
            .svg-icon-form-coffee {
                .svg-part-body {
                    fill: #00bf66;
                }

                g {
                    stroke: #00bf66;
                }
            }
        }
    }
    .form-offer-option-image-tea {
        width: 74px;
        &:hover {
            .svg-icon-form-tea {
                g {
                    fill: #00bf66;
                }
            }
        }

    }


    .status-selected {
        .form-offer-option-image-coffee {
            .svg-icon-form-coffee {
                .svg-part-body {
                    fill: #00bf66;
                }

                g {
                    stroke: #00bf66;
                }
            }
        }
        .form-offer-option-image-tea {
            .svg-icon-form-tea {
                g {
                    fill: #00bf66;
                }
            }
        }
    }


}



.accordion-item-title {
    svg {
        position: absolute;
        left: 0;
        top: 4px;
        width: 20px;
        height: 20px;
    }

}

h3.accordion-item-title {
    svg {
        top: 6px;
    }
}

h2.accordion-item-title {
    svg {
        top: 12px;
    }
}

.accordion-article.status-closed > .block-accordion-item-title .accordion-item-title svg{
    //background: url(../images/icon/icon-plus.svg) no-repeat;
    circle {
        fill: #00bf66;
    }
    .svg-part-line-vertical {
        fill: #ffffff;
        opacity: 1;
    }
    .svg-part-line-horizontal {
        fill: #ffffff;
    }
}


@include mobile-only {
    .accordion-mobile-only.status-closed > .block-accordion-item-title .accordion-item-title svg {
        //background: url(../images/icon/icon-plus.svg) no-repeat;
        circle {
            fill: #00bf66;
        }
        .svg-part-line-vertical {
            fill: #ffffff;
            opacity: 1;
        }
        .svg-part-line-horizontal {
            fill: #ffffff;
        }
    }
}


.button-orange-arrow {

    .svg-icon-arrow-right-circle {
        width: 20px;
        height: 20px;
        display: inline-block;
        vertical-align: baseline;
        margin-right: 10px;
        position: absolute;
        left: 0;
        bottom: 0;

    }


    &:hover {
        .svg-icon-arrow-right-circle {
            circle {
                fill: #00bf66;
            }
            path {
                fill: #ffffff;
            }

        }
    }

    &:active {
        .svg-icon-arrow-right-circle {
            transform: scale(0.85, 0.85);
        }
    }
}

