// Manulife JH Sans
@font-face {
	font-family:'Manulife JH Sans';
	src:	url('../fonts/ManulifeJHSans-Light.eot');
	src:	url('../fonts/ManulifeJHSans-Light.eot?#iefix') format('embedded-opentype'),
			url('../fonts/ManulifeJHSans-Light.woff2') format('woff2'),
			url('../fonts/ManulifeJHSans-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family:'Manulife JH Sans';
	src:	url('../fonts/ManulifeJHSans-Regular.eot');
	src:	url('../fonts/ManulifeJHSans-Regular.eot?#iefix') format('embedded-opentype'),
			url('../fonts/ManulifeJHSans-Regular.woff2') format('woff2'),
			url('../fonts/ManulifeJHSans-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family:'Manulife JH Sans';
	src:	url('../fonts/ManulifeJHSans-Demibold.eot');
	src:	url('../fonts/ManulifeJHSans-Demibold.eot?#iefix') format('embedded-opentype'),
			url('../fonts/ManulifeJHSans-Demibold.woff2') format('woff2'),
			url('../fonts/ManulifeJHSans-Demibold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family:'Manulife JH Sans';
	src:	url('../fonts/ManulifeJHSans-Bold.eot');
	src:	url('../fonts/ManulifeJHSans-Bold.eot?#iefix') format('embedded-opentype'),
			url('../fonts/ManulifeJHSans-Bold.woff2') format('woff2'),
			url('../fonts/ManulifeJHSans-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

//Manulife JH Serif
@font-face {
	font-family:'Manulife JH Serif';
	src:	url('../fonts/ManulifeJHSerif-Italic.eot');
	src:	url('../fonts/ManulifeJHSerif-Italic.eot?#iefix') format('embedded-opentype'),
			url('../fonts/ManulifeJHSerif-Italic.woff2') format('woff2'),
			url('../fonts/ManulifeJHSerif-Italic.woff') format('woff');
	font-weight: 400;
	font-style: italic;
}

