//- about us page custom styles
.custom-show-more {
  max-height: none !important;
}

.page-location-in-bo {
    .accordion-item-content {
      display: block !important;
    }
}

.page-name-about {
  .block-title {
    .text-subtitle-product {
      margin-top: 0;
      font-weight: 600;

      span {
        font-style: normal;
        font-weight: 600;
      }
    }
  }
  
  .awards-carousel {
    margin: auto;
    margin-top: 26px;
    width: calc(100% - 70px);

    @include tablet {
      width: calc(100% - 100px);
    }
  }

  .section-agency {
    .block-agency-img  {
      @include tablet {
        .block-image {
          float: left;
          max-width: 200px;
          margin-right: 30px;
          margin-bottom: 30px;
        }
      }
    }

    .section-agency-mfa-vision {
      margin-top: 20px;
      @include tablet {
        margin-top: 30px;
      }
    }
  }

  
  .section-about-agency {
    
    h4 {
      @include desktop-small {
        font-size: 48px;
        line-height: 58px;
        margin-bottom: 10px;
      }
      
    }
    h2 {
      @include tablet-small {
        padding-top: 15px;
      }
    }
    
    .block-accordion-item-title {
      @include tablet-small {
        padding-bottom: 0;
      }
      @include desktop-small {
        padding-bottom: 15px;
      }
      
    }
    
    .block-about-agent-text {
      margin-top: 20px;
      @include tablet {
        margin-top: 30px;
      }
      @include desktop-medium {
        margin-top: 40px;
      }
    }
    
  }
  
  .section-recruitment {
    .block-recruitment {
      background: url("../images/cover/aboutUs-recruitment.jpg") no-repeat center center / cover;
      padding-top: 60px;
      padding-bottom: 40px;
      overflow: hidden;
      
      .title-default {
        max-width: 260px;
        font-size: 26px;
        
      }
      
      .sm-title {
        font-size: 16px;
      }
      
      .p-sm {
        font-weight: 600;
        max-width: 600px;
      }
    }
  }
  
  .section-about-agent {
    margin-top: 20px;

    @include tablet {
      margin-top: 30px;
    }
  }

  .awards-list {
    //padding-top: 30px;
    //padding-bottom: 30px;
    //border-bottom: solid 1px #ccc;

      position: relative;

    .awards-timeline {
        overflow: hidden;
        max-height: 300px;
      padding-top: 15px;
      padding-bottom: 15px;

      
      @include tablet-small {
        padding-top: 30px;
        padding-bottom: 30px;
      }

      p{
        // color: #ff5d55;
        margin-bottom: 15px;
        font-size: 22px;
        
        &:last-child{
          margin-bottom: 0;
        }
      }
      
      .timeline-bubble {
        text-align: center;
        position: relative;
        
        span {
          border: solid 2px #ff5d55;
          
          font-size: 14px;
          font-weight: 600;
          color: #ff5d55;
          border-radius: 50%;
          display: inline-block;
          padding: 0;
          margin: 0;
          text-align: center;
          height: 60px;
          width: 60px;
          line-height: 56px;
        }
        
        &:before {
          content: "";
          position: absolute;
          width: 1px;
          opacity: 0.3;
          background-color: #424559;
          left: 50%;
          top: 75px;
          height: 30px;
          
        }
        
      }
      
      &:last-child {
        .timeline-bubble {
          &:before {
            content: none;
          }
        }
        
      }
    }
    
    .award {
      
      padding-top: 40px;
      span {
        
        &:before {
          display: none;
        }
      }
      
    }
    
    .sm-orange-title {
      padding: 10px 0;
    }
    .award-title {
      font-weight: 400;
      @include tablet-small {
        margin-bottom: 10px;
      }
      
    }
    
  }
  
  .vision-container {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .about-agent-profile-title {
    color: $greenColor;
    font-weight: 600;
  }

  .about-agent-profile-subtitle {
    font-weight: 600;
    letter-spacing: 0.31px;	

    @include mobile-and-tablet-small-only {
      letter-spacing: 0.25px;	
    }
  }

  .about-agent-profile-registration {
    margin-top: 10px;
    letter-spacing: 0.31px;	
    font-weight: 400;

    @include mobile-and-tablet-small-only {
      margin-top: 0;
      letter-spacing: 0.25px;	
    }
  }

  .about-agent-description-mobile {
    display: block;
    margin-top: 10px;

    p {	
      letter-spacing: 0.25px;	
    }

    @include tablet {
      display: none;
    }
  }
  
  .block-agent-description {
    .block-text {
        white-space: pre-line;
    }
  }
  .about-agent-description {
    .block-agent-description {
      margin-top: 30px;
      display: none;

      @include tablet {
        display: block;
      }

        p {
          letter-spacing: 0.31px;	
        }
    }
  }
  
}

.block-about-agent {
  .social-icon {
    width: 30px;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    @include tablet-small {
    
    }
    
    img {
      width: 100%;
    }
  }
}

.user-photo {
  width: 100%;
  //max-width: 160px;
  @include tablet-small {
    //max-width: 260px;
  }
}

.page-name-about {
  
  .accordion-mobile-only {
    //background: green;
    font-size: 0;
    &:before {
      content: "";
      display: inline-block;
      width: 100%;
      height: 1px;
      background-color: rgba(66, 69, 89, 0.2);
      padding: 0;
      margin: 0;
      font-size: 0;
    }
  }
  
  .section-title-main {
    .title-main {
      border-bottom: none;
      
    }
  }
  
  //Flexbox
  
}

.section-about-agency {
  .title-about-agent {
    margin-bottom: 20px;
    order: 2;
    
    @include tablet-small {
      order: 1;
    }
  }
  
  .block-about-agent-logo {
    
    order: 1;
    
    @include tablet-small {
      flex: 1;
      order: 2;
    }
    
    img {
      height: 90px;
      object-fit: cover;
      @include tablet-small {
        height: 100%;
        
      }
      
    }
    
  }
  
  .block-about-agent-team {
    order: 3;
    margin-top: 20px;
    
    @include tablet-small {
      margin-top: 0;
      flex: 2.27;
    }
    
  }
  
  .block-about-agent-text {
    order: 4;
  }
}

.page-name-about {
  .main-content-inner {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    padding-right: 0;
    @include tablet-small {
      padding-bottom: 40px;
      padding-left: 15px;
      padding-right: 15px;
    }
    
    @include desktop-small {
      padding-bottom: 60px;
    }
    
    section {
      width: 100%;
      padding-left: 15px;
      padding-right: 15px;
      @include tablet-small {
        padding-left: 0;
        padding-right: 0;
      }
      
    }

    .section-award {
      //display: none;
      &.show-awards{
        display: block;
      }
    }

  }
}

.page-theme-agency.page-name-about {

}

.page-name-about {
  
  .section-banner-bottom {
    margin-top: 20px;
    margin-bottom: 40px;
    @include tablet-small {
      height: auto;
    }
    
  }
  
  .about-agent-image {
    width: 90px;
    @include tablet {
      width: 200px;
    }
    
    display: inline-block;
    vertical-align: top;
  }
  .about-agent-description {
    width: calc(100% - 90px - 20px - 5px);

    // @include tablet-small {
    //   width: calc(100% - 160px - 20px - 40px - 20px);
    // }
    @include tablet {
      width: calc(100% - 200px - 36px - 40px - 20px);
      margin-left: 36px;
    }
    margin-left: 20px;
    display: inline-block;
    vertical-align: top;
  }
  
  .devider {
    display: none;
  }
  .block-about-agent {
    .block-agent-social {
      width: 40px;
      margin-left: 20px;
      float: right;
      display: inline-block;
      vertical-align: top;
      .social-icon {
        width: 40px;
        margin: 0;
        margin-bottom: 15px;
        display: block;
        
      }
    }
  }
}

.awards-category{
  display:none;
}

.page-location-in-bo .awards-list .awards-timeline {
    max-height: inherit;
}
.page-name-about {
    .show-more {
        margin-top: 20px;
        margin-bottom: 30px;
        display: none;
        &:visited, &:focus {
            color: #fff;
        }
    }

    .show-all-awards {
        .awards-timeline {
            max-height: inherit;
        }
    }
}