@import "card";
@import "home-page";
@import "about-us";
@import "services";
@import "not-found";
@import "product-page";
@import "contact-us";
@import "rating-page";
@import "article";
@import "seminars";
@import "footer-pages";
@import "worldcup";
@import "promotion";
@import "future-cost-of-living-lucky-draw-quiz";
@import "goforit";
@import "make-sense-of-your-finances";
@import "share-your-feels";
@import "tale-of-gift";
@import "campaign-form";
@import "share-your-feels-animation";

.page-name-form {
    .title-main {
        @include tablet{
            border-bottom: 0;
        }
    }

    .section-contact-box-mobile {
        margin-top: 30px;
    }

    .section-contact-accordion {
        padding-bottom: 20px;
        @include tablet{
            padding-bottom: 60px;
        }

    }

    .link-icon {
        margin-left: 20px;
        position: relative;
        overflow: inherit!important;
        &:before {
            left: -20px;
        }
        @include tablet{
            margin-left: 0;
            &:before {
                left: inherit;
            }
        }


        span {
            font-size: 12px;
            display: inline;
            padding-left: 0;

            @include tablet{
                padding-left: 20px;
                display: inline-block;
            }

        }
    }
}




.page-name-careers {
    .block-openings-form {
        margin-top: 30px;
        word-break: break-word;
        @include desktop-small{
            margin-top: 0;
        }

    }


    .block-item-title {
        padding: 20px 0;
        position: relative;
    }

    .card-form {
        .block-thank {
            @include tablet-small {
                margin-left: -20px;
                margin-right: -20px;
            }

        }
    }

    .block-list {
        padding-left: 20px;
    }


    aside {
        .first-level-menu-list-item:last-child {
            display: block;
            position: relative;
            border: 0;
            &:hover {
                background-color: #fff;
            }
            a {
                border: 0;

                &:before {
                    //content: '';
                    display: inline-block;
                    height: 105px;
                    width:142px;
                    //position: absolute;
                    top: 15px;
                    right: 15px;

                    background-repeat: no-repeat;
                    background-position: center;
                    background-image: url('../images/icon/icon-join-us.png');
                }

            }
        }
    }
    .agent-careers {
        .first-level-menu-list-item:last-child a:before {
            display: none;
        }
    }
    .join-us-icon {
        display: inline-block;
        height: 80px;
        width:100px;
        position: absolute;
        top: -40px;
        right: 15px;
        z-index: 10;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('../images/icon/icon-join-us.png');
        cursor: pointer;
    }

    .section-our-openings {
        .button {
            width: auto;
        }

        .button-upload {
            position: relative;
            display: inline-block;
            background-color: #00a69b;



            text-align: center;
            color: #fff;
            font-size: 14px;
            font-weight: 600;
            &:hover {
                color: #fff;
                background-color: #00a69b;
            }
            &:before {
                content: '';
                display: inline-block;
                width: 14px;
                height: 16px;
                top: 24px;
                left: 24px;

                position: absolute;

                margin-right: 6px;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                background-image: url('../images/icon/menu/icon-seminars-white.svg');
            }

            label {
                display: inline-block;

                height: 66px;
                line-height: 66px;
                text-align: center;
                color: #fff;
                font-size: 14px;
                font-weight: 600;
                padding-left: 48px;
                padding-right: 24px;
                margin: 0;

                cursor: pointer;

            }

            input {
                width: 0.1px;
                height: 0.1px;
                opacity: 0;
                overflow: hidden;
                position: absolute;
                z-index: -1;
            }
        }


        .link-icon-file {
            margin-top: 20px;
        }
    }


        .accordion-mobile-only {
            font-size: 0;
            &:before {
                content: "";
                display: inline-block;
                width: 100%;
                height: 1px;
                background-color: rgba(66, 69, 89, 0.2);
                padding: 0;
                margin: 0;
                font-size: 0;
            }
            &:first-child {
                &:before {
                    display: none;
                }
            }
        }
}

.page-name-careers-editable {
    .section-about-agency {
        margin-bottom: 20px;
    }

    .block-openings-form {
        @include tablet-small{
            max-width: 600px;
        }

    }
    .card-form .card-content {
        @include tablet-small{
            padding-left: 30px;
            padding-right: 30px;
        }
    }



}

.page-name-careers {
    .uploaded-cv-link {
        svg {
            font-size: 14px;
            margin-left: 6px;
        }
    }

    .block-openings-form {
        .block-thank {
            .title {
                word-break: break-word;
            }
        }
    }
}