.diseases {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  @include tablet-small{
    flex-direction: row;
  }

  @include tablet {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .block-text {
    background-color: #Fff;
    padding-bottom: 15px;

    + .block-text {
      margin-top: 0;
    }
  }
  h4 {
    background-color: $greenColor;
    color: #fff;
    padding: 10px 10px 10px 15px;
    font-size: 18px;
  }
  p {
    padding: 0 20px;
    margin-bottom: 25px;
  }
}

// .page-name-insights {
//   .block-articles {
//     min-height: 1600px;
//   }
// }

.page-type-articles {
  .section-banners {
    margin-top: 40px;
  }
  
  .block-banners {
    .banner-navigation {
      background-color: #343b4b;
      height: 290px;
      @include tablet {
        height: 340px;
      }
      @include desktop-small {
        height: 315px;
      }
      
      margin-bottom: 20px;
      @include desktop-medium {
        margin-bottom: 0;
      }
      
      .banner-navigation-inner {
        padding: 20px;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        @include tablet {
          padding: 30px;
        }
        @include desktop-small {
          padding: 40px;
        }
        
        .banner-navigation-title {
          color: #ffffff;
          font-weight: 500;
          width: 100%;
          
          @include desktop-medium {
            font-size: 34px;
          }
          @include desktop-hd {
            font-size: 40px;
          }
          
        }
        
        .button-banner-navigation {
          align-self: flex-end;
        }
        
      }
      
      &--discovery {
        margin-bottom: 40px;
      }
    }
    
    .button-banner-navigation {
      min-width: 160px;
      font-weight: 700;
    }
  }

  .section-tags {
    margin-top: 30px;
    @include tablet {
      margin-top: 0;
      float: right;
    }
  }
  
  .block-tags {
    display: block;
    max-width: 325px;

    @include tablet-small {
      max-width: none;
    }
    
    .button-tag {
      width: inherit;
      display: inline-block;
      padding: 10px 15px;
      margin-right: 20px;
      font-size: 14px;	
      font-weight: 600;	
      line-height: 19px;
      margin-bottom: 20px;
      float: left;

      @include tablet-small {
        padding: 10px 18px;
        margin-bottom: 0;
        float: inherit;
        clear: none;

        &:last-child {
          margin-right: 0;
        }
      }
      
    }
    .status-tag-selected.button-tag {
      border: 2px solid $greenColor;
    }
  }
  
  .banner-navigation {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center right;
  }
  .banner-navigation-survey {
    background-image: url('../images/cover/banner-navigation-survey.svg');
    @include desktop-medium {
      background-size: 50%;
    }
    
  }
  .banner-navigation-quiz {
    background-image: url('../images/cover/banner-navigation-quiz.svg');
    @include desktop-medium {
      background-size: 30%;
    }
  }
  
}

.block-article-intro {
  h5 {
    a {
      color: #00bf66;
    }
  }
}

.block-table + .block-text,
.block-text + .block-table,
.block-text + .block-articles,
.block-text + .block-solutions,
p + .block-image,
.block-button + .block-text,
.block-button + .block-table,
.block-table+ .block-button,
.block-text + .block-button,
.block-text + .block-subtitle,
.block-subtitle + .block-text,
.block-text + .title-numeric,
.title-numeric + .block-text,
.block-text + .block-text,
.block-article-item + .block-article-item,
.section-article-intro + .section-videoplayer,
.section-videoplayer + .section-article-intro,
.section-title-main + .section-article-intro,
.section-articles + .section-article-intro,
.section-article-intro + .section-article-intro,
.section-article-intro + .section-article-content,
.section-article-content + .section-articles,
.section-title-main + .section-our-openings,
.section-title-main + .section-articles,
.section-title-main + .section-form-seminars {
  margin-top: 20px;
  @include tablet {
    margin-top: 30px;
  }
  
}

.block-share-icon {
  margin-top: 40px !important;
  .addthis_inline_share_toolbox {
    margin-top: 5px;
  }

  @include mobile-mmedium {
    position: relative;
    .addthis_inline_share_toolbox {
      position: absolute;
      left: 182px;
      top: -8px;
      margin-top: 0;
    }
  }
}


.block-term {
  margin-top: 5px;
  p {
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.3px;
  }
}

.page-name-manulife-plan-coverage-covid-19 {
  main {
    padding-top: 55px;
      
    @include tablet-small {
        padding-top: 0;
    }

    @include tablet {
        padding-top: 30px;
    }
  }
}


.block-table {
  overflow-x: auto;

  .block-article-table {
    border: 1px solid #ddd;
    table-layout: fixed;
    min-width: 768px;
    width: 100%;

    th {
      background: #fff;
    }

    td, th {
      border-right: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      padding: 15px;

      &:last-child {
        border-right: none;
      }
    }

    tr {
      &:last-child {
        td {
          border-bottom: none;
        }
      }
    }
  }

  .table-non-face-to-face {
    width: 100%;
    table-layout: fixed;

    td {
      .block-image {
        display: inline-block;
        vertical-align: middle;
        width: 100px;
        img {
          width: 100%;
          height: auto;
        }
      }

      .block-text {
        padding-left: 10px;
        vertical-align: middle;
        display: inline-block;
        width: calc(100% - 106px);
      }

      @include mobile-mmedium-only {
        display: block;

        + td {
          padding-top: 10px;
        }
      }
    }
  }
}

#loadingscreen {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  width: 80px;
  height: 80px;
  background-image: url("../images/icon/loading.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  @include tablet-small {
      transform: translatey(-50%);
  }
  
  // @include desktop-small {
  //     left: calc(50% + 180px);
  // }

  @include desktop-medium {
      left: calc(50% - 4%);
  }
}

.block-image {
  img {
    &.hide-mobile {
      display: none;

      @include desktop-small {
          display: block;
      }
    }

    &.hide-tablet {
        display: none;

        @include tablet-small {
            display: block;
        }

        @include desktop-small {
            display: none;
        }
    }

    &.hide-desktop {
        display: block;

        @include tablet-small {
            display: none;
        }
    }
  }
}

// .card.card-article {
//   padding: 0;
//   .card-content {
//     padding: 30px;
//     padding-top: 250px;
//     @include tablet-small {
//       padding: 20px;
//       padding-top: 250px;
//       height: 475px;
//       .card-content-inner {
//         height: 200px;
//         overflow: hidden;
//       }
//     }
//     @include tablet {
//       padding: 30px;
//       padding-top: 250px;
//       height: 470px;
//       .card-content-inner {
//         height: 200px;
//         overflow: hidden;
//       }
//     }
    
//     @include desktop-medium {
//       padding-top: 290px;
//       height: 550px;
//       .card-content-inner {
//         height: 230px;
//         overflow: hidden;
//       }
//     }
    
//   }
//   .card-content-wrapper {
//     display: flex;
//     flex-wrap: wrap;
//     flex-direction: column;
//     //height: 320px;
//   }
  
//   .tag {
//     font-style: italic;
//     font-family: $secondaryFont;
//     font-size: 15px;
//   }
//   .date {
//     margin-top: 10px;
//     display: none;
//   }
  
//   .title {
//     margin-top: 15px;
//     word-break: break-word;
//   }
  
// }

.page-type-articles {
  .block-image {
    max-width: none;

    img {
      max-width: none;
      width: 100%;
    }
  }
  
  // .block-articles,
  // .block-more-articles {
    
  //   @include tablet {
  //     clear: both;
  //     .row {
  //       display: flex;
  //       flex-wrap: wrap;
  //     }
  //     .card {
  //       height: 100%;
  //       margin-bottom: 0;
  //     }
  //     .card-content {
  //       //height: 100%;
  //     }
  //   }
    
  //   .card-article-wrapper {
  //     @include tablet-small {
  //       margin-bottom: 30px;
  //     }
  //     @include desktop-small {
  //       margin-bottom: 40px;
  //     }
      
  //   }
  // } 
}

.page-device-mobile {
  .page-type-articles {
    
    .swiper-wrapper {
      flex-wrap: nowrap;
      padding-bottom: 20px;
    }
    
    .card-article-wrapper {
      height: auto;
      margin-top: 20px;
      margin-bottom: 0;
      @include tablet-small {
        margin-bottom: 0;
      }
    }
    // .card.card-article {
    //   height: 100%;
    //   margin: 0;
    // }
    
    .block-articles, .block-more-articles {
      display: block;
    }
  }
}

.card-article-number {
  .card {
    position: relative;
    .number {
      color: #ffffff;
      opacity: 0.2;
      font-size: 200px;
        line-height: 1.25;
      font-family: $mainFont;
      font-weight: 700;
      display: inline-block;
      height: 200px;
      width: 120px;
      position: absolute;
      top: 0;
      left: 30px;
    }
    
    .card-content {
      background-image: none !important;
    }
  }
}


.card-article-number.tag-education {
  .card {
    .card-content {
      background-color: #008747;
    }
  }
}

.card-article-number.tag-financial {
  .card {
    .card-content {
      background-color: #00a69b;
    }
  }
}

.card-article-number.tag-retirement {
  .card {
    .card-content {
      background-color: #0000c1;
    }
  }
}

.section-articles {
  .block-articles {
      > .row {
          display: flex;
          flex-flow: row wrap; 
          margin: 0;
      
          @include tablet {
              margin: 0 -10px;
          }
      }

      &.custom-show-less {
        .card-article {
            display: none;
            &:nth-child(-n + 9) {
                display: block;
            }
        }
      }
      &.custom-show-more {
          .card-article {
              display: block;
          }
      }
      

    .card {
      min-height: 400px;

      @include tablet-small {
        width: calc(50% - 31px);
      }

      @include desktop-small {
        min-height: 514px;
        width: calc(33.33333333% - 31px);
      }

      .card-image {
        max-height: 200px;

        @include tablet-small {
          overflow: hidden;

          img {
            min-height: 200px;
            max-height: 220px;
          }
        }
      }

      .card-content {
        .number {
            display: none;
        }

        h4 {
            font-weight: 600;

            + .button {
                margin-top: 20px;
            }
        }

        p {            
            &.date {
                display: none;
            }

            &.tag {
              font-size: 14px;	
              font-weight: 300;	
              line-height: 29px;
            }
        }
      }
    }

    .block-text {
      p {
          font-weight: 500;

          span {
              font-family: $secondaryFont;
              font-style: italic;
          }
      }
    }
    
    .card-article-default {
        .card-content:after {
            display: none;
        }
    }
  
    // .swiper-container {
    //     margin-top: 30px;
    //     @include desktop-small{
    //         margin-top: 40px;
    //     }
  
    // }
  }

  // .more-articles-wrapper {
  //   .block-articles {
  //     .card {
  //       min-height: 370px;

  //       @include tablet-small {
  //           width: calc(50% - 31px);
  //       }

  //       @include desktop-small {
  //         min-height: 449px;
  //         width: calc(25% - 31px);
  //       }

  //       .card-image {
  //           @include tablet-small {
  //               max-height: 140px;
  //               overflow: hidden;

  //               img {
  //                 min-height: none;
  //                 max-height: none;
  //               }
  //           }
  //       }
  //     }
  //   }
  // }
}

.infographic-article-content {
  .article-infographic-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 20px !important;
  }
  h4 {
    &.p {
      margin: auto;
      line-height: 1.875em;
      margin-bottom: 10px;
      font-weight: bold;
    }
    span {
      font-style: normal;
    }    
  }
  .infographic-article-item-dashed {
    padding-top: 60px;
    padding-bottom: 30px;
    background-image: linear-gradient(to right, #e4e4e4 40%, rgba(255, 255, 255, 0) 0%);
    background-position: top;
    background-size: 10px 2px;
    background-repeat: repeat-x;
  }
  .infographic-article-item-solid {
    padding-top: 60px;
    padding-bottom: 30px;
    border-top: 2px solid $greenColor;
  }
  .green {
    color: $greenColor;
  }
  .infographic-article-item {
    text-align: center;
    .article-infographic-text {
      @include tablet {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: center;
        justify-content: center;
        max-width: 720px !important;
        margin: auto !important;
      }
      p {
        line-height: 1.875em;
        color: #4a4a4a;
        margin-bottom: 28px;
      }
      .article-infographic-image {
        img {
          position: relative;
          left: 50%;
          transform: translateX(-50%);
          width: 100%;
          height: auto;
          -o-object-fit: cover;
          object-fit: cover;
          font-family: 'object-fit: cover;';
        }
      }
    }
  }
  .hide-on-tablet-and-mobile {
    @include mobile-and-tablet-small-only {
      display: none;
    }
  }
  .hide-on-desktop {
    display: none;
    @include mobile-and-tablet-small-only {
      display: block;
    }
  }
  &.image-text-article-content {
    h4.p {
      margin-bottom: 0;
      line-height: 23px;
      @include tablet {
        line-height: 1.875em;
      }
    }

    .infographic-article-item {
      .article-infographic-text {
        p {
          margin-bottom: 0;
        }
      }
    }

    .article-infographic-header {
      margin-bottom: 0 !important;
      margin-top: 10px;

      @include tablet {
        margin-top: 20px;
      }
    }

    .infographic-article-item-dashed {
      padding-top: 30px;
      padding-bottom: 0;

      @include tablet {
        padding-top: 40px;
      }
    }
  }
}

.block-questions {
  margin-top: 20px;
  margin-bottom: 20px;
  @include tablet-small {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  @include desktop-small {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  
}

.question-item {
  padding-top: 30px;
  padding-bottom: 20px;
  //margin-top: 20px;
  border-top: 1px solid #ececec;
  @include tablet-small {
    padding-left: 20px;
  }
  
  @include tablet {
    padding-left: 30px;
  }
  @include desktop-small {
    padding-left: 40px;
  }
  
  .question {
    .number {
      display: none;
      margin-bottom: 10px;
      span {
        font-family: $secondaryFont;
        font-style: italic;
      }
    }
    .title {
      font-size: 18px;
      line-height: 26px;
      font-weight: 400;
      display: inline-block;
      @include tablet {
        font-size: 26px;
        line-height: 32px;
      }
      
    }
  }
  
  .answer {
    margin-top: 20px;
    @include tablet {
      margin-top: 30px;
    }
    
    .answer-option {
      position: relative;
      overflow: hidden;
      cursor: pointer;
      span {
        font-size: 16px;
        line-height: 24px;
        font-weight: 600;
      }
    }
  }
  
  .answer-type-round {
    display: flex;
    flex-wrap: wrap;
    
    .answer-option {
      width: 50%;
      margin-bottom: 20px;
      @include tablet {
        width: 25%;
      }
      
      span {
        line-height: 30px;
        padding-left: 40px;
        color: #34384b;
        opacity: 0.6;
        float: left;
      }
      &:before {
        content: '';
        display: inline-block;
        height: 30px;
        width: 30px;
        position: absolute;
        left: 0;
        border-radius: 50%;
        border: 2px solid #424559;
        opacity: 0.5;
        top: 0;
      }
    }
    
    .status-selected {
      span {
        opacity: 1;
      }
      &:before {
        border: 2px solid $greenColor;
        opacity: 1;
      }
      
      &:after {
        content: '';
        display: inline-block;
        height: 10px;
        width: 13px;
        position: absolute;
        top: 12px;
        left: 9px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('../images/icon/icon-v-active.svg');
      }
      
    }
  }
  
  .answer-type-button {
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    .answer-option {
      width: 100%;
      min-width: 184px;
      margin-bottom: 20px;
      border: 2px solid #9d9fa9;
      border-radius: 4px;
      padding-top: 13px;
      padding-bottom: 13px;
      @include tablet {
        flex: 1;
        width: 50%;
        margin-right: 20px;
      }
      
      span {
        
        line-height: 24px;
        padding-left: 40px;
        padding-right: 20px;
        color: #34384b;
        opacity: 0.6;
        float: left;
        @include tablet {
          padding-left: 30px;
        }
        
      }
    }
    
    .status-selected {
      border-color: #00bf66;
      span {
        opacity: 1;
        //padding-left: 0;
      }
      
      &:before {
        content: '';
        display: inline-block;
        height: 10px;
        width: 13px;
        float: left;
        margin-top: 5px;
        position: absolute;
        margin-left: 8px;
        margin-right: 9px;
        
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('../images/icon/icon-v-active.svg');
      }
      
    }
  }
  
  .answer-type-solid {
    display: flex;
    flex-wrap: wrap;
    .answer-option {
      width: 25%;
      text-align: center;
      border-top: 2px solid #9d9fa9;
      border-bottom: 2px solid #9d9fa9;
      border-right: 2px solid #9d9fa9;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      @include tablet {
        height: 40px;
      }
      
      span {
        
        line-height: 20px;
        color: #34384b;
        opacity: 0.6;
        font-size: 16px;
        
      }
      &:first-of-type {
        border-left: 2px solid #9d9fa9;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
      }
      
      &:last-of-type {
        
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
      }
    }
    
    .status-selected {
      border-color: #00bf66;
      background-color: #00bf66;
      &:first-of-type {
        border-left: 2px solid #00bf66;
      }
      span {
        opacity: 1;
        color: #ffffff;
      }
    }
  }
  
  .answer-type-slider {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    @include desktop-small {
      margin-bottom: 30px;
    }
    
    .answer-option {
      padding-top: 6px;
      display: flex;
      flex-direction: column;
      align-content: center;
      text-align: center;
      overflow: inherit;
      cursor: pointer;
      span {
        font-size: 14px;
        width: 20px;
        @include tablet {
          font-size: 16px;
          width: 24px;
        }
        visibility: hidden;
        
      }
      &:first-child {
        span {
          visibility: visible;
        }
      }
      &:last-child {
        span {
          visibility: visible;
        }
      }
      
      &:before {
        content: '';
        display: inline-block;
        height: 8px;
        width: 8px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 50%;
        background-color: #c1c2c7;
        @include tablet {
          width: 12px;
          height: 12px;
        }
        
      }
      
    }
    
    .status-selected {
      span {
        color: #ffffff;
        z-index: 2;
        visibility: visible;
      }
      &:before {
        background-color: #fff;
        z-index: 2;
      }
      
      &:after {
        content: '';
        display: inline-block;
        height: 50px;
        width: 30px;
        position: absolute;
        top: -5px;
        left: -6px;
        background-color: $greenColor;
        z-index: 0;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        
        @include tablet {
          height: 60px;
          width: 40px;
          top: -5px;
          left: -9px;
        }
        
      }
      
    }
  }
  
}

.question-item.status-active {
  position: relative;
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    width: 6px;
    position: absolute;
    top: 0;
    left: -15px;
    background-color: #00aa59;
    @include tablet-small {
      left: 0;
    }
    
  }
  
  .number {
    display: block;
  }
  .title {
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
  }
}

.quiz-tooltip {
  display: inline-block;
  width: 31px;
  height: 31px;
  color: #ffffff;
  line-height: 31px;
  background-color: #424559;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  position: relative;
  margin-left: 10px;
  .tooltip-icon {
    font-family: $secondaryFont;
    font-style: italic;
    font-size: 20px;
  }
  .tooltip-icon:hover {
    display: #141521;
    opacity: 0.9;
  }
  .tooltip-icon:hover + .tooltip-content-wrapper {
    display: flex;
  }
  .tooltip-content-wrapper {
    top: 40px;
    left: -160px;
    display: none;
    width: 280px;
    
    @include tablet {
      top: -15px;
      left: 40px;
      width: 350px;
    }
    
    background-color: #141521;
    opacity: 0.9;
    
    position: absolute;
    text-align: left;
    padding: 15px;
    z-index: 10;
    .tooltip-title {
      font-size: 14px;
      line-height: 20px;
    }
    .tooltio-subtitle {
      font-size: 14px;
      line-height: 20px;
      font-weight: 600;
    }
    
    &:before {
      content: '';
      display: inline-block;
      height: 10px;
      width: 10px;
      position: absolute;
      top: -15px;
      left: 165px;
      border: 10px solid transparent;
      border-bottom: 10px solid #141521;
      
      @include tablet {
        top: 20px;
        left: -15px;
        border: 10px solid transparent;
        border-right: 10px solid #141521;
      }
      
    }
    
  }
  
  .tooltip-content-wrapper:hover {
    display: flex;
  }
}

.block-quiz-form, .lucky-block-quiz-form {
  background-color: #f5f5f5;
  margin-bottom: 20px;
  @include desktop-small {
    margin-bottom: 40px;
  }
  
  .title {
  }
  .subtitle {
    margin-top: 10px;
    @include tablet {
      margin-top: 20px;
    }
    
  }
  
  .block-quiz-form-inner {
    padding-top: 40px;
    padding-bottom: 40px;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    @include tablet {
      padding-left: 15px;
      padding-right: 15px;
    }
    
  }
  
  .form-element {
    margin-top: 20px;
    @include tablet {
      margin-top: 30px;
    }
    
  }
  
}

.result-score {
  display: flex;
  flex-wrap: wrap;
  align-content: start;
  //margin-top: 20px;
  margin-bottom: 20px;
  @include tablet {
    //margin-top: 30px;
    margin-bottom: 30px;
  }
  
  @include desktop-small {
    //margin-top: 40px;
    margin-bottom: 40px;
  }
  
  @include desktop-small {
    flex-flow: column wrap;
    display: block;
    @include clearfix()
    //height: 250px;
  }
  
  .result-score-image {
    width: 65px;
    @include desktop-small {
      //flex: 1 0 100%;
      width: 100px;
      float: left;
    }
    
    img {
      width: 100%;
      max-width: 100px;
    }
  }
  
  .result-score-title {
    //flex: 1;
    margin-left: 20px;
    @include desktop-small {
      float: left;
    }
    
    .title {
      font-weight: 400;
      
      span {
        display: block;
        @include tablet {
          display: inline-block;
        }
        
      }
    }
    
  }
  
  .result-score-text {
    width: 100%;
    margin-top: 20px;
    @include desktop-small {
      margin-left: 20px;
      width: calc(100% - 120px);
      float: left;
      
    }
    
    .title {
      @include desktop-small {
        font-size: 36px;
        line-height: 42px;
        font-weight: 300;
      }
      
    }
    
    strong {
      font-weight: 700;
      color: $greenColor;
    }
    
    .subtitle {
      margin-top: 10px;
      
    }
  }
}

.result-advise {
  padding-top: 20px;
  margin-top: 20px;
  padding-bottom: 20px;
  //border-top: 1px solid #ececec;
  @include tablet {
    padding-top: 40px;
    margin-top: 30px;
    padding-bottom: 30px;
  }
  @include desktop-small {
    clear: both;
  }
  
  .result-advise-title {
    @include tablet {
      padding-left: 75px;
    }
    
  }
  
  .result-advises-item {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    @include tablet {
      margin-top: 30px;
    }
    @include desktop-small {
      margin-top: 40px;
    }
    
    .image {
      width: 60px;
      img {
        width: 100%;
      }
    }
    
    .text-wrapper {
      flex: 1;
      margin-left: 15px;
      
      .title {
        font-weight: 600;
      }
      .text {
        margin-top: 10px;
      }
    }
  }
  
  .result-advise-finish {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    
    @include tablet {
      text-align: left;
      padding-left: 75px;
    }
    
  }
}

//.section-result-explanation {
.page-name-survey {
  .result-score-image {
    width: 100px;
  }
  .result-score-title {
    .title {
      font-weight: 600;
    }
    
    .subtitle {
      font-size: 90px;
      line-height: 90px;
      font-weight: 700;
      @include tablet {
        line-height: 100px;
      }
      
    }
  }
  
  .result-explanation {
    margin-top: 20px;
    margin-bottom: 40px;
    max-width: 480px;
    @include tablet {
      max-width: 610px;
    }
    
    .suptitle {
      font-weight: 500;
      @include tablet {
        margin-bottom: 10px;
      }
    }
    .title + .title {
      margin-top: 20px;
    }
    .text {
      margin-top: 10px;
    }
    
    .list-title {
      margin-top: 20px;
      font-weight: 600;
    }
    .list-regular {
      margin-bottom: 0;
      li {
        &:last-child {
          padding-bottom: 0;
          margin-bottom: 0;
        }
      }
    }
    
    .result-explanation-quote {
      display: inline-block;
      margin-top: 20px;
      padding-top: 10px;
      padding-bottom: 10px;
      
      padding-left: 60px;
      padding-right: 50px;
      
      @include tablet {
        padding-left: 70px;
        padding-right: 70px;
      }
      
      position: relative;
      &:before, &:after {
        content: "";
        display: inline-block;
        width: 38px;
        height: 35px;
        @include tablet {
          width: 48px;
          height: 46px;
        }
        
        padding: 0;
        margin: 0;
        position: absolute;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-image: url('../images/icon/rating/icon-rating-quote.svg');
      }
      
      &:before {
        left: 0;
        top: 0;
      }
      &:after {
        bottom: 0;
        right: 0;
      }
      
      .title {
        font-weight: 500;
      }
      .subtext {
        font-weight: 600;
      }
    }
    
  }
  
}

.page-name-quiz {
  .status-hidden {
    display: none !important;
  }
}

.page-name-survey {
  .status-hidden {
    display: none !important;
  }
}

.image-overlay {
  position: relative;
  float: left;

  img {
    display: block;
  }

  .image-overlay-text {
    width: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: auto;
    transform: translate(-50%, -50%);
  }
}


.showTerms, 
.popupterms {
  cursor: pointer;
  font-style: normal;
}

#term-modal, #consent-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.9);
  z-index: 1000;
  width: 100%;
  height: 100%;
  padding: 0;

  .main-content {
      width: 100%;
      height: 100%;
      padding: 40px;
      max-width: 873px;
      margin: auto;
      background: #fff;	
      background-color: rgba(255,255,255,0.98);	
      box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.5), 0 6px 8px 0 rgba(0,0,0,0.06);

      @include mobile-mmedium {
          width: 90%;
          height: 90%;
          margin-top: 2.5%;
          border-radius: 18px;
      }

      .section-wrapper-list {
          position: relative;
          height: 100%;
          overflow: hidden;
          .block-subtitle {
            width: calc(100% - 24px);
          }
          .block-text {
              p {
                  font-size: 14px;	
                  line-height: 18px;
                  
                  @include mobile-mmedium {
                      font-size: 16px;
                      line-height: 24px;
                  }
              }
          }
          ol {
              li {
                  font-size: 14px;	
                  line-height: 18px;

                  strong {
                      font-weight: bold;
                  }
                  
                  b {
                    font-weight: 600;
                  }

                  @include mobile-mmedium {
                      font-size: 16px;
                      line-height: 24px;
                  }
              }
          }
      }

      .close-modal-btn {
          z-index: 1;
          position: absolute;
          right: 0;
          width: 24px;
          height: 24px;
          cursor: pointer;

          &:before, &:after {
              content: "";
              position: absolute;
              top: 0;
              right: 11px;
              width: 2px;
              height: 24px;
              background: $greenColor;
              transform: rotate(45deg);
          }

          &:after {
              transform: rotate(-45deg);
          }
      }

      .section-article-intro {
          .block-subtitle + .block-text {
              margin-top: 10px;
          }
      }

      .section-article-content {
          overflow-y: auto;
          height: calc(100% - 139px);
      }

      .row {
          margin: 0;

          .col-xs-12 {
              padding: 0;
          }
      }
  }
}

#consent-modal {
  .main-content {
      @include mobile-mmedium {
          height: auto;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          margin-top: 0;
      }
  }
}

.campaign-sticky-banner {
  display: none !important;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  width:auto;
  max-width: 500px;
  display: flex;
  position: relative;
  z-index: 3;
  bottom:7%;
  right:0;
  margin:0px auto;
  background: white;
  margin-bottom: 20px;
  
  @include desktop-medium {
      position: fixed;
      margin-right:30px;
  }

  .banner-image {
      width:350px;
      height:auto;
      img {
          width:100%;
          height:100%; 
      }
  }

  .banner-content {
      padding:10px 10px 0 10px;
      
      @include desktop-medium {
          padding:20px;
      }

      .banner-title {
          font-size:12px;
          font-weight: 600; 
          margin-right:25px;
          color: #000;
          line-height: 20px;
          padding-bottom: 15px;

          @include mobile-mmedium {
              font-size:16px;
              line-height:20px;
              margin-right:55px;
              padding-bottom: 20px;
          }
      }
      
      .banner-start-btn {
          padding-bottom: 10px; 

          a {
              padding:2px 5px;
              font-size:12px;

              @include mobile-se {
                  padding:5px 10px;
                  font-size:14px;
              }
          }

          span {
              margin:20px 0px 0px 5px;
              font-size: 10px;
          }
      }

      .button-close-banner {
          position: absolute;
          right:0;
          cursor: pointer;
      }

      .banner-text-small {
          font-size:10px;
      }
  }

  .button-close-banner {
      width:25px;
      height:25px;
      background: #333333;
      border-radius: 50px;
      position:absolute;
      right:0;
      top:10px;
      margin-right: 10px;
      text-align: center;

      span {
          color:white;
          font-size: 16px;
          margin-top:4px;
      }
      
  }
}

//.question-item, .block-quiz-form, .section-result {
.question-item, .wrapper-quiz-form, .block-quiz-form, .section-result, .lucky-block-quiz-form {
  display: none;
}

.question-item:first-child {
  display: block;
}

.question-item.status-activated {
  //display: flex;
  display: block;
}

.page-type-articles {
  .section-contact-box-mobile {
    .contact-box-mobile {
      margin-top: 30px;
    }
  }
}

// ------------------------------------------------------------------------------------------------------ financial lessons

.block-linkbanner {
  margin-top: 45px;
  margin-bottom: 45px;
  padding: 21px 28px;
  background-color: #fff;
  border: 1px solid #ededed;
  @include desktop-small {
    padding: 20px;
  }
  
  .linkbaner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    @include tablet {
      flex-wrap: nowrap;
    }
    
  }
  .linkbanner-text {
    text-align: center;

    @include tablet {
      width: calc(100% - 215px);
      text-align: left;
      padding-right: 30px;
    }
    
  }
  .linkbanner-button {
    margin-top: 15px;
    width: 100%;
    @include tablet {
      margin-top: 0;
      width: auto;
    }
    text-align: center;
    display: flex;
    align-content: center;
    
    .button {
      width: 215px;
      display: inline-block;
      margin-left: auto;
      margin-right: auto;
      
    }
  }
}

// section.section-content-source {
//   border-top: 1px solid #ededed;
// }

.block-content-source {
  padding-top: 0;
  padding-bottom: 30px;
  
  .title {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 20px;
  }
  .item {
    font-size: 14px;
    line-height: 16px;
    margin-top: 10px;
  }
  a.link {
    margin-left: 5px;
    text-decoration: underline !important;
    transition: .2s;
    
    &:hover {
      color: $greenColor;
      text-decoration: none !important;
    }
  }
}

.page-name-non-face-to-face-advisory {
  .section-article-intro {
    margin-top: 0;
  }
}