.campaign-form {
  min-height: 300px;

  .section-title-main {
    .greenbox {
      background: $greenColor;
      // border: 2px solid $greenColor;
      border-radius: 5px;
      margin-bottom: 15px;
      padding: 10px;
  
      h4 {
        text-align: center;
        color: #fff;
        font-size: 16px;
        line-height: 22px;

        b {
          font-weight: bold;
        }
      }
  
      @include tablet-small {
        padding: 20px;

        h4 {
          font-size: 24px;
          line-height: 30px;
        }
      }
    }
  }
  
  .block-term {
    margin-top: 10px;

    p {
      margin-top: 0;
    }
  }

  .campaign-form-title-wrapper {
    .block-button {
      margin-top: 30px;
    }
  }

  .block-questions {
    margin: 0;
  }

  .block-progress-bar {
    display: none;
    width: 100%;
    margin: auto;
    top: -12px;
    position: absolute;

    .tabs-contain-details {
      .tab-menu {
        padding: 0;
        list-style: none;
        display: flex;
        margin: 0;
        width: 100%;

        li {
            width: 15%;
            max-width: 80px;

            @include tablet {
              width: 9%;
            }
            .mover-line {
                height: 3px;
                width: calc(100% - 4px);
                display: inline-block;
                border:2px solid rgba(66, 69, 89, 0.2);
                border-radius: 2.5px;
                outline:none;

                @include mobile-mmedium {
                    width: calc(100% - 10px);
                    height: 5px;
                    border:3px solid rgba(66, 69, 89, 0.2);
                }
            }

            &.step-active,
            &.step-activated {
                .mover-line {
                    border-color: $greenColor;
                }
            }

            // &.active-tab + .done-tab {
            //     .mover-line {
            //         border-color: #D1A248;
            //     }
            // }

            &.disable-tab {
                pointer-events:none;
            }
        }
      }
    }
  }

  .question-item {
    transition: all 0.3s;
    border: none;
    padding-left: 0;
    
    &:first-child {
      display: none;
    }

    &.status-active {
      display: block;
      &::before {
        display: none;
      }
    }
    @include mobile-mmedium-and-tablet-only {
      .question-img-title {
        margin-left: 10px;
      }
    }

    .title {
      font-size: 18px;
      line-height: 26px;
    }

    .block-image + .title {
      margin-top: 28px;
    }

    &.status-activated {
      display: none !important;
    }
    .answer {
      margin-top: 15px;
    }
    .answer-type-round {
      .answer-option {
        &:hover {
          span {
            opacity: 1;
          }
          &:before {
            border: 2px solid $greenColor;
            opacity: 1;
          }
          
          &:after {
            content: '';
            display: inline-block;
            height: 10px;
            width: 13px;
            position: absolute;
            top: 12px;
            left: 9px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url('../images/icon/icon-v-active.svg');
          }
        }
      }
    }
  }
  .result-score-mark, 
  .result-score-number {
    display: none;
  }

  .wrapper-quiz-form {
    .block-quiz-result {
      .result-score {
        margin-bottom: 5px;
      }

      .block-button {
        margin-top: 5px;
        display: none;
        margin-bottom: 20px;

        .block-disclaimer {
          font-style: italic;
        }
      }

      + .block-quiz-form {
        margin-top: 20px;
      }
    }

    .result-score-image {
      @include mobile-mmedium-only {
        margin: auto;
        width: 120px;
      }
    }
    .result-score-title {
      margin-top: 20px;

      @include mobile-mmedium-only {
        margin-top: 10px;
        margin-left: 0;
        display: block;
        width: 100%;
        text-align: center;
      }
    }

    .result-score-text {
      margin-top: 0;

      p + p {
        margin-top: 5px;
      }
    }

    input {
      background-color: #fff;
    }
  }
  .form-survey {
    .block-term {
      + .block-button {
        margin-top: 20px;
      }
    }

    .submission-error, .multiplesubmission {
      display: none;
      margin-top: 15px;
      text-align: left !important;
      color: #FF5656;
      padding: 3px;
      line-height: 18px !important;
      font-size: 13px !important;
    }
  
    .disable-btn {
      pointer-events: none;
      opacity: 0.5;
    }
  }

  .block-thank {
    .title {
      margin-top: 0;
    }

    .subtitle {
      font-weight: 400;
    }
  }

  .status-hidden {
    display: none;
  }

  .block-share-button {
    margin-top: 20px;
    .block-text {
      margin-bottom: 20px;
    }

    .subtitle {
      font-weight: 400;
    }
  }

  .result-score-info {
    background: $greenColor;
    // border: 2px solid $greenColor;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;

    p {
      color: #fff;
    }

    @include tablet {
      margin-top: 10px;
      padding: 10px 20px;
    }
  }

  .question-item .answer-type-round .answer-option {
    width: 100%;
    margin-bottom: 15px;
  }

  &#be-unbroken-form {
    .result-score {
      &.score-active {
        display: inline-block;
        vertical-align: middle;
      }

      .result-score-image {
        @include mobile-mmedium {
          float: none;
          display: inline-block;
          vertical-align: middle;

          + .result-score-title {
            display: inline-block;            
            width: calc(100% - 125px);
            margin-left: 20px;
          }
        }
      }

      .result-score-title {
        margin-left: 0;
        @include mobile-mmedium {
          float: none;
          vertical-align: middle;
          margin-top: 0;
        }
      }

      .result-score-text {
        clear: both;
        margin-top: 0;
        margin-left: 0;
        width: 100%;
        float: none;
      }
    }
  }
}

.page-name-be-unbroken {
  .text-subtitle-product {
    margin-top: 0 !important;
  }
  @include mobile-and-tablet-small-only {
    h1 {
      font-size: 30px;
      line-height: 38px;
    }

    .question-item {
      padding-top: 0;

      .answer-type-round {       
        .answer-option {
          &:before {
            width: 22px;
            height: 22px;
          }

          span {
            padding-left: 30px;
            line-height: 22px;
          }
        }

        .status-selected:after {
          top: 7px;
          left: 4px;
        }
      }

      .answer {
        margin-top: 0;
      }
    }

    .block-quiz-form .block-quiz-form-inner {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
}

.section-form-submission {
  display: none;
}

#womenweknow-form {
  &.section-wrapper {
    @include tablet {
      padding-top: 60px;
      padding-bottom: 60px;
    }
  }

  .source-caption {
    display: none;
    position: absolute;
    font-size: 10px;
    line-height: 13px;
    top: -24px;

    @include mobile-mmedium {
      top: -20px;
    }

    @include tablet {
      top: -46px;
    }
  }

  .container-fluid {
    @media screen and (max-width: 1200px) and (min-width: 768px){
      padding-left: 35px;
    }
  }

  .form-question {
    display: none;

    &.question-1 {
      display: block;
    }
  }

  .button-question-2 {
    display: none;
  }

  .showQuestion2 {
    .button-question-1 {
      display: none;
    }

    .button-question-2 {
      display: inline-block;
    }
  }
  
  .result-text {
    display: none;
    margin-bottom: 10px;
  }

  h3.customize-title {
    font-weight: bold;
    font-size: 26px;
    line-height: 34px;

    @include mobile-mmedium-only {
      font-size: 20px;
      line-height: 27px;
    }
  }

  .bg-image {
    padding: 0;

    img {
      width: 100%;
      height: auto;
    }
  }
  
  p.subtitle{
    font-weight: 600;
    margin-top: 0;

    strong {
      font-weight: bold;
    }

    @include mobile-mmedium-only {
      font-weight: normal;
      line-height: 20px;
    }
  }

  .campaign-form-title-wrapper {    
    .text-subtitle-product {
      font-weight: 700;
    }

    .form-element {
      margin-top: 10px;

      label {
        font-weight: bold;
      }

      .form-select-wrapper, input {
        @include mobile-mmedium {
          max-width: 400px;
        }
      }
    }

    .block-term {
      p u {
        color: $greenColor;
      }
    }
  }

  .section-form-submission {
    .form-survey {
      margin-top: 20px;
  
      @include tablet {
        margin-top: 30px;
      }
    }
  }
  
  .block-quiz-form {
    display: block;
  }
}

.page-name-redemption {
  .section-form-title {
    margin-bottom: 20px;
  }

  .thank-content {
    .subtitle + p {
      margin-top: 20px;
    }
  }
}

#tortoisehare-form {
  padding-top: 20px;

  @include tablet-small {
    padding-top: 30px;
  }

  .campaign-form-content-wrapper {
    position: relative;
    section {
      &.section-title-main p {
        margin-top: 0;
      }
    }

    @include desktop-small {
      padding: 20px;
      border-radius: 10px;
      background: #fff;
    }
  }

  .tortoisehare-form-title-wrapper {
    .block-button {
      .text-right {
        @include mobile-mmedium-only {
          flex: 1;
          padding-right: 10px;

          .button {
            height: 100%;
          }
        }
      }

      .text-left {
        @include mobile-mmedium-only {
          flex: 1;
          padding-left: 10px;

          .button {
            height: 100%;
          }
        }
      }
    }
  }

  .button {
    font-weight: normal;

    &.button-orange {
      border-radius: 5px;
    }

    &.button-go-sign-up-form {
      @include mobile-mmedium-only {
        padding-left: 15px;
        padding-right: 15px;
      }
    }

    &.button-show-articles {
      padding: 30px 5px;
      width: 100%;
      max-width: 200px;
    }

    &.button-go-back {
      &:before {
        transform: rotate(180deg);
      }
    }

    &.button-continue {
      padding-left: 0;
      padding-right: 30px;

      &:before {
        left: auto;
        right: 0;
        margin-right: 0;
      }
    }
  }

  .landing-breaker-img {
    max-width: 250px;
    margin: auto;

    + .subtitle {
      margin-top: 20px;
    }
  }

  .go-articles {
    h5 {
      &.text-normal {
        font-weight: normal;
      }
    }

    .accordion {
      .block-accordion-item-title {
        .accordion-item-title {
          min-width: 320px;
          box-shadow: 0 -5px 7px rgba(0, 0, 0, 0.1);
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          width: 70%;
          margin: auto;
          padding: 5px 0;
          text-align: center;
          font-size: 16px;
          line-height: 24px;
          color: $greenColor;

          &:after {
            display: none;
          }
        }
      }
    }
  }

  .form-field-learn-more {
    margin-top: 20px;
    margin-bottom: 20px;

    .form-field-inner {
      margin-right: 10px;
      display: inline-block;
    }
    .block-input-radio {
      display: inline-block; 

      .input-radio {
        display: inline-block;
        + .input-radio {
          margin-left: 10px;
        }
      }

      input[type=radio]{
        &:checked,
        &:not(:checked) {
          position: absolute;
          left: -9999px;

          & + label {
            position: relative;
            padding-left: 28px;
            cursor: pointer;
            line-height: 20px;
            display: inline-block;
            color: #666;

            &:before {
              content: '';
              position: absolute;
              left: 0;
              top: 0;
              width: 18px;
              height: 18px;
              border: 1px solid #ddd;
              border-radius: 100%;
              background: #fff;
            }

            &:after {
                content: '';
                width: 10px;
                height: 10px;
                background: $greenColor;
                position: absolute;
                top: 4px;
                left: 4px;
                border-radius: 100%;
                -webkit-transition: all 0.2s ease;
                transition: all 0.2s ease;
            }
          }
        }

        &:not(:checked) + label:after {
          opacity: 0;
          -webkit-transform: scale(0);
          transform: scale(0);
        }

        &:checked + label:after {
          opacity: 1;
          -webkit-transform: scale(1);
          transform: scale(1);
        }
      }
    }
  }
}

#circuit_builder-form {
  padding-top: 20px;

  .section-wrapper-list {
    max-width: 650px;   
    margin: auto;
  }

  @include tablet-small {
    padding-top: 30px;
  }

  .campaign-form-content-wrapper {
    position: relative;
    border-radius: 10px;
    border: thin solid $greenColor;

    .campaign-form-content p {
      margin-top: 0;
    }    

    &.circuit_builder-page2 {
      .circuit_builder-page-content {
        padding-left: 0;
        padding-right: 0;
      }
    }

    &.circuit_builder-home-page,
    &.circuit_builder-page2-result,
    &.circuit_builder-thankyou {
      .circuit_builder-page {
        @include mobile-mmedium-only {
          background: url(../images/campaigns/circuit-builder/BG_Mobile_Landing.png) no-repeat;
          background-size: contain;
          background-position-y: 70px;
          background-position-x: center;

          .circuit_builder-block-button {
            position: absolute;
            left: 0;
            width: 100%;
            bottom: 10px;
          }
        }
      }
    }

    &.circuit_builder-page2-result {
      .circuit_builder-page {
        @include mobile-mmedium-only {
          padding-bottom: 60px;  
        }
      }
    }

    &.section-form-submission .circuit_builder-page-content {
      overflow-x: hidden;
      overflow-y: auto;
    }
    
    &.circuit_builder-thankyou {
      @include mobile-mmedium {
        .circuit_builder-whitebox.cbSkillbox {
          top: 43%;
        }
      }

      @include mobile-mmedium-only {
        .circuit_builder-whitebox.cbSkillbox {
          left: auto;
          transform: none;
        }

        .circuit_builder-page {
          padding-bottom: 20px;

          .circuit-builder-img-wrapper {
            min-height: auto;
          }

          .circuit_builder-thankyou-wrapper {
            position: relative;
            margin-top: 15%;
          }

          .cbCareerbox {
            position: relative;
            margin-top: 20px;
          }
        }
      }
    }

  }

  .button {
    font-weight: normal;
    text-transform: uppercase;
    font-weight: 600;

    &.button-orange, &.button-white {
      border-radius: 5px;
      padding: 10px 15px;
      height: auto;

      @include mobile-mmedium-only {
        max-width: 250px;
        width: 90%;
      }
    }

    &.button-show-cb-analysis {
      height: auto;
    }

    &.button-show-cb-page2 {
      min-width: 150px;
    }

    &.button-cb-invite {
      @include mobile-mmedium {
        min-width: 120px;
      }
    }
  }

  .circuit_builder-page {
    padding: 10px;
    position: relative;
    width: 100%;
    height: 100%;

    @include mobile-mmedium {
      padding: 20px;
    }

    .circuit_builder-block-button {
      display: block;
    }

    .circuit_builder-page-title {
      position: relative;
      left: 0;
      right: 0;
      width: 100%;
  
      .subtitle {
        margin-bottom: 0;
  
        + h3 {
          margin-top: 2px;

          @include mobile-mmedium {
            margin-top: 0;
          }
        }
      }
  
      h3 {
        font-weight: bold;

        @include mobile-mmedium-only {
          font-size: 20px;
          line-height: 24px;
        }
      }
    }

    .circuit_builder-page-content {
      position: relative;
      width: 100%;
      left: 0;
      right: 0;
      padding: 10px 0;
    }
  }    

  .circuit-builder-img-wrapper {
    position: relative;
    min-height: 400px;
    left: -10px;
    width: calc(100% + 20px);
    margin: auto;
    overflow: hidden;

    @include mobile-mmedium {
      min-height: 340px;
      left: 0;
      right: 0;
      width: 100%;
    }

    .circuit-builder-img {
      img {
        display: none;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: auto;
        height: 100%;
        margin: auto;

        &.hide-mobile-only {
          display: none;

          @include mobile-mmedium {
            display: block;
          }
        }

        &.hide-desktop-only {
          display: block;

          @include mobile-mmedium {
            display: none;
          }

        }

        @include mobile-mmedium-only {
          max-width: none;
        }
      }
    }
  }

  .circuit_builder-about-skills {
    margin-top: 5px;

    @include mobile-mmedium {
      margin-top: 20px;
    }

    .circuit_builder-about-skills-box {
      padding: 15px 10px;
      position: relative;

      @include mobile-mmedium-only {
        padding: 15px 5px;
      }

      &:after {
        content: "";
        bottom: 0;
        width: 100%;
        height: 8px;
        position: absolute;
        left: 0;
      }

      @include mobile-mmedium-only {
        .row  {
          display: flex;
          align-items: center;
        }

        .col-xs-8 {
          padding-right: 5px;
        }

        .col-xs-4 {
          padding-left: 0;
        }
      }

      @include tablet-small {
        &-left {
          padding-right: 0;
        }

        &-right {
          padding-left: 0;
        }
      }

      p {
        color: #fff;
        font-size: 14px;
        line-height: 17px;
      }

      &-green {
        p {
          color: #49a562;
        }

        &:after {
          background: #49a562;
        }
      }

      &-darkblue {
        p {
          color: #282b3c;
        }

        &:after {
          background: #282b3c;
        }
      }

      &-orange {
        p {
          color: #e99936;
        }

        &:after {
          background: #e99936;
        }
      }

      &-blue {
        p {
          color: #2d409c;
        }

        &:after {
          background: #2d409c;
        }
      }
    }

    .block-button {
      @include mobile-mmedium {
        margin-top: 10px;
        text-align: right;
      }

      .button-show-cb-analysis {
        min-width: 150px;
        padding: 5px 10px;

        @include mobile-mmedium-only {
          min-width: auto;
          width: 100%;
          padding: 9px 5px 6px;
          font-size: 11px;
          line-height: 16px;
        }
      }
    }
  }

  .circuit_builder-img-with-text {
    position: absolute;
    left: 0;
    right: 0;
    top: 18%;
    width: 100%;

    @include mobile-mmedium {
      top: 20%;
    }

    @include mobile-mmedium-only {
      left: -10px;
      width: calc(100% + 20px);
    }

    &.circuit_builder-thankyou-wrapper {
      @include mobile-mmedium-only {
        top: 15%;
      }
    }

    .circuit_builder-img-with-text-title {
      width: 100%;
      padding: 0 10px;
      background: #fafafa;
    }
  }

  .circuit_builder-img-with-text-greenbox {
    top: 43%;
  }

  .circuit_builder-whitebox {
    background: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    position: absolute;
    max-width: 350px;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
    margin: auto;
    z-index: 1;

    &.circuit_builder-greenbox {
      background: $greenColor;

      .circuit_builder-close-btn {
        &:before, &:after {
            background: #fff;
        }
      }      

      h6 {
        color: #fff;
      }
    }

    &.cbSkillbox {
      top: 39%;
      
      @include mobile-mmedium {
        top: 47%;
      }
    }

    &.cbCareerbox {
      max-width: 450px;
    }

    .circuit_builder-whitebox-content {
      position: relative;
      height: 100%;
    }
    h6, p {
      font-size: 14px;
      line-height: 20px;
    }

    ul {
      margin-bottom: 0;

      li {
        font-size: 14px;
        line-height: 20px;
        position: relative;
        padding-left: 10px;

        &:before {
          position: absolute;
          left: 0;
          top: 6px;
          background: $greenColor;
        }

        + li {
          padding-top: 0;
          margin-top: 5px;
        }
      }
    }
  }

  .circuit_builder-pop-up {
    .block-text {
      background: $greenColor;
      box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
      border-radius: 10px;
      text-align: center;
    }

    a {
      display: block;
      color: #fff;
      font-weight: 600;
      line-height: 18px;
      padding: 20px 10px;
      min-width: 80px;

      @include mobile-mmedium-only {
        padding: 15px 5px;
        min-width: 65px;
        font-size: 12px;
        line-height: 16px;
      }
    }

    margin-top: 10px;
    position: relative;
    display: inline-block;

    &.circuit_builder-whatisthis {
      width: calc(50% - 20px);
      margin-left: 15px;
    }

    &.circuit_builder-joinus {
      margin-left: 5px;
      width: calc(50% - 20px);
      margin-right: 15px;
    }

    &.circuit_builder-startnow {
      margin: 10px 15px 0;
      width: calc(100% - 30px);

      .block-text {
        background: transparent;
      }

      .button {
        width: 100%;
        max-width: none;
      }
    }

    br {
      display: none;
    }

    &-button {
      max-width: 350px;
      margin: auto;
    }

    &-wrapper {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;

      &.showPopUp {
        top: 5%;
        transform: none;
      }
    }


    &-content {
      display: none;
      padding-top: 20px;
      padding-right: 20px;
      position: relative;
      left: 0;
      transform: none;
      top: 50%;    

      &#cbWhatisThis {
        display: block;
      }

      &#cbInviteMessage {
        .circuit_builder-whitebox-content {
          max-height: none;
        }

        p {
          a {
            text-decoration: underline;
          }
        }

        .block-text + .block-button {
          margin-top: 8px;
        }

        .block-share-button {
          .text-center + .text-center {
            margin-top: 5px;
          }
        }

        #cbInviteMessageText {
          height: auto;
          border: none;
          padding: 0;
          background: transparent;
        }        
      }

      .circuit_builder-close-btn {
        cursor: pointer;
        width: 15px;
        height: 15px;
        position: absolute;
        right: 6px;
        top: 1px;

        &:before, &:after {
            content: "";
            width: 15px;
            height: 3px;
            position: absolute;
            top: 12px;
            left: 0;
            background: $greenColor;
            transform: rotate(45deg);
        }

        &:after {
            transform: rotate(-45deg);
        }
      }  
    }

  }

  .circuit_builder-block-button {
    margin: 20px 0 15px;

    .circuit_builder-invite-btn {
      margin-bottom: 10px;
    }

    .circuit_builder-build-btn {
      .button {
        width: 100%;
        max-width: 270px;

        @include mobile-mmedium {
          max-width: 300px;
        }
      }
    }

    .circuit_builder-back-btn {
      margin-top: 10px;
    }
  }
  
  .campaign-form-content-button {
    position: relative;
    width: 100%;
    height: 55px;

    &.hide-campaign-form-button {
      @include mobile-mmedium-only {
        display: none;
      }
    }

    .block-button {
      margin-top: 10px;
    }

    .campaign-form-block-button {    
      position: absolute;
      width: 100%;
      height: 100%;

      .circuit_builder-invite-text {
        padding-right: 5px;
  
        p {
          font-size: 12px;
          line-height: 14px;

          @include mobile-mmedium {
            font-size: 14px;
            line-height: 16px;
          }
        }

        @include mobile-mmedium-only { 
          width: 50%;
        }
      }
      .circuit_builder-invite-btn {
        padding-left: 5px;

        @include mobile-mmedium-only {
          &.col-xs-3 {
            width: 50%;
            text-align: right;
          }
        }
      }
      
      .circuit_builder-back-btn {
        @include mobile-mmedium-only {
          padding-right: 5px;

          a {
            font-size: 12px;
            line-height: 14px;
          }
        }
      }
      .circuit_builder-build-btn {
        @include mobile-mmedium-only {
          padding-left: 5px;
        }
      }

      &.circuit_builder-thankyou {
        @include mobile-mmedium {
          .text-right {
            padding-right: 5px;
          }

          .text-left {
            padding-left: 5px;
          }
        }        

        .block-share-button {
          @include mobile-mmedium-only {
            text-align: center;
          }
        }
      }

      &.circuit_builder-lastpage {
        .button {  
          br {
            display: none;
          }
        }
      }

      @include mobile-mmedium-only {
        &.circuit_builder-lastpage {
          position: fixed !important;
          bottom: 0;
          width: 165px;
          z-index: 100;
          right: 0;
          height: 70px;

          .block-button {
            margin-top: 0;
          }

          .button {    
            width: 165px; 
            border-radius: 0;       
            height: 70px;
            padding: 20px 5px;
            font-size: 14px;
            line-height: 16px;

            br {
              display: block;
            }
          }

          .text-right {
            text-align: center;
            padding-left: 15px;
          }
        }
      }

      &.circuit_builder-home-page {
        @include mobile-mmedium-only {
          .text-right {
            display:  none;
          }
        }
      }
    }
  }

  .circuit_builder-build-cover-letter {

    .block-text {
      p {
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 5px;
      }

      + .block-text {
        margin-top: 20px;
      }
    }

    .circuit_builder-build-cover-letter-text {
      line-height: 25px;
    }

    .cb-select-dropdown {
      display: inline-block;
      padding: 0 5px 3px;
    }

    .cb-select {
      margin: 0px auto;
      position: relative;
      font-size: 14px;
      cursor: pointer;

      &:before {
        content: "";
        background: url('../images/icon/icon-arrow-down-green.svg') no-repeat;
        background-position: center center;
        background-size: 10px;
        position: absolute;
        right: 0;
        width: 25px;
        height: 100%;
        border: thin solid $greenColor;
        border-right: none;
      }

      label {
        display: block;
        font-size: 14px;
        line-height: 16px;
        padding: 4px 30px 4px 5px;
        margin-bottom: 0;
        cursor: pointer;
        border: thin solid $greenColor;
        position: relative;
        z-index: 1;
        color: $greenColor;
      }

      ul {
        display: none;
        list-style: none;
        position: absolute;
        width: 100%;
        z-index: 2;
        
        li {
          padding: 3px 5px;
          border: thin solid $greenColor;          
          border-top: none;
          background: #fafafa;
          text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
          // height: 0px;
          overflow: hidden;
          cursor: pointer;
          transition: height 0.1s linear 0s;

          &:hover,
          &.selected {
            background: $greenColor;
            color: #FAFAFA;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
          }
        }
      }

      // &:hover ul li {
      //   padding: 8px 16px;
      //   height: 34px;
      // }
    }
  }

  .cb-input-field {
    margin-bottom: 5px;

    input, textarea {
      border: thin solid $greenColor;
      font-size: 14px;
      line-height: 16px;
    }

    input {
      max-width: 200px;
      height: 30px;
    }    

    .error-label {
      top: auto;
      bottom: -19px;
    }
  }

  #form-circuit_builder-form {
    label {
      font-size: 14px;
      line-height: 16px;
    }

    input, .select-dropdown, .form-select-wrapper .btn {
      height: 40px;
      font-size: 14px;
      line-height: 16px;
      font-weight: 500;
    }

    .select-dropdown {
      outline: none;

      &:hover {
        border: thin solid $greenColor;
      } 

      &.form-select-wrapper:after {
        top: 16px;
      }

      .bootstrap-select {
        .dropdown-toggle {
          &:hover {
            border: none;
          }

          &:focus {
            outline: none !important;
            box-shadow: none !important;
          }
        }

        .dropdown-menu {
          top: 93%;
        }
      }
    }

    .news-latter-opt-option {
      padding-bottom: 0;
    }

    .form-field {
      margin-bottom: 15px;
    }

    .button-cb-upload {
      position: relative;
      display: inline-block;
      background-color: $redColor;
      text-align: center;
      color: #fff;
      font-size: 14px;
      font-weight: 600;
      border-radius: 5px;

      &:hover {
          color: #fff;
          background-color: #00a69b;
      }

      label {
          display: inline-block;
          border-radius: 5px;
          padding: 10px 15px;
          height: auto;
          text-align: center;
          color: #fff;
          font-size: 14px;
          font-weight: 600;
          margin: 0;
          cursor: pointer;
      }

      input {
          width: 0.1px;
          height: 0.1px;
          opacity: 0;
          overflow: hidden;
          position: absolute;
          z-index: -1;
      }
    }

    .block-term {
      margin-top: 0;
      margin-bottom: 10px;

      p {
        font-style: oblique;
      }
    }

    .news-latter-opt-option .container {
      font-size: 10px;
      line-height: 12px;
    }

    .link-icon-file {
      margin-top: 20px;
    }
  }
}

.page-name-index {
  @include mobile-mmedium {
    .contact-box-desktop-mini {
      .cb-button {
        display: none !important;
      }
    }

  }

  @include mobile-mmedium-only {
    .contact-box-desktop-mini {
      .box-user {
        // width: calc(100% - 180px);
        width: 100%;
      }

      // &.hideButton {
      //   .box-user {
      //     width: 100% !important;
      //   }
      // }

      .contact-box-data {
        display: none;
      }

      // .cb-button {
      //   width: 165px;
      //   padding-left: 0;
      //   padding-right: 0;

      //   &.circuit_builder-home-page {
      //     display: block;
      //   }

      //   &.circuit_builder-home-page,
      //   &.circuit_builder-page3 {
      //     .button {
      //       padding: 28px 5px;
      //     }
      //   }

      //   .button {
      //     height: 70px;
      //     padding: 20px 5px;
      //     font-size: 14px;
      //     line-height: 16px;
      //   }
      // }
    }

  }
}

.page-name-tortoise-and-hare {
  .banner-top-wrapper {
    .cover-image {
      @media (min-width: 950px) and (max-width: 1200px) {
        min-height: 500px;
      }
    }

    @media (min-width: 950px) and (max-width: 1200px) {
      min-height: 500px;
    }
  }
}