// Card Design
.card {
  overflow: hidden;
  position: relative;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 20px;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.15);
  @include mobile-and-tablet-small-only {
    &:last-child {
        margin-bottom: 0;
    }
  }

  @include tablet-small {
      margin: 0 15px 40px;
  }

  &.card-article-color {
    background: $greenColor;

    .card-image {
      display: none;
    }

    .button-orange-arrow {
      color: #fff;

      &:before {
        background: url(../images/icon/icon-arrow-right-circle-white.svg) no-repeat center center/cover;
      }

      &:hover {
        &:before {
          background: url(../images/icon/icon-arrow-right-circle.svg) no-repeat center center/cover;
        }
      }
    }

    .card-content {
      h4, p, h3 {
        color: #fff;
      }
    }
  }

  .card-label {
    position: absolute;
    top: 10px;
    right: 0;
    z-index: 10;
    background: $greenColor;
    color: #fff;
    padding: 4px 8px 2px;
    font-size: 14px;	
    display: none;
  }

  &.card-new-notice {
    .card-label {
      display: block;
    }
  }

  &.card-no-link {
    .button-orange-arrow {
      display: none;
    }
  }

  

  &.card-title-hashtag {
    .card-content {
      h3 {
          word-break: break-all;
      }
    }
  }

  // &:before {
  //   content: "";
  //   width: 100%;
  //   box-shadow: 0 2px 8px 0 rgba(0,0,0,0.15);
  // }

  &:hover {
      box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.07);
  }
  .card-content-wrapper {
    display: block;
    width: 100%;
    height: 100%;

    &:hover {
      // .card-content {
      //     box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.07);
      // }

      // .button-orange-arrow {
      //     color: $redColor;
      // }
    }

    .button-orange-arrow {
      position: absolute;
      left: 20px;
      bottom: 42px;
      transition: all 0.1s;

      @include tablet-small {
        left: 30px;
      }

      &:hover {
          color: $redColor;
      }
    }
  }

  
  .card-image {
    width: 100%;
    max-height: 300px;
    overflow: hidden;
    position: relative;
    z-index: 1;

    img {
        width: 100%;
        max-width: inherit;
        @include tablet-small{
            max-width: 100%;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

    }

    @include tablet-small {
        //height: 100%;
        max-height: inherit;
        overflow: inherit;
    }
  }

  .card-content {
    position: relative;
    top: -3px;
    padding: 20px;
    padding-bottom: 70px;
    width: 100%;

    @include tablet-small {
      padding: 30px;
      padding-bottom: 80px;
    }

    h3 {
      padding-left: 0;
      margin-bottom: 8px;
      font-weight: 600;	

      &:before {
          display: none;
      }
    }

    h5 {
      font-weight: 400;
      letter-spacing: 0.25px;

      + p {
        margin-top: 20px;
      }

      a {
        &:hover {
          color: $greenColor;
        }
      }
    }

    p {
      position: relative;
    }

    @include tablet-small {
        p {
            &.text-medium {
                font-size: 22px;
                line-height: 28px;
            }
        }
    }
    ul.list-card {
        margin-top: 20px;
        li {
            font-size: 16px;	
            letter-spacing: 0.25px;	
            line-height: 22px;
            color: $textLightGray;
            margin-bottom: 12px;
            //color: yellow;
            position: relative;
            padding-left: 20px;
            &:before {
                content: "";
                width: 5px;
                height: 5px;
                border-radius: 50%;
                background-color: $darkGrayColor;
                display: block;
                position: absolute;
                vertical-align: top;
                top: 5px;
                left: 0;
            }
            span {
                font-weight: 600;
            }
        }
    }
  }
}

.card-details {
  width: 100%;
  padding: 30px;
  border-top: 1px solid #f1f1f1;
}

.card-article-default {
  .card-content{
      &:after {
          // content: "";
          // width: 100%;
          // height: 100%;
          // background: rgba(0,0,0,0.15);
          // display: block;
          // position: absolute;
          // z-index: 1;
          // top: 0;
          // left: 0;
          // right: 0;
          // bottom: 0;
      }
      // .card-content-inner {
      //     position: relative;
      //     z-index: 2;
      // }
  }
}
