.page-name-contact-us {
    background-color: #fafafa;

    .section-wrapper {
        padding: 0;

        .contact-us {
            padding: 85px 0 40px 0;

            @include tablet-small {
                padding-top: 30px;
            }

            @include tablet {
                padding: 60px 10px 60px 0;
            }

            @include desktop-medium {
                padding-right: 30px;
            }
            
            .section-title-main {
                margin-bottom: 20px;

                @include tablet {
                    margin-bottom: 30px;
                }
            }
        }
    }

    
    .block-thank {
        // padding-top: 30px;
        // padding-bottom: 30px;
        // padding-left: 15px;
        // padding-right: 15px;
        // @include tablet{
        //     padding-top: 50px;
        //     padding-bottom: 50px;
        //     padding-left: 30px;
        //     padding-right: 30px;
        // }

        // .block-image-thank {
        //     width: 70px;
        //     @include tablet-small {
        //         width: 110px;
        //     }
        // }
    }
        .product-thank-title {
            margin-top: 40px;
            @include tablet-small{
                margin-top: 60px;
            }

        }
        .product-thank-subtitle {
            font-weight: 600;
        }

        .thank-text {
            font-size: 16px;
            line-height: 24px;
            margin-top: 40px;
            @include tablet-small{
                margin-top: 20px;
            }



    }
    // .container-fluid, .container {
    //     padding-left: 15px;
    // }
    .map-element {
        width: 100%;
        height: 100%;
        min-height: 100vh;
    }
    .map-element + .map-content-element {
        display: none;
    }

    // main {
    //     padding: 0;

    //     @include tablet-small{
    //         padding-left: 60px;
    //     }

    // }

    // .section-contact-form {
    //     @include tablet-small-only{
    //         padding-left: 60px;
    //         padding-right: 60px;
    //     }
    // }

    // .main-content {
    //     .flex-row {
    //         .flex-col:first-child {
    //             @include tablet-small-only{
    //                 order: 2;
    //             }

    //         }
    //     }
    // }

    .placeholder-map {

    }



    .panel-theme-orange {
        cursor: pointer;
    }

    .section-contact-agent {
        margin-top: 30px;
    }

    .section-contact-agent-wrapper {
        @include tablet-small-only{
            padding-left: 60px;
            padding-right: 60px;
            padding-bottom: 30px;
            padding-top: 30px;
        }

    }
    .block-contact-agent {
        width: 80%;
        display: inline-block;


    }

    .block-contact-image {
        display: inline-block;
        overflow: hidden;
        border-radius: 50%;
        max-width: 100px;
        .user-image {
            width: 100%;
        }

        @include tablet-small{
            max-width: 80px;
            float: left;
        }

    }


    .block-contact-image {

    }


    .block-contact-name {
        display: block;
        margin-top: 10px;
        .contact-name {
            font-weight: 600;
        }

    }
    .block-contact-address {
        margin-top: 20px;
    }
    .block-contact-working-hour {
        display: block;
        margin-top: 20px;
    }
    .block-contact-contacts {
        display: block;
        margin-top: 20px;
    }
    .block-contact-phone {
        margin-top: 20px;
        .button {
            word-wrap: break-word;
        }
    }
    .block-contact-email {
        margin-top: 20px;
        .button {
            padding-left: 30px;
            padding-right: 30px;
            word-wrap: break-word;
        }
    }

    .block-social {

        display: inline-block;
        vertical-align: top;
        float: right;
        //@include tablet-small-only{
        //    padding-right: 60px;
        //}


        .social-icon {
            display: block;
            width: 37px;
            margin-bottom: 10px;
            float: right;
            clear: right;

        }
    }

    .devider {
        margin-top: 20px;
    }

    .block-contact-chat {
        margin-top: 20px;
        margin-bottom: 20px;

            display: block;
            text-align: center;

                .panel {
                    display: block;
                    width: 280px;
                    margin-left: auto;
                    margin-right: auto;

                }

        .theme-dark {
            
        }



    }



    @include tablet-small {

        .block-contact-phone {
            .button {
                display: inline-block;
                padding: 0;
                margin: 0;
                border: 0;
                background-color: inherit;
                color: #282b3e;
                text-align: left;

            }
        }

        .block-contact-email {
            .button {
                display: inline-block;
                padding: 0;
                margin: 0;
                border: 0;
                background-color: inherit;
                color: #282b3e;
                text-align: left;

            }
        }
    }



    @include tablet-small{
        .block-contact-phone, .block-contact-email {
            .button {
                padding-left: 40px;
                position: relative;
                font-weight: 400;
                &:before {
                    content: '';
                    display: inline-block;
                    width: 30px;
                    height: 30px;
                    position: absolute;
                    left: 0;
                    vertical-align: middle;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;

                }
            }
        }

        .block-contact-phone .button:before {background-image: url('../images/icon/icon-round-phone-black.svg');}
        .block-contact-email .button:before {background-image: url('../images/icon/icon-round-email-black.svg');}



    }




    .block-contact-agent {
        .block-contact-name,
        .block-contact-working-hour,
        .block-contact-contacts{
            @include tablet-small{
                padding-left: 100px;
                text-align: left;
            }
        }

    }

    /* The location pointed to by the popup tip. */
    .popup-tip-anchor {
        height: 0;
        position: absolute;
        /* The max width of the info window. */
        width: 256px;

    }
    /* The bubble is anchored above the tip. */
    .popup-bubble-anchor {
        position: absolute;
        width: 100%;
        bottom: /* TIP_HEIGHT= */ 8px;
        left: 0;
        background-color: red;
    }
    /* Draw the tip. */
    .popup-bubble-anchor::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        /* Center the tip horizontally. */
        transform: translate(-50%, 0);
        /* The tip is a https://css-tricks.com/snippets/css/css-triangle/ */
        width: 0;
        height: 0;
        /* The tip is 8px high, and 12px wide. */
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: /* TIP_HEIGHT= */ 8px solid white;
        display: none;
    }
    /* The popup bubble itself. */
    .popup-bubble-content {
        position: absolute;
        z-index: -1;
        top: -8px;
        left: 0;
        transform: translate(-50%, -100%);

        /* Style the info window. */
        background-color: #232537;
        color: #ffffff;
        opacity: 0.9;
        padding: 30px;
        border-radius: 2px;
        font-family: sans-serif;
        overflow-y: auto;
        // &:before {
        //     content: "";
        //     background-color: $darkGrayColor;
        //     position: absolute;
        //     bottom: 0;
        //     left: 50%;
        //     margin-left: -15px;
        //     width: 30px;
        //     height: 15px;
        // }

        .popup-title {
            font-size: 17px;	
            font-weight: 600;	
            line-height: 20px;
            color: #ffffff;

            + .popup-address {
                margin-top: 10px;
            }
        }

        p {
            font-weight: 300;	
            color: #ffffff
        }

        h6 {
            font-size: 16px;
            line-height: 20px;
            font-weight: 600;
            color: #ffffff
        }
        .popup-address-link {
            margin-top: 30px;
            display: none;
            //display: inline-block;
            font-size: 14px;
            line-height: 20px;
            font-weight: 600;
            border-bottom: 2px solid $greenColor;
            color: #ffffff;
            cursor: pointer;
        }
        .block-popup-phone {
            margin-top: 30px;
        }

        .block-popup-email {
            margin-top: 30px;
        }

    }


    .button-submit {
        span {
            font-weight: 700;
        }

    }


}


.button-submit {
    min-width: 120px;
}


section.section-map {
    //background-image:url('../images/placeholder/placeholder-map.jpg');
    //background-repeat:no-repeat;
    //background-size:cover;
    //background-position: top center;
    //display: block;
    margin: 0 -15px;
    height: 100%;
    width: calc(100% + 30px);
    @include mobile-mmedium {
        margin: 0 -25px;
        width: calc(100% + 50px);
    }

    @include tablet {
        margin: 0 -15px;
        width: calc(100% + 30px);
    }

    @include desktop-small{
        margin: 0 -20px;
        width: calc(100% + 40px);
    }

}


//.open-map {
//    h3 {
//        @include tablet-small {
//            &:before {
//                content: "";
//                background: url("../images/icon/icon-arrow-right-circle.svg") no-repeat center center / cover;
//                width: 20px;
//                height: 20px;
//                display: inline-block;
//                vertical-align: baseline;
//                margin-right: 10px;
//            }
//        }
//
//    }
//
//}

.open-map {
    .block-accordion-item-title {
        .accordion-item-title {
            cursor: pointer;
        }
    }
}