.page-type-footer {
    .card-insurance {
        margin: 0;
        margin-bottom: 20px;

        @include tablet-small {
            margin-bottom: 40px;
        }
        .card-content {
            @include tablet{
                min-height: 290px;
            }
        }

        .block-button {
            position: absolute;
            bottom: 20px;

            @include tablet-small {
                bottom: 40px;
            }
            // margin-left: -30px;
            // margin-right: -30px;
            // border-top: 1px solid #f5f5f5;
            // margin-top: 20px;
            // padding-top: 20px;
            // padding-left: 30px;
            // padding-right: 30px;
        }
    }
}