.page-name-future-cost-of-living-quiz {
    .question-item {
        .answer-option {
            &.status-selected {
                border-color: blue;
                &:before {
                    display: none;
                }
            }
        }
    }
}

.page-name-future-cost-of-living-quiz, .page-name-contest-quiz-results {

    .main-content {
        padding-left: 15px;
        border-bottom: solid 10px #00bf66;
    }
    main {
        padding: 0;

        .quiz-wrapper {
            max-width: 870px;
            float: none;
            margin: 0 auto;
        }
    }
    .contact-box {
        display: none;
    }

    .banner-top-wrapper {
        min-height: 300px;
        background-color: #4046A8;
        @include mobile-mmedium-only {
            min-height: 260px;
        }

        @include mobile-small-only {
            min-height: 170px;
        }
        .cover-image-wrapper {
            max-width: 870px;
            margin: 0 auto;
        }
        .cover-image {
            min-height: 300px;
            @include mobile-mmedium-only {
                min-height: 260px;
            }

            @include mobile-small-only {
                min-height: 170px;
            }
        }

        .banner-top-caption {
            width: 100%;
            top: 45px;
            left: 15px;
            .block-back-button {
                display: block;
                max-width: 870px;
                margin: 0 auto;

                &:after {
                    display: none;
                }

                .button-back {
                    color: #fff;
                    .text-button-back span {
                        color: #fff;
                    }
                }
            }
        }
    }

    .section-title-main {
        .title-main {
            border-bottom: none;
            color: #0000c1;
            margin-bottom: 0;
            padding-bottom: 20px;
            @include tablet-small {
                font-size: 39px;
            }
        }
        .subtitle-main {
            border-bottom: solid 1px #d5d6da;
            font-size: 26px;
            font-weight: 600;
            padding-bottom: 30px;
            margin-bottom: 30px;
        }

        p {
            @include tablet {
                font-size: 18px;
                line-height: 1.67;
                font-weight: 500;
            }
        }
    }

    .block-prize-counter {
        display: flex;
    }
    .prize-counter {
        text-align: center;
        margin-top: 30px;
        @include tablet{
            margin-top: 60px;
        }

        .block-counter {
            display: flex;
            justify-content: flex-start;
        }
        .counter {
            position: relative;
            background: #00bf66;
            color: #ffffff;
            margin-right: 3px;
            font-weight: 700;

            font-size: 28px;
            line-height: 36px;
            padding-left: 5px;
            padding-right: 5px;
            padding-top: 5px;
            padding-bottom: 5px;

            @include tablet {
                font-size: 48px;
                line-height: 58px;
                padding-left: 10px;
                padding-right: 10px;
                padding-top: 5px;
                padding-bottom: 10px;
            }

            &:after {
                content: '';
                display: inline-block;
                height: 1px;
                width: 100%;
                position: absolute;
                left: 0;
                top: 50%;
                margin-top: -1px;
                background-color: #fff;
            }

        }
        .fix-number-8 {
            padding-top: 8px;
            padding-bottom: 2px;
            @include tablet {
                padding-top: 10px;
                padding-bottom: 5px;
            }
        }

        .counter-name {
            margin-top: 10px;
            font-size: 14px;
            line-height: 20px;
        }
    }

    section.quiz-win-conditions {
        padding-top: 30px;

        @include tablet-small {
            font-size: 0;
        }

        .sm-title {
            font-weight: 500;
            color: #282b3e;
            line-height: 1.5;
            background-color: transparent;
            font-size: 20px;

            @include tablet {
                font-size: 26px;
            }
        }

        .xs-title {
            text-align: center;
            background-color: transparent;
            max-width: 200px;
            margin: 0 auto;
            margin-top: 20px;

            @include tablet {
                max-width: none;
                font-size: 18px;
            }
        }

        .block-text {
            @include tablet {
                font-size: 18px;
                line-height: 1.67;
            }
        }

        .selection-of-winners {
            @include tablet-small {
                border-top: solid 2px $greenColor;
                border-bottom: solid 2px $greenColor;
                text-align: center;
                margin-top: 10px;
            }

            @include tablet {
                padding: 10px 0;
            }

            p.win-condition-with-border {
                text-align: center;
                border-bottom: solid 2px $greenColor;
                font-size: 14px;
                line-height: 2.64;

                @include tablet-small {
                    display: inline-block;
                    border: none;
                    padding: 0 15px;
                }

                @include tablet {
                    font-size: 18px;
                    line-height: 1.67;
                    font-weight: 500;
                }

                &:first-of-type {
                    margin-top: 20px;
                    border-top: solid 2px $greenColor;

                    @include tablet-small {
                        border: none;
                        margin-top: 0;
                        padding-left: 0;
                    }
                }

                &:last-of-type {
                    @include tablet-small {
                        padding-right: 0;
                    }
                }
            }
        }

        .start-conditions {
            display: none;
            border: solid 1px #ececec;
            background-color: #f5f5f5;
            padding: 40px;

            p {
                position: relative;

                @include tablet {
                    font-size: 16px;
                    line-height: 1.44;
                }

                a {
                    color: #34384b;
                    border-bottom: solid 2px $greenColor;
                }

                &:before {
                    content: "";
                    background-color: #000;
                    width: 5px;
                    height: 5px;
                    display: inline-block;
                    position: absolute;
                    left: -20px;
                    top: 5px;
                }
                &:nth-of-type(1) {
                    margin-bottom: 15px;

                }
            }

            .buttons-container {
                text-align: right;
                padding-top: 40px;
                .agree {
                    width: 160px;
                    margin-right: 20px;
                }
                .cancel {
                    font-weight: 600;
                    font-size: 14px;
                }
            }
        }
    }

    .start-quiz-button {
        font-size: 22px;
        font-weight: 700;
        line-height: 1.45;
        letter-spacing: 0.8px;
        text-transform: uppercase;
        margin: 40px auto 0;
        display: block;
        margin-bottom: 60px;
        max-width: 315px;

        &:focus {
            color: #fff;
        }

        @include tablet {
            font-size: 24px;
            line-height: 0.83;
            letter-spacing: 0.9px;
            padding: 40px 0;
        }
    }

    .organized-by {
        padding-top: 60px;
        p {
            font-weight: 400;
            text-align: left;
            font-size: 14px;
            display: block;
            max-width: none;
            width: auto;
        }

        .green-apple-logo {
            max-width: 170px;
            margin-top: 10px;
        }
    }

    .section-questions {
        display: none;

        .block-questions {
            .answer-type-button {
                max-width: 289px;
                @include tablet {
                    max-width: 600px;
                }
            }
        }

        .wrapper-quiz-form {
            .form-select-wrapper {
                .btn {
                    font-size: 15px;
                }
            }
            .result-score {
                .result-score-title {
                    margin-left: 0;
                    .title {
                        span {
                            display: inline;
                        }
                    }
                }
            }
        }
    }

    .lucky-block-quiz-form {
        .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
            width: 100%;
        }
    }

    section.section-contact-accordion {
        .accordion-item {
            margin-top: 30px;
            padding-bottom: 40px;

            &:after {
                content: "";
                display: inline-block;
                width: 100%;
                height: 1px;
                background-color: rgba(66, 69, 89, 0.2);
                padding: 0;
                margin: 0;
                font-size: 0;
                position: absolute;
                bottom: 40px;
                left: 0;
            }
            .accordion-item-content {

                .xs-title {
                    background-color: transparent;
                    font-size: 18px;
                }

                ol {
                    list-style: decimal;
                    li {
                        padding-left: 10px;
                        font-size: 16px;
                        line-height: 1.44;
                        margin: 15px 0;

                        strong {
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }

}

.danger {
    border-color: #f8453c !important;
}

// Results page
.page-name-contest-quiz-results {
    .question-item, .wrapper-quiz-form, .lucky-block-quiz-form, .section-result, .section-questions {
        display: block;
    }

    .answer-option {
        pointer-events: none;
    }

    .question-item.status-active:before {
        display: none;
    }
    .wrapper-quiz-form {

        .result-score {
            border-top: solid 1px #d5d6da;
            padding-top: 30px;
            margin-top: 30px;
            margin-bottom: 0;

            @include tablet {
                padding-top: 60px;
                margin-top: 60px;
            }
        }

        .result-score-image {
            width: 55px;
            height: 74px;
        }

        .result-score-title {
            .title {
                color: #0000c1;
            }
        }
    }
    .section-questions {
        .answer {
            font-size: 14px;
            font-weight: 400;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.43;

            @include tablet {
                font-size: 16px;
                line-height: 1.5;
            }

            a.references-link {
                vertical-align: super;
                font-size: 14px;
            }
        }
    }

    .references {
        border-top: solid 1px #d5d6da;
        margin-top: 30px;
        padding-top: 30px;
        ol {
            margin-top: 20px;
            list-style: decimal;
            padding-left: 15px;
            li {
                line-height: 1.43;
                font-size: 14px;
            }
        }
    }
}

.winner-container {
    margin-top: 30px;

    @include tablet {
        margin-top: 60px;
    }

    .subtitle-main {
        font-size: 13px;
        font-weight: 600;
        margin-top: 10px;
        line-height: 1.38;

        @include tablet-small {
            font-size: 18px;
            line-height: 1.44;
        }
    }


    .title-main {
        color: #0000c1;
    }

    table.winners-table {
        font-size: 13px;
        line-height: 2.85;
        width: 100%;
        margin-top: 20px;

        @include tablet {
            margin-top: 25px;
            font-size: 18px;
            line-height: 2.06;
        }
        th {
            color: $greenColor;
            font-weight: 700;
        }

        th, td {
            border-bottom: solid 2px #000;
        }
        th.winner-name {
            padding-left: 15px;
        }
        th.participant-rank {
            @include tablet {
                padding-left: 90px;
            }
        }
        td.participant {
            padding-left: 10px;

            @include tablet {
                padding-left: 100px;
            }
        }
    }
}