@font-face {
	font-family:'Manulife JH Sans';
	src:	url('../fonts/ManulifeJHSans-Light.eot');
	src:	url('../fonts/ManulifeJHSans-Light.eot?#iefix') format('embedded-opentype'),
			url('../fonts/ManulifeJHSans-Light.woff2') format('woff2'),
			url('../fonts/ManulifeJHSans-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family:'Manulife JH Sans';
	src:	url('../fonts/ManulifeJHSans-Regular.eot');
	src:	url('../fonts/ManulifeJHSans-Regular.eot?#iefix') format('embedded-opentype'),
			url('../fonts/ManulifeJHSans-Regular.woff2') format('woff2'),
			url('../fonts/ManulifeJHSans-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family:'Manulife JH Sans';
	src:	url('../fonts/ManulifeJHSans-Demibold.eot');
	src:	url('../fonts/ManulifeJHSans-Demibold.eot?#iefix') format('embedded-opentype'),
			url('../fonts/ManulifeJHSans-Demibold.woff2') format('woff2'),
			url('../fonts/ManulifeJHSans-Demibold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family:'Manulife JH Sans';
	src:	url('../fonts/ManulifeJHSans-Bold.eot');
	src:	url('../fonts/ManulifeJHSans-Bold.eot?#iefix') format('embedded-opentype'),
			url('../fonts/ManulifeJHSans-Bold.woff2') format('woff2'),
			url('../fonts/ManulifeJHSans-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}


/* Manulife JH Serif */
@font-face {
	font-family:'Manulife JH Serif';
	src:	url('../fonts/ManulifeJHSerif-Italic.eot');
	src:	url('../fonts/ManulifeJHSerif-Italic.eot?#iefix') format('embedded-opentype'),
			url('../fonts/ManulifeJHSerif-Italic.woff2') format('woff2'),
			url('../fonts/ManulifeJHSerif-Italic.woff') format('woff');
	font-weight: 400;
	font-style: italic;
}

body{
	font-family: "Manulife JH Sans";
	font-size: 14px;
	color:#535353;
	background-image: url('../images/goforit/bg-tile.gif');
}

h2{
	font-family: "Manulife JH Sans";
}

h3{
	font-family: "Manulife JH Sans";
}

h5{
	font-family: "Manulife JH Sans";
}

p{
	font-family: "Manulife JH Sans";
}

button{
	font-family: "Manulife JH Sans";
}

input {
	font-family: "Manulife JH Sans";
}

textarea {
	font-family: "Manulife JH Sans";
	resize: none;
}

select {
	font-family: "Manulife JH Sans";
}

.color-red {
	color: #EA6558;
}

/*****
 * Button
 */
.form-btn{
	display: inline-block;
	min-width: 153px;
	padding: 14px 27px;
	background-color: #EA6558;
	border: none;

	font-size: 20px;
	font-weight: bold;
	line-height: 30px;
	text-align: center;
	color:#fff;
	cursor: pointer;
}

.form-btn:hover{
	background-color: #cA6558;
	color:#fff;
	outline: none;
	box-shadow: none;
	text-decoration: none;
}

.form-btn:focus{
	outline: none;
}

.form-btn:active{
	background-color: #cA6558;
	outline: none;
}

.form-btn.form-btn-grey{
	background-color: #B6B6B6;
}

.form-btn:disabled {
	opacity: 0.2;
}

/*****
 * Consent
 */

.consent-container {
	max-width: 570px;
	margin: 0 auto;
	text-align: left;
}

/*****
 * Category
 */
.category-container{
	width: 100%;
    max-width: 340px;
    margin: 0 auto;
}
.category-box{
	width: 100%;
	border: 1px solid #D4D4D4;
	position: relative;
	padding: 17px;
	height: 55px;
	margin-bottom: 10px;
	cursor:pointer;
	border-radius: 5px;
	transition: border .5s linear;
}
.category-box.selected,
.category-box:active,
.category-box:focus,
.category-box:hover{
	border: 1px solid #14BE66;
}
.category-box .bar{
	position: absolute;
	z-index: 11;
	top: 0;
	left: 0;
	height: 53px;
	background-color: rgba(20,190,102,0.12);
	display: none;
}
.category-box .title{
	position: absolute;
	top: 15px;
	left: 17px;
	z-index: 12;

	font-size: 16px;
	font-weight: 600;
	line-height: 24px;
	color: #535353;
	
	transition: color .2s linear;
}
.category-box .percentage{
	position: absolute;
	top: 15px;
	right: 17px;
	z-index: 12;
	display: none;

	font-size: 16px;
	font-weight: 600;
	line-height: 24px;
	color: #14BE66;
}
.category-box.selected .title{
	font-weight: bold;
	color: #14BE66;
}

.rt-container{
	margin-top: 15px;
	text-align: center;
}

.rt-container a{
	color: #ED6355;
	font-size: 14px;
	text-decoration: underline !important;
}
.rt-container a:hover{
	text-decoration: none !important;
}
.rt-container .rt-show{
	display: inline-block;
}
.rt-container .rt-hide{
	display: none;
}

/*****
 * Progress Bar
 */
.progressbar-container {
	width: 100%;
	max-width: 330px;
	margin: 10px auto 38px;
	display:none;
}

.progressbar {
	counter-reset: step;
	padding: 0;
	margin: 0;
	text-align: center;
}

.progressbar li {
	list-style-type: none;
	width: 25%;
	display: inline-block;
	font-size: 12px;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	color: #7d7d7d;
}

.progressbar li:before {
	width: 40px;
	height: 40px;
	content: counter(step);
	counter-increment: step;
	line-height: 40px;
	border: 1px solid #14BE66;
	display: block;
	text-align: center;
	margin: 0 auto 0px auto;
	border-radius: 50%;
	background-color: #fff;
	color: #14BE66;
	font-size: 20px;
	font-weight: 600;
	transition: background-color .5s linear;
}

.progressbar li:after {
	width: 100%;
	height: 2px;
	content: '';
	position: absolute;
	background-color: #14BE66;
	top: 20px;
	left: -50%;
	z-index: -1;
}

.progressbar li:nth-child(1):after {
	content: none;
}

.progressbar li.active {
	color: #55b776;
}

.progressbar li.active:before {
	color: #fff;
	border-color: #55b776;
	background-color: #55b776;
}

.progressbar li.active + li:after {
	background-color: #55b776;
}

/*****
 * Custom Radio Button
 */
.custom-radio input[type=radio] {
	display: none;
}

.custom-radio .active-label,
.custom-radio label:focus,
.custom-radio label:hover,
.custom-radio label:active,
.custom-radio input:checked + label {
	/*
	color: #fff;
	background-color: #0CA19B;
	*/
}
.custom-radio .active-label:before,
.custom-radio label:focus:before,
.custom-radio label:hover:before,
.custom-radio label:active:before,
.custom-radio input:checked + label:before {
	/*
	border-color: #fff;
	*/
}

.custom-radio label {
	font-size: 14px;
	font-weight: 600;
	line-height: 1;
	cursor: pointer;
	display: inline-block;
	padding: 9px 9px 9px 30px;
	position: relative;
	border: 1px solid #0CA19B;
	background: white;
	whitespace: no-wrap;
	overflow: hidden;
	text-overflow: ellipsis;
	transition: all .15s ease;
	width: 100%;
	max-width: 94px;
	border-radius: 4px;
	margin-right: 12px;
}
.custom-radio label:first-of-type {
	/*border: 0;*/
}
.custom-radio label:before {
	content: "";
	position: absolute;
	left: 8px;
	top: 7px;
	width: 17px;
	height: 17px;
	border-radius: 50%;
	border: 1px solid #0CA19B;
}

.custom-radio input:checked + label:before {
	border-color: #fff;
	border: none;
	/*background-image: url("/images/goforit/icon-tick-white.png");*/
	background-repeat: no-repeat;
}

.custom-radio input:disabled + label {
	background: #efefef;
	color: rgba(0, 0, 0, 0.5);
	cursor: not-allowed;
}
.custom-radio input:disabled + label:hover {
	border-color: rgba(0, 0, 0, 0.1);
}
.custom-radio input:disabled + label:before {
	border-color: white;
	background: white;
}

/*****
 * Modal
 */
.modal{
	background-color: rgba(255,255,255,0.8);
}

.modal-dialog {
	max-width: 500px;
}

.modal-content{
	border: 2px solid #14BE66;
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.22);
}

.modal-header{
	display: flex;
	align-items: flex-start;
	border-bottom: none;
	padding: 20px 37px;

	.close {
		padding: 16px;
		margin: -16px -16px -16px auto;
		font-size: 24px;
		line-height: 24px;
		opacity: 0.5;
	}

	.close:hover {
		opacity: 0.75;
	}
}

.modal-title{
	font-size: 26px;
	font-weight: bold;
	line-height: 39px;
	color: #535353;
}

.modal-body{
	padding: 0px 37px 30px;
	p {
		margin-bottom: 16px;
		font-size: 16px;
		color: #4A4A4A;
		text-align: left;
	}
}

.modal-footer{
	display: flex;
	justify-content: center;
	padding: 0px 37px 30px;
	border-top: none;
}

.modal-footer > :not(:last-child) {
	margin-right: 4px;
}

.modal-footer > :not(:first-child) {
	margin-left: 4px;
}

/*****
 * Steps
 */
.steps{
	display: none;
}
.steps.open{
	display: block;
}

.step-title{
	margin-bottom: 20px;
	font-size: 20px;
	font-weight: 600;
	line-height: 30px;
	text-align: center;
	color: #535353;
}

.step-title span{
	font-weight: normal;
}

/*****
 * Page
 */
.home-page-section{
	background-image: url('../images/goforit/graphic-kv-desktop.gif');
	background-repeat: no-repeat;
	background-position: top center;
}

.home-page-container{
	max-width: 845px;
}

.home-page-col{
	padding-left: 0;
}

.banner-container{
	margin-top: 60px;
	margin-bottom: 270px;
	width: 100%;
}

.green-tag{
	/*
	height:60px;
	width:200px;
	background-color: #14BE66;
	*/
	display: inline-block;
	box-shadow: 7px 7px 0 0 #D4D4D4;
	margin:0 auto;
}
.green-tag img{
	width: 100%;
}

.banner-body{
	position: relative;
	width: 100%;
	max-width: 375px;
	margin: -5px auto 0;
	padding: 19px 37px;
	border: 4px solid #14BE66;
	background-color: #FFFFFF;
	box-shadow: 7px 7px 0 0 #D4D4D4;

	font-size:32px;
	font-weight:bold;
	line-height: 37px;
	letter-spacing: -0.24px;
	text-align:center;
	color: #14BE66;

	div {
		display: none;
	}

	div.active {
		display: block;
	}
}

.intro-container{
	text-align: center;

	.thankyou-container {
		max-width: 570px;
		margin: 0 auto 20px;
		padding: 40px 20px;
		border: 1px solid #D4D4D4;
		border-bottom: 8px solid #14BE66;
		background-color: #ffffff;
	}

	.thankyou-text-header {
			background-color: #14BE66;
			padding: 25px;
			p {
				line-height: 0.4in;
				color: white;
				font-size: 30px;
				font-weight: bold;
			}
	}

	.thankyou-text {
		p {
			font-size: 18px;
			line-height: 25px;
		}
		
		b {
			font-weight: bold;
		}
	}

	.grand-prize-winner {
		font-weight: bold; 
		color: #14BE66;
	}
	.winner-list {
		display: inline-block;
		padding-left: 16px;
		list-style: decimal;
		line-height: 1.5;
	}
}

.intro-text{
	width: 100%;
	max-width: 570px;
	margin: 0 auto 20px;
	font-size: 24px;
	font-weight: bold;
	color: #535353;
	line-height: 31px;
	position: relative;
}

.intro-text span.subtitle{
	font-size: 18px;
	font-weight: normal;
	color: #4A4A4A;
	display: block;
	margin-top: 20px;
}

.intro-text .intro-tnc{
	margin-top: 0;
	font-size: 13px;
	font-weight: 400;
}

.intro-text a {
	color: #00bf66;
	word-wrap: break-word;
}

.intro-text a:hover {
	color: inherit;
}

.intro-container.ua .intro-text span {
	display: none;
}

.intro-container.ua .intro-text .intro-tnc{
	display: none;
}

.form-container{
	position: relative;
}

.personal-detail-container{
	width: 100%;
	max-width: 470px;
	margin: 0 auto;

	// override marketing consent template
	.news-latter-opt-option {
		padding-bottom: 0;
		
		.container {
			margin-bottom: 0;
		}

		.checkmark {
			top: 50px; //align with second paragraph
		}
	}
}

.personal-detail-container .form-control{
	border:1px solid #d4d4d4;
	color:#535353;
	padding: 16px 16px;
	height: 58px;
	font-weight: 600;
}

.personal-detail-container .pcm {
	line-height: 21px;
}

.tnc-container{
	margin: 65px 0 50px;
}

.tnc-toggle{
	display: flex;
	align-items: center;
	padding: 25px 0;
	border-top: 1px solid #E2E2E2;
	border-bottom: 1px solid #E2E2E2;
	font-size: 18px;
	font-weight: 600;
	color: #4A4A4A;
	cursor: pointer;
}

.tnc-container.open .tnc-toggle{
	border-bottom: none;
}

.tnc-toggle .icon{
	width: 30px;
	height: 30px;
	display: inline-block;
	background-repeat: no-repeat;
	float: left;
	margin-top: -3px;
	margin-right: 15px;
	background-image: url('../images/goforit/icon-plus-circle.png');
}

.tnc-container.open .tnc-toggle .icon{
	background-image: url('../images/goforit/icon-minus-circle.png');
}

.tnc-content{
	display: none;
	padding: 0px 0 25px 0;
	margin-bottom: 35px;
}

.tnc-container.open .tnc-content{
	border-bottom: 1px solid #E2E2E2;
}

.tnc-content-agreement {
	margin-bottom: 16px;
	font-size: 14px;
	line-height: 1.5;
	color: #535353;
}

.tnc-content-conditions {
	padding-left: 16px;
	list-style: decimal;
	line-height: 1.5;
}

.tnc-content-conditions a {
	color: #00bf66;
	word-wrap: break-word;
}

.tnc-content-conditions a:hover {
	color: inherit;
}

.button-container{
	display: none;
	text-align: center;
	margin-top: 33px;
}

.btn-back {
	margin-right: 8px;
}

.btn-submit{
	display: none;
}

.acknowledgement-container{
	// display: none;
	position: relative;
	width: 100%;
	max-width: 506px;
	min-height: 486px;
	margin: 0 auto 50px;
	padding: 50px 25px;
	border-radius: 7px;
	background-color: rgba(211,255,219,0.42);
	text-align: center;
}

.acknowledgement-container h2{
	font-size: 28px;
	font-weight: bold;
	margin: 30px 0 0 0;
	line-height: 33.6px;
	color: #535353;
}

.acknowledgement-container h3{
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 15px;
	line-height: 28.8px;
	color: #535353;
}

.acknowledgement-container .message{
	font-size: 20px;
	line-height: 30px;
}

.acknowledgement-container a{
	color: #ED6355;
	text-decoration: underline !important;
}
.acknowledgement-container a:hover{
	text-decoration: none !important;
}

.acknowledgement-container .social-icon-container{
	list-style: none;
	padding: 0;
	margin: 0 0 45px 0;
}
.acknowledgement-container .social-icon-container li{
	display: inline-block;
	font-size: 14px;
	font-weight: 600;
	color: #535353;
	margin-right: 15px;
}
.acknowledgement-container .social-icon-container li img{
	margin-right: 10px;
	width: 33px;
}
.acknowledgement-container .social-icon-container li a {
	display: flex;
	align-items: center;
	text-decoration: none !important;
	color: #535353;
}

.acknowledgement-content{
	// display: none;
}

.separator{
	height: 1px;
	margin: 28px 0;
	border-top: 1px solid rgba(134,134,134,0.15);
}

.step-one .character-wrap{
	width: 100%;
	max-width: 470px;
	margin: 0 auto;
}

.step-one .remaining{
	font-size: 13px;
}

.ta-goal{
	width: 100%;
	border-radius: 5px;
	border: 1px solid #D4D4D4;
	padding: 25px 20px 35px;
}

label.error{
	font-size: 12px;
	color:#cf6371;
	margin-top: 5px;
}

.form-control {
	font-size: 16px;

	&::placeholder {
		color: #6c757d;
	}
}

select.form-control {
	line-height: normal;
	-webkit-appearance: menulist;
}

.form-control.error{
	border:1px solid #cf6371;
}

.form-error-message-container {
	label {
		margin-top: 5px;
		font-size: 12px;
		color: #cf6371;
	}
}

.error-message-container{
	border:1px solid #cf6371;
	color:#cf6371;
	padding: 10px;
	margin-bottom: 30px;
	display: none;
}

.character-six{
	position: absolute;
	top: 35px;
	left: -120px;
	z-index: 10;
	width: 98px;
	height: 156px;
}

.acknowledgement-container .character-six{
	top: 10px;
	left: -160px;
}

.character-seven{
	position: absolute;
	top: -35px;
	right: -120px;
	z-index: 10;
	width: 98px;
	height: 175px;
}

.acknowledgement-container .character-seven{
	top: -120px;
	right: -140px;
}

.character-eight{
	position: absolute;
	top: 200px;
	right: -150px;
	z-index: 10;
	display: none;
	width: 176px;
	height: 184px;
}

.acknowledgement-container .character-eight{
	top: 280px;
	right: -260px;
}

.form-container.ua .character-eight,
.acknowledgement-container.ua .character-eight{
	display: block;
}

@media (max-width: 1024px) {
	.character-eight{
		right: -90px;
	}
}

@media (max-width: 996px) {
	.acknowledgement-container .character,
	.acknowledgement-container.ua .character,
	.form-container .character,
	.form-container.ua .character{
		display: none;
	}

	.character-six{
		left: -95px;
	}
	
	.character-seven{
		right: -90px;
	}
}

@media (max-width: 767px) {
	.home-page-section{
		background-image: none;
	}

	.home-page-section.ua{
		background-image: none;
	}

	.banner-container{
		height: 180px;
		background-image: url("../images/goforit/graphic-kv-mobile.gif");
		background-position: top center;
		background-size: contain;
		background-repeat: no-repeat;
		margin-top: 0;
		margin-bottom: 20px;
	}

	.banner-body{
		display: none;
	}

	.green-tag {
		display: none;
	}

	.intro-text{
		font-size: 18px;
		line-height: 22px;
		margin-bottom: 10px;
		padding-left: 15px;
		padding-right: 15px;
	}

	.intro-text span.subtitle{
		margin-top: 10px;
		font-size: 14px;
		line-height: 18px
	}

	.form-btn{
		min-width: 130px;
		padding: 14px 15px;
	}

	.step-title{
		font-size: 16px;
	}

	.step-title span{
		font-size: 14px;
	}

	.row-two-cols .col-md-6:first-child{
		margin-bottom: 1rem;
	}

	.acknowledgement-container{
		padding: 25px 10px;
		margin-top: 30px;
		width: 90%;
    	margin: 30px auto 30px;
	}

	.intro-container.ua .intro-text{
		margin-top: 30px;
	}

	.intro-text .character,
	.acknowledgement-container .character,
	.acknowledgement-container.ua .character,
	.form-container .character,
	.form-container.ua .character{
		display: none;
	}

	.home-page-col{
		padding-left: 0;
		padding-right: 0;
	}

	.form-container,
	.tnc-container{
		padding-left: 15px;
		padding-right: 15px;
	}

	.tnc-container {
		margin: 30px 0;
	}
}

@media (max-width: 320px) {
	.banner-container{
	    background-size: contain;
	}
}