.page-name-index {
    main {
        position: relative;

        .section-title-main {
            * {
                white-space: pre-line;
            }
        }

        .section-review-wrapper {
            display: none;

            &.review-box-show {
                display: block;
            }
        }
    }
}


.home-page-aboutUs-container {
    padding-top: 40px;

    h1 {
        display: inline-block;
        vertical-align: middle;

        @include tablet-small {
            margin-bottom: 25px;
        }

        span {
            display: block;
            @include tablet-small {
                display: inline;
            }
        }
    }

    .greenApple-mobile {
        width: 130px;
        vertical-align: middle;
        margin-right: 20px;

        @include tablet-small {
            display: none;
        }
    }

    .home-page-aboutUs {
        .col-sm-6 {
            @include tablet-small {
                padding: 0;
            }
        }

        .aboutUs-img-wrapper {
            padding: 0;
            @include tablet-small {
                width: 70%;
            }
        }
        padding-bottom: 30px;

        @include tablet-small {
            padding-bottom: 70px;
            //display: flex;
            //flex-direction: row;
            //align-items: stretch;
        }

        p {
            margin-bottom: 33px;
        }

        img.greenApple-team {
            width: 100%;
            margin-top: 25px;

            @include tablet-small {
                margin-top: 0;
                height: 100%;
                object-fit: cover;
            }
        }

        .aboutUs {
            padding: 15px;
            @include tablet-small {
                width: 30%;
                background-color: #fff;

            }

            img {
                width: 100%;
                max-width: 293px;
                display: none;
                margin: 0 auto;
                @include tablet-small {
                    display: block;
                }

            }
        }

    }
}



.section-about-me {
    margin-top: 30px;
    margin-bottom: 30px;
    @include tablet-small{
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .home-user-title-wrapper {
        margin-bottom: 30px;
    }

    .home-page-aboutUs {
        margin-top: 30px;
        @include tablet{
            margin-top: 0;
        }

        .text-wrapper * {
            white-space: pre-line;
        }
        .button {
            margin-top: 20px;
            display: block;
        }
    }

}





.section-service-cards {
    background-color: $darkGrayColor;
    padding: 30px 0;
    margin-top: 0;


    @include tablet-small {
        padding-bottom: 80px;
        margin-top: 0;
    }
}

.recruitment {
    background: url("../images/cover/recruitment-cover-mobile.jpg") no-repeat center center / cover;
    padding: 40px 0 23px;

    @include tablet-small {
        background: url("../images/cover/recruitment-cover.jpg") no-repeat center center / cover;
        padding: 80px 0 100px;
    }

    p {
        margin: 20px 0;
    }

    .orange-arrow-button {
        font-size: 16px;
        &:before {
            width: 30px;
            height: 30px;
        }
    }
}




.section-customer-say {
    padding: 30px 0;
    min-height: 200px;
    @include tablet-small{
        min-height: inherit;
    }


    h2 {
        @include tablet{
            width: 520px;
        }

        span {
            display: block;
            @include tablet-small{
                display: inline-block;
            }

        }
    }



    .home-page-container {
        padding-bottom: 40px;
        @include tablet-small{
            padding-bottom: 0;
        }


        .button {
            margin-top: 40px;


            @include tablet{
                margin-left: 40px;
            }


            //@include mobile-only{
            //    bottom: -55px;
            //    left: 50%;
            //    margin-left: -85px;
            //    position: absolute;
            //}
            //
            //@include tablet-small-only{
            //    display: block;
            //    max-width: 200px;
            //    margin-top: 20px;
            //}
            //
            //@include tablet-only{
            //    display: block;
            //    max-width: 200px;
            //    margin-top: 20px;
            //}
            //
            //
            //
            //
            //@include desktop-small{
            //    position: absolute;
            //    margin-left: 0;
            //    right: 345px;
            //    left: inherit;
            //    bottom: inherit;
            //
            //}


        }
    }

    //.block-rating-list {
    //    margin-top: 15px;
    //    margin-bottom: 15px;
    //    @include tablet-small{
    //        flex-wrap: wrap;
    //    }
    //
    //    @include tablet{
    //        display: flex;
    //        flex-wrap: nowrap;
    //    }
    //
    //    .rating-list-item {
    //        width: 100%;
    //        @include tablet{
    //            width: 50%;
    //            display: flex;
    //            &:nth-child(even){
    //                padding-left: 50px;
    //                padding-right: 0;
    //            }
    //
    //            .rating-list-item-content {
    //                max-width: 560px;
    //                padding-bottom: 20px;
    //                border-bottom: 2px solid #ececec;
    //                /* height: 100%; */
    //                width: 100%;
    //                display: flex;
    //                flex-direction: column;
    //                .block-rating-list-item-body {
    //                    min-height: 110px;
    //                    padding-bottom: 20px;
    //                }
    //                .block-rating-list-item-footer {
    //                    margin-top: auto;
    //                }
    //            }
    //        }
    //
    //
    //
    //        &:nth-child(n+3){
    //            background: red;
    //            display: none;
    //        }
    //
    //
    //    }
    //}

    .home-page-container > .row > .col-xs-12 {
        @include tablet{
            position: inherit;
        }

    }

}


//rating loaded behaviour
.status-rating-loaded {
    .section-customer-say {
        h2 {
            @include tablet {
                width: auto;
            }
        }
        .home-page-container {
            padding-bottom: 40px;
            @include tablet-small {
                padding-bottom: 0;
            }

            //.button {
            //    margin-top: 0;
            //    @include mobile-only {
            //        bottom: -55px;
            //        left: 50%;
            //        margin-left: -85px;
            //        position: absolute;
            //    }
            //
            //    @include tablet-small-only {
            //        display: block;
            //        max-width: 200px;
            //        margin-top: 20px;
            //    }
            //
            //    @include tablet-only {
            //        display: block;
            //        max-width: 200px;
            //        margin-top: 20px;
            //    }
            //
            //    @include desktop-small {
            //        position: absolute;
            //        margin-left: 0;
            //        right: 345px;
            //        left: inherit;
            //        bottom: inherit;
            //
            //    }
            //
            //}
        }
    }
}




.section-banner-bottom{
    position: relative;

    background-position: 80% 0;
    padding-top: 40px;
    padding-bottom: 40px;



    .suptitle {
        font-size: 16px;
        line-height: 24px;
        font-weight: 600;
    }
    .text {
        font-weight: 500;
        margin: 20px 0;
        max-width: 450px;
    }
    .button {
        display: inline-block;
        margin-top: 30px;
    }
    .orange-arrow-button {
        font-size: 16px;
        &:before {
            width: 30px;
            height: 30px;
        }
    }


    @include tablet-small {
        background-position: center center;
        padding: 0;
        height: 560px;
        //height: 460px;
        .container {
            padding-top: 80px;
        }
    }

    &:after {
        content: '';
        display: inline-block;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        right: 0;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-color: rgba(0,0,0,0.1);
        z-index: 2;
    }
    .container {
        z-index: 3;
        position: relative;
    }
}

.page-name-about {
    .section-banner-bottom{
        position: relative;

        padding-top: 40px;
        padding-bottom: 40px;



        .suptitle {
            font-size: 16px;
            line-height: 24px;
            font-weight: 600;
        }
        .text {
            font-weight: 500;
            margin: 20px 0;
            max-width: 450px;
        }
        .button {
            display: inline-block;
            margin-top: 30px;
        }
        .orange-arrow-button {
            font-size: 16px;
            &:before {
                width: 30px;
                height: 30px;
            }
        }

        @include tablet-small {
            background-position: center center;
            padding: 0;
            height: 420px;
            //height: 460px;
            .row {
                padding: 40px;
            }
        }


        .row {
            z-index: 3;
            position: relative;
        }
    }
}



.section-banner-bottom.banner-discovery {
    background: url("../images/cover/banner-hp-how-to-save-money-in-3-unconventional-steps.jpg") no-repeat center center / cover;
    //background-position: 80% 0;
    @include tablet-small {
        background-position: center center;
        height: 520px;
        height: 440px;
    }
}


.section-banner-bottom.banner-careers {
    background: url("../images/cover/banner-hp-careers.jpg") no-repeat center center / cover;
    background-position: 80% 0;

    @include tablet-small {
        background-position: center center;
        height: 520px;
        height: 440px;
    }
}

.page-name-index {
    .section-service-cards {
        .block-service-carousel {
            padding-bottom: 30px;
        }

        .service-carousel {
            @include tablet{
                display: flex;
            }


        }
    }


    .status-force-enable-swiper {

        .service-carousel {
            margin-left: 0;
            margin-right: 0;

        }

        .block-rating-list-wrapper {
            @include tablet{
                width: 50%;
                margin-left: 0;
                margin-right: auto;
                padding-left: 40px;
                padding-right: 40px;
            }
            @include desktop-medium{
                width: 700px;
            }

        }
    }

}



.page-theme-agency.page-name-index {
    .section-about-agency {

        .block-about-agent-logo {
            width: 150px;
            @include tablet-small{
                width: 50%;
            }

        }

        .container {
            padding-top: 20px;
            padding-bottom: 20px;
            @include tablet{
                padding-top: 30px;
                padding-bottom: 30px;
            }
            @include desktop-small{
                padding-top: 40px;
                padding-bottom: 40px;
            }

        }

        h2 {
            margin-bottom: 30px;
        }
    }


}