.no-padding {
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.padding-top-10px{
    padding-top:10px !important;
}

/*****
 * Main Content
 */
.main-advisor-name{
	border-bottom:0.5px solid rgb(245, 245, 245);
	border-left:0.5px solid rgb(245, 245, 245);
	padding-top: 3.5px;
	padding-bottom: 3.5px;
}

.section-advisor {
	padding: 5px 0 5px 0;
}

.advisor-photo {
    height: 55px;
    width: 55px;
    padding: 0px !important;
    margin-left: 15px;
    border-radius: 50%;
}

.advisor-photo > img {
    border-radius: 50%;
}

.advisor-details {
    padding: 5px 0 5px 0;
}

.advisor-name {
    font-family: "Manulife JH Sans";
    font-size: 12px;
    line-height: 15px;
    color: #00bf66;
}

.advisor-position {
    font-family: "Manulife JH Sans";
    font-size: 12px;
    line-height: 15px;
}

.advisor-agency {
    font-family: "Manulife JH Sans";
    font-size: 12px;
    line-height: 15px;
}

#start-game-section .section-content,
.savvy-campaign .section-content {
    width: 100%;
    height: auto;
    min-height: 1000px;
    background: linear-gradient(180deg, #dee9ae 0%, #c4f3e1 100%);
    padding: 30px;
}

.box-arrow {
    position: relative;
    background: #ffffff;
}

.box-arrow:after {
    right: 100%;
    top: 60%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-right-color: white;
    border-width: 10px;
    margin-top: 15px;
}

.section-content-item1 {
    height: auto;
    background-color: white;
    border-radius: 10px;
    margin-left: 40px;
    margin-top:70px;
    padding: 12px;
    -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.16);
    -ms-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.16);
    -o-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.16);
}

.section-content-item1:after {
    content: " ";
    height: 0;
    position: absolute;
    width: 0;
    left: -20px;
    top: 20px;
    border: 10px solid transparent;
    border-right-color: white;
}

.section-content-item4{
    height: auto;
    background-color: white;
    border-radius: 10px;
    margin-left: 40px;
    margin-top: 120px;
    -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.16);
    -ms-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.16);
    -o-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.16);
}

.section-content-item4:after {
    content: " ";
    height: 0;
    position: absolute;
    width: 0;
    left: -20px;
    top: 20px;
    border: 10px solid transparent;
    border-right-color: white;
}

.section-content-item2,
.section-content-item5,
.section-content-item6,
.section-content-item9{
    height: auto;
    background-color: white;
    border-radius: 10px;
    margin-left: 40px;
    margin-top: 20px;
    -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.16);
    -ms-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.16);
    -o-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.16);
}

.section-content-item2:after,
.section-content-item5:after,
.section-content-item6:after,
.section-content-item9:after {
    content: " ";
    height: 0;
    position: absolute;
    width: 0;
    left: -20px;
    top: 20px;
    border: 10px solid transparent;
    border-right-color: white;
}

.section-content-item1 > img {
    border-radius: 10px;
}

.play-game-text {
    font-size: 14px;
    line-height: 20px;
    padding: 15px 10px 5px 0px;
    font-family: "Manulife JH Sans";
}

.play-game-tncText {
    font-size: 12px;
    line-height: 0px;
    padding: 15px 10px 20px 0px;
    font-family: "Manulife JH Sans";
}

.play-game-btn {
    width: 100%;
    height: 40px;
    border: 1px solid #fd7570;
    background-color: #fd7570;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-left:0px !important;
    padding-right:0px !important;
}

.play-game-btn > button {
    width: 100%;
    height: 38px;
    border: 1px solid #fd7570;
    background-color: #fd7570;
    color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 15px;
    font-family: "Manulife JH Sans";
}

.section-content-item3 {
    height: 45px;
    width: 230px;
    background-color: white;
    border-radius: 10px;
    margin-left: 40px;
    margin-top: 20px;
    padding:17px;
    -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.16);
    -ms-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.16);
    -o-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.16);
}

.section-content-item3:after {
    content: " ";
    height: 0;
    position: absolute;
    width: 0;
    left: -20px;
    top: 15px;
    border: 10px solid transparent;
    border-right-color: white;
}

.read-Tnc-text {
    font-size: 14px;
    margin-top:20px !important;
    padding:10px;
    text-decoration: underline !important;
}

.read-Tnc-text:hover{
    text-decoration: none !important;
    color:#00bf66 !important;
}

.section-tnc {
    padding: 0px !important;
    border-left: 0.5px solid rgb(245, 245, 245);
    min-height:500px;
}

.section-tnc-btg {
    padding: 29px 0 29px 70px;
    border-bottom: 0.5px solid rgb(245, 245, 245);
}

.section-tnc-btg-text {
    font-size: 14px;
    line-height: 15px;
    font-family: "Manulife JH Sans";
    text-decoration: underline;
    color:#535353;
}

.section-tnc-btg-text:hover{
    color: #00bf66;
    text-decoration: none;
}

.section-tnc-content {
    padding: 10px 270px 10px 75px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.section-tnc-title {
    color: #333333;
    font-family: "Manulife JH Sans";
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
}

.section-tnc-text {
    color: #333333;
    font-family: "Manulife JH Sans";
    font-size: 14px;
    line-height: 18px;
    margin-top: 10px;
    a{
        color:#333333;
    }
    a:hover{
        text-decoration: underline !important;
    }
}

.start-game-question-text {
    color: #333333;
    font-family: "Manulife JH Sans";
    font-size: 14px;
    line-height: 20px;
    padding: 20px 0 10px 0;
}

.start-game-select-salary,
.start-game-select-age {
    width: 100%;
    height: 40px;
    background-color: #ebf1ea;
    margin-top: 10px;
    border: 1px solid #ebf1ea;
    padding: 10px;
    font-size: 14px;
}

.start-game-select-age option,
.start-game-select-salary option{
    height:30px;
    padding:7px;
}

.start-game-select-age option:hover,
.start-game-select-salary option:hover{
    background-color: #fd7570 !important;
    color:white !important;
}

.start-game-select-age option:checked,
.start-game-select-salary option:checked{
    background-color:#f8453c!important;
    color:white !important;
}

.continue-game-btn {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.continueGameBtn {
    height: 40px;
    width: 100%;
    border: 1px solid #fd7570;
    background-color: #fd7570;
    color: white;
    margin-top:20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.section-content-item7 {
    height: auto;
    background-color: white;
    border-radius: 10px;
    margin-right: 40px;
    margin-top: 20px;
    -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.16);
    -ms-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.16);
    -o-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.16);
}

.section-content-item7:after {
    content: " ";
    height: 0;
    position: absolute;
    width: 0;
    left: 100%;
    border: 1px solid red;
    top: 20px;
    border: 10px solid transparent;
    border-left-color: white;
}

.start-game-anwser-text > p {
    padding: 15px 0px 15px 0px;
    border-bottom: 0.5px solid #e0e0e0;
    font-weight: 600;
    font-size:14px;
}

.start-game-anwser-desp > p {
    padding: 15px 0px 15px 0px;
    font-size:14px;
}

.question{
    padding:10px !important;
}

.question-number {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #00bf66;
}

.question-number > p {
    padding: 10px 0px;
    font-weight: 600;
    color: white;
}

.question-img {
    padding: 0px !important;
}

.question-text > p {
    font-size: 14px;
    line-height: 20px;
    padding: 20px 0px;
}

.anwser1-for-question,
.anwser2-for-question,
.anwser3-for-question,
.anwser4-for-question {
    padding: 0px !important;
}

.anwser1-for-question > button {
    width: 100%;
    padding: 15px 0 15px 15px;
    border-bottom: 0.5px solid #e0e0e0;
    border-top: 0.5px solid #e0e0e0;
    border-left: 0.5px solid #e0e0e0;
    border-right: 0.5px solid white;
    text-align: left;
    font-size: 14px;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    label{
        padding-right:10px;
    }
}

.anwser4-for-question > button {
    width: 100%;
    padding: 15px 0 15px 15px;
    border-bottom: 0.5px solid #e0e0e0;
    border-top: 0.5px solid #e0e0e0;
    border-left: 0.5px solid #e0e0e0;
    border-right: 0.5px solid #e0e0e0;
    text-align: left;
    font-size: 14px;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    label{
        padding-right:10px;

    }
}

.anwser2-for-question > button,
.anwser3-for-question > button {
    width: 100%;
    padding: 15px 0px 15px 15px;
    border-bottom: 0.5px solid #e0e0e0;
    border-top: 0.5px solid #e0e0e0;
    border-left: 0.5px solid #e0e0e0;
    border-right: 0.5px solid #e0e0e0;
    text-align: left;
    font-size: 14px;
    background-color: white;

    label{
        padding-right:10px;
    }
}

.anwser1-for-question > button > span,
.anwser2-for-question > button > span,
.anwser3-for-question > button > span,
.anwser4-for-question > button > span {
    float: right;
    padding:0px 10px 0 0 !important;
}

.section-content-item8 {
    height: auto;
    width: auto;
    background-color: white;
    border-radius: 10px;
    margin-left: 40px;
    margin-top: 20px;
    -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.16);
    -ms-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.16);
    -o-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.16);
}

.section-content-item8:after {
    content: " ";
    height: 0;
    position: absolute;
    width: 0;
    left: -20px;
    top: 20px;
    border: 10px solid transparent;
    border-right-color: white;
}

.response-img-for-question {
    margin-top:10px;
    text-align: center;
	img {
		padding:5px;
		width:auto;
        height:auto;
        min-width:50px;
        min-height:80px;
	}
}

.response-img-for-question-small {
    margin-top:15px;
    margin-left:40px;
    width:auto;
    text-align: center;
	img {
		width:70px;
        height:80px;
	}
}

.response-text-for-question {
	p {
	padding: 15px 0 15px 0;
	font-size: 14px;
	text-align: center;
	}
}

.annual-salary > p {
    font-size: 14px;
    padding: 10px;
}

.section-annual-salary {
    border-top:0.5px solid rgb(245, 245, 245);
    border-bottom:0.5px solid rgb(245, 245, 245);
	border-left:0.5px solid rgb(245, 245, 245);
}

.annual-salary {
	font-size: 14px;
	span{
		color:#00bf66;
	}
}

.start-game-anwser-text > p {
    padding: 15px 0px 15px 0px;
    border-bottom: 0.5px solid #e0e0e0;
    font-weight: 600;
}

.start-game-anwser-desp > p {
    padding: 15px 0px 15px 0px;
}

.submit-form-text{
    P{
        padding:15px 0 15px 0;
        border-bottom: 0.5px solid #e0e0e0;
        font-size: 14px;
    }

    span{
        color:#00bf66;
        font-size: 14px;
    }
    
}
.submit-form-input > input{
    width: 100%;
    height: 40px;
    background-color: #ebf1ea;
    margin-top: 15px;
    border: 1px solid #ebf1ea;
    padding: 10px;
    font-size: 14px;
}

.submit-form-input > input:focus{
    border: 1px solid #ebf1ea;
}

.submit-form-btn {
    height: 40px;
    width: 100%;
    border: 1px solid #fd7570;
    background-color: #fd7570;
    color: white;
    margin-top: 15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.submit-form-btn:hover{
    background-color: #f8453c;
}

.submit-form-btn > input {
    height: 40px;
    width: 100%;
    border: 1px solid #fd7570;
    background-color: #fd7570;
    color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-left: 0px !important;
    padding-right: 0px !important;
    font-size: 14px;
}

.thank-section-text{
    p{
        padding:15px 0 15px 0;
        font-size:14px;
    }
}

.thank-section-share{
    padding:10px 10px 20px 20px;
    span{
        border:2px solid #00bf66;
        padding:5px 10px;
        border-radius: 100%;
        color:#00bf66;
        font-size: 16px;
        font-weight: 600;
    }
    a{
        padding:10px 0 10px 0;
        height:30px;
        color:#00bf66;
    }
    strong{
        font-weight: 600;
        font-size: 14px;
    }
}

.duplicate-section-text{
    p{
    padding:10px 0 10px 0;
    font-size:14px;
    }
    a{
        text-decoration: underline !important;
        color:#333333;
    }
    a:hover{
        text-decoration: none !important;
        color:#00bf66;
    }
}

.more-info-text {
    button{
        font-size:14px;
        width:100%;
    }
    span{
        float:right;
        padding-right:10px;
    }
}

.section-content-item10 {
    height: auto;
    width:350px;
    background-color: white;
    border-radius: 10px;
    margin-left: 40px;
    margin-top: 20px;
    -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.16);
    -ms-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.16);
    -o-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.16);
}

.section-content-item10:after {
    content: " ";
    height: 0;
    position: absolute;
    width: 0;
    left: -20px;
    top: 20px;
    border: 10px solid transparent;
    border-right-color: white;
}

.section-content-item11 {
    height: auto;
    width: 200px;
    background-color: white;
    border-radius: 10px;
    margin-left: 40px;
    margin-top: 20px;
    -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.16);
    -ms-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.16);
    -o-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.16);
}

.section-content-item11:after {
    content: " ";
    height: 0;
    position: absolute;
    width: 0;
    left: -20px;
    top: 20px;
    border: 10px solid transparent;
    border-right-color: white;
}

.response-after-q8-img{
    padding:10px;
    img{
        padding:0px;
    }
}

.response-after-q8-text{
    font-size:14px;
    text-align: center;
    padding:0 0 10px 0;
    span{
        color:#00bf66;
        font-weight: 600;
    }
}

.section-content-item12{
    height: auto;
    background-color: white;
    border-radius: 10px;
    margin-left: 40px;
    margin-top: 60px;
    -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.16);
    -ms-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.16);
    -o-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.16);
}

.section-content-item12:after{
    content: " ";
    height: 0;
    position: absolute;
    width: 0;
    left: -20px;
    top: 20px;
    border: 10px solid transparent;
    border-right-color: white;
}

#errorSalary,
#errorAge,
#errorFirstName,
#errorLastName,
#errorPhone,
#errorEmail,
#errorPDPA_checkbox,
#errorMarketing_checkbox{
    width:auto;
    color:#ea6558;
    font-size: 13px;
    font-weight: 600;
    margin-top:3px;
}

.dataCollectionSection{
    display:none;
}

.sticky1{
    position:fixed;
    z-index:1;
    width:100%;
    background-color: white;
}

.sticky2{
    position:fixed;
    z-index:1;
    top:70px;
    width:100%;
    background-color: #fdfdfd;
}

.submit-form-checkbox{
    margin-top:15px;
}

.submit-form-checkbox label {
    position: relative;
    cursor: pointer;
    input{
        display:none;
    }
    span{
        padding-left:30px;
        padding-top:5px;
        font-size: 12px;
        float:left;
        color:#333333;

        label{
            padding-left:15px;
        }
    }
    a{
        text-decoration: underline !important;
    }
    a:hover{
        text-decoration: none !important;
        color:#00bf66 !important;
    }
}

.submit-form-checkbox label input:checked + span + .show-box {
    background-color:#fd7570;
}

.submit-form-checkbox label .show-box {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 22px;
    height: 22px;
    border-radius: 2px;
    border: 1px solid #d8d8d8;
    background: #ebf1ea;
}

.submit-form-checkbox label .show-box:before {
    content: "";
    position: absolute;
    top: 4px;
    left: 8px;
    width: 5px;
    height: 10px;
    border: solid #ebf1ea;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
  
.facebook-share-section{
    margin-bottom:20px;
}

.ReadMoreArticleBtn{
    margin-top:12px;
    a{
        color:white;
        padding:10px 100px;
    }
}

.banner-worldcup{
    top: 10% !important;
    left: 4.5% !important;
}

.addHover:hover{
    background-color:#fd7570 !important;
    color:white !important;
}

.addHover-Button:hover{
    background-color: #f8453c !important;
    color:white !important;
    border:1px solid #f8453c !important;
}

.loading-icon {
    position: absolute;
    left:41%;
    top:12px;
    width:100px;
    height:15px;
    display:none;
}

//Overwrite existing 
.banner {
    .button-close-banner {
        &:after, &:before {
            width: 1px !important;
            background-color: white !important;
        }
        background-color: black;
        border-radius: 50%;
        width:20px;
        height:20px;
    }
}

.banner-worldcup {
    display: inline-block;
    width: 280px;
    background-color: #fff;
    //background-image: url('../images/cover/manulif-quize-banner.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 15px;
    position: relative;
    box-shadow: 1px 1px 5px rgba(0,0,0, 0.2);
    left: 50%;
    margin-left: -142px;
    margin-bottom: 30px;
    @include tablet {
      margin-left: 15px;
      position: fixed;
      top: 300px;
      left: 60px;
      z-index: 999;
    }
    .banner-inner{
      background-color: #fff;
      .mobile{
        display:none;
      }
    }
    .button-close-banner {
      display: inline-block;
      position: absolute;
      right:10px;
      top:5px;
      width: 16px;
      height: 16px;
      margin-top: 10px;
      margin-left: 10px;
      cursor: pointer;
      background-image: url('../images/cover/worldcup/icon-close.svg');
      background-size: cover;
      background-repeat: no-repeat;
    }
    
    .banner-text-small{
        color: #000;
        font-size: 12px !important;
        max-width: 200px;
        margin: 0 auto;
        line-height: 24px;
        font-weight: normal !important;
        margin: 5px 20px !important;
        text-align: left !important;
    }

    .banner-text {
      color: #000;
      font-size: 15px !important;
      max-width: 200px;
      margin: 0 auto;
      line-height: 24px;
      font-weight: normal !important;
      margin: 5px 20px !important;
      text-align: left !important;
      span {
        font-weight: 700 !important;
        
      }
      strong{
        font-weight: 600 !important;
        font-size: 14px !important;
      }
    }
    
    .button {
      width: auto;
      font-size: 18px;
      border-radius: 0px !important;
      padding: 10px;
      display: block;
      color:white;
      margin: 10px 20px 20px 20px !important;
    }
}

.hidden-div{
    margin:25px;
    height:100px;
    visibility: hidden;
}

#back-to-game-btn-mobile{
    display:none;
}

.copy-right-text{
    font-size: 14px; 
    color:#535353 !important;
}

.section-tnc-content ol p{
    font-size: 14px !important;
    color:#535353 !important;
    padding-left:20px;
}

.section-tnc-content ol li{
    list-style-type:decimal !important;
    margin-left:20px;
    line-height:25px;
    
    padding-bottom:10px;

    a{
        text-decoration: underline !important;
    }
    a:hover{
        text-decoration: none !important;
        color: #00bf66;
    }
}

@media (max-width: 1024px) {
    .question-img{
        margin-top:20px;
    }
}

@media (max-width: 996px) {
    .section-tnc-content {
        padding: 10px 30px 10px 30px;
    }

    .section-content-item1,
    .section-content-item2,
    .section-content-item3,
    .section-content-item4,
    .section-content-item5,
    .section-content-item6,
    .section-content-item8,
    .section-content-item9,
    .section-content-item10,
    .section-content-item11,
    .section-content-item12{
        margin-left:0px;
    }

    .section-content-item1{
        margin-top:60px;
    }

    .section-content-item7{
        margin-right:0px;
    }

    .section-content-item10{
        width:auto;
    }

    .section-tnc-btg {
        padding: 29px 0 29px 30px;
    }

    .anwser1-for-question > button > span,
    .anwser2-for-question > button > span,
    .anwser3-for-question > button > span,
    .anwser4-for-question > button > span {
        float: right;
        padding-right: 10px;
    }

    .response-img-for-question{
        text-align: center;
        img{
            width:70%;
            height:70%;
        }
    }

    .response-img-for-question-small {
        margin-top:15px;
        margin-left:0px;
    }

    .banner-worldcup{
        top: 35% !important;
        left: 50% !important;
    }

    //Overwrite existing header
    header {
        .mobile-menu-container {
            position:fixed !important;
            z-index:999 !important;
            width:100% !important;
        }
    }

    //Sticky banner - Mobile 
    .banner-worldcup {
        width: 340px !important;
        left: 42.5% !important;
        margin-bottom: 30px;

        .banner-inner{
            height:128px !important;
            .mobile{
                display: block !important;
                float: left;
                width:103px !important;
                height:137px !important;
            }
            img{
                display: none !important;
            }
        }
        
        .banner-text-small{
            max-width: 220px !important;
            font-weight: normal !important;
            text-align: left !important;
            margin-left:120px !important;
            font-size: 10px !important;
            padding:0px !important;
            line-height: 15px !important;
            margin-top:10px !important;
        }

        .banner-text {
            max-width: 220px !important;
            font-weight: normal !important;
            text-align: left !important;
            margin-left:120px !important;
            padding:0px !important;
            line-height: 15px !important;
            margin-top:25px !important;
            span {
                font-weight: 700 !important;
                font-size: 10px !important;
            }
            strong{
                font-weight: 600 !important;
                font-size: 12px !important;
            }
            label{
                font-size: 8px !important;
            }
        }
        
        .button {
            width:200px;
            font-size: 12px !important;
            border-radius: 0px !important;
            float:left;
            margin: 10px 20px 5px 17px !important;
        }
    }
}

@media (max-width: 767px) {
    .sticky1{
        top:60px;
    }
    
    .sticky2{
        top:130px;
    }

    .section-content-item1{
        margin-top:120px;
    }

    .section-content-item12{
        margin-top:120px !important;
    }

    .section-tnc {
        margin-top:70px;
        border-left: none;
    }

    .section-tnc-btg {
        border-bottom: none;
    }

    .banner-top-wrapper {
        margin-top:60px;
    }

    .section-content-item4{
        margin-top:160px;
    }

    .section-about-me {
        margin-top:0px !important;
    }
        
    .loading-icon {
        left:35%;
    }

    #back-to-game-btn-mobile{
        display:initial !important;
    }

    #back-to-game-btn{
        display: none !important;
    }
}

@media (max-width: 320px) {
    //Sticky banner - Mobile 
    .banner-worldcup {
        width: 300px !important;
        left: 47.5% !important;

        .banner-text-small{
            max-width: 220px !important;
        }

        .banner-text {
            span {
                font-weight: 700 !important;
                font-size: 10px !important;
            }
            strong{
                font-weight: 700 !important;
                font-size: 9px !important;
            }
            label{
                font-size: 9px !important;
            }
        }
        
        .button {
            width:160px;
        }
    }
}