body.page-name-not-found {
    margin-top: 0;
}

.no-found {
    background-image: url("../images/cover/mobile-bg-404.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;


    @include tablet-small {
        background: url("../images/cover/bg-404.png") no-repeat top center / cover;
        background-attachment: fixed;
        //height: 100%;
    }

    .not-found-content {
        border-bottom: none;

        span {
            margin-left: 0;
        }

        a {
            color: #fff;
        }

        .title-default {
            max-width: 480px;
            margin-bottom: 55px;
        }

        .generic-list {
            max-width: 590px;
            li {
                margin-bottom: 10px;
            }
            margin-top: 30px;
            margin-bottom: 30px;
        }

        .title-default, .p-sm, .text-medium {
            color: #fff;
        }
    }



    .block-links {
        margin-top: 30px;
        .card-article-wrapper {
            margin-bottom: 15px;
        }
    }
}

.page-name-not-found {
    .mm-page, .page-content {
        height: 100%;
    }

    .first-level-menu {
        display: none;
    }

    main {
        padding-left: 0;
        @include tablet-small{
            padding-left: 60px;
        }


    }

}

.property-fullsize {
    width: 100%;
    height: 100%;
    body {
        width: 100%;
        height: 100%;
    }
}