.page-type-products {
  .block-form-offer {
    @include mobile-only {
      display: none;
    }
  }  

  .banner-top-caption {
    display: none;
  }

  .banner-with-blue-enquiry-bar {
    background-color: #000;

    .cover-image-wrapper {
      opacity: 0.7;
    }

    .banner-top-caption {
      display: block;
    } 
  }

  .section-banner {
    .move-section__banner {
      display: flex;
      // max-width: 948px;
      align-items: center;
      height: 400px;
      margin: 0 20px 20px;
      padding-left: 60px;
      background-size: cover;
    
      .button-sign-up-solutions {
        color: #fff;
      }

      @media (min-width: 600px) and (max-width: 1023px) {
        margin-right: 10px;
        height: 500px;
        background-position-x: 80%;
      }

      &--desktop {
        margin: 20px auto 0; 
        padding-left: 80px
      }

      &--mobile {
        display: none;
      }

      &__logo {
        display: none;
        height: 80px;
        margin-bottom: 20px;
      }

      &__text-block {
        width: 60%;

        .move-section__banner__title {
          margin-bottom: 20px;
          margin-top: 0;
          color: #ffffff;
        }  

        .move-section__banner__text {
          margin-bottom: 20px;
          color: #ffffff;
        }
      }
      
      a {
        text-decoration: none;
        color: #424559;
      }
    
      @media (min-device-width: 320px) and (max-device-width: 599px), all and (max-width: 599px), all and (max-height: 100px) {
        flex-direction: column;
        height: auto;
        padding-left: 0;
        margin: 0 11px 20px;
        border-bottom: 1px solid #ededed;
        background-color: #ffffff;

        .button-sign-up-solutions {
          color: $textLightGray;
        }
        
        &--desktop {
          display: none;
          margin: 20px auto 0; 
          padding-left: 80px
        }
        &--mobile {
          display: flex;
        }
        &__image {
          width: 100%;
          height: 150px;
          background-size: cover;
        }
        &__text-block {
          width: 100%;
          padding: 30px 20px;
          border: 1px solid #ededed;
          border-bottom: none;
          
          .move-section__banner__title {
            color: $greenColor;
          }
          .move-section__banner__text {
            color: #424559;
          }
        }
      } 
    }   
  }

  .section-solutions {
    padding: 0;
  }

  .section-contact-accordion {
    .block-accordion {
      .block-accordion-item-title {
        padding: 0;
      }
    }
  }

  .banner-top-wrapper .banner-top-caption {
    .subText {
      display: none;

      @include tablet {
        display: block;
      }
    }
  } 
}

.page-name-our-solutions,
.page-type-products,
.page-type-services {
  .section-form-offer-green .form-offer-green-answer {
    background: #FBFBFB;
  }
}

.section-title-tab {
  margin-bottom: 20px;
  
  @include tablet {
    margin-bottom: 30px;
  }

  .title-tab {
    .title-tab-list {
      display: flex;
      border-bottom: 1px solid #e6e6e6;
      .title-tab-content {
        .title-tab-link {
          .title-tab-inner {
            padding: 10px;
            padding-right: 30px;
          }
        }

        h5 {
          font-weight: normal;
        }

        &.active {
          border-bottom: 4px solid $greenColor;

          h5 {
            font-weight: 600;
          }
        }
      }

      @include mobile-mmedium-only {
        white-space: nowrap;
        width: 100%;
        overflow: auto;
      }

      @include mobile-mmedium-and-tablet-only {
        white-space: nowrap;
        width: 100%;
        overflow: auto;
      }
    }
  }
}


.section-blue-teaser-bar {
  padding-top: 21px;
  padding-bottom: 21px;

  &-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    @include tablet-small {
      flex-wrap: nowrap;
    }
  } 

  &-text {    
    @include mobile-mmedium {
      width: calc(100% - 158px);
    }

    @include tablet {
      width: calc(100% - 153px);
    }

    .subText {
      font-weight: normal;
    }
  }

  &-button {
    margin-top: 15px;

    @include mobile-mmedium-only {
      .button {
        width: 100%;
      }
    }

    @include mobile-mmedium {
      margin-top: 0;
      padding-left: 0;
      width: 158px;
    }
    
    @include tablet {
      width: 153px;
    }
  }
}

.page-name-protectionreimagined {  
  .banner-top-wrapper {
    min-height: 330px;
    max-height: 480px !important;
    
    @include mobile-mmedium {
      min-height: 373px;
  
      .cover-image {
        height: 430px;
      }

    }
  }
  .block-features {
    .features-item {
      @include mobile-and-tablet-small-only {
        padding: 0;
      }
    }
  }

  .section-videoplayer {
    .block-videoplayer {
      padding-right: 15px;
      padding-left: 15px;

      @include mobile-mmedium {
        padding-left: 25px;
        padding-right: 25px;
      }
      
      @include tablet {
        padding-left: 20px;
        padding-right: 20px;
      }      

      .card {        
        margin: 0;
      }

      .card-content-wrapper {
        display: flex;
        flex-flow: row wrap;
        border-top: 12px solid #ff746d;

        .card-video {
          max-height: none;
          
          .videoplayer-wrapper {
            position: relative;
            padding-bottom: 56.25%; /* 16:9 */
            padding-top: 25px;
            height: 0;
            
            iframe {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
            }
          }
        }

        .card-content {
          padding: 30px 20px;

          h4 {
            font-weight: 600;
          }
        }

        @media (min-width: 1024px) {
        border-top: none;
        
          .card-video {
            width: 60%;

            .videoplayer-wrapper {
              height: 100%;
            }
          }

          .card-content {
            width: 40%;
            padding: 40px 30px;
            border-top: 12px solid #ff746d;
          }
        }
      }
    }
  }
  .section-banner {
    .stop-the-drama__banner {
      display: flex;
      align-items: center;
      height: 400px;
      padding-left: 60px;
      background-size: cover;

      &--mobile {
        display: none;
      }

      &__logo {
        height: 80px;
        margin-bottom: 20px;
      }

      &__text-block {
        width: 60%;

        .stop-the-drama__banner__title {
          margin-bottom: 20px;
          font-size: 36px;
          line-height: 1.2;
          color: #ffffff;
        }
        
        .stop-the-drama__banner__text {
          margin-bottom: 20px;
          color: #ffffff;
        }
      }

      @media (min-device-width: 320px) and (max-device-width: 599px), all and (max-width: 599px), all and (max-height: 100px) {
        flex-direction: column;
        height: auto;
        padding-left: 0;
        border-bottom: 1px solid #ededed;
        background-color: #ffffff;

        &--desktop {
          display: none;
        }

        &--mobile {
          display: flex;
        }
        
        &__image {
          width: 100%;
          height: 150px;
          background-size: cover;
        }

        &__text-block {
          width: 100%;
          padding: 30px 20px;
          border-bottom: none;

          .stop-the-drama__banner__title {
            font-size: 32px;
            color: #18A65B;
          }
          .stop-the-drama__statue-banner__title-black {
            font-size: 26px;
            line-height: 30px;
            font-weight: 500;
            margin-bottom: 0.83em;
          }
          .stop-the-drama__banner__text {
            color: #424559;
          }
        }
      }
    }
    
    .stop-the-drama__statue-banner {
        &--desktop {
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
      }

      &__text-block {
        padding: 10% 30px;
        width: 87%;
        color: #ffffff;
        margin-left: 10%;

        .button-sign-up-solutions {
          color: #fff;
        }

        .stop-the-drama__statue-banner__title {
          font-size: 2.5em;
          line-height: 1em;
          color: #ffffff;
          font-weight: 600;
          margin-bottom: 0.83em;
        }

        .stop-the-drama__statue-banner__text {
          width: 85%;
          font-size: 1em;
          margin-bottom: 30px;
          color: #ffffff;
        }

        @media (min-width: 1100px) {
          padding: 11% 30px;
          margin-left: 10%;
          width: 58%;
          
          .stop-the-drama__statue-banner__title {
            font-size: 2.5em;
          }
          .stop-the-drama__statue-banner__text {
            font-size: 1em;
          }
        }

        @media (min-width: 1300px) {
          width: 50%;

          .stop-the-drama__statue-banner__title {
            font-size: 2.7em;
          }
          .stop-the-drama__statue-banner__text {
            font-size: 1.5em;
          }
        }

        @media (min-width: 1400px) {
          padding: 12% 30px;
          margin-left: 10%;
          width: 57%;

          .stop-the-drama__statue-banner__text {
            font-size: 1.5em;
          }
        }

        @media (min-width: 1500px) {
          width: 47%;
        }
        
        @media (min-width: 1600px) {
          padding: 12% 30px;
          width: 57%;

          .stop-the-drama__statue-banner__title {
            width: 80%;
          }
          .stop-the-drama__statue-banner__text {
            font-size: 1.5em;
          }
        }
        
        @media (min-width: 1800px) {
          margin-left: 10%;
          
          .stop-the-drama__statue-banner__title {
            font-size: 4em;
          }
        }
        
        @media (min-width: 600px) and (max-width: 1023px) {
          padding: 10% 30px;
          width: 77%;

          .stop-the-drama__statue-banner__title {
            font-size: 1.7em;
          }
          .stop-the-drama__statue-banner__text {
            width: 100%;
            margin-bottom: 10px;
            font-size: 1em;
            line-height: 1.2em;
          }
        }
      }

      
      @media (min-device-width: 320px) and (max-device-width: 599px), all and (max-width: 599px), all and (max-height: 100px) {
        display: none;
      }
    }
      
  }
}

.page-name-manulife-critical-illness {
  .hero {
    position: relative;
    overflow: hidden;
    color: #fff;
    background-color: #d3d3d3;
    text-decoration: none;
    padding-bottom: 413px;
    @media screen and (max-width: 1024px) {
      padding-bottom:calc(260px + (54400vw - 195840px)/1080)
    }

    @include mobile-only {
      margin-top: 60px;
    }
    
    .hero__background {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      
      .video {
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: 70% 50%;
        object-position: 70% 50%;
        max-width: none;
        font-family: "object-fit: cover; object-position: right bottom;";

        @media screen and (min-width: 1921px) {
          width:100%;
          height: auto
        }

        &.ie-fix {
          width: auto;
          -o-object-position: 50% 50%;
          object-position: 50% 50%
        }
      } 
    }

    .hero__content {
      max-width: 900px;
      width: 100%;
      z-index: 2;
      color: #fff;
      background: #000;
      background: -webkit-gradient(linear,left top,right top,color-stop(15%,rgba(0,0,0,.4)),to(transparent));
      background:linear-gradient(90deg,rgba(0,0,0,.4) 15%,transparent);
      position: absolute;
      top: 0;
      bottom: 0;
      padding-left: 5%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;

      @media screen and (min-width: 1024px) and (max-width:1439px) {
        max-width:600px;
      }

      @media screen and (min-width: 768px) and (max-width:1023px) {
        max-width:300px;
      }

      @media screen and (max-width: 767px) {
        width:60%
      }

      .title {
        font-size: 56px;
        line-height: 64px;
        font-weight: 700;
        color: #fff;
        margin-bottom: 2.5rem;
        
        @media screen and (min-width: 1025px) and (max-width:1439px) {
          font-size:40px;
          line-height: 48px;
        }

        @media screen and (min-width: 768px) and (max-width:1023px) {
          font-size:30px;
          line-height: 38px;
          margin-bottom: 2rem;
        }

        @media screen and (max-width: 767px) {
          font-size:24px;
          line-height: 26px;
          margin-bottom: 15px;
        }
      }

      .button-container {
        margin-right: 15px;
        display: block;
        text-align: inherit;
        margin-top: inherit;

        @media screen and (max-width: 767px) {
          display:block;
          width: 100%;
        }

        .button {
          font-size: 28px;
          line-height: 1;
          font-weight: 700;
          position: relative;
          padding-right: 82px;
          
          @media screen and (min-width: 1025px) and (max-width:1439px) {
            font-size:22px;
            line-height: 30px;
            padding-right: 74px;
          }
          
          @media screen and (min-width: 768px) and (max-width:1023px) {
            font-size:18px;
            line-height: 26px;
            padding: 14px 20px;
            padding-right: 54px;
            // margin-bottom: 1rem;
            // width: auto;
          }

          @media screen and (max-width: 767px) {
            font-size:16px;
            line-height: 22px;
            padding: 14px 20px;
            padding-right: 44px;
          }

          .icon-video {
            position: absolute;
            width: 36px;
            height: 36px;
            right: 36px;
            transform: translateY(-50%);
            top: 50%;

            &:before {
              content: "";
              position: absolute;
              background: url("../images/products/manulife_criticalillness/play-icon.svg") no-repeat center center / cover;
              width: 36px;
              height: 36px;
              left: 0;
            }
          }

          @media screen and (min-width: 1025px) and (max-width:1439px) {
            .icon-video {
              width: 28px;
              height: 28px;
              right: 28px;

              &:before {
                width: 28px;
                height: 28px;
              }
            }
          }

          @media screen and (min-width: 768px) and (max-width:1023px) {
            .icon-video {
              width: 24px;
              height: 24px;
              right: 20px;

              &:before {
                width: 24px;
                height: 24px;
              }
            }
          }

          @media screen and (max-width: 767px) {
            .icon-video {
              width: 18px;
              height: 18px;
              right: 18px;

              &:before {
                width: 18px;
                height: 18px;
              }
            }
          }
        }
      }      
    }
  }

  main {
    background-color: #272b40;
    background: url(../images/products/manulife_criticalillness/section-background.jpg) no-repeat;
    background-size: cover;

    .section-wrapper {
      border-bottom: none;
    }
  }

  .title-main {
    font-weight: 700;
    color: #fff;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 2.5rem;

    @include mobile-only {
      font-size: 24px;
      line-height: 32px;
      text-align: left;
      padding: 24px 1.375rem;
    }

    @media (max-width: 1023px) {
      background-color: #272b40;
      padding-left: 32px;
      padding-right: 32px;
    }

    @media screen and (max-width: 1023px) and (min-width: 768px){
      font-size: 30px;
      line-height: 38px;
      padding: 32px 16px;
    }
  }

  .section-solutions {
    .card {
      .card-content-wrapper {
        h3, h4, h5, p {
          color: #fff;
        }

        h3, h4, p > b, .button-white {
          font-weight: 700!important;
        }

        h4 {
          text-align: left;
          margin-bottom: 10px;

          @include tablet {
            text-align: center;
          }
        }

        p + p, p + .button {
          margin-top: 15px;
        }

        .button {
          margin-bottom: 10px;
          
          &:hover {
            background: #fff;
          }
        }

        .card-image {
          padding: 20px;

          @include tablet-small {            
            padding: 30px;
            width: 33%;
            display: inline-block;
            vertical-align: top;
          }

          @include tablet {
            width: 41%;
          }

          @include tablet-small {
            text-align: center;
          }

          img {
            position: relative;
            transform: none;
            left: 0;
            top: 0;
            margin: auto;
            text-align: center;
            height: auto;

            @media screen and (max-width: 767px){
              max-width: 200px;
            }

            @media screen and (min-width: 1024px){
              max-width: 280px;
            }
          }
        }

        .card-content {
          padding-bottom: 20px;

          @include tablet-small {
            padding-bottom: 30px;
          }

          @include tablet-small {
            display: inline-block;
            vertical-align: top;
            width: 66%;
          }

          @include tablet {
            width: 58%;
          }

          p {
            a {
              color: #fff;
            }
          }
          
          .title {
            margin-bottom: 0;

            + .notes {
              margin-top: 2px;
            }

            + p {
              margin-top: 8px;
            }
          }

          h4.notes {
            font-weight: normal !important;
            text-align: left;

            b {
              font-weight: 700;
            }
          }
        }
      }
      &.card-manulife-critical--criticalselectcare {
        background-color: #0000c1!important;

        .button-white { 
          color: #0000c1!important;
        }
      }

      &.card-manulife-critical--readycompletecare {
        background-color: #f49600!important;

        .button-white { 
          color: #f49600!important;
        }
      }

      &.card-manulife-critical--lifereadyplus {
        background-color: #06c7ba!important;

        .button-white { 
          color: #06c7ba!important;
        }
      }
    }
  }

  .section-article-content.section-terms {
    margin-top: 80px;

    @include tablet {
      margin-top: 50px;
    }

    h2, p {
      color: #fff;
    }

    p {
      text-align: left;
      margin-top: 40px;

      @include tablet {
        text-align: center;
      }
    }

    h2 {
      text-align: center;
      font-size: 45px;
      line-height: 53px;
      font-weight: 700;
      text-align: left;
      margin-bottom: 15px;

      @include tablet {
        text-align: center;
      }

      @media screen and (max-width: 767px) {
        font-size: 28px;
        line-height: 36px;
      }
    }

    h3 {
      color: #f3f3f3;
      font-size: 25px;
      line-height: 33px;
      font-weight: 400;
      span {
        font-weight: 700;
        font-style: normal;
      }

      @media screen and (max-width: 767px) {
        font-size: 18px;
        line-height: 22px;
      }

      @media screen and (max-width: 1023px) and (min-width: 768px) {
        font-size: 18px;
        line-height: 24px;
      }
    }

    .block-button {
      text-align: center;
    }
  }
}

.section-article-content.section-terms {
  margin-top: 10px;
  margin-bottom: 60px;
}

.section-statue {
  .card-content-wrapper {
    .card-image {
      border-top: 6px solid #ff746d;
    }
      
    .text-terms {
      position: absolute;
      left: 20px;
      bottom: 20px;
      @include tablet-small {
        left: 30px;
        bottom: 30px;
      }
    }

    .card-content {
      padding-bottom: 44px;

      @include tablet-small {
        padding-bottom: 54px;
      }

      h5 {
        font-weight: 600;
        margin-top: 10px;
        margin-bottom: 10px;

        a {
          color: $textLightGray;
        }
      }

      ul.list-card {
        margin-top: 5px;

        li {
          margin-bottom: 5px;

          &:before {
            top: 7px;
          }
        }
      }
    }
  }  
}

.section-halfcardwrapper {
  .half-solution-container {    
    &.col-lg-6 {
      @media (min-width: 1025px) {
          width: calc(50% - 31px);
      }
      margin-bottom: 20px;
      @include tablet {
        margin-bottom: 30px;
      }
    }
  }
}

.section-rewardyourself {
  .half-solution-container {
    background: #e4e5e7;
    text-align: center;

    .card-content {
      padding-bottom: 20px;

      @include tablet {
        padding-bottom: 30px;
      }
    }
  }
}
