.page-name-review {
    .block-rating-list {
        display: flex;
        flex-flow: row wrap;
    }

    .review-box .section-title-main {
        display: none;
    }


    .title-main {
        @include tablet{
            border-bottom: 0;
        }
    }

    .section-average-rating-wrapper {
        background-color: #fff;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .section-contact-box-mobile {
        margin-top: 30px;
    }

    .section-form-rating {
        margin-top: 30px;
        margin-bottom: 30px;
        .form-rating-card {
            padding-bottom: 30px;
            .card-content {
                @include tablet{
                    padding-left: 20px;
                    padding-right: 20px;
                }
                @include desktop-medium{
                    padding-left: 30px;
                    padding-right: 30px;
                }


            }
            .rating-card-controll-icon {
                text-align: center;
                margin-top: 15px;
            }
            .rating-card-controll-stars {
                text-align: center;
                margin-top: 15px;
                .fa-star {
                    cursor: pointer;
                }
            }

            .form-field-note {
                margin-top: 30px;
            }

            .button {
                width: 100%;
                margin-top: 30px;
            }
        }
        form {
            .form-field-name {
                @include tablet {
                    input {
                        max-width: 393px;
                    }
                }
            }

            .block-button {
                margin-top: 25px;
            }
        }
    }

    .section-rating-list {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .average-rating-number-icon {
        display: inline-block;
        //vertical-align: bottom;
        vertical-align: middle;
        .icon-rating-face {
            width: 80px;
            height: 80px;
        }
    }

    .block-average-rating-number {
        margin-top: 15px;
    }
    .average-rating-number-score {
        display: inline-block;
        vertical-align: middle;
        //margin-right: 60px;

        h2 {
            font-size: 90px;
            height: 90px;
            line-height: 1.175;

            font-weight: 600;
            font-family: $mainFont;
            margin-left: 15px;
            @include tablet-small{
                font-size: 60px;
                height: 60px;
            }

            @include desktop-medium{
                font-size: 90px;
                height: 90px;

            }


        }
    }

    .block-average-rating {
        //width: 220px;
        display: inline-block;
        vertical-align: middle;
    }


    .block-average-rating-statistic {

        display: inline-block;
        vertical-align: middle;
        width: 100%;
        @include tablet-small{
            width: auto;
            margin-left: 20px;
        }
        @include tablet{
            margin-left: 30px;
        }
        @include desktop-small{
            margin-left: 40px;
        }



    }
    .average-rating-statistic-item {
        display: inline-block;
        margin-right: 15px;
        text-align: center;
        @include desktop-small{
            margin-right: 20px;
        }
        @include desktop-hd{
            margin-right: 30px;
        }



        .averate-rating-statistic-score {
            display: inline-block;
            font-size: 22px;
            font-weight: 600;
            line-height: 28px;
            margin-top: 6px;
        }

    }

    .block-average-rating-stars {
        margin-top: 20px;
    }

    .block-average-rating-amount {
        margin-top: 20px;
        font-size: 16px;
        line-height: 24px;
        span {
            font-weight: 600;
        }
    }




    // ------------------------------------------------ Rating Card
    .title-rating-card{
        font-size: 36px;
        line-height: 48px;
    }
    .rating-card-star {
        cursor: pointer;
    }

    .rating-card-star:hover {
        transition: all 200ms ease-in;
        transform: scale(1.2);
    }

    .block-thank {

        .title-rate-us-thank {
            font-size: 18px;
            line-height: 26px;
            font-weight: 600;
            margin-top: 20px;
        }
    }
}

#form-rate-us-thank {
    .text-regular {
        margin-top: 20px;
        
        @include tablet {
            margin-top: 30px;
        }
    }
}

// ------------------------------------------------------------------------------------------------------ Rating item
.review-box-load-more {
    display: none; 
    &.review-box-show {
        display: block;
    }
}

.page-name-review {
    .review-box{

        .block-rating-list-wrapper {
            padding: 0;
        }

        .swiper-pagination {
            display: none;
        }

        .custom-show-less {
            .rating-list-item {
                display: none;
                &:nth-child(-n + 6) {
                    display: block;
                }
            }
        }
        div.custom-show-more{
            .rating-list-item {
                display: block;
            }
        }
      
        .less {
            display: block;
        }
      }
}

.review-box{
  .custom-show-less {
      .rating-list-item {
          display: none;
          &:nth-child(-n + 3) {
              display: block;
          }
      }
  }
    div.custom-show-more {
        .rating-list-item {
            display: block;
        }
        &:visited, &:focus{
            color: #fff;
        }
    }

    .less {
        display: block;
    }
}



//clear all show-more items behaviour on mobile
.page-device-mobile {
    .review-box-load-more {
        .custom-show-less .rating-list-item {
            display: block;
        }

        .show-more {
            display: none;
        }

        .swiper-pagination {
            margin-top: 0;
            margin-bottom: 14px;
        }

        .rating-list-item { 
            margin: 0 0 40px;
        }

        .block-rating-list {
            margin: 0;
            flex-flow: nowrap;
            padding: 0;
        }
    }

    .page-name-review { 
        .block-rating-list {
            margin-left: 4px !important;
            width: calc(100% - 8px);
            padding: 0;

            @include tablet-small {
                margin-left: -11px !important;
                width: calc(100% + 25px);
            }
        }
        .rating-list-item.col-md-6 {
            @include tablet-small {
                width: calc(50% - 31px) !important;
            }
        }
    }
}

.section-review-content {
    margin-top: 30px;
}

.hide-review-link .button-see-all-review {
    display: none;
}

.hide-show-more .show-more {
    display: none;
}

.block-rating-button {
    text-align: center;
    margin-top: 10px;

    @include tablet {
        margin-top: 0;
    }
}

.block-rating-list {
    @include tablet-small {
        display: flex;
        flex-flow: row wrap;
        padding-left: 15px;
        padding-right: 15px;
        width: calc(100% + 53px);
        margin-left: -27px;
    }
}

.rating-list-item {
    margin-bottom: 20px;
    background: #fff;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.07);
    padding: 0;
    display: flex;
    flex-direction: column;

    @include tablet-small  {
        &.col-md-6 {
            width: calc(50% - 31px);
        }
        
        margin-bottom: 40px;
        margin-left: 15px;
        margin-right: 15px;
    }

    @include desktop-small {
        &.col-lg-4 {
            width: calc(33.33333333% - 31px);
        }
    }

    .rating-list-item-content {
        padding: 76px 40px 40px;
        position: relative;
        // @include tablet{
        //     max-width: 560px;
        //     border-bottom: 2px solid #ececec;
        // }
            
        &:before {
            content: "";
            display: inline-block;
            width: 96px;
            height: 96px;
            top: 20px;
            left: 20px;
            position: absolute;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            background-image: url('../images/icon/rating/icon-rating-quote.svg');
            opacity: 0.1;
        }
    }

    .block-rating-list-item-header {
        margin-top: 20px;
        max-height: 800px;
        overflow: hidden;
    }
    .block-rating-list-item-body {
        min-height: 120px;
    }
    .block-rating-list-item-footer {
        display: none;
        margin-top: 15px;
        padding-bottom: 20px;
    }


    .rating-list-item-name {
        font-size: 16px;	
        font-weight: 600;	
        letter-spacing: 0.25px;	
        line-height: 26px;
        display: inline-block;

        &:before {
            content: "-";
            margin-right: 3px;
            font-weight: bold;
        }
    }

    .rating-list-item-date {
        font-size: 18px;
        line-height: 26px;
        font-weight: 400;
        display: none;
        //display: inline-block;
        float: right;
    }

    .rating-list-item-text {
        font-size: 16px;	
        letter-spacing: 0.4px;	
        line-height: 24px;
    }
    .rating-list-item-face {
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
    }

    .rating-list-item-stars {
        vertical-align: middle;
        display: inline-block;
    }
}






// ------------------------------------------------------------------------------------------------------ General icons for all pages

.rating-star {
    display: inline-block;
    margin-right: 5px;
    .fa-star {
        font-size: 20px;
        line-height: 20px;
        color: #d5d6d9
    }
}

.status-selected {
    .fa-star {
        color: $greenColor;
    }
}

.icon-rating-face {
    display: inline-block;
    width: 64px;
    height: 64px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.average-rating-statistic-item {
    margin-top: 20px;



    .icon-rating-face {
        width: 40px;
        height: 40px;
    }
    @include desktop-small{
        margin-top: 0;

        .icon-rating-face {
            width: 64px;
            height: 64px;
        }
    }

}





.property-rate-0 {

}

.property-rate-1 {
    .rating-star:nth-child(-n+1) {
        .fa-star {
            color: $greenColor;
        }
    }
}

.property-rate-2 {
    .rating-star:nth-child(-n+2) {
        .fa-star {
            color: $greenColor;
        }
    }
}

.property-rate-3 {
    .rating-star:nth-child(-n+3) {
        .fa-star {
            color: $greenColor;
        }
    }
}

.property-rate-4 {
    .rating-star:nth-child(-n+4) {
        .fa-star {
            color: $greenColor;
        }
    }
}

.property-rate-5 {
    .rating-star:nth-child(-n+5) {
        .fa-star {
            color: $greenColor;
        }
    }
}
.property-rate-0 {
    .icon-rating-face {
        background-image: url('../images/icon/rating/icon-rate-1.svg');
    }
}

.property-rate-1 {
    .icon-rating-face {
        background-image: url('../images/icon/rating/icon-rate-1.svg');
    }
}

.property-rate-2 {
    .icon-rating-face {
        background-image: url('../images/icon/rating/icon-rate-2.svg');
    }
}

.property-rate-3 {
    .icon-rating-face {
        background-image: url('../images/icon/rating/icon-rate-3.svg');
    }
}

.property-rate-4 {
    .icon-rating-face {
        background-image: url('../images/icon/rating/icon-rate-4.svg');
    }
}

.property-rate-5 {
    .icon-rating-face {
        background-image: url('../images/icon/rating/icon-rate-5.svg');
    }
}



//hide all elements that is not required when there is no rating
.controll-rating-average,
.controll-rating-list,
.page-name-review .first-level-menu-list-item:nth-child(-n + 2) {
    display: none;
}

.controll-rating-form {
    @media(min-width: 1200px) {
        width: 50%;
    }
}

.status-rating-loaded {
    .controll-rating-form {
        @media(min-width: 1200px) {
            width: 33.33333333%;
        }
    }

    .page-name-review  .first-level-menu-list-item:nth-child(-n + 2) {
        display: block;
    }
}