.page-name-events {
    .section-seminars {
        @include tablet-small-only {
            .block-articles {
                width: calc(100% + 30px);
                margin-left: -15px;
            }
        }

        .card {
            margin-bottom: 20px;

            @include tablet-small {
                margin-bottom: 40px;
            }
            .card-content {                
                p {
                    &.date {
                        display: block;
                    }
                }
            }
            &.card-inline {
                @include tablet {
                    min-height: 300px;
                    width: 100%;
    
                    .card-image {
                        width: 40%;
                        display: inline-block;
                        max-height: none;
                        position: relative;
                        height: 100%;
                        vertical-align: top;
                        img {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            max-height: none;
                        }
                    }
    
                    .card-content {
                        vertical-align: top;
                        width: 59%;
                        display: inline-block;
                    }
                }
            }
        }
    }

    .banner-top-wrapper .banner-top-caption .color-black .subText {
        text-shadow: 0 0 3px #fff, 0 0 5px #fff;
        
        // @include desktop-medium {
        //     color: #333333; 
        // }
    }

    .section-seminars-form-wrapper {
        padding-top: 0; 
        @include tablet-small {
            padding-top: 30px;;
        }

        @include tablet {
            padding-top: 60px;;
        }
    }
    
    .block-previous-seminar {
        background-color: #fafafa;
        padding-top: 30px;
        padding-bottom: 50px;
        @include desktop-small{
            padding-right: 40px;
        }

    }

    .block-previous-seminar-info {
        background-color: #fafafa;
    }

    .block-previous-seminar-form {
        .previous-seminar-form-subtitle {
            font-weight: 400;
            padding-top: 15px;
            padding-bottom: 15px;
        }
    }

    .block-previous-seminar-form {
        background-color: #ffffff;
        position: relative;
        padding-top: 40px;
        padding-bottom: 40px;
        @include desktop-small{
            padding-left: 20px;
            padding-right: 20px;
        }

        .form-previous-seminar {
            @include desktop-small{
                margin-left: auto;
                margin-right: auto;
                max-width: 520px;
                padding-top: 40px;
            }

            .block-button {
                margin-top: 20px;
            }


        }

        &:before {
            content: '';
            display: inline-block;
            height: 10px;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: linear-gradient(to left, #04ab5c, #00a69b);
            height: 7px;
            @include tablet{
                height: 10px;
            }
        }




        .form-upcoming-seminar {

            @include tablet-small{

                padding-top: 40px;
            }

        }
    }



}

.event-main-title {
    display: none;
}

.block-upcoming-seminar {
    position: relative;
    background-color: #ffffff;

    overflow: hidden;
    padding-top: 15px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    @include desktop-small{
        padding-left: 40px;
        padding-right: 0;
    }

    //margin-top: 50px;

    &:before {
        content: '';
        display: inline-block;
        height: 10px;
        width: 500px;
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(to left, #04ab5c, #00a69b);
        height: 7px;
        width: 75%;
        @include tablet{
            height: 10px;
            //width: 100%;
        }
    }

    &:after {
        content: '';
        display: inline-block;
        height: 10px;
        width: 500px;
        position: absolute;
        bottom: 0;
        right: 0;
        background: linear-gradient(to right,#04ab5c, #00a69b);
        height: 7px;
        width: 75%;
        @include tablet{
            height: 10px;
            //width: 100%;
        }
    }

    .upcoming-seminar-header {
        .header-title {
            //align-self: flex-end;
            //padding-bottom: 5px;
        }
        .header-logo {
            text-align: right;
            @include desktop-small{
                padding-right: 30px;
            }

        }
        .icon-logo {
            width: 125px;
            //padding-right: 15px;
        }
    }

    .upcoming-seminar-body {
        .body-title {
            color: #00a69b;
        }
        .body-text {
            margin-top: 30px;
        }
    }
    .upcoming-seminar-footer {
        margin-top: 30px;
        margin-bottom: 30px;
        @include tablet{
            margin-bottom: 0;
        }

    }

    .block-seminar-features {
        margin-top: 10px;
    }
    .seminar-features-item {
        background-color: #282b3e;
        color: #ffffff;
        display: flex;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
        border-bottom: 1px solid #ffffff;
        .block-feature-image {
            padding-right: 20px;
            flex-shrink: 0;
        }
        h6 {
            display: block;
            font-size: 13px;
            line-height: 18px;
            font-weight: 700;
            text-transform: uppercase;
            color: #ffffff;
        }
        p {
            color: #ffffff;
        }
    }

}


.block-speakers {
    .upcoming-seminar-info-title {
        font-weight: 600;
    }

    .speaker-item {
        margin-top: 15px;
        margin-bottom: 30px;

    }

    .speaker-wrapper {
        display: flex;
        align-items: center;
    }

    .speaker-image {
        max-width: 120px;
        margin-right: 20px;

        img {
            border-radius: 50%;
        }

        @include mobile-mmedium {
            max-width: 150px;
            margin-right: 40px;
        }

    }

    .speaker-info {
        width: calc(100% - 120px);

        @include mobile-mmedium {
            width: calc(100% - 150px);
        }
    }
    .speaker-name {
        font-weight: 600;
        color: $greenColor;
    }
    .speaker-job {
        font-weight: 600;
        margin-top: 5px;
    }

    .speaker-extra {
        margin-top: 6px;
        p {
            font-weight: 600;
        }

    }

    .block-quote {
        margin-top: 15px;
        font-weight: 500;
        .quote {
            margin-top: 15px;
            padding-left: 70px;

        }
    }
    .block-list {
        margin-top: 30px;
        @include desktop-small{
            margin-top: 40px;
        }


        .list-bullet {
            padding-left: 70px;
            margin-top: 15px;
            li {
                padding-left: 20px;
                position: relative;
                &:before {
                    position: absolute;
                    left: 0;
                    top: 8px;
                }
            }
        }
    }
}

#form-seminar-signup-thank {
    .section-title-main {
        p:first-child {
            margin-top: 0;
        }
    }
}
.block-upcoming-seminar-form {
    background-color: #f5f5f5;
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
    @include desktop-small{
        padding-left: 20px;
        padding-right: 20px;
    }



    .upcoming-seminar-form-title {
        font-weight: 500;
    }
    .upcoming-seminar-form-subtitle {
        margin-top: 15px;
        margin-bottom: 15px;
    }


    .form-upcoming-seminar {

        @include desktop-small{
            margin-left: auto;
            margin-right: auto;
            max-width: 520px;
            padding-top: 40px;
        }

    }
}

.block-thank {
    //display: block;
    .title {
        margin-top: 20px;
        @include tablet{
            margin-top: 40px;
        }

    }
    .subtitle {
        font-weight: 600;
    }
    .text {
        margin-top: 10px;
        @include tablet{
            margin-top: 20px;
        }

    }
}