.block-features-strip {
    padding: 45px 0 0;

    li {
        display: block;
        vertical-align: top;
        margin-right: 58px;
        font-size: 13px;
        font-weight: 600;
        line-height: 1.38;
        text-align: left;
        width: 100%;
        margin-bottom: 36px;

        @include tablet-small {
            display: inline-block;
            max-width: 90px;
            text-align: center;
            height: 100px;
        }

        img {
            width: 57px;
            display: inline-block;
            margin: 0 auto;
            vertical-align: middle;

            @include tablet-small {
                display: block;
                margin: 0 auto 13px;
                height: 57px;
                width: auto;
            }
        }

        span {
            margin-top: 20px;
            display: inline-block;
            margin-left: 20px;
            @include tablet-small {
                display: block;
                margin-left: 0;
            }
        }
    }

}


.page-type-services {
    .section-contact-box-mobile {
        margin-top: 30px;
    }

    .section-solutions {

        @include tablet{
            padding-top: 20px;
        }

    }
}
.hydralink a{
    display: none !important;
}

.hydralink  a:first-child{
    display:block !important;;
}

.icon-text-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 30px 0;
  max-width: 790px;
  
  @include tablet-small{
    flex-wrap: nowrap;
  }
  
  .icon-text {
    text-align: center;
    width: 50%;
    padding: 20px;
    &:first-child{
      padding-left: 0;
    }
    img {
      display: inline-block;
      width: 60px;
      height: 60px;
      margin-bottom: 15px;
    }
  }
}


