@include keyframe(pulse) {
    0% {
        transform: scale(0.8);
    }

    100% {
        transform: scale(1);
    }
}

@include keyframe(scale-out) {
    0% {
        opacity: 0;
        visibility: visible;
        transform: scale(0);
    }

    50% {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
    }

    60% {
        opacity: 1;
        visibility: visible;
        transform: scale(1.1);
    }

    80% {
        opacity: 1;
        visibility: visible;
        transform: scale(0.9);
    }

    100% {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
    }
}

@include keyframe(scale-out-ie) {
    0% {
        opacity: 0;
        visibility: visible;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
    }
}

@include keyframe(rainbow-out) {
    0% {
        opacity: 0;
        visibility: visible;
        transform:  translate(0,0)  scale(0);
    }

    50% {
        opacity: 1;
        visibility: visible;
        transform: translate(-30%, -67%) scale(1);
        // transform: translate(-75px,-104px);
    }

    60% {
        opacity: 1;
        visibility: visible;
        transform: translate(-30%, -67%) scale(1.1);
    }

    80% {
        opacity: 1;
        visibility: visible;
        transform: translate(-30%, -67%) scale(0.9);
    }

    100% {
        opacity: 1;
        visibility: visible;
        transform: translate(-30%, -67%) scale(1);
    }
}

@include keyframe(rainbow-out-ie) {
    0% {
        opacity: 0;
        visibility: visible;
        transform:  translate(0,0);
    }

    100% {
        opacity: 1;
        visibility: visible;
        transform: translate(-30%, -67%);
        // transform: translate(-75px,-104px);
    }
}

@include keyframe(building-out) {
    0% {
        opacity: 0;
        visibility: visible;
        transform: translate(10%, -42%);
        // transform: translate(66px, -312px);
    }

    50% {
        opacity: 1;
        visibility: visible;
        transform: translate(60%, -82%) scale(1);
        // transform: translate(182px,-432px);
    }
    
    60% {
        opacity: 1;
        visibility: visible;
        transform: translate(60%, -82%) scale(1.1);
    }

    80% {
        opacity: 1;
        visibility: visible;
        transform: translate(60%, -82%) scale(0.9);
    }

    100% {
        opacity: 1;
        visibility: visible;
        transform: translate(60%, -82%) scale(1);
    }
}

@include keyframe(building-out-ie) {
    0% {
        opacity: 0;
        visibility: visible;
        transform: translate(10%, -42%);
        // transform: translate(66px, -312px);
    }

    100% {
        opacity: 1;
        visibility: visible;
        transform: translate(60%, -82%);
    }
}

@include keyframe(oldman-out) {
    0% {
        opacity: 0;
        visibility: visible;
        transform:  translate(0,0)  ;
    }

    50% {
        opacity: 1;
        visibility: visible;
        transform: translate(-59%,-62%) scale(1);
    }
    
    60% {
        opacity: 1;
        visibility: visible;
        transform: translate(-59%,-62%) scale(1.1);
    }

    80% {
        opacity: 1;
        visibility: visible;
        transform: translate(-59%,-62%) scale(0.9);
    }

    100% {
        opacity: 1;
        visibility: visible;
        transform: translate(-59%,-62%) scale(1);
    }
}

@include keyframe(oldman-out-ie) {
    0% {
        opacity: 0;
        visibility: visible;
        transform:  translate(0,0)  ;
    }

    100% {
        opacity: 1;
        visibility: visible;
        transform: translate(-59%,-62%);
    }
}

@include keyframe(car-out) {
    0% {
        opacity: 0;
        visibility: visible;
        transform:  translate(0,0)  ;
    }

    50% {
        opacity: 1;
        visibility: visible;
        transform: translate(33%, -57%) scale(1);
        // transform: translate(68px,-67px);
    }
    
    60% {
        opacity: 1;
        visibility: visible;
        transform: translate(33%, -57%) scale(1.1);
    }

    80% {
        opacity: 1;
        visibility: visible;
        transform: translate(33%, -57%) scale(0.9);
    }

    100% {
        opacity: 1;
        visibility: visible;
        transform: translate(33%, -57%) scale(1);
    }
}
@include keyframe(car-out-ie) {
    0% {
        opacity: 0;
        visibility: visible;
        transform:  translate(0,0)  ;
    }
    100% {
        opacity: 1;
        visibility: visible;
        transform: translate(33%, -57%);
    }
}
@include keyframe(card-out) {
    0% {
        opacity: 0;
        visibility: visible;
        transform:  translate(0,0)  ;
    }

    50% {
        opacity: 1;
        visibility: visible;
        transform: translate(57%, -133%) scale(1);
        // transform: translate(67px,-163px);
    }
    
    60% {
        opacity: 1;
        visibility: visible;
        transform: translate(57%, -133%) scale(1.1);
    }

    80% {
        opacity: 1;
        visibility: visible;
        transform: translate(57%, -133%) scale(0.9);
    }

    100% {
        opacity: 1;
        visibility: visible;
        transform: translate(57%, -133%) scale(1);
    }
}
@include keyframe(card-out-ie) {
    0% {
        opacity: 0;
        visibility: visible;
        transform:  translate(0,0)  ;
    }
    100% {
        opacity: 1;
        visibility: visible;
        transform: translate(57%, -133%);
    }
}
@include keyframe(money-out) {
    0% {
        opacity: 0;
        visibility: visible;
        transform: translate(-39%, -62%) scale(0.5);
        // transform: translate(-108px, -170px) scale(0.5);
    }

    50% {
        opacity: 1;
        visibility: visible;
        transform: translate(-84%, -67%) scale(1);
        // transform: translate(-215px,-179px) scale(1);
    }
    
    60% {
        opacity: 1;
        visibility: visible;
        transform: translate(-84%, -67%) scale(1.1);
    }

    80% {
        opacity: 1;
        visibility: visible;
        transform: translate(-84%, -67%) scale(0.9);
    }

    100% {
        opacity: 1;
        visibility: visible;
        transform: translate(-84%, -67%) scale(1);
    }
}
@include keyframe(money-out-ie) {
    0% {
        opacity: 0;
        visibility: visible;
        transform: translate(-39%, -62%) scale(0.5);
        // transform: translate(-108px, -170px) scale(0.5);
    }
    100% {
        opacity: 1;
        visibility: visible;
        transform: translate(-84%, -67%) scale(1);
    }
}

@include keyframe(emoji-f-out) {
    0% {
        opacity: 0;
        visibility: visible;
        transform: translate(0,0) rotate(-19deg);
    }

    50% {
        opacity: 1;
        visibility: visible;
        transform: translate(223%, -182%) rotate(-19deg) scale(1);
    }
    
    60% {
        opacity: 1;
        visibility: visible;
        transform: translate(223%, -182%) rotate(-19deg)  scale(1.1);
    }

    80% {
        opacity: 1;
        visibility: visible;
        transform: translate(223%, -182%) rotate(-19deg)  scale(0.9);
    }

    100% {
        opacity: 1;
        visibility: visible;
        transform: translate(223%, -182%) rotate(-19deg)  scale(1);
    }
}

@include keyframe(emoji-f-out-ie) {
    0% {
        opacity: 0;
        visibility: visible;
        transform: translate(0,0) rotate(-19deg);
    }
    100% {
        opacity: 1;
        visibility: visible;
        transform: translate(223%, -182%) rotate(-19deg);
    }
}
@include keyframe(emoji-out-left) {
    0% {
      opacity:0;
      visibility: visible;          
      transform: translate(-134%, -105%) rotate(5deg);
    //   transform: translate(-164px, -123px);
    }
    50% {
        opacity:1;
        visibility: visible;
        transform: translate(-255%, -203%) scale(1) rotate(5deg);
        // transform: translate(-250px,-202px);
    }
    
    60% {
        opacity: 1;
        visibility: visible;
        transform: translate(-255%, -203%) scale(1.1) rotate(5deg);
    }

    80% {
        opacity: 1;
        visibility: visible;
        transform: translate(-255%, -203%) scale(0.9) rotate(5deg);
    }

    100% {
        opacity: 1;
        visibility: visible;
        transform: translate(-255%, -203%) scale(1) rotate(5deg);
    }
}

@include keyframe(emoji-out-left-ie) {
    0% {
      opacity:0;
      visibility: visible;          
      transform: translate(-134%, -105%) rotate(5deg);
    //   transform: translate(-164px, -123px);
    }

    100% {
        opacity: 1;
        visibility: visible;
        transform: translate(-255%, -203%) rotate(5deg);
    }
}
@include keyframe(fade-in) {
    0% {
      opacity:0;
      visibility: visible;    
    }
    100% {
        opacity:1;
        visibility: visible;
    }
}
.tab-slider {
    .data-content {
        .img-animate, .block-content, .block-button, .block-terms {
            opacity: 0;
            visibility: hidden;
        }
        .img-animate {
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            margin: auto;
            transform: translateY(-50%);
        }
    }

    .dragme {
        @include animation-iteration (0.4s, pulse, infinite);
    }

    #feels-landing {
        &.active-data {
            .block-image {
                height: 300px;
                
                @media (min-width:450px){
                    height: 355px;
                }

                @include mobile-mmedium {
                    height: 415px;
                }

                @include desktop-medium {
                    height: 495px;
                }
            }
            .img-animate {
                &.img-txt {
                    width: 63%;
                    // max-width: 300px;
                    @include animation (0, 0.6s, scale-out, ease-out);
                    @include tablet {
                        width: 53%;
                    }
                }

                &.img-rainbow {
                    width: 27.3%;
                    // max-width: 246px;
                    // transform: translate(-75px,-104px);
                    @include animation (0.3s, 0.6s, rainbow-out, ease-out);
                }

                &.img-building {
                    width: 33.5%;
                    // max-width: 320px;
                    // transform: translate(66px, -312px);
                    // transform: translate(182px,-432px);
                    @include animation (0.6s, 0.7s, building-out, ease-out);
                }

                &.img-oldman {
                    width: 12%;
                    // max-width: 110px;
                    // transform: translate(-59%,-62%);
                    // transform: translate(-63px,-114px);
                    @include animation (0.7s, 0.6s, oldman-out, ease-out);
                }

                &.img-car {
                    width: 23.4%;
                    // max-width: 210px;
                    // transform: translate(68px,-67px);
                    @include animation (0.9s, 0.5s, car-out, ease-out);
                }

                &.img-money {
                    width: 28.8%;
                    // max-width: 260px;
                    // transform: translate(-108px, -170px) scale(0.5);
                    // transform: translate(-215px,-179px) scale(1);
                    @include animation (1.2s, 0.6s, money-out, ease-out);
                }

                &.img-card {
                    width: 13%;
                    // max-width: 116px;
                    // transform: translate(67px,-163px);
                    @include animation (1.4s, 0.5s, card-out, ease-out);
                }

                &.emoji-f {
                    width: 7.5%;
                    // max-width: 90px;
                    // transform: translate(150px,-128px) rotate(-19deg);
                    @include animation (1.6s, 0.6s, emoji-f-out, ease-out);
                }

                &.emoji-fr {
                    width: 11%;
                    // transform: translate(-134%, -105%);
                    // max-width: 109px;
                    // transform: translate(-143px, -106px);
                    // transform: translate(-250px,-202px);
                    @include animation (1.8s, 0.6s, emoji-out-left, ease-out);
                }
            }

            // For IE hack
            @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
                .img-animate {
                    &.img-txt {
                        transform: translate(0, 6px);
                        @include animation (0, 0.3s, scale-out-ie, ease-out);
                    }
    
                    &.img-rainbow {
                        transform: translate(-75px,-104px);
                        @include animation (0.2s, 0.3s, rainbow-out-ie, ease-out);
                    }
    
                    &.img-building {
                        transform: translate(182px,-432px);
                        @include animation (0.3s, 0.3s, building-out-ie, ease-out);
                    }
    
                    &.img-oldman {
                        transform: translate(-63px,-114px);
                        @include animation (0.4s, 0.2s, oldman-out-ie, ease-out);
                    }
    
                    &.img-car {
                        transform: translate(68px,-67px);
                        @include animation (0.5s, 0.2s, car-out-ie, ease-out);
                    }
    
                    &.img-card {
                        transform: translate(67px,-163px);
                        @include animation (0.7s, 0.3s, card-out-ie, ease-out);
                    }
    
                    &.img-money {
                        transform: translate(-215px,-179px) scale(1);
                        @include animation (0.8s, 0.3s, money-out-ie, ease-out);
                    }
    
                    &.emoji-f {
                        transform: translate(150px,-128px) rotate(-19deg);
                        @include animation (0.9s, 0.3s, emoji-f-out-ie, ease-out);
                    }
    
                    &.emoji-fr {
                        transform: translate(-250px,-202px);
                        @include animation (1s, 0.3s, emoji-out-left-ie, ease-out);
                    }
                }
            }

            @supports (-ms-ime-align:auto) {
                .img-animate {
                    &.img-txt {
                        transform: translate(0, 6px);
                        @include animation (0, 0.3s, scale-out-ie, ease-out);
                    }
    
                    &.img-rainbow {
                        transform: translate(-75px,-104px);
                        @include animation (0.2s, 0.3s, rainbow-out-ie, ease-out);
                    }
    
                    &.img-building {
                        transform: translate(182px,-432px);
                        @include animation (0.3s, 0.3s, building-out-ie, ease-out);
                    }
    
                    &.img-oldman {
                        transform: translate(-63px,-114px);
                        @include animation (0.4s, 0.2s, oldman-out-ie, ease-out);
                    }
    
                    &.img-car {
                        transform: translate(68px,-67px);
                        @include animation (0.5s, 0.2s, car-out-ie, ease-out);
                    }
    
                    &.img-card {
                        transform: translate(67px,-163px);
                        @include animation (0.7s, 0.3s, card-out-ie, ease-out);
                    }
    
                    &.img-money {
                        transform: translate(-215px,-179px) scale(1);
                        @include animation (0.8s, 0.3s, money-out-ie, ease-out);
                    }
    
                    &.emoji-f {
                        transform: translate(150px,-128px) rotate(-19deg);
                        @include animation (0.9s, 0.3s, emoji-f-out-ie, ease-out);
                    }
    
                    &.emoji-fr {
                        transform: translate(-250px,-202px);
                        @include animation (1s, 0.3s, emoji-out-left-ie, ease-out);
                    }
                }
            }

            .block-content {
                @include animation (2s, 0.2s, fade-in, ease-out);
            }

            .block-button {
                @include animation (2.2s, 0.1s, fade-in, ease-out);
            }
            
            .block-terms {
                @include animation (2.3s, 0.1s, fade-in, ease-out);
            }

            @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
                .block-content {
                    @include animation (1.2s, 0.2s, fade-in, ease-out);
                }
    
                .block-button {
                    @include animation (1.4s, 0.1s, fade-in, ease-out);
                }
                
                .block-terms {
                    @include animation (1.3s, 0.1s, fade-in, ease-out);
                }
            }

            @supports (-ms-ime-align:auto) {
                .block-content {
                    @include animation (1.2s, 0.2s, fade-in, ease-out);
                }
    
                .block-button {
                    @include animation (1.4s, 0.1s, fade-in, ease-out);
                }
                
                .block-terms {
                    @include animation (1.3s, 0.1s, fade-in, ease-out);
                }
            }
        }
    }
    
    #feels-how-to-play {
        &.active-data {
            .block-image {
                height: 252px;

                @include mobile-mmedium {
                    height: 340px;
                }

                @include tablet {
                    height: 300px;
                }

                @media (min-width:1360px){
                    height: 340px;
                }

                @include desktop-medium {
                    height: 430px;
                }
            }            
            .img-animate {
                &.img-hand {
                    transform: translate(-19%, -73%);
                    // transform: translate(-70px, -213px);
                    // max-width: 370px;
                    width: 41%;
                    @include animation (0.2s, 0.3s, fade-in, ease-out);
                }
                &.img-speech {
                    width: 16.7%;
                    transform: translate(125%, -66%);
                    // transform: translate(184px, -142px);
                    // max-width: 150px;
                    @include animation (0.4s, 0.3s, fade-in, ease-out);
                }
                &.img-txt {
                    // transform: translate(14px, 84px);
                    transform: translate(3%, 66%);
                    width: 50%;
                    // max-width: 450px;
                    @include animation (0.6s, 0.3s, fade-in, ease-out);
                }
            }

            .block-content {
                @include animation (0.9s, 0.4s, fade-in, ease-out);
            }

            .block-button {
                @include animation (1.2s, 0.2s, fade-in, ease-out);
            }
        }
    }
    #feels-q1, #feels-q3 {
        &.active-data {
            .block-image {
                height: 220px;

                @include mobile-mmedium {
                    height: 315px;
                }
                @include tablet {
                    height: 300px;  
                }
                @media (min-width:1360px) { 
                    height: 335px; 
                }
                @include desktop-medium {
                    height: 410px;  
                }
            }  
        }
    }

    #feels-q1 {
        &.active-data {           
            .img-animate {
                &.img-suitcase {
                    // max-width: 168px;
                    width: 18.7%;
                    transform: translate(16%, -142%);
                    // transform: translate(26px, -212px);
                    @include animation (0.2s, 0.3s, fade-in, ease-out);
                }
                &.img-car {
                    width: 31.7%;
                    transform: translate(-47%, -132%);
                    // max-width: 285px;
                    // transform: translate(-135px, -148px);
                    @include animation (0.4s, 0.3s, fade-in, ease-out);
                }
                &.img-txt1 {    
                    width: 62.2%;   
                    transform: translate(-1%, -34%);
                    // max-width: 560px;
                    // transform: translate(-5px, -36px);
                    @include animation (0.6s, 0.3s, fade-in, ease-out);
                }
                &.img-txt2 {
                    width: 54.5%;
                    transform: translate(3%, 48%);
                    // max-width: 490px;
                    // transform: translate(14px, 66px);
                    @include animation (0.8s, 0.3s, fade-in, ease-out);
                }
            }

            .block-content {
                @include animation (1.1s, 0.4s, fade-in, ease-out);
            }

            .block-button {
                @include animation (1.4s, 0.2s, fade-in, ease-out);
            }
        }
    }

    #feels-q2 {
        &.active-data {
            .block-image {
                height: 220px;

                @include mobile-mmedium {
                    height: 265px;
                }

                @include tablet {
                    height: 240px;
                }

                @include desktop-medium {
                    height: 350px;
                }
            }            
            .img-animate {
                &.img-txt1 {    
                    width: 63.4%;
                    transform: translate(-7%, -173%);
                    // max-width: 570px;
                    // transform: translate(-38px, -170px);
                    @include animation (0.2s, 0.3s, fade-in, ease-out);
                }
                &.img-txt2 {    
                    width: 50.6%;
                    transform: translate(-20%, -63%);
                    // max-width: 455px;
                    // transform: translate(-92px, -74px);
                    @include animation (0.4s, 0.3s, fade-in, ease-out);
                }
                &.img-shopping {
                    width: 30%;
                    transform: translate(72%, -44%);
                    // max-width: 270px;
                    // transform: translate(193px, -124px);
                    @include animation (0.6s, 0.3s, fade-in, ease-out);
                }
                &.img-wallet {
                    width: 19.5%;
                    transform: translate(-14%, 11%);
                    // max-width: 175px;
                    // transform: translate(-25px, 17px);
                    @include animation (0.8s, 0.3s, fade-in, ease-out);
                }
            }

            .block-content {
                @include animation (1.1s, 0.4s, fade-in, ease-out);
            }

            .block-button {
                @include animation (1.4s, 0.2s, fade-in, ease-out);
            }
        }
    }

    #feels-q3 {
        &.active-data {          
            .img-animate {
                &.img-bear {
                    width: 13.9%;
                    transform: translate(71%, -103%);
                    // max-width: 125px;
                    // transform: translate(90px, -197px);
                    @include animation (0.2s, 0.3s, fade-in, ease-out);
                }
                &.img-bull {
                    width: 23.5%;
                    transform: translate(-34%, -93%);
                    // max-width: 210px;
                    // transform: translate(-71px, -208px);
                    @include animation (0.4s, 0.3s, fade-in, ease-out);
                }
                &.img-txt1 {    
                    width: 63.4%;
                    transform: translate(0, 25%);
                    // max-width: 570px;    
                    // transform: translate(0px, 16px);
                    @include animation (0.6s, 0.3s, fade-in, ease-out);
                }
                &.img-txt2 {   
                    width: 62.3%;
                    transform: translate(0, 72%);
                    // max-width: 560px;
                    // transform: translate(0px, 83px);
                    @include animation (0.8s, 0.3s, fade-in, ease-out);
                }
            }

            .block-content {
                @include animation (1.1s, 0.4s, fade-in, ease-out);
            }

            .block-button {
                @include animation (1.4s, 0.2s, fade-in, ease-out);
            }
        }
    }

    #feels-q4 {
        &.active-data {
            .block-image {
                height: 220px;

                @include mobile-mmedium {
                    height: 285px;
                }
                @include desktop-medium {
                    height: 370px;
                }
            }            
            .img-animate {
                &.img-txt1 {    
                    width: 39.5%;
                    transform: translate(-28%, -117%);
                    // max-width: 355px;
                    // transform: translate(-100px, -182px);
                    @include animation (0.2s, 0.3s, fade-in, ease-out);
                }
                &.img-ambulance {
                    width: 26.7%;
                    transform: translate(45%, -56%);
                    // max-width: 240px;
                    // transform: translate(108px, -81px);
                    @include animation (0.4s, 0.3s, fade-in, ease-out);
                }
                &.img-plaster {
                    width: 16.7%;
                    transform: translate(132%, -122%);
                    // max-width: 150px;
                    // transform: translate(199px, -182px);
                    @include animation (0.6s, 0.3s, fade-in, ease-out);
                }
                &.img-txt2 {    
                    width: 47.8%;
                    transform: translate(8%, 38%);
                    // max-width: 430px;
                    // transform: translate(34px, 50px);
                    @include animation (0.8s, 0.3s, fade-in, ease-out);
                }
            }

            .block-content {
                @include animation (1.1s, 0.4s, fade-in, ease-out);
            }

            .block-button {
                @include animation (1.4s, 0.2s, fade-in, ease-out);
            }
        }
    }

    #feels-q5 {
        &.active-data {
            .block-image {
                height: 220px;

                @include mobile-mmedium {
                    height: 380px;
                }
                @include tablet {
                    height: 370px;  
                }
            }            
            .img-animate {
                &.img-txt1 {      
                    width: 31%;
                    transform: translate(-24%, -153%); 
                    // max-width: 280px;
                    // transform: translate(-68px, -185px);
                    @include animation (0.2s, 0.3s, fade-in, ease-out);
                }
                &.img-work {
                    width: 27.8%;
                    transform: translate(32%, -56%);
                    // max-width: 250px;
                    // transform: translate(82px, -122px);
                    @include animation (0.4s, 0.3s, fade-in, ease-out);

                    @include desktop-small {
                        width: 22.8%;
                        transform: translate(32%, -62%);
                    }

                    @media (min-width:1360px) {
                        width: 27.8%;
                        transform: translate(32%, -56%);
                    }
                }
                &.img-coin {
                    width: 11.1%;
                    transform: translate(-111%, -37%);
                    // max-width: 100px;
                    // transform: translate(-112px, -49px);
                    @include animation (0.6s, 0.3s, fade-in, ease-out);

                    @include desktop-small {
                        width: 9%;
                        transform: translate(-124%, -49%);
                    }

                    @media (min-width:1360px) {
                        width: 11.1%;
                        transform: translate(-111%, -37%);
                    }
                }
                &.img-txt2 {    
                    width: 45.6%;
                    transform: translate(-1%, 103%);
                    // max-width: 410px;
                    // transform: translate(-3px, 90px);
                    @include animation (0.8s, 0.3s, fade-in, ease-out);

                    @include desktop-small {
                        transform: translate(-1%, 73%);
                    }

                    @media (min-width:1360px) {
                        transform: translate(-1%, 103%);
                    }
                }
            }
            
            .block-content {
                @include animation (1.1s, 0.4s, fade-in, ease-out);
            }

            .block-button {
                @include animation (1.4s, 0.2s, fade-in, ease-out);
            }
        }
    }

    #feels-q6 {
        &.active-data {
            .block-image {
                height: 220px;

                @include mobile-mmedium {
                    height: 380px;
                }
                @include tablet {
                    height: 370px;  
                }
            }            
            .img-animate {
                &.img-flymoney {
                    width: 11.2%;
                    transform: translate(-56%, -272%);
                    // max-width: 100px;
                    // transform: translate(-112px, -49px);
                    @include animation (0.2s, 0.3s, fade-in, ease-out);

                    // @include desktop-small {
                    //     width: 9%;
                    //     transform: translate(-124%, -49%);
                    // }

                    @media (min-width:1360px) {
                        width: 11.2%;
                        transform: translate(-56%, -272%);
                    }
                }
                &.img-map {
                    width: 19.8%;
                    transform: translate(31%, -171%);
                    // max-width: 250px;
                    // transform: translate(82px, -122px);
                    @include animation (0.4s, 0.3s, fade-in, ease-out);

                    // @include desktop-small {
                    //     width: 22.8%;
                    //     transform: translate(32%, -62%);
                    // }

                    @media (min-width:1360px) {
                        width: 19.8%;
                        transform: translate(31%, -171%);
                    }
                }
                &.img-txt1 {      
                    width: 47%;
                    transform: translate(0%, -47%);
                    // max-width: 280px;
                    // transform: translate(-68px, -185px);
                    @include animation (0.6s, 0.3s, fade-in, ease-out);
                }
                &.img-txt2 {    
                    width: 37.3%;
                    transform: translate(12%, 70%);
                    // max-width: 410px;
                    // transform: translate(-3px, 90px);
                    @include animation (0.8s, 0.3s, fade-in, ease-out);

                    // @include desktop-small {
                    //     transform: translate(-1%, 73%);
                    // }

                    @media (min-width:1360px) {
                        transform: translate(12%, 70%);
                    }
                }
            }
            
            .block-content {
                @include animation (1.1s, 0.4s, fade-in, ease-out);
            }

            .block-button {
                @include animation (1.4s, 0.2s, fade-in, ease-out);
            }
        }
    }

    #feels-q7 {
        &.active-data {
            .block-image {
                height: 240px;
                
                @include mobile-se {
                    height: 300px;
                }

                @include mobile-mmedium {
                    height: 445px;
                }

                @include tablet {
                    height: 380px;
                }
                @media (min-width:1360px) { 
                    height: 400px;
                }

                @include desktop-medium {
                    height: 370px;  
                }
            }            
            .img-animate {
                &.img-txt1 {   
                    width: 30%;
                    transform: translate(-34%, -403%);   

                    @include tablet {
                        transform: translate(-34%, -334%);    
                    }  

                    @include desktop-medium {
                        width: 32%;
                        transform: translate(-34%, -420%);
                    }
                    // max-width: 280px;
                    // transform: translate(-68px, -185px);
                    @include animation (0.2s, 0.3s, fade-in, ease-out);
                }
                &.img-travel {
                    width: 33%;
                    transform: translate(-7%, -53%);

                    @include tablet {
                        width: 29%;
                        transform: translate(-7%, -48%);
                    }

                    @include desktop-medium {
                        width: 35%;
                        transform: translate(-7%, -55%);
                    }

                    // max-width: 100px;
                    // transform: translate(-112px, -49px);
                    @include animation (0.4s, 0.3s, fade-in, ease-out);

                    // @include desktop-small {
                    //     width: 9%;
                    //     transform: translate(-124%, -49%);
                    // }
                }
                &.img-plane {
                    width: 14%;
                    transform: translate(102%, -190%);

                    @include tablet {
                        transform: translate(102%, -133%);
                    }

                    @include desktop-medium {
                        width: 16%;
                        transform: translate(102%, -188%);
                    }
                    // max-width: 250px;
                    // transform: translate(82px, -122px);
                    @include animation (0.6s, 0.3s, fade-in, ease-out);

                    // @include desktop-small {
                    //     width: 22.8%;
                    //     transform: translate(32%, -62%);
                    // }
                }
                &.img-txt2 {    
                    width: 46.3%;
                    transform: translate(4%, 65%);

                    @include tablet {
                        width: 44.3%;
                        transform: translate(4%, 54%);
                    }
                      
                    @include desktop-medium {
                        width: 48.3%;
                        transform: translate(4%, 58%);
                    }

                    // max-width: 410px;
                    // transform: translate(-3px, 90px);
                    @include animation (0.8s, 0.3s, fade-in, ease-out);

                    // @include desktop-small {
                    //     transform: translate(-1%, 73%);
                    // }
                }
            }
            
            .block-content {
                @include animation (1.1s, 0.4s, fade-in, ease-out);
            }

            .block-button {
                @include animation (1.4s, 0.2s, fade-in, ease-out);
            }
        }
    }

    #feels-q8 {
        &.active-data {
            .block-image {
                height: 220px;

                @include mobile-mmedium {
                    height: 380px;
                }
                @include tablet {
                    height: 370px;  
                }
            }            
            .img-animate {
                &.img-flymoney {
                    width: 11.2%;
                    transform: translate(-56%, -272%);
                    // max-width: 100px;
                    // transform: translate(-112px, -49px);
                    @include animation (0.6s, 0.3s, fade-in, ease-out);

                    // @include desktop-small {
                    //     width: 9%;
                    //     transform: translate(-124%, -49%);
                    // }

                    @media (min-width:1360px) {
                        width: 11.2%;
                        transform: translate(-56%, -272%);
                    }
                }
                &.img-map {
                    width: 19.8%;
                    transform: translate(31%, -171%);
                    // max-width: 250px;
                    // transform: translate(82px, -122px);
                    @include animation (0.4s, 0.3s, fade-in, ease-out);

                    // @include desktop-small {
                    //     width: 22.8%;
                    //     transform: translate(32%, -62%);
                    // }

                    @media (min-width:1360px) {
                        width: 19.8%;
                        transform: translate(31%, -171%);
                    }
                }
                &.img-txt1 {      
                    width: 47%;
                    transform: translate(0%, -47%);
                    // max-width: 280px;
                    // transform: translate(-68px, -185px);
                    @include animation (0.2s, 0.3s, fade-in, ease-out);
                }
                &.img-txt2 {    
                    width: 37.3%;
                    transform: translate(12%, 70%);
                    // max-width: 410px;
                    // transform: translate(-3px, 90px);
                    @include animation (0.8s, 0.3s, fade-in, ease-out);

                    // @include desktop-small {
                    //     transform: translate(-1%, 73%);
                    // }

                    @media (min-width:1360px) {
                        transform: translate(12%, 70%);
                    }
                }
            }
            
            .block-content {
                @include animation (1.1s, 0.4s, fade-in, ease-out);
            }

            .block-button {
                @include animation (1.4s, 0.2s, fade-in, ease-out);
            }
        }
    }

    #feels-form-wrapper {
        &.active-data {
            .block-image {
                top: 7px;
                height: 56px;
                width: 130%;
                left: -15%;

                @include mobile-mmedium {
                    top: auto;
                    height: 145px;
                }

                @include tablet {
                    height: 140px;
                    width: 100%;
                    left: auto;
                }
            }            
            .img-animate {
                &.img-prize {           
                    width: 28.8%;
                    min-width: 144px;
                    transform: translate(50%, -74%) rotate(5deg);                
                    // max-width: 260px;
                    // transform: translate(130px, -142px);
                    @include animation (0.2s, 0.3s, fade-in, ease-out);

                    @include mobile-mmedium {
                        min-width: 190px;
                    }
                }
                // &.img-enter {
                //     width: 46.5%;
                //     transform: translate(-1%, -33%);
                //     // max-width: 400px;
                //     // transform: translate(-54px, -50px);
                //     @include animation (0.4s, 0.3s, fade-in, ease-out);
                // }
            }

            .block-content {
                @include animation (0.5s, 0.4s, fade-in, ease-out);
            }

            .block-terms {
                @include animation (0.8s, 0.2s, fade-in, ease-out);
            }

            .block-button {
                @include animation (1s, 0.2s, fade-in, ease-out);
            }
        }
    }

    #feels-share-result {
        &.active-data {
            .block-content {
                &.block-content-white {
                    @include animation (0.2s, 0.4s, fade-in, ease-out);
                }
                &.block-content-pink {
                    @include animation (0.5s, 0.4s, fade-in, ease-out);
                }
            }
        }
    }
}