.page-name-share-your-feels {
    background: linear-gradient(216.99deg, #FCC457 0%, #5CD790 100%) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    height: 100vh;
    margin-top: 60px;

    @include mobile-mmedium {
        margin-top: 80px;
    }

    @include tablet-small {
        margin-top: 30px;
    }

    @include tablet {
        margin-top: 15px;
    }
    
    @include desktop-medium {
        margin-top: 0;
    }
    
    #loadingsyf {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 100;
        width: 80px;
        height: 80px;
        background-image: url("../images/icon/loading.gif");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;

        @include tablet-small {
            transform: translatey(-50%);
        }
        
        // @include desktop-small {
        //     left: calc(50% + 180px);
        // }

        @include desktop-medium {
            left: calc(50% - 4%);
        }
    }

    .page-content {
        height: 100%;
        height: 100vh;
    }

    // aside .first-level-menu .first-level-menu-details {
    //     border-bottom: 1px solid #F2F2F2;
    //     padding-right: 30px;
        
    //     .first-level-menu-details-title {
    //         font-size: 26px;	
    //         font-weight: 600;	
    //         line-height: 31px;
    //         text-transform: capitalize;
    //     }

    //     h5 {
    //         display: none;
    //     }
    // }

    // header {
    //     .sticky-header-desktop { 
    //         display: none;
    //         @include desktop-small {
    //             width: 280px;
    //             left: 80px;
    //             box-shadow: none;
    //             border-right: 1px solid #f5f5f5;
    //             border-bottom: 1px solid #F2F2F2;
    //         }
    //     }
    // }

    main {
        background: transparent;
        overflow-x: inherit;
        .section-wrapper {
            border-bottom: none;
            padding-top: 10px;

            @include tablet-small {
                padding-top: 80px;
            }

            @include tablet {
                padding-top: 120px;
            }

        }
    }

    .tab-agent-info {
        position: absolute;
        width: 100%;
        max-width: 300px;
        z-index: 1;

        .contact-box {
            background: transparent;
            display: block !important;
            box-shadow: none;
            margin-top: 10px;

            .box-user {
                &:before {
                    display: none;
                }

                .box-user-img {
                    width: 64px;
                    padding-right: 10px;
                    padding-left: 0;

                    .user-image-holder {
                        width: 54px;
                        height: 54px;
                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
                    }
                }

                .box-user-name {
                    padding-left: 0;
                    position: absolute;
                    left: 78px;
                    top: 50%;
                    transform: translateY(-50%);

                    @include desktop-small {
                        max-width: 195px;
                    }

                    @include desktop-medium {
                        max-width: none;
                    }

                    h2 {
                        color: #fff;
                        text-shadow: -7px 7px 18px 0 rgba(114,76,0,0.5);
                        margin-bottom: 0;
                        font-size: 12px;	
                        font-weight: 600;	
                        line-height: 15px;
                    }

                    p {
                        color: #fff;	
                        font-size: 10px;
                        line-height: 13px;
                        font-weight: 600;		
                        text-shadow: -7px 7px 18px 0 rgba(114,76,0,0.5);
                    }

                    @include mobile-mmedium {
                        left: 88px;

                        h2 {
                            font-size: 16px;
                            line-height: 20px;
                        }

                        p {
                            font-size: 12px;
                            line-height: 15px;
                        }
                    }
                }
            }
        }
    }
}

.tab-slider {
    .tab-container {
        width: 100%;
        margin: auto;
        position: relative;
        .tab-menu {
            padding: 0;
            list-style: none;
            display: flex;
            margin: 0;
            width: 100%;

            li {
                width: 11.111111%;

                .mover-line {
                    height: 3px;
                    width: calc(100% - 4px);
                    display: inline-block;
                    border:2px solid rgba(66, 69, 89, 0.2);
                    border-radius: 2.5px;
                    outline:none;

                    @include mobile-mmedium {
                        width: calc(100% - 10px);
                        height: 5px;
                        border:3px solid rgba(66, 69, 89, 0.2);
                    }
                }

                &.active {
                    .mover-line {
                        border-color: #fff;
                    }
                }

                // &.active-tab + .done-tab {
                //     .mover-line {
                //         border-color: #D1A248;
                //     }
                // }

                &.disable-tab {
                    pointer-events:none;
                }
            }
        }
    }
    .tabs-contain-details {
        position: relative;
    }
    .tab-data {
        margin: 30px -15px 0;
        position: relative;
        overflow: hidden;

        @include mobile-mmedium {
            margin: 30px 0 0;
        }

        @include desktop-small {
            margin-top: 20px;
        }

        @media (min-width:1360px) {
            margin-top: 30px;
        }

        .data-content {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            opacity: 0;
            visibility: hidden;
            bottom: 0;
            z-index: -1;
            // transition: 500ms all;

            &.active-data {
                z-index: 1;
                visibility: visible;
            }

            &:first-child {
                opacity: 1;
                visibility: visible;
                position: relative;
            }
        }
    }
    
    .tab-data-wrap {
        transition: 500ms all;
        transform: translate3d(0,0,0);

        .block-wrapper {
            width: 100%;
            text-align: center;

            .block-image {
                margin: auto;
                margin-top: 20px;
                position: relative;
                z-index: 10;    
                width: 132%;
                left: -16%;

                @include mobile-se {
                    margin-top: 50px;
                }

                @include mobile-mmedium {
                    margin-top: auto;
                    width: 100%;
                    left: 0;
                }

                @include tablet {
                    width: 65%;
                }

                @include desktop-medium {
                    width: 100%;
                }
            }
        }

        .block-content-wrapper {
            max-width: 300px;
            margin: auto;
            width: 90%;
            text-align: center;

            @include mobile-mmedium {
                max-width: 500px;
            }

            @include desktop-medium {
                max-width: 566px;
            }
        }

        .block-content {
            background: #fff;
            padding: 24px 20px 20px;
            border-radius: 18px;	
            box-shadow: 0 0 8px 3px rgba(136,136,136,0.48);
            margin-bottom: 10px;
            margin-top: -30px;

            @include mobile-se {
                margin-top: -2px;
            }

            @include mobile-mmedium {
                padding: 40px 70px;
                padding-bottom: 15px;
                margin-top: -40px;
            }

            @include tablet {
                margin-top: -35px;
            }

            h6 {
                font-size: 16px;	
                font-weight: 600;	
                letter-spacing: -0.43px;	
                line-height: 19px;
                margin-top: 16px;

                strong {
                    font-weight: bolder;
                }

                @include mobile-mmedium {
                    font-size: 16px;	
                    letter-spacing: -0.48px;	
                    line-height: 21px;
                    margin-top: 20px;
                }

                @include desktop-medium {
                    font-size: 18px;		
                    line-height: 23px;
                }
                

                &:first-child {
                    margin-top: 0;
                }
            }

            h5 {
                font-size: 16px;	
                font-weight: 600;	
                letter-spacing: -0.53px;	
                line-height: 20px;

                @include mobile-mmedium {
                    font-size: 22px;	
                    letter-spacing: -0.8px;	
                    line-height: 27px;
                }

                @include desktop-medium {
                    font-size: 30px;	
                    line-height: 37px;
                }
            }

            p {
                .small-text {
                    font-size: 10px;
                    line-height: 12px;
                    font-style: normal;
                }
            }
        }

        .block-button {
            position: relative;
            z-index: 11;
        }

        .block-form {
            margin-top: 10px;

            @include mobile-mmedium {
                margin-top: 15px;
            }

            .form-field {
                margin-bottom: 10px;

                @include mobile-mmedium {
                    margin-bottom: 15px;
                }

                input {
                    height: 45px;
                    border-radius: 7px;	
                    background-color: #EDEEF1;
                    padding: 10px 16px;
                    font-size: 14px;	
                    font-weight: 600;	
                    letter-spacing: -0.35px;	
                    line-height: 17px;

                    @include mobile-mmedium {
                        height: 50px;
                    }
                }
                
                .form-field-inner {
                    &.input-error {
                        border-radius: 7px;

                        input {
                            border: 1px solid #FF5656;
                        }

                        &:after {
                            content:"\f06a";
                            font: normal normal normal 16px/1 FontAwesome;
                            position: absolute;
                            right: 20px;
                            top: 15px;
                            color: #FF5656;

                            @include mobile-mmedium {
                                top: 18px;
                            }
                        }

                        > .error-label {
                            top: 0;
                            margin-top: 3px;
                            display: block;    
                            position: relative;
                            background: transparent;
                            color: #f8453c;
                            box-shadow: none;
                            padding-top: 5px;
                            font-size: 12px;
                            line-height: 14px;

                            &::before {
                                display: none;
                            }

                            @include mobile-mmedium {
                                padding-top: 2px;
                                font-size: 13px;
                            }
                        }
                    }
                }
            }

            .news-latter-opt-option {
                padding-bottom: 8px;

                .container {
                    @media (max-width:599px){
                        font-size: 10px;
                        line-height: 14px;
                    }
                }

                .error-label {
                    display: none;
                }

                label {
                    &.input-error {
                        color: #FF5656;

                        .checkmark {
                            border: 1px solid #FF5656;
                        }

                        > .error-label {                            
                            width: calc(100% - 15px);
                            display: block;
                            position: relative;
                            color: #f8453c;
                            padding-top: 5px;
                            font-size: 12px;
                            line-height: 14px;

                            @include mobile-mmedium {
                                padding-top: 2px;
                                font-size: 13px;
                            }

                            &:after {
                                content:"\f06a";
                                font: normal normal normal 16px/1 FontAwesome;
                                position: absolute;
                                right: 0;
                                top: 50%;
                                transform: translateY(-40%);
                                color: #FF5656;
                            }
                        }
                    }

                    span {
                        font-style: normal;
                    }
                }
            }

            .form-field-phone input {
                width: 100%;
                margin-left: 0;
            }

            .news-latter-opt-option {
                strong {
                    font-weight: bold;
                }
            }

            .submission-error {
                display: none;
                p {
                    margin-left: 19px;
                    text-align: left !important;
                    color: #FF5656;
                    padding: 3px;
                    line-height: 18px !important;
                    font-size: 13px !important;
                }
            }

            .show-double + .unable-submit {
                display: none !important;
            }
        }
    }

    #feels-landing {
        .tab-data-wrap {
            .block-wrapper {
                .block-image {
                    margin-top: -15px;

                    @include mobile-se {
                        margin-top: 15px;
                    }

                    @media (min-width:450px){
                        margin-top: 30px;
                    }

                    @include mobile-mmedium {
                        margin-top: 0;
                        width: 100%;
                    }

                    @include tablet {
                        margin-top: -10px;
                        width: 80%;
                    }
                    @include desktop-small {
                        margin-top: 5px;
                    }
                    @media (min-width:1360px){
                        margin-top: 0;
                    }
                    @include desktop-medium {
                        width: 100%;
                    }
                }
            }
            .block-content {
                margin-top: -75px;

                @include mobile-se {
                    margin-top: -45px;
                }

                @media (min-width:450px){
                    margin-top: -85px;
                }
                @include mobile-mmedium {
                    margin-top: -82px;
                    padding-top: 35px;
                    padding-bottom: 35px;
                }

                @include tablet {
                    margin-top: -92px;
                    padding-bottom: 30px;
                }

                @media (min-width:1360px){
                    margin-top: -80px;
                }

                @include desktop-medium {
                    margin-top: -107px;
                }
            }
            .block-terms {
                margin-top: 0;
                p {
                    top: 0;
                    text-align: center;
                }
            }
        }
    }

    #feels-landing {
        .block-image {
            height: 300px;
            
            @media (min-width:450px){
                height: 355px;
            }

            @include mobile-mmedium {
                height: 415px;
            }

            @include desktop-medium {
                height: 495px;
            }
        }
        .img-animate {
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            margin: auto;
            transform: translateY(-50%);

            &.img-txt {
                width: 63%;
                transform: none;
                @include tablet {
                    width: 53%;
                }
            }

            &.img-rainbow {
                width: 27.3%;
                transform: translate(-30%, -67%);
            }

            &.img-building {
                width: 33.5%;
                transform: translate(60%, -82%) scale(1);
            }

            &.img-oldman {
                width: 12%;
                transform: translate(-59%,-62%);
            }

            &.img-car {
                width: 23.4%;
                transform: translate(33%, -57%);
            }

            &.img-money {
                width: 28.8%;
                transform: translate(-84%, -67%);
            }

            &.img-card {
                width: 13%;
                transform: translate(57%, -133%);
            }

            &.emoji-f {
                width: 7.5%;
                transform: translate(223%, -182%) rotate(-19deg);
            }

            &.emoji-fr {
                width: 11%;
                transform: translate(-255%, -203%) rotate(5deg);
            }
        }
    }

    #feels-how-to-play {
        .tab-data-wrap {
            .block-wrapper {
                .block-image {
                    margin-top: 0;
                    @include mobile-se {
                        margin-top: 30px;
                    }

                    @include mobile-mmedium {
                        margin-top: 45px;
                    }

                    @include tablet {
                        width: 70%;
                    }
                    
                    @include desktop-small { 
                        margin-top: 15px;
                    }

                    @media (min-width:1360px){ 
                        margin-top: 3px;
                    }

                    @include desktop-medium {
                        width: 100%;
                    }
                }
            }

            .block-content {
                margin-top: -42px;
                padding-bottom: 5px;

                @include mobile-se {
                    margin-top: -15px;
                }

                @media (min-width:450px){
                    margin-top: -25px;
                }

                @include mobile-mmedium {
                    margin-top: -38px;
                }

                @include tablet {
                    margin-top: -28px;
                }                

                @include desktop-medium {
                    margin-top: -38px;
                }
                
                .block-range-slider {
                    margin-bottom: 0;
                    @include mobile-mmedium {
                        margin-top: 5px;
                    }

                    @include desktop-medium {
                        margin-top: 15px;
                    }
                    .range-slider-img {
                        @include desktop-small {
                            margin-top: -10px;
                        }

                        @include desktop-medium {
                            margin-top: 0;
                        }

                        img {
                            width: 120%;
                            max-width: none;
                            left: -10%;
                            position: relative;
                        }
                    }
                    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
                        .range-slider:after {
                            display: none;
                        }
                    }

                    @supports (-ms-ime-align:auto) {
                        .range-slider:after {
                            display: none;
                        }
                    }
                }
            }
        }
    }    

    #feels-q2, #feels-q4 {
        .tab-data-wrap {
            .block-wrapper {
                .block-image {
                    @include tablet-small { 
                        margin-top: 15px;
                    }
                    @include desktop-small {
                        margin-top: 30px;
                    }

                    @media (min-width:1360px){ 
                        margin-top: 15px;
                    }
                    @include desktop-medium { 
                        margin-top: 35px;
                    }
                }
            }
        }
    }

    #feels-q3 {
        .tab-data-wrap {
            .block-wrapper {
                .block-image {
                    @include tablet-small { 
                        margin-top: 25px;
                    }

                    @include tablet { 
                        margin-top: 10px;
                    }

                    @include desktop-medium { 
                        margin-top: 20px;
                    }
                }
            }
        }
    }

    #feels-q5 {
        .tab-data-wrap {
            .block-wrapper {
                .block-image {
                    width: 142%;
                    left: -21%;
                    @include tablet-small {
                        margin-top: 30px;
                    }

                    @include tablet {
                        margin-top: -15px;
                        width: 80%;
                        left: auto;
                    }

                    @include desktop-medium {
                        margin-top: 30px;
                        width: 100%;
                    }
                }
            } 
            .block-content { 
                @include tablet-small {
                    margin-top: -30px;
                }

                @include tablet {
                    margin-top: -60px;
                }

                @include desktop-small {
                    margin-top: -85px;
                }

                @media (min-width:1360px) { 
                    margin-top: -45px;
                }

                @include desktop-medium {
                    margin-top: -30px;
                }
            }
        }
    }
    #feels-q6, #feels-q8 {
        .tab-data-wrap {
            .block-wrapper {
                .block-image {
                    width: 142%;
                    left: -21%;

                    @include mobile-mmedium {
                        margin-top: 20px;
                    }

                    @include tablet-small {
                        margin-top: 30px;
                    }

                    @include tablet {
                        margin-top: -15px;
                        width: 80%;
                        left: auto;
                    }

                    @include desktop-medium {
                        margin-top: 30px;
                        width: 100%;
                    }
                }
            } 
            .block-content { 
                @include tablet-small {
                    margin-top: -30px;
                }

                @include tablet {
                    margin-top: -60px;
                }

                @include desktop-small {
                    margin-top: -70px;
                }

                @media (min-width:1360px) { 
                    margin-top: -45px;
                }

                @include desktop-medium {
                    margin-top: -30px;
                }
            }
        }
    }
    #feels-q7 {
        .tab-data-wrap {
            .block-wrapper {
                .block-image {
                    width: 142%;
                    left: -21%;
                    margin-top: 28px;
                    
                    @include mobile-mmedium {
                        margin-top: 20px;
                    }

                    @include tablet-small {
                        margin-top: 30px;
                    }

                    @include tablet {
                        margin-top: -30px;
                        width: 80%;
                        left: auto;
                    }

                    @media (min-width:1360px) { 
                        margin-top: 0;
                    }

                    @include desktop-medium {
                        margin-top: 30px;
                        width: 72%;
                    }
                }
            } 
            .block-content { 
                margin-top: -25px;

                @include tablet {
                    margin-top: -60px;
                }

                @include desktop-small {
                    margin-top: -46px;
                }

                @media (min-width:1360px) { 
                    margin-top: -45px;
                }

                @include desktop-medium {
                    margin-top: -30px;
                }
            }
        }
    }
    #feels-form-wrapper {
        .tab-data-wrap {
            .block-wrapper {
                .block-image {
                    margin-top: 30px;

                    @include mobile-mmedium {
                        margin-top: 20px;
                    }

                    @include tablet {
                        margin-top: 10px;
                    }

                    @include desktop-medium {
                        margin-top: 20px;
                    }
                }
            }
            
            .block-content-wrapper {
                @include mobile-mmedium {
                    max-width: 460px;
                }
            }
            .block-content {
                text-align: left;
                margin-top: -25px;
                padding-bottom: 8px;

                @include mobile-mmedium {
                    padding: 50px 20px;
                    margin-top: -59px;  
                    padding-bottom: 15px;              
                }
                @include desktop-small {
                    padding-top: 30px;
                }

                h5 {	
                    text-align: center;
                    font-size: 15px;	
                    font-weight: 600;	
                    letter-spacing: -0.63px;	
                    line-height: 20px;
                    margin-bottom: 5px;
                    @include mobile-mmedium {
                        font-size: 22px;	
                        letter-spacing: -0.76px;	
                        line-height: 27px;
                        margin-bottom: 10px;
                    }
                }

                p {
                    text-align: center;
                    font-size: 12px;	
                    letter-spacing: -0.2px;	
                    line-height: 17px;

                    @include mobile-mmedium {
                        letter-spacing: 0.25px;
                        font-size: 16px;
                        line-height: 24px;
                    }
                }
            }
            .block-terms {
                margin-top: 0;
                p {
                    top: 0;
                    text-align: center;
                }
            }
        }
    }

    #feels-share-result {
        .tab-data-wrap {
            .block-wrapper {
                .block-image {
                    margin-top: 90px;
                }
            }
            
            .block-content-wrapper {
                @include mobile-mmedium {
                    width: 420px;
                }
            }
            .block-content {
                margin-top: 43px;
                padding: 20px 20px;

                @include mobile-mmedium { 
                    margin-top: 47px;
                    padding: 30px 70px;
                    padding-bottom: 40px;
                }

                @include desktop-small {
                    margin-top: 10px;
                }
                @media (min-width:1360px) {
                    margin-top: 47px;
                }

                .block-button {
                    opacity: 1;
                    visibility: visible;
                }
                
                h5 {	
                    font-size: 16px;	
                    font-weight: 600;	
                    letter-spacing: -0.63px;	
                    line-height: 20px;

                    @include mobile-mmedium {
                        font-size: 20px;	
                        letter-spacing: -0.76px;	
                        line-height: 22px;
                    }
                    .result-score {
                        font-style: normal;
                        display: none;
                    }
                }

                p {
                    font-size: 12px;	
                    letter-spacing: -0.17px;	
                    line-height: 17px;
                    @include mobile-mmedium {
                        font-size: 14px;	
                        line-height: 18px;
                    }
                }

                .block-image {
                    margin: 15px auto;

                    @include mobile-mmedium {
                        margin: 20px auto;
                    }

                    img {
                        width: 65%;

                        @include mobile-mmedium {
                            width: 85%;
                        }
                    }
                }

                .block-button {
                    margin-top: 10px;

                    .share-result-button {
                        margin-top: 5px;
                    }
                    @include mobile-mmedium {
                        margin-top: 20px;
                        margin-bottom: 0;
                    }
                    .button-blue {
                        height: 50px;
                        padding: 15px 30px;
                        padding-left: 55px;
                        border-radius: 30px;
                        position: relative;
                        z-index: 1;
                        background-color: #3C5A99;
                        color: #fff;
                        font-size: 18px;	
                        letter-spacing: -0.2px;	
                        line-height: 23px;

                        &:before {
                            content:"\f082";
                            font: normal normal normal 20px/1 FontAwesome;
                            position: absolute;
                            left: 30px;
                            top: 50%;
                            transform: translateY(-50%);
                            color: #fff;
                        }

                        &:hover {
                            background: $redColor;
                        }
                    }

                    .button-white {
                        height: 50px;
                        padding: 15px 30px;
                        border-radius: 30px;
                        font-size: 18px;	
                        letter-spacing: -0.2px;	
                        line-height: 23px;
                    }
                }

                &.block-content-pink {
                    padding: 20px 30px;
                    margin-top: 10px;
                    margin-bottom: 95px;
                    // background: $redColor;
                    position: relative;
                    @include mobile-mmedium {
                        padding: 30px 50px;
                        margin-top: 20px;
                    }
                    
                    .block-image {
                        position: absolute;

                        img {
                            max-width: 84px;
                            width: auto;

                            @include mobile-mmedium {
                                max-width: 110px;
                                width: auto;
                            }
                        }
                    }

                    .block-button {
                        margin-top: 8px;
                    }

                    #form-sign-me-up {
                        .form-field {
                            display: none;
                        }
                        .block-image {
                            right: -15px;
                            bottom: -32px;
                        }
                    }

                    #form-sign-me-up-thankyou {
                        display: none;
                        padding-bottom: 30px;
                        @include mobile-mmedium {
                            padding-bottom: 50px;
                        }

                        .block-image {
                            left: 0;
                            right: 0;
                            margin-top: 10px;
                        }
                    }
                }
            }
        }
    }
    .block-info {
        position: relative;
        z-index: 11;
        margin-top: 10px;
        text-align: right;

        @include mobile-mmedium {
            margin-top: 20px;
        }

        @include desktop-medium {
            margin-top: 40px;
        }

        p {    
            position: relative;
            top: 25px;
            text-align: left;
            font-size: 10px;	
            line-height: 12px;

            a {
                color: $darkGrayColor;
            }
        }

        .button-white {
            height: 50px;
            padding: 15px 20px;
            padding-right: 40px;
            border-radius: 30px;
            position: relative;
            z-index: 1;

            i.arrow-icon {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 20px;
                width: 11px;
                height: 21px;

                &:before, &:after {
                    content:"";
                    width: 2px;
                    height: 11px;
                    position: absolute;
                    background: $grayColor;
                    transform: rotate(-45deg);
                }

                &:after {
                    transform: rotate(45deg);
                    bottom: 2px;
                }
            }

            &:hover {
                background: $redColor;
                i.arrow-icon {
                    &:before, &:after {
                        background: #fff;
                    }
                }
            }

            &.disable-btn {
                pointer-events: none;
                opacity: 0.5;
            }
        }
    }
}
.block-range-slider { 
    max-width: 231px;
    margin: 5px auto 25px;
    
    @include mobile-mmedium {
        max-width: none;
        margin: 15px auto 50px;
    }

    @include tablet {
        margin-top: 0;
        margin-bottom: 35px;
    }

    @include desktop-medium {
        margin-top: 15px;
        margin-bottom: 50px;
    }

    .range-slider {
        width: 100%;
        position: relative;

        .range-slider__range {
            -webkit-appearance: none;                
            width: 100%;
            height: 3px;
            border-radius: 1.5px;
            background-image: linear-gradient(90deg, #FF7769 0%, #5CD790 100%);
            outline: none;
            border: 0;
            padding: 0;
            margin: 0;
            padding-left: 13px;
            position: relative;
            z-index: 1;
            cursor: pointer;

            @include mobile-mmedium {
                padding-left: 24px;
                height: 6px;
            }
            // Range Handle
            &::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                width: 30px;
                height: 30px;
                background: url("../images/campaigns/share-your-feels/HandCursor.png") no-repeat;
                background-size: contain;
                border: 0 !important;
                cursor: pointer;
                // &:hover {

                // }

                @include mobile-mmedium {
                    width: 55px;
                    height: 55px;
                }
                
            }

            // &:active::-webkit-slider-thumb {
            //     background: $range-handle-color-hover;
            // }

            &::-moz-range-thumb {
                width: 30px;
                height: 30px;
                background: url("../images/campaigns/share-your-feels/HandCursor.png") no-repeat;
                background-size: contain;
                cursor: pointer;
                border: 0 !important;

                // &:hover {
                // background: $range-handle-color-hover;
                // }
                @include mobile-mmedium {
                    width: 55px;
                    height: 55px;
                }
            }

            // &:active::-moz-range-thumb {
            //     background: $range-handle-color-hover;
            // }
            &::-ms-track {
                -webkit-appearance: none; 
                overflow: auto;               
                width: 100%;
                height: 3px;
                border-radius: 1.5px;
                background-image: linear-gradient(90deg, #FF7769 0%, #5CD790 100%);
                outline: none;
                border: 0;
                padding: 0;
                margin: 0;
                padding-left: 13px;
                position: relative;
                z-index: 1;
                opacity: 0;
            }

            &::-ms-thumb {
                -webkit-appearance: none;
                appearance: none;
                width: 30px;
                height: 30px;
                border: 0 !important;
                background: url("../images/campaigns/share-your-feels/HandCursor.png") no-repeat;
                background-size: contain;
                cursor: pointer;
                // &:hover {

                // }

                @include mobile-mmedium {
                    width: 55px;
                    height: 55px;
                }
                
            }

            &::-ms-tooltip {
                opacity: 0;
                display: none;
            }

            &::-ms-ticks {
                opacity: 0;
                display: none;
            }

            &::-ms-ticks-after,
            &::-ms-ticks-before {
                opacity: 0;
                display: none;
            }

            // Focus state
            // &:focus {
                
            //     &::-webkit-slider-thumb {
            //     box-shadow: 0 0 0 3px $shade-0,
            //                 0 0 0 6px $teal;
            //     }
            // }
        }
        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
            &:after {
                content:"";
                position: absolute;
                width: 100%;
                height: 6px;
                border-radius: 1.5px;
                background-image: linear-gradient(90deg, #FF7769 0%, #5CD790 100%);
                left: 0;
                bottom: 47px;
            }

            .range-slider__range {
                background: transparent;
                background-image: transparent;
                height: 55px;
                top: -23px;
            }
        }

        @supports (-ms-ime-align:auto) {
            &:after {
                content:"";
                position: absolute;
                width: 100%;
                height: 6px;
                border-radius: 1.5px;
                background-image: linear-gradient(90deg, #FF7769 0%, #5CD790 100%);
                left: 0;
                bottom: 47px;
            }

            .range-slider__range {
                background: transparent;
                background-image: transparent;
                height: 55px;
                top: -23px;
            }
        }
        // Range Label
        .range-slider__value {
            display: none;
            // display: inline-block;
            position: relative;
            width: 50px;
            color: white;
            line-height: 20px;
            text-align: center;
            border-radius: 3px;
            background: #000;
            padding: 5px 10px;
            margin-left: 8px;

            &:after {
                position: absolute;
                top: 8px;
                left: -7px;
                width: 0;
                height: 0;
                border-top: 7px solid transparent;
                border-right: 7px solid #000;
                border-bottom: 7px solid transparent;
                content: '';
            }
        }

        // Firefox Overrides
        ::-moz-range-track {
            // background: $range-track-color;
            border: 0;
        }

        input::-moz-focus-inner,
        input::-moz-focus-outer { 
            border: 0; 
        }

        input:active, input:focus {
            border: 0;
        }
    }

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        margin-bottom: 10px;
    }

    @supports (-ms-ime-align:auto) {
        margin-bottom: 10px;
    }

    .emoji-img {
        display: inline-block;
        width: 20%;
        cursor: pointer;
        float: left;
        margin-bottom: 5px;
        position: relative;
        height: 48px;

        img {
            width: 28px;
            height: auto;
            position: absolute;
            left: 0;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            margin: auto;
            transition: all 0.3s;
        }

        &.selected-emoji img {
            width: 48px;
            height: auto;
        }
        @include mobile-mmedium {
            height: 84px;
            margin-bottom: 10px;

            img {
                width: 48px;
            }

            &.selected-emoji img {
                width: 82px;
            }
        }
    }
}

.dragme {
    color: #00bf66;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    text-align: center;
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -22px;
    bottom: -34px;
    
    @include mobile-mmedium {
        bottom: -50px;
        font-size: 16px;
        line-height: 20px;
    }

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        bottom: -8px;
    }

    @supports (-ms-ime-align:auto) {
        bottom: -8px;
    }
}