#tale-of-gift-form {
  .block-term {
    margin-top: 10px;

    p {
      margin-top: 0;
    }
  }

  .tale-gift-title-wrapper {
    .block-button {
      margin-top: 30px;
    }
  }

  .block-questions {
    margin: 0;
  }

  .question-item {
    transition: all 0.3s;
    border: none;
    padding-left: 0;
    
    &:first-child {
      display: none;
    }

    &.status-active {
      display: block;
      &::before {
        display: none;
      }
    }
    @include mobile-mmedium-and-tablet-only {
      .question-img-title {
        margin-left: 10px;
      }
    }

    .title {
      margin-top: 28px;
      font-size: 18px;
      line-height: 26px;
    }

    &.status-activated {
      display: none !important;
    }
    .answer {
      margin-top: 15px;
    }
    .answer-type-round {
      .answer-option {
        &:hover {
          span {
            opacity: 1;
          }
          &:before {
            border: 2px solid $greenColor;
            opacity: 1;
          }
          
          &:after {
            content: '';
            display: inline-block;
            height: 10px;
            width: 13px;
            position: absolute;
            top: 12px;
            left: 9px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url('../images/icon/icon-v-active.svg');
          }
        }
      }
    }
  }
  .result-score-mark, 
  .result-score-number {
    display: none;
  }

  .wrapper-quiz-form {
    .block-quiz-result {
      .result-score {
        margin-bottom: 5px;
      }

      .block-button {
        margin-top: 5px;
        display: none;
        margin-bottom: 20px;

        .block-disclaimer {
          font-style: italic;
        }
      }
    }
    .result-score-image {
      @include mobile-mmedium-only {
        margin: auto;
        width: 120px;
      }
    }
    .result-score-title {
      margin-top: 20px;

      @include mobile-mmedium-only {
        margin-top: 10px;
        margin-left: 0;
        display: block;
        width: 100%;
        text-align: center;
      }
    }
    .result-score-text {
      margin-top: 0;
    }

    input {
      background-color: #fff;
    }
    .block-form {
      .block-term {
        margin-top: 0;
        margin-bottom: 20px;
      }
    }
  }
  .form-survey {
    .submission-error, .multiplesubmission {
      display: none;
      margin-top: 15px;
      text-align: left !important;
      color: #FF5656;
      padding: 3px;
      line-height: 18px !important;
      font-size: 13px !important;
    }
  
    .disable-btn {
      pointer-events: none;
      opacity: 0.5;
    }
  }

  .block-thank {
    .title {
      margin-top: 0;
    }

    .subtitle {
      font-weight: 400;
    }
  }

  .status-hidden {
    display: none;
  }

  .block-share-button {
    margin-top: 20px;
    .block-text {
      margin-bottom: 20px;
    }

    .subtitle {
      font-weight: 400;
    }
  }

  .question-item .answer-type-round .answer-option {
    width: 100%;
    margin-bottom: 15px;
  }
}
