.banner-worldcup {
  display: inline-block;
  width: 280px;
  background-color: #fff;
  //background-image: url('../images/cover/manulif-quize-banner.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 15px;
  position: relative;
  box-shadow: 1px 1px 5px rgba(0,0,0, 0.2);
  left: 50%;
  margin-left: -142px;
  margin-bottom: 30px;
  @include tablet {
    margin-left: 15px;
    position: fixed;
    top: 300px;
    left: 60px;
    z-index: 999;
  }
  .banner-inner{
    background-color: #fff;
  }
  .button-close-banner {
    display: inline-block;
    position: absolute;
    right:10px;
    top:5px;
    width: 16px;
    height: 16px;
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
    background-image: url('../images/cover/worldcup/icon-close.svg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .banner-text {
    color: #000;
    font-size: 16px;
    text-align: center;
    max-width: 200px;
    margin: 0 auto;
    line-height: 24px;
    font-weight: 600;
    margin-top: 10px;
    span {
      font-family: $secondaryFont;
      font-style: italic;
      font-weight: 700;
    }
  }
  
  .button {
    width: 125px;
    font-size: 18px;
    border-radius: 5px;
    padding: 10px;
    display: block;
    margin: 20px auto;
  }
}

.page-type-worldcup {
  
  .block-back-button {
    display: block;
    position: absolute;
    
    border: none;
    z-index: 7777;
    bottom: -18px;
    left: 6px;
    &:after {
      content: none;
    }
    @include tablet-small {
      top: 20px;
      left: 20px;
      bottom: inherit;
    }
    @include desktop-small {
      top: 30px;
      left: 30px;
    }
    
  }
  
  .section-worldcup-info {
    margin-top: 30px;
    @include desktop-medium {
      margin-top: 0;
    }
  }
  .section-form-worldcup {
    margin-top: 0;
  }
  
  main {
    padding-bottom: 60px;
    border-bottom: 10px solid $greenColor;
    
    .banner-top-caption {
      
      top: 5%;
      transform: translateY(0);
      @include tablet-small {
        top: 30%;
        transform: translateY(-50%);
      }
      
      .title {
        font-size: 48px;
        line-height: 58px;
        @include tablet {
          font-size: 64px;
          line-height: 62px;
        }
        
        span {
          font-size: 48px;
          line-height: 58px;
          @include tablet {
            font-size: 64px;
            line-height: 62px;
          }
        }
        strong {
          font-weight: 700;
        }
      }
      .subtitle {
        color: #fff;
        margin-top: 15px;
        span {
          padding-top: 20px;
          font-size: 34px;
          display: block;
        }
      }
      
      .suptitle {
        color: #fff;
        span {
          display: block;
        }
      }
    }
    .cover-image-wrapper {
      &:after {
        content: none;
      }
    }
    .cover-image {
      height: inherit;
      width: 100%;
      @include tablet-small {
        height: 660px;
      }
      
    }
    .property-hidden-mobile {
      @include mobile-only {
        display: none;
      }
    }
    
    .property-visible-mobile {
      display: block;
      @include tablet-small {
        display: none;
      }
    }
  }
  
  .card-content-top {
    border-bottom: 7px solid $greenColor;
    
    .suptitle {
      color: #008747;
      font-size: 14px;
      line-height: 20px;
      font-weight: 600;
    }
    .title {
      margin-top: 30px;
      font-size: 22px;
      line-height: 24px;
      color: #282b3e;
      font-weight: 700;
    }
    
    .title-thank {
      
      font-size: 22px;
      line-height: 24px;
      color: #ffffff;
    }
    
    .subtitle-thank {
      color: #ffffff;
      margin-top: 30px;
      font-size: 14px;
      line-height: 20px;
      font-weight: 600;
    }
    
    .form-field-goal {
      margin-top: 30px;
      margin-bottom: 0;
      .input-goal {
        color: #34384b;
        border-bottom: 2px solid #c1c2c9;
      }
    }
  }
  
  .form-worldcup {
    .block-suptitle {
      margin-bottom: 30px;
      .suptitle {
        font-size: 14px;
        line-height: 20px;
        color: #282b3e;
        font-weight: 600;
      }
    }
    
    input {
      color: #34384b;
    }
    label {
      color: rgba(66, 69, 89, 0.5);
      strong {
        font-size: 18px;
        font-weight: 600;
        line-height: 16px;
      }
    }
  }
  
  .button-submit {
    width: 100%;
    @include tablet-small {
      width: auto;
    }
    
  }
  
  .block-input-method {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    
    .input-method-check {
      
      cursor: pointer;
      span {
        line-height: 18px;
        padding-left: 40px;
        color: #34384b;
        opacity: 0.6;
        float: left;
      }
      &:before {
        content: '';
        display: inline-block;
        height: 30px;
        width: 30px;
        position: absolute;
        left: 0;
        border-radius: 50%;
        border: 2px solid #424559;
        opacity: 0.5;
        top: 0;
      }
      
      a {
        border-bottom: 2px solid #00bf66;
      }
    }
    
    .status-selected {
      span {
        opacity: 1;
      }
      &:before {
        border: 2px solid $greenColor;
        opacity: 1;
      }
      
      &:after {
        content: '';
        display: inline-block;
        height: 10px;
        width: 13px;
        position: absolute;
        top: 12px;
        left: 9px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('../images/icon/icon-v-active.svg');
      }
      
    }
  }
  
  .section-worldcup-info {
    .title {
      
      font-weight: 600;
      color: #008747;
      margin-bottom: 15px;
      font-size: 22px;
      line-height: 30px;
      @include tablet-small {
        font-size: 26px;
        line-height: 30px;
      }
      
    }
    .subtitle {
      color: #282b3e;
      font-weight: 600;
      margin-bottom: 20px;
      
      font-size: 16px;
      line-height: 24px;
      @include tablet-small {
        font-size: 18px;
        line-height: 26px;
      }
      
    }
    .text {
      color: #282b3e;
      margin-bottom: 20px;
      font-size: 16px;
      margin-top: 10px;
      line-height: 24px;
      @include tablet-small {
        font-size: 18px;
        line-height: 26px;
      }
      
    }
    
    .block-prize-table {
      margin-top: 30px;
      .table-row {
        display: flex;
      }
      .table-col {
        width: 50%;
        
        border-bottom: 2px solid #00bf66;
        text-align: center;
        padding-top: 8px;
        padding-bottom: 8px;
        
        font-size: 14px;
        line-height: 20px;
        @include tablet-small {
          font-size: 18px;
          line-height: 26px;
        }
        
      }
      .table-header {
        .table-col {
          font-weight: 600;
        }
      }
      
    }
    
    .block-prize-counter {
      display: flex;
      margin-top: 30px;
    }
    .prize-counter {
      width: 50%;
      text-align: center;
      .block-counter {
        display: flex;
        justify-content: center;
      }
      .counter {
        position: relative;
        background: #00bf66;
        color: #ffffff;
        margin-right: 3px;
        font-weight: 700;
        
        font-size: 28px;
        line-height: 36px;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        
        @include tablet {
          font-size: 48px;
          line-height: 58px;
          padding-left: 10px;
          padding-right: 10px;
          padding-top: 5px;
          padding-bottom: 10px;
        }
        
        &:after {
          content: '';
          display: inline-block;
          height: 1px;
          width: 100%;
          position: absolute;
          left: 0;
          top: 50%;
          margin-top: -1px;
          background-color: #fff;
        }
        
      }
      .fix-number-8 {
        padding-top: 8px;
        padding-bottom: 2px;
        @include tablet {
          padding-top: 10px;
          padding-bottom: 5px;
        }
      }
      
      .counter-name {
        margin-top: 10px;
        font-size: 14px;
        line-height: 20px;
      }
    }
    
  }
  
  .block-worldcup-footer {
    margin-top: 60px;
    margin-bottom: 40px;
    .block-worldcup-logo {
    }
    .text {
      font-size: 14px;
      line-height: 20px;
      color: #282b3e;
      margin-bottom: 10px;
    }
    
    .subtext {
      font-size: 12px;
      padding-top: 20px;
      line-height: 12px;
      font-style: italic;
      font-weight: 500;
    }
    .worldcup-logo {
      width: 164px;
    }
  }
  
  .accordion-article {
    .accordion-item-content {
      padding-left: 0;
      @include tablet-small {
        padding-left: 50px;
      }
      
    }
    .accordion-item-content-list-item {
      color: #282b3e;
    }
    &:after {
      content: '';
      display: inline-block;
      height: 1px;
      width: 100%;
      bottom: 0;
      left: 0;
      background: rgba(66, 69, 89, 0.2);
      position: absolute;
      @include tablet {
        position: relative;
      }
      
    }
    
  }
  
  .input-method.status-error {
    border-bottom: 0 !important;
    span, a {
      color: #ff5d55;
      opacity: 1;
    }
  }
  
  .generate-link {
    display: inline-block;
    .text {
      border-bottom: 2px solid $greenColor;
      display: inline-block;
    }
    a {
      display: inline-block;
      width: 24px;
      cursor: pointer;
      line-height: 24px;
      margin-left: 10px;
    }
  }
  
  .block-social {
    display: flex;
    margin-top: 30px;
    .social-icon {
      margin-right: 15px;
      cursor: pointer;
    }
  }
  
  //code for tooltip of copy to clipboard
  
  .prize-disclaimer {
    font-size: 12px;
    padding-top: 10px;
  }
  
  .accordion-item-content-list {
    padding-left: 0;
    .accordion-item-content-list-item {
      list-style: none;
    }
  }
  
  bold {
    font-weight: 700 !important;
  }
  
  .block-form-disclaimer {
    margin-top: 20px;
    .form-disclaimer {
      font-size: 14px;
      //color: rgba(66, 69, 89, 0.9);
      strong {
        font-weight: 600;
        line-height: 14px;
        font-size: 18px;
      }
      
    }
  }
  
  .prize-table-disclaimer {
    font-size: 14px;
    padding-top: 20px;
  }
  
}

.page-name-worldcup-thanks {
  
  .card-content-top {
    background-color: #282b3e;
    border-bottom: 0;
    
    .suptitle {
      color: #00bf66;
    }
    .title {
      color: #ffffff;
    }
    
    .title-thank {
      color: #ffffff;
    }
    
    .subtitle-thank {
      color: #ffffff;
    }
    
    .generate-link {
      margin-top: 30px;
      display: inline-block;
      margin-bottom: 0;
      width: 100%;
      .text {
        color: #fff;
        font-size: 16px;
        width: calc(100% - 40px);
        word-wrap: break-word;
        border-bottom: 0;
        font-weight: 600;
      }
      
      .tooltip-wrapper {
        display: inline-block;
        vertical-align: top;
      }
    }
    
  }
  
  .section-worldcup-info {
    margin-top: 0;
  }
  .section-form-worldcup {
    margin-top: 30px;
    @include desktop-medium {
      margin-top: 0;
    }
  }
  
  .text-contact-us {
    font-size: 14px;
    margin-top: 20px;
  }
  
  .block-worldcup-footer {
    margin-top: 40px;
  }
  
  .section-worldcup-info {
    @include tablet {
      order: -1;
    }
    
  }
}
