mixin footer(customClass)
    footer(data-details-info='partial-footer')
        div(class=customClass || "container-fluid")
            .row
                .col-xs-12.col-lg-11.col-xlg-offset-1
                    h3 {{currentBu.businessUnit.BranchName}}
                .col-xs-12.col-lg-11.col-xlg-offset-1
                    ul.footer-nav
                        li
                            a(href="/") Home
                        li(page="services")
                            a(href='/services') Services    
                        //- li.hydralink
                        //-     a(href="/life", page="life") Solutions
                        //-     a(href="/health", page="health") Solutions
                        //-     a(href="/save", page="save") Solutions
                        //-     a(href="/invest", page="invest") Solutions
                        //-     a(href="/signature", page="signature") Solutions
                        li
                            a(href="/discovery") Discovery
                        li(page="careers")
                            a(href='/careers') Careers
                        li
                            a(href="/about") About
                        li
                            a(href="/review") Review
                        li
                            a(href="/contact-us") Contact Us

            .footer-legal-and-social
                .row
                    .col-xs-12.col-xlg-8.col-xlg-offset-1
                        ul.footer-legal-section
                            li
                                a(href="/term-of-use") Terms & conditions
                            li
                                a(href="/fair-dealing-policy") Fair dealing policy
                            li
                                a(href="/insurance-guides-and-useful-links") Insurance guides & useful links
                            li
                                a(href="/statement-of-personal-data-protection") Statement of personal data protection


                    .col-xs-12.col-xlg-3
                        p.copyright ©2019 Manulife (Singapore) Pte Ltd



mixin footer_home(customClass)
    footer(data-details-info='partial-footer')
        div(class=customClass || "container-fluid")
            .row
                .col-xs-12.col-lg-11
                    h3 {{currentBu.businessUnit.BranchName}}
                .col-xs-12.col-lg-11
                    ul.footer-nav
                        li
                            a(href="/") Home
                        li(page="services")
                            a(href='/services') Services      
                        //- li.hydralink
                        //-     a(href="/life", page="life") Solutions
                        //-     a(href="/health", page="health") Solutions
                        //-     a(href="/save", page="save") Solutions
                        //-     a(href="/invest", page="invest") Solutions
                        //-     a(href="/signature", page="signature") Solutions
                        li
                            a(href="/discovery") Discovery
                        li(page="careers")
                            a(href='/careers') Careers
                        li
                            a(href="/about") About
                        li
                            a(href="/review") Review
                        li
                            a(href="/contact-us") Contact Us
            .footer-legal-and-social
                .row
                    .col-xs-12.col-xlg-9
                        ul.footer-legal-section
                            li
                                a(href="/term-of-use") Terms & conditions
                            li
                                a(href="/fair-dealing-policy") Fair dealing policy
                            li
                                a(href="/insurance-guides-and-useful-links") Insurance guides & useful links
                            li
                                a(href="/statement-of-personal-data-protection") Statement of personal data protection


                    .col-xs-12.col-xlg-3
                        p.copyright ©2019 Manulife (Singapore) Pte Ltd