mixin menu-item(object)
    -var pageAttr = typeof object.page !== 'undefined' ? object.url : false;
    -var pageURL = typeof object.url !== 'undefined' ? object.url : false;
    -var pageTitle = typeof object.title !== 'undefined' ? object.title : '';
    li(page=pageAttr)
        a(href=pageURL)=pageTitle

mixin menu-title(object)
    -var pageURL = typeof object.url !== 'undefined' ? object.url : false;
    -var pageTitle = typeof object.title !== 'undefined' ? object.title : '';
    li
        a.menu-item-services.menu-item-inner-title(href=pageURL)=pageTitle

mixin mobile-menu()
    nav.mobile-menu#menu(data-details-info='partial-mobile-menu')
        ul
            li
                a(href='/', class='menu-item-title menu-item-home') Home
            li
                a(href='/life', class='menu-item-title menu-item-services') Services
                ul
                    +menu-title({title:"Services"})
                    li(page='life')
                        a(href='/life') Life
                        ul
                            +menu-title({title:"Services"})
                            +menu-item({page:true, url:"manu-protect-term", title:"ManuProtect Term"})
                            +menu-item({page:true, url:"manu-protect-decreasing", title:"ManuProtect Decreasing"})
                            +menu-item({page:true, url:"life-ready", title:"LifeReady"})
                            +menu-item({page:true, url:"manulife-ready-income", title:"Manulife ReadyIncome"})
                            +menu-item({page:true, url:"ready-lifeincome", title:"Ready LifeIncome"})

                    li(page='health')
                        a(href='/health') Health
                        ul
                            +menu-title({title:"Services"})
                            +menu-item({page:true, url:"manu-care", title:"ManuCare"})
                            +menu-item({page:true, url:"ready-protect", title:"ReadyProtect"})
                            +menu-item({page:true, url:"ready-complete-care", title:"Ready CompleteCare"})

                    li(page='save')
                        a(href='/save') Save
                        ul
                            +menu-title({title:"Services"})
                            +menu-item({page:true, url:"manulifespring", title:"Manulife Spring"})
                            +menu-item({page:true, url:"ready-builder", title:"ReadyBuilder"})
                            +menu-item({page:true, url:"manulife-goal", title:"Manulife Goal 1"})
                            +menu-item({page:true, url:"manu-wealth-secure", title:"ManuWealth Secure"})
                            +menu-item({page:true, url:"ready-payout-plus", title:"ReadyPayout Plus"})
                            +menu-item({page:true, url:"manulife-educate", title:"Manulife Educate"})
                            +menu-item({page:true, url:"retire-ready-plus", title:"RetireReady Plus"})

                    li(page='invest')
                        a(href='/invest') Investment
                        ul
                            +menu-title({title:"Services"})
                            +menu-item({page:true, url:"invest-ready-wealth", title:"InvestReady Wealth (II)"})
                            +menu-item({page:true, url:"invest-ready-protect", title:"InvestReady Protect"})
                            +menu-item({page:true, url:"manu-link-investor", title:"Manulink Investor"})
                            +menu-item({page:true, url:"manu-link-enrich", title:"Manulink Enrich"})

                    li(page='signature')
                        a(href='/signature') Signature
                        ul
                            +menu-title({title:"Services"})
                            +menu-item({page:true, url:"heirloom", title:"Heirloom (VI)"})
                            +menu-item({page:true, url:"signature-life", title:"Signature Life"})
                            +menu-item({page:true, url:"signature-income", title:"Signature Income"})
                            +menu-item({page:true, url:"signature-indexed-universal-life", title:"Signature Indexed Universal Life"})

            li
                a(href='/discovery', class='menu-item-title menu-item-discovery') Discovery
                ul(page='survey')
                    +menu-title({title:"Discovery"})
                    +menu-item({page:true, url:"survey", title:"How financially stable are you?"})
                    +menu-item({page:true, url:"quiz", title:"How healthy are you?"})

                    //- li
                    //-     a(href='discovery?active-tag=retirement') Retirement
                    //-     ul
                    //-         +menu-title({title:"Discovery"})
                    //-         +menu-item({page:true, url:"i-dont-want-to-retire", title:"Can I save less if I don't retire?"})
                    //-         +menu-item({page:true, url:"the-5-steps-to-help-your-parents-plan-their-retirement", title:"5 steps to help your parents plan their retirement"})
                    //-         +menu-item({page:true, url:"the-6-factors-to-think-about-when-building-your-retirement-fund", title:"6 factors to think about when building your retirement fund"})
                    //-         +menu-item({page:true, url:"automatic-vs-manual-transmission-turbo-boosting-your-pension", title:"Turbo boosting your retirement, Auto or Manual Transmission?"})
                    //-         +menu-item({page:true, url:"planning-earlier-retirement", title:"Plan your retirement early, Learn how much of a difference it makes"})
                    //-         +menu-item({page:true, url:"how-do-millennials-approach-retirement", title:"How do millennials approach retirement?"})
                    //- li
                    //-     a(href='discovery?active-tag=financial') Financial Planning
                    //-     ul
                    //-         +menu-title({title:"Discovery"})
                    //-         +menu-item({page:true, url:"how-to-save-money-in-3-simple-ways", title:"How To Save Money in 3 Simple Ways"})
                    //-         +menu-item({page:true, url:"having-financial-safeguard-when-critical-illness-strikes", title:"Having financial safeguard when critical illness strikes"})
                    //-         +menu-item({page:true, url:"planning-ahead-in-the-gig-economy", title:"Planning Ahead in the Gig Economy"})
                    //-         +menu-item({page:true, url:"how-to-bridge-your-critical-illness-protection-gap", title:"Bridging your Critical Illness protection gap"})
                    //-         +menu-item({page:true, url:"financial-planning-101-guide", title:"Financial Planning - a 101 guide"})
                    //-         +menu-item({page:true, url:"is-leaving-money-in-a-regular-savings-account-a-bad-idea", title:"When you leave your money in a regular savings account..."})
                    //-         +menu-item({page:true, url:"starting-a-new-family-4-changes-consider-financial-planning", title:"I want to start a family, does having children change my retirement plan?"})
                    //-         +menu-item({page:true, url:"keep-savings-accessible", title:"How can I keep my savings accessible?"})
                    //-         +menu-item({page:true, url:"am-i-saving-less-than-most-singaporeans", title:"Am I saving less than most Singaporeans?"})
                    //-         +menu-item({page:true, url:"the-6-steps-to-buying-your-first-home", title:"6 steps to buying your first home"})
                    //-         +menu-item({page:true, url:"what-should-i-do-with-the-bonus-i-just-received", title:"What should I do with the bonus I just received?"})
                    //-         +menu-item({page:true, url:"financial-lessons-you-can-learn-from-watching-the-world-cup", title:"Financial Lessons You can Learn from Watching the World Cup"})
                    //- li
                    //-     a(href='discovery?active-tag=education') Education
                    //-     ul
                    //-         +menu-title({title:"Discovery"})
                    //-         +menu-item({page:true, url:"10-ways-to-reduce-stress", title:"10 Ways to Reduce Stress"})
                    //-         +menu-item({page:true, url:"how-the-gig-economy-is-shaping-the-future-of-work", title:"How the gig economy is shaping the future of work"})
                    //-         +menu-item({page:true, url:"beat-the-fine-print-in-insurance", title:"Beat the fine print in insurance"})
                    //-         +menu-item({page:true, url:"the-5-things-to-know-before-meeting-your-financial-representative", title:"5 things to know before meeting your financial representative"})
                    //-         +menu-item({page:true, url:"the-5-unconventional-ways-to-protect-yourself-against-inflation", title:"5 unconventional ways to protect yourself against inflation"})
                    //-         +menu-item({page:true, url:"can-i-afford-a-bigger-place", title:"Can I afford a bigger place?"})
                    //-         +menu-item({page:true, url:"giving-my-kids-the-best-shot-at-perusing-their-dreams", title:"Plan ahead for your child's future"})
                    //-         +menu-item({page:true, url:"financial-planner-advice", title:"The importance of a financial planner"})


            li
                a(href='/about', class='menu-item-title menu-item-about-us') About
            li(page='careers')
                a(href='/careers', class='menu-item-title menu-item-careers') Careers
            li(page='review')
                a(href='/review', class='menu-item-title menu-item-review') Review
            li
                a(href='/contact-us', class='menu-item-title menu-item-contact-us') Contact Us