mixin menu-list()
    li
        a(href="/")
            img(src="../images/general/home-icn.svg", alt='side menu icon - Home')
    li(page='services')
        a(href="/services")
            img(src="../images/icon/icon-page-services.svg", alt='side menu icon - Services')
            | Services         
    //- li.hydralink
    //-     a(href="/life", page="life")
    //-         img(src="../images/icon/icon-page-services.svg", alt='side menu icon - Solutions')
    //-         | Services
    //-     a(href="/health", page="health")
    //-         img(src="../images/icon/icon-page-services.svg", alt='side menu icon - Solutions')
    //-         | Services
    //-     a(href="/save", page="save")
    //-         img(src="../images/icon/icon-page-services.svg", alt='side menu icon - Solutions')
    //-         | Services
    //-     a(href="/invest", page="invest")
    //-         img(src="../images/icon/icon-page-services.svg", alt='side menu icon - Solutions')
    //-         | Services
    //-     a(href="/signature", page="signature")
    //-         img(src="../images/icon/icon-page-services.svg", alt='side menu icon - Solutions')
    //-         | Services
    li
        a(href="/discovery")
            img(src="../images/general/discover-icn.svg", alt='side menu icon - Discovery')
            | Discovery
    li
        a(href="/about")
            img(src="../images/general/about-icn.svg", alt='side menu icon - About Me')
            | About
    li(page="careers")
        a(href="/careers")
            img(src="../images/general/icon-careers-white.svg", alt='side menu icon - Careers')
            | Careers
    li
        a(href="/review")
            img(src="../images/general/rating-icn.svg", alt='side menu icon - Review')
            | Review
    li
        a(href="/contact-us")
            img(src="../images/general/contact-icn.svg", alt='side menu icon - Contact')
            | Contact

mixin side-menu-bar-discovery(object)
    -var subtitle = typeof object != "undefined"  ? object.detailsSubtitle : 'Explore new ways to help you learn more about financial planning'
    aside.aside-discovery.aside-with-tags(data-details-info='partial-side-menu-bar-discovery')
        ul.side-bar
            +menu-list()

        .first-level-menu.first-level-menu-discovery
            .first-level-menu-content
                .first-level-menu-logo
                    a(href='/')
                        img(src='../images/logo-mfa.png', alt='side menu logo')
                .first-level-menu-details
                    h3.first-level-menu-details-title Insights
                    h5.first-level-menu-details-text!=subtitle

                ul.first-level-menu-list
                    li.first-level-menu-list-item(page='a-tale-of-gifts-and-greetings')
                        a.first-level-menu-list-item-link(href='a-tale-of-gifts-and-greetings') A Tale of Gifts & Greetings
                    //- li.first-level-menu-list-item(page='survey')
                        a.first-level-menu-list-item-link(href='survey') How financially stable are you?
                    //- li.first-level-menu-list-item(page='quiz')
                        a.first-level-menu-list-item-link(href='quiz') How healthy are you?
                //-     li.first-level-menu-list-item.first-level-menu-list-item-tags
                //-         a.first-level-menu-list-item-link Articles tags:

                //- ul.first-level-menu-list
                //-     li.first-level-menu-list-item
                //-         a.first-level-menu-list-item-link.article-type-tag(data-tag='retirement')
                //-             img(src='../images/icon/article/icon-retirement.svg', alt='side menu icon - Retirement')
                //-             span Retirement
                //-         ul.second-level-menu-list
                //-             li(page='i-dont-want-to-retire')
                //-                 a(href='i-dont-want-to-retire') Can I save less if I don't retire?
                //-             li(page='the-5-steps-to-help-your-parents-plan-their-retirement')
                //-                 a(href='the-5-steps-to-help-your-parents-plan-their-retirement') 5 steps to help your parents plan their retirement
                //-             li(page='the-6-factors-to-think-about-when-building-your-retirement-fund')
                //-                 a(href='the-6-factors-to-think-about-when-building-your-retirement-fund') 6 factors to think about when building your retirement fund
                //-             li(page='automatic-vs-manual-transmission-turbo-boosting-your-pension')
                //-                 a(href='automatic-vs-manual-transmission-turbo-boosting-your-pension') Turbo boosting your retirement, Auto or Manual Transmission?
                //-             li(page='planning-earlier-retirement')
                //-                 a(href='planning-earlier-retirement') Plan your retirement early, Learn how much of a difference it makes
                //-             li(page='how-do-millennials-approach-retirement')
                //-                 a(href='how-do-millennials-approach-retirement') How do millennials approach retirement?

                //- ul.first-level-menu-list
                //-     li.first-level-menu-list-item
                //-         a.first-level-menu-list-item-link.article-type-tag(data-tag='financial')
                //-             img(src='../images/icon/article/icon-financial-planning.svg', alt='side menu icon - Financial Planning')
                //-             span Financial Planning
                //-         ul.second-level-menu-list
                //-             li(page='how-to-save-money-in-3-unconventional-steps')
                //-                 a(href='how-to-save-money-in-3-unconventional-steps') How To Save Money in 3 Unconventional Steps
                //-             li(page='having-financial-safeguard-when-critical-illness-strikes')
                //-                 a(href='having-financial-safeguard-when-critical-illness-strikes') Having financial safeguard when critical illness strikes
                //-             li(page='planning-ahead-in-the-gig-economy')
                //-                 a(href='planning-ahead-in-the-gig-economy') Planning Ahead in the Gig Economy
                //-             li(page='how-to-bridge-your-critical-illness-protection-gap')
                //-                 a(href='how-to-bridge-your-critical-illness-protection-gap') Bridging your Critical Illness protection gap
                //-             li(page='financial-planning-101-guide')
                //-                 a(href='financial-planning-101-guide') Financial Planning - a 101 guide
                //-             li(page='is-leaving-money-in-a-regular-savings-account-a-bad-idea')
                //-                 a(href='is-leaving-money-in-a-regular-savings-account-a-bad-idea') When you leave your money in a regular savings account...
                //-             li(page='starting-a-new-family-4-changes-consider-financial-planning')
                //-                 a(href='starting-a-new-family-4-changes-consider-financial-planning') I want to start a family, does having children change my retirement plan?
                //-             li(page='keep-savings-accessible')
                //-                 a(href='keep-savings-accessible') How can I keep my savings accessible?
                //-             li(page='am-i-saving-less-than-most-singaporeans')
                //-                 a(href='am-i-saving-less-than-most-singaporeans') Am I saving less than most Singaporeans?
                //-             li(page='the-6-steps-to-buying-your-first-home')
                //-                 a(href='the-6-steps-to-buying-your-first-home') 6 steps to buying your first home
                //-             li(page='what-should-i-do-with-the-bonus-i-just-received')
                //-                 a(href='what-should-i-do-with-the-bonus-i-just-received') What should I do with the bonus I just received?
                //-             li(page='financial-lessons-you-can-learn-from-watching-the-world-cup')
                //-                 a(href='financial-lessons-you-can-learn-from-watching-the-world-cup') Financial Lessons You can Learn from Watching the World Cup
                //- ul.first-level-menu-list
                //-     li.first-level-menu-list-item
                //-         a.first-level-menu-list-item-link.article-type-tag(data-tag='education')
                //-             img(src='../images/icon/article/icon-education.svg', alt='side menu icon - Education')
                //-             span Education
                //-         ul.second-level-menu-list
                                li(page='10-ways-to-reduce-stress')
                //-                 a(href='10-ways-to-reduce-stress') 10 Ways to Reduce Stress
                //-             li(page='how-the-gig-economy-is-shaping-the-future-of-work')
                //-                 a(href='how-the-gig-economy-is-shaping-the-future-of-work') How the gig economy is shaping the future of work
                //-             li(page='beat-the-fine-print-in-insurance')
                //-                 a(href='beat-the-fine-print-in-insurance') Beat the fine print in insurance
                //-             li(page='the-5-things-to-know-before-meeting-your-financial-representative')
                //-                 a(href='the-5-things-to-know-before-meeting-your-financial-representative') 5 things to know before meeting your financial representative
                //-             li(page='the-5-unconventional-ways-to-protect-yourself-against-inflation')
                //-                 a(href='the-5-unconventional-ways-to-protect-yourself-against-inflation') 5 unconventional ways to protect yourself against inflation
                //-             li(page='can-i-afford-a-bigger-place')
                //-                 a(href='can-i-afford-a-bigger-place') Can I afford a bigger place?
                //-             li(page='giving-my-kids-the-best-shot-at-perusing-their-dreams')
                //-                 a(href='giving-my-kids-the-best-shot-at-perusing-their-dreams') Plan ahead for your child's future
                //-             li(page='financial-planner-advice')
                //-                 a(href='financial-planner-advice') The importance of a financial planner

            .aside-closed-title Open
            .aside-closed-button

mixin side-menu-bar-discovery-landing(object)
    -var subtitle = typeof object != "undefined"  ? object.detailsSubtitle : 'Explore new ways to help you learn more about financial planning'
    aside.aside-discovery.aside-with-tags(data-details-info='partial-side-menu-bar-discovery-landing')
        ul.side-bar
            +menu-list()

        .first-level-menu.first-level-menu-discovery
            .first-level-menu-content
                .first-level-menu-logo
                    a(href='/')
                        img(src='../images/logo-mfa.png', alt='side menu logo')
                .first-level-menu-details
                    h3.first-level-menu-details-title Discovery
                    h5.first-level-menu-details-text!=subtitle

                ul.first-level-menu-list
                    li.first-level-menu-list-item(page='survey')
                        a.first-level-menu-list-item-link(href='survey') How financially stable are you?
                    li.first-level-menu-list-item(page='quiz')
                        a.first-level-menu-list-item-link(href='quiz') How healthy are you?
                    //- li.first-level-menu-list-item.first-level-menu-list-item-tags
                    //-     a.first-level-menu-list-item-link Articles tags:

                ul.first-level-menu-list
                    li.first-level-menu-list-item
                        a.first-level-menu-list-item-link.article-type-tag(data-tag='retirement')
                            img(src='../images/icon/article/icon-retirement.svg', alt='side menu icon - Retirement')
                            span Retirement
                        //- ul.second-level-menu-list
                        //-     li(page='i-dont-want-to-retire')
                        //-         a(href='i-dont-want-to-retire') Can I save less if I don't retire?
                        //-     li(page='the-5-steps-to-help-your-parents-plan-their-retirement')
                        //-         a(href='the-5-steps-to-help-your-parents-plan-their-retirement') 5 steps to help your parents plan their retirement
                        //-     li(page='the-6-factors-to-think-about-when-building-your-retirement-fund')
                        //-         a(href='the-6-factors-to-think-about-when-building-your-retirement-fund') 6 factors to think about when building your retirement fund
                        //-     li(page='automatic-vs-manual-transmission-turbo-boosting-your-pension')
                        //-         a(href='automatic-vs-manual-transmission-turbo-boosting-your-pension') Turbo boosting your retirement, Auto or Manual Transmission?
                        //-     li(page='planning-earlier-retirement')
                        //-         a(href='planning-earlier-retirement') Plan your retirement early, Learn how much of a difference it makes
                        //-     li(page='how-do-millennials-approach-retirement')
                        //-         a(href='how-do-millennials-approach-retirement') How do millennials approach retirement?

                ul.first-level-menu-list
                    li.first-level-menu-list-item
                        a.first-level-menu-list-item-link.article-type-tag(data-tag='financial')
                            img(src='../images/icon/article/icon-financial-planning.svg', alt='side menu icon - Financial Planning')
                            span Financial Planning
                        //- ul.second-level-menu-list
                        //-     li(page='how-to-save-money-in-3-unconventional-steps')
                        //-         a(href='how-to-save-money-in-3-unconventional-steps') How To Save Money in 3 Unconventional Steps
                        //-     li(page='having-financial-safeguard-when-critical-illness-strikes')
                        //-         a(href='having-financial-safeguard-when-critical-illness-strikes') Having financial safeguard when critical illness strikes
                        //-     li(page='planning-ahead-in-the-gig-economy')
                        //-         a(href='planning-ahead-in-the-gig-economy') Planning Ahead in the Gig Economy
                        //-     li(page='how-to-bridge-your-critical-illness-protection-gap')
                        //-         a(href='how-to-bridge-your-critical-illness-protection-gap') Bridging your Critical Illness protection gap
                        //-     li(page='financial-planning-101-guide')
                        //-         a(href='financial-planning-101-guide') Financial Planning - a 101 guide
                        //-     li(page='is-leaving-money-in-a-regular-savings-account-a-bad-idea')
                        //-         a(href='is-leaving-money-in-a-regular-savings-account-a-bad-idea') When you leave your money in a regular savings account...
                        //-     li(page='starting-a-new-family-4-changes-consider-financial-planning')
                        //-         a(href='starting-a-new-family-4-changes-consider-financial-planning') I want to start a family, does having children change my retirement plan?
                        //-     li(page='keep-savings-accessible')
                        //-         a(href='keep-savings-accessible') How can I keep my savings accessible?
                        //-     li(page='am-i-saving-less-than-most-singaporeans')
                        //-         a(href='am-i-saving-less-than-most-singaporeans') Am I saving less than most Singaporeans?
                        //-     li(page='the-6-steps-to-buying-your-first-home')
                        //-         a(href='the-6-steps-to-buying-your-first-home') 6 steps to buying your first home
                        //-     li(page='what-should-i-do-with-the-bonus-i-just-received')
                        //-         a(href='what-should-i-do-with-the-bonus-i-just-received') What should I do with the bonus I just received?
                        //-     li(page='financial-lessons-you-can-learn-from-watching-the-world-cup')
                        //-         a(href='financial-lessons-you-can-learn-from-watching-the-world-cup') Financial Lessons You can Learn from Watching the World Cup
                ul.first-level-menu-list
                    li.first-level-menu-list-item
                        a.first-level-menu-list-item-link.article-type-tag(data-tag='education')
                            img(src='../images/icon/article/icon-education.svg', alt='side menu icon - Education')
                            span Education
                        //- ul.second-level-menu-list
                        //-     li(page='how-the-gig-economy-is-shaping-the-future-of-work')
                        //-         a(href='how-the-gig-economy-is-shaping-the-future-of-work') How the gig economy is shaping the future of work
                        //-     li(page='beat-the-fine-print-in-insurance')
                        //-         a(href='beat-the-fine-print-in-insurance') Beat the fine print in insurance
                        //-     li(page='the-5-things-to-know-before-meeting-your-financial-representative')
                        //-         a(href='the-5-things-to-know-before-meeting-your-financial-representative') 5 things to know before meeting your financial representative
                        //-     li(page='the-5-unconventional-ways-to-protect-yourself-against-inflation')
                        //-         a(href='the-5-unconventional-ways-to-protect-yourself-against-inflation') 5 unconventional ways to protect yourself against inflation
                        //-     li(page='can-i-afford-a-bigger-place')
                        //-         a(href='can-i-afford-a-bigger-place') Can I afford a bigger place?
                        //-     li(page='giving-my-kids-the-best-shot-at-perusing-their-dreams')
                        //-         a(href='giving-my-kids-the-best-shot-at-perusing-their-dreams') Plan ahead for your child's future
                        //-     li(page='financial-planner-advice')
                        //-         a(href='financial-planner-advice') The importance of a financial planner

            .aside-closed-title Open
            .aside-closed-button
