block pageData

doctype html
html(lang=relativeLang)
    head
        +head()
            meta(name="google-site-verification", content="DFOYY6sd1On5s1G5R1IdCnk8lK1-EBH0MOT6qfuUirg")
            meta(property='og:image', content='http:../images/homepage/homepage-banner.jpg')
            meta(property='og:image:secure_url', content='https:../images/homepage/homepage-banner.jpg')

    body(class=relativePageDetails)
        +google-tag-manager-body()
        +mobile-menu()
        .page-content#page
            +header()
            +side-menu-bar()
            main.home-page.no-first-level-menu
                //- +main_banner_homepage({
                //-     imageDesktop: "../images/campaigns/women-we-know/manulife-WomenWeKnow-homepage.jpg",
                //-     imageTablet: "../images/campaigns/women-we-know/manulife-WomenWeKnow-banner-700-01.jpg",
                //-     imageMobile: "../images/campaigns/women-we-know/manulife-WomenWeKnow-banner-375-01.jpg",
                //-     buttonTheme: "button-orange",
                //-     buttonText: "Join Now",
                //-     link: "/women-we-know"
                //- })     
                +main_banner_homepage({
                    customClass: "color-black container-fluid",
                    text: "Are you ready to <br/>live the life you dream of?",
                    subText: "We are here and you can count on us.",
                    image: "../images/homepage/homepage-banner.jpg"
                })

                section.section-wrapper.bg-white.section-intro-wrapper
                    .main-content.container-fluid
                        //- .row
                            .col-xs-12
                                .campaign-sticky-banner(page="a-tale-of-gifts-and-greetings")
                                    .banner-image
                                        img.hidden-lg.hidden-md(src="../images/campaigns/a-tale-of-gifts/sticky_banner_260.jpg", alt="A Tale of Gifts & Greetings")
                                        img.moble.hidden-sm.hidden-xs(src="../images/campaigns/a-tale-of-gifts/sticky_banner_388.jpg", alt="A Tale of Gifts & Greetings")
                                    .banner-content
                                        a.button-close-banner
                                            span.fa.fa-times
                                        .banner-title Redeem a $10 Starbucks Voucher by taking our Holiday Quiz! T&amp;Cs apply.
                                        .banner-start-btn
                                            +button({theme: "button-orange", text: "Start Now", href: '/a-tale-of-gifts-and-greetings'})
                                        //-     span.hidden-lg.hidden-md *T&amp;Cs apply.
                                        //- .banner-text-small.hidden-sm.hidden-xs *T&amp;Cs apply.
                                        
                        .row
                            .col-xs-12.col-md-11.col-lg-10.col-lg-offset-1.col-xlg-7
                                section.section-wrapper-list.section-title-main
                                    .row
                                        .col-xs-12
                                            h1.title-main  About
                                            p.text-subtitle-product {{#if currentBu.businessUnit.description}}{{currentBu.businessUnit.description}}{{else}}{{operation.defaultBuDescription}}{{/if}}
                                
                                +addthis-share-wrapper()
                                                    
                                //- section.divider
                                
                                //- section.section-wrapper-list.section-title-add-info
                                //-     .row
                                //-         .col-xs-12.col-xlg-11
                                //-             section.two_column_quote(class=customClass, data-details-info='mixins-two_column_quote')
                                //-                 .col-xs-12.col-md-6(site-theme-container="moreInfoText1")
                                //-                     p.subText Interesting info / stats showcase about the agency lorem ipsum dolor sit amet lorem ipsum sit
                                //-                 .col-xs-12.col-md-6(site-theme-container="moreInfoText2")
                                //-                     p.subText Interesting info / stats showcase about the agency lorem ipsum dolor sit amet lorem ipsum sit
                
                section.section-wrapper.section-solutions-wrapper
                    .main-content.container-fluid
                        .row
                            .col-xs-12.col-md-11.col-lg-10.col-lg-offset-1.col-xlg-7
                                section.section-title-main
                                    .row
                                        .col-xs-12
                                            h2.title-main  Our Services

                                section.section-solutions
                                    .block-solutions
                                        .row
                                            +service-card-full-image({
                                                image:'../images/products/manulife_criticalillness/banner.jpg',
                                                href: 'manulife-critical-illness',
                                                title:'Be <b>#Unbroken</b> in the fight<br class="hide-mobile-only"> against Critical Illness',
                                                buttonText:'Learn More'
                                            })
                                            
                                            +service-main-card-two-column(servicesBoxes.yourpersonalneeds, "services-main-intro col-md-6 half-solution-container")
                                            +service-main-card-two-column(servicesBoxes.yourbusinessneeds, "services-main-intro col-md-6 half-solution-container")

                                        .clearfix

                section.section-wrapper.bg-white.section-review-wrapper(page="review")
                    .main-content.container-fluid
                        .row
                            .col-xs-12.col-md-11.col-lg-10.col-lg-offset-1.col-xlg-7
                                +review-box-load-more("hide-show-more review-box-load-more review-box-carousel-pagination")         

                +footer()
        +footer_scripts()