block pageData

doctype html
html(lang=relativeLang)
    head
        +head()
            meta(property='og:image', content='http:../images/campaigns/share-your-feels/share_your_feels.jpg')
            meta(property='og:image:secure_url', content='https:../images/campaigns/share-your-feels/share_your_feels.jpg')

    body(class=relativePageDetails)
        +google-tag-manager-body()
        +mobile-menu()

        .page-content#page
            +header()
            +side-menu-bar-discovery({ 
                detailsSubtitle : "Help us understand you better!"
            })

            main
                #loadingsyf
                form#ShareYourFeelsForm.section-wrapper(method="post")
                    .main-content.container-fluid
                        .row
                            .col-xs-12.col-xlg-offset-1.col-xlg-8
                                section.tab-slider 
                                    .tab-container
                                        .tabs-contain-details
                                            ul.tab-menu
                                                li.step.active
                                                    .mover-line
                                                li.step.disable-tab
                                                    .mover-line
                                                li.step.disable-tab
                                                    .mover-line
                                                li.step.disable-tab
                                                    .mover-line
                                                li.step.disable-tab
                                                    .mover-line
                                                li.step.disable-tab
                                                    .mover-line
                                                li.step.disable-tab
                                                    .mover-line
                                                li.step.disable-tab
                                                    .mover-line
                                                li.step.disable-tab
                                                    .mover-line

                                            span.mover

                                        .tab-agent-info
                                            .contact-box
                                                .row
                                                    .col-xs-12.box-user
                                                        //- FULL NAME AND JOB TITLE
                                                        .col-xs-3.box-user-img
                                                            | {{#if websiteMainUser.imageUrl}}
                                                            .user-image-holder(style="background-image:url('{{websiteMainUser.imageUrl}}')")
                                                                span.icon-user-accessible
                                                            | {{else}}
                                                            .user-image-holder(style="background-image:url('../images/placeholder/user-image-default.png')")
                                                                span.icon-user-accessible
                                                            | {{/if}}

                                                        .col-xs-9.box-user-name
                                                            h2 {{websiteMainUser.firstName}}{{#if websiteMainUser.lastName}} {{websiteMainUser.lastName}}{{/if}}
                                                            p {{websiteMainUser.jobTitle}}

                                                    .clearfix    
    

                                        .tab-data
                                            #feels-landing.data-content.active-data
                                                .tab-data-wrap
                                                    .block-wrapper
                                                        .block-image
                                                            img.img-animate.img-money(src="../images/campaigns/share-your-feels/Landing_Page/Landing_flyingmoney.png", alt="Share your feels")
                                                            img.img-animate.img-rainbow(src="../images/campaigns/share-your-feels/Landing_Page/Landing_Rainbow.png", alt="Share your feels")
                                                            img.img-animate.img-building(src="../images/campaigns/share-your-feels/Landing_Page/Landing_Building.png", alt="Share your feels")
                                                            img.img-animate.img-oldman(src="../images/campaigns/share-your-feels/Landing_Page/Landing_Oldman.png", alt="Share your feels")
                                                            img.img-animate.img-car(src="../images/campaigns/share-your-feels/Landing_Page/Landing_Car.png", alt="Share your feels")
                                                            img.img-animate.img-card(src="../images/campaigns/share-your-feels/Landing_Page/Landing_CreditCard.png", alt="Share your feels")
                                                            img.img-animate.img-emoji.emoji-fr(src="../images/campaigns/share-your-feels/Landing_Page/Emojis_Frustrated_01_SW.png", alt="Share your feels")
                                                            img.img-animate.img-emoji.emoji-f(src="../images/campaigns/share-your-feels/Landing_Page/Emojis_Fantastic_01_SW.png", alt="Share your feels")
                                                            img.img-animate.img-txt(src="../images/campaigns/share-your-feels/Landing_Page/sharefeels.png", alt="Share your feels")
                                                            //- img(src="../images/campaigns/share-your-feels/Share_your_feels.png", alt="Share your feels")
                                                    .block-content-wrapper  
                                                        .block-content
                                                            .block-text
                                                                h6 Thanks to everyone who took the time to share their #feels! We learned a lot and we hope to find ways to help ease your load and make life more rewarding.
                                                                h6 Out of all the survey respondents, only 2,000 participants will get a $10 voucher. We’ll announce the winners soon. Stay tuned! 

                                                        .block-info.block-terms
                                                            p *Read the <u><span class="showTerms">Terms & Conditions</u>
                                                        .block-info.block-button
                                                            .button.button-white.next-btn Take the survey <i class="arrow-icon"></i>


                                            #feels-how-to-play.data-content
                                                .tab-data-wrap
                                                    .block-wrapper
                                                        .block-image
                                                            img.img-animate.img-hand(src="../images/campaigns/share-your-feels/How_to_play/Howtoplay_Hand.png", alt="Share your feels")
                                                            img.img-animate.img-speech(src="../images/campaigns/share-your-feels/How_to_play/Howtoplay_speech.png", alt="Share your feels")
                                                            img.img-animate.img-txt(src="../images/campaigns/share-your-feels/How_to_play/Howtoplay_txt.png", alt="How to play")
                                                    .block-content-wrapper  
                                                        .block-content
                                                            .block-text
                                                                h6 Use the sliders to express how you feel about different aspects of your life.
                                                            .block-range-slider
                                                                .range-slider.range-slider-img
                                                                    img(src="../images/campaigns/share-your-feels/How_to_play/how_to_slider.gif", alt="How to play")
                                                        .block-info.block-button                        
                                                            .button.button-white.next-btn Let's Begin! <i class="arrow-icon"></i>
    
                                            
                                            #feels-q1.data-content.question-card.status-active(data-share-question='1')
                                                .tab-data-wrap
                                                    .block-wrapper
                                                        .block-image
                                                            img.img-animate.img-suitcase(src="../images/campaigns/share-your-feels/Questions/Q1_Suitcase.png", alt="Share your feels")
                                                            img.img-animate.img-car(src="../images/campaigns/share-your-feels/Questions/Q1_Sportscar.png", alt="Share your feels")
                                                            img.img-animate.img-txt1(src="../images/campaigns/share-your-feels/Questions/Q1_txt_1.png", alt="The Singaporean Dream often comes with a hefty price tag – whether it’s")
                                                            img.img-animate.img-txt2(src="../images/campaigns/share-your-feels/Questions/Q1_txt_2.png", alt="living in a landed property, driving a prestigious car or traveling the world every year.")
                                                            //- img(src="../images/campaigns/share-your-feels/Q1.png", alt=" ")
                                                    .block-content-wrapper    
                                                        .block-content
                                                            .block-text
                                                                h5 How do you feel when you think about your dream lifestyle?
                                                            .block-range-slider
                                                                .range-slider
                                                                    .emoji-img.emoji-img-q.emoji-img-1(data-share-score='1', data-share-emoji="Frustrated")
                                                                        img(src="../images/campaigns/share-your-feels/Emotion/1.png", alt="Frustrated")
                                                                    .emoji-img.emoji-img-q.emoji-img-2(data-share-score='2', data-share-emoji="Worried")
                                                                        img(src="../images/campaigns/share-your-feels/Emotion/2.png", alt="Worried")
                                                                    .emoji-img.emoji-img-q.emoji-img-3(data-share-score='3', data-share-emoji="Meh")
                                                                        img(src="../images/campaigns/share-your-feels/Emotion/3.png", alt="Meh")  
                                                                    .emoji-img.emoji-img-q.emoji-img-4(data-share-score='4', data-share-emoji="Optimistic!")
                                                                        img(src="../images/campaigns/share-your-feels/Emotion/4.png", alt="Optimistic!")    
                                                                    .emoji-img.emoji-img-q.emoji-img-5(data-share-score='5', data-share-emoji="Fantastic!")
                                                                        img(src="../images/campaigns/share-your-feels/Emotion/5.png", alt="Fantastic!") 
                                                                    .clearfix
                                                                    input.range-slider__range(type="range", value="3", min="1", max="5", step="1", name="emoji-q1")
                                                                    span.range-slider__value
                                                                    span.dragme Drag Me
                                                        .block-info.block-button                           
                                                            .button.button-white.next-btn.disable-btn Next <i class="arrow-icon"></i>

                                            #feels-q2.data-content.question-card(data-share-question='2')
                                                .tab-data-wrap
                                                    .block-wrapper
                                                        .block-image
                                                            img.img-animate.img-shopping(src="../images/campaigns/share-your-feels/Questions/Q2_ShoppingBag.png", alt="Share your feels")
                                                            img.img-animate.img-wallet(src="../images/campaigns/share-your-feels/Questions/Q2_Wallet.png", alt="Share your feels")
                                                            img.img-animate.img-txt1(src="../images/campaigns/share-your-feels/Questions/Q2_txt_1.png", alt="Shopping might seem like Singapore’s favourite pastime, but did you know that ")
                                                            img.img-animate.img-txt2(src="../images/campaigns/share-your-feels/Questions/Q2_txt_2.png", alt="majority of Singaporeans aged 25 and above save between 30 to 49 per cent of their salary?")
                                                            //- img(src="../images/campaigns/share-your-feels/Q2.png", alt="Shopping might seem like Singapore’s favourite pastime, but did you know that majority of Singaporeans aged 25 and above save between 30 to 49 per cent of their salary?")
                                                    .block-content-wrapper    
                                                        .block-content
                                                            .block-text
                                                                h5 How do you feel about saving a fixed amount per month before spending the rest?
                                                            .block-range-slider
                                                                .range-slider
                                                                    .emoji-img.emoji-img-q.emoji-img-1(data-share-score='1', data-share-emoji="Frustrated")
                                                                        img(src="../images/campaigns/share-your-feels/Emotion/1.png", alt="Frustrated")
                                                                    .emoji-img.emoji-img-q.emoji-img-2(data-share-score='2', data-share-emoji="Worried")
                                                                        img(src="../images/campaigns/share-your-feels/Emotion/2.png", alt="Worried")
                                                                    .emoji-img.emoji-img-q.emoji-img-3(data-share-score='3', data-share-emoji="Meh")
                                                                        img(src="../images/campaigns/share-your-feels/Emotion/3.png", alt="Meh")  
                                                                    .emoji-img.emoji-img-q.emoji-img-4(data-share-score='4', data-share-emoji="Optimistic!")
                                                                        img(src="../images/campaigns/share-your-feels/Emotion/4.png", alt="Optimistic!")    
                                                                    .emoji-img.emoji-img-q.emoji-img-5(data-share-score='5', data-share-emoji="Fantastic!")
                                                                        img(src="../images/campaigns/share-your-feels/Emotion/5.png", alt="Fantastic!") 
                                                                    .clearfix
                                                                    input.range-slider__range(type="range", value="3", min="1", max="5", step="1", name="emoji-q2")
                                                                    span.range-slider__value
                                                        .block-info.block-button                          
                                                            .button.button-white.next-btn.disable-btn Next <i class="arrow-icon"></i>
                                            #feels-q3.data-content.question-card(data-share-question='3')
                                                .tab-data-wrap
                                                    .block-wrapper
                                                        .block-image
                                                            img.img-animate.img-bear(src="../images/campaigns/share-your-feels/Questions/Q3_Bear.png", alt="Share your feels")
                                                            img.img-animate.img-bull(src="../images/campaigns/share-your-feels/Questions/Q3_Bull.png", alt="Share your feels")
                                                            img.img-animate.img-txt1(src="../images/campaigns/share-your-feels/Questions/Q3_txt_1.png", alt="Bullish vs. bearish. Bonds vs. Stocks. ")
                                                            img.img-animate.img-txt2(src="../images/campaigns/share-your-feels/Questions/Q3_txt_2.png", alt="Clueless about these terms? Turns out that many Singaporeans wish to grow their income but need to improve their investment know-how.")
                                                            //- img(src="../images/campaigns/share-your-feels/Q3.png", alt="Bullish vs. bearish. Bonds vs. Stocks. Clueless about these terms? Turns out that many Singaporeans wish to grow their income but need to improve their investment know-how.")
                                                    .block-content-wrapper    
                                                        .block-content
                                                            .block-text
                                                                h5 How do you feel about learning investment strategies?
                                                            
                                                            .block-range-slider
                                                                .range-slider
                                                                    .emoji-img.emoji-img-q.emoji-img-1(data-share-score='1', data-share-emoji="Frustrated")
                                                                        img(src="../images/campaigns/share-your-feels/Emotion/1.png", alt="Frustrated")
                                                                    .emoji-img.emoji-img-q.emoji-img-2(data-share-score='2', data-share-emoji="Worried")
                                                                        img(src="../images/campaigns/share-your-feels/Emotion/2.png", alt="Worried")
                                                                    .emoji-img.emoji-img-q.emoji-img-3(data-share-score='3', data-share-emoji="Meh")
                                                                        img(src="../images/campaigns/share-your-feels/Emotion/3.png", alt="Meh")  
                                                                    .emoji-img.emoji-img-q.emoji-img-4(data-share-score='4', data-share-emoji="Optimistic!")
                                                                        img(src="../images/campaigns/share-your-feels/Emotion/4.png", alt="Optimistic!")    
                                                                    .emoji-img.emoji-img-q.emoji-img-5(data-share-score='5', data-share-emoji="Fantastic!")
                                                                        img(src="../images/campaigns/share-your-feels/Emotion/5.png", alt="Fantastic!") 
                                                                    .clearfix
                                                                    input.range-slider__range(type="range", value="3", min="1", max="5", step="1", name="emoji-q3")
                                                                    span.range-slider__value
                                                        .block-info.block-button                           
                                                            .button.button-white.next-btn.disable-btn Next <i class="arrow-icon"></i>                 
                                            #feels-q4.data-content.question-card(data-share-question='4')
                                                .tab-data-wrap
                                                    .block-wrapper
                                                        .block-image
                                                            img.img-animate.img-txt1(src="../images/campaigns/share-your-feels/Questions/Q4_txt_1.png", alt="The good news: More Singaporeans are living longer.")
                                                            img.img-animate.img-ambulance(src="../images/campaigns/share-your-feels/Questions/Q4_Ambulance.png", alt="Share your feels")
                                                            img.img-animate.img-plaster(src="../images/campaigns/share-your-feels/Questions/Q4_Plaster.png", alt="Share your feels")
                                                            img.img-animate.img-txt2(src="../images/campaigns/share-your-feels/Questions/Q4_txt_2.png", alt="The bad news: They spend an average of eight years, out of a total of 82, in ill health.")
                                                            //- img(src="../images/campaigns/share-your-feels/Q4.png", alt="The good news: More Singaporeans are living longer. The bad news: They spend an average of eight years, out of a total of 82, in ill health.")
                                                    .block-content-wrapper    
                                                        .block-content
                                                            .block-text
                                                                h5 How do you feel about staying healthy as you age?
                                                            
                                                            .block-range-slider
                                                                .range-slider
                                                                    .emoji-img.emoji-img-q.emoji-img-1(data-share-score='1', data-share-emoji="Frustrated")
                                                                        img(src="../images/campaigns/share-your-feels/Emotion/1.png", alt="Frustrated")
                                                                    .emoji-img.emoji-img-q.emoji-img-2(data-share-score='2', data-share-emoji="Worried")
                                                                        img(src="../images/campaigns/share-your-feels/Emotion/2.png", alt="Worried")
                                                                    .emoji-img.emoji-img-q.emoji-img-3(data-share-score='3', data-share-emoji="Meh")
                                                                        img(src="../images/campaigns/share-your-feels/Emotion/3.png", alt="Meh")  
                                                                    .emoji-img.emoji-img-q.emoji-img-4(data-share-score='4', data-share-emoji="Optimistic!")
                                                                        img(src="../images/campaigns/share-your-feels/Emotion/4.png", alt="Optimistic!")    
                                                                    .emoji-img.emoji-img-q.emoji-img-5(data-share-score='5', data-share-emoji="Fantastic!")
                                                                        img(src="../images/campaigns/share-your-feels/Emotion/5.png", alt="Fantastic!") 
                                                                    .clearfix
                                                                    input.range-slider__range(type="range", value="3", min="1", max="5", step="1", name="emoji-q4")
                                                                    span.range-slider__value
                                                        .block-info.block-button                           
                                                            .button.button-white.next-btn.disable-btn Next <i class="arrow-icon"></i>                 
                                            #feels-q5.data-content.question-card.last-question(data-share-question='5')
                                                .tab-data-wrap
                                                    .block-wrapper
                                                        .block-image
                                                            img.img-animate.img-txt1(src="../images/campaigns/share-your-feels/Questions/Q5_txt_1.png", alt="Working hard but hardly building your nest egg?")
                                                            img.img-animate.img-work(src="../images/campaigns/share-your-feels/Questions/Q5_WorkingHard.png", alt="Share your feels")
                                                            img.img-animate.img-coin(src="../images/campaigns/share-your-feels/Questions/Q5_SavingsCoins.png", alt="Share your feels")
                                                            img.img-animate.img-txt2(src="../images/campaigns/share-your-feels/Questions/Q5_txt_2.png", alt="You’re not alone. Many Singaporeans are concerned about not having enough when they retire.")
                                                            //- img(src="../images/campaigns/share-your-feels/Q5.png", alt="Working hard but hardly building your nest egg? You’re not alone. Many Singaporeans are concerned about not having enough when they retire.")
                                                    .block-content-wrapper    
                                                        .block-content
                                                            .block-text
                                                                h5 How do you feel about saving for your desired retirement lifestyle?
                                                            
                                                            .block-range-slider
                                                                .range-slider
                                                                    .emoji-img.emoji-img-q.emoji-img-1(data-share-score='1', data-share-emoji="Frustrated")
                                                                        img(src="../images/campaigns/share-your-feels/Emotion/1.png", alt="Frustrated")
                                                                    .emoji-img.emoji-img-q.emoji-img-2(data-share-score='2', data-share-emoji="Worried")
                                                                        img(src="../images/campaigns/share-your-feels/Emotion/2.png", alt="Worried")
                                                                    .emoji-img.emoji-img-q.emoji-img-3(data-share-score='3', data-share-emoji="Meh")
                                                                        img(src="../images/campaigns/share-your-feels/Emotion/3.png", alt="Meh")  
                                                                    .emoji-img.emoji-img-q.emoji-img-4(data-share-score='4', data-share-emoji="Optimistic!")
                                                                        img(src="../images/campaigns/share-your-feels/Emotion/4.png", alt="Optimistic!")    
                                                                    .emoji-img.emoji-img-q.emoji-img-5(data-share-score='5', data-share-emoji="Fantastic!")
                                                                        img(src="../images/campaigns/share-your-feels/Emotion/5.png", alt="Fantastic!") 
                                                                    .clearfix
                                                                    input.range-slider__range(type="range", value="3", min="1", max="5", step="1", name="emoji-q5")
                                                                    span.range-slider__value    
                                                        .block-info.block-button                            
                                                            .button.button-white.next-btn.disable-btn Next <i class="arrow-icon"></i>                 
                                            //- #feels-q6.data-content.question-card(data-share-question='6')
                                                .tab-data-wrap
                                                    .block-wrapper
                                                        .block-image
                                                            //- img(src="../images/campaigns/share-your-feels/Q6.png")
                                                            img.img-animate.img-flymoney(src="../images/campaigns/share-your-feels/Questions/Q6_FlyingMoney.png", alt="Share your feels")
                                                            img.img-animate.img-map(src="../images/campaigns/share-your-feels/Questions/Q6_SingaporeMap.png", alt="Share your feels")
                                                            img.img-animate.img-txt1(src="../images/campaigns/share-your-feels/Questions/Q6_txt_1.png", alt="Singapore has been ranked the most expensive city in the world. Again.")
                                                            img.img-animate.img-txt2(src="../images/campaigns/share-your-feels/Questions/Q6_txt_2.png", alt="We can’t do anything about inflation, but we could learn how to spend within our means.")
                                                    .block-content-wrapper    
                                                        .block-content
                                                            .block-text
                                                                h5 How do you feel about your spending choices?  
                                                            
                                                            .block-range-slider
                                                                .range-slider
                                                                    .emoji-img.emoji-img-q.emoji-img-1(data-share-score='1', data-share-emoji="Frustrated")
                                                                        img(src="../images/campaigns/share-your-feels/Emotion/1.png", alt="Frustrated")
                                                                    .emoji-img.emoji-img-q.emoji-img-2(data-share-score='2', data-share-emoji="Worried")
                                                                        img(src="../images/campaigns/share-your-feels/Emotion/2.png", alt="Worried")
                                                                    .emoji-img.emoji-img-q.emoji-img-3(data-share-score='3', data-share-emoji="Meh")
                                                                        img(src="../images/campaigns/share-your-feels/Emotion/3.png", alt="Meh")  
                                                                    .emoji-img.emoji-img-q.emoji-img-4(data-share-score='4', data-share-emoji="Optimistic!")
                                                                        img(src="../images/campaigns/share-your-feels/Emotion/4.png", alt="Optimistic!")    
                                                                    .emoji-img.emoji-img-q.emoji-img-5(data-share-score='5', data-share-emoji="Fantastic!")
                                                                        img(src="../images/campaigns/share-your-feels/Emotion/5.png", alt="Fantastic!") 
                                                                    .clearfix
                                                                    input.range-slider__range(type="range", value="3", min="1", max="5", step="1", name="emoji-q5")
                                                                    span.range-slider__value    
                                                        .block-info.block-button                            
                                                            .button.button-white.next-btn.disable-btn Next <i class="arrow-icon"></i>                 
                                            //- #feels-q7.data-content.question-card(data-share-question='7')
                                                .tab-data-wrap
                                                    .block-wrapper
                                                        .block-image
                                                            //- img(src="../images/campaigns/share-your-feels/Q7.png")
                                                            img.img-animate.img-plane(src="../images/campaigns/share-your-feels/Questions/Q7_Plane.png", alt="Share your feels")
                                                            img.img-animate.img-travel(src="../images/campaigns/share-your-feels/Questions/Q7_Travel.png", alt="Share your feels")
                                                            img.img-animate.img-txt1(src="../images/campaigns/share-your-feels/Questions/Q7_txt_1.png", alt="Got wanderlust?")
                                                            img.img-animate.img-txt2(src="../images/campaigns/share-your-feels/Questions/Q7_txt_2.png", alt="A study found that Singaporean travelers spend around $1000 per holiday, making them one of the biggest holiday spenders in the world.")
                                                    .block-content-wrapper    
                                                        .block-content
                                                            .block-text
                                                                h5 How do you feel about your holiday spending?
                                                            
                                                            .block-range-slider
                                                                .range-slider
                                                                    .emoji-img.emoji-img-q.emoji-img-1(data-share-score='1', data-share-emoji="Frustrated")
                                                                        img(src="../images/campaigns/share-your-feels/Emotion/1.png", alt="Frustrated")
                                                                    .emoji-img.emoji-img-q.emoji-img-2(data-share-score='2', data-share-emoji="Worried")
                                                                        img(src="../images/campaigns/share-your-feels/Emotion/2.png", alt="Worried")
                                                                    .emoji-img.emoji-img-q.emoji-img-3(data-share-score='3', data-share-emoji="Meh")
                                                                        img(src="../images/campaigns/share-your-feels/Emotion/3.png", alt="Meh")  
                                                                    .emoji-img.emoji-img-q.emoji-img-4(data-share-score='4', data-share-emoji="Optimistic!")
                                                                        img(src="../images/campaigns/share-your-feels/Emotion/4.png", alt="Optimistic!")    
                                                                    .emoji-img.emoji-img-q.emoji-img-5(data-share-score='5', data-share-emoji="Fantastic!")
                                                                        img(src="../images/campaigns/share-your-feels/Emotion/5.png", alt="Fantastic!") 
                                                                    .clearfix
                                                                    input.range-slider__range(type="range", value="3", min="1", max="5", step="1", name="emoji-q5")
                                                                    span.range-slider__value    
                                                        .block-info.block-button                            
                                                            .button.button-white.next-btn.disable-btn Next <i class="arrow-icon"></i>                 
                                            //- #feels-q8.data-content.question-card(data-share-question='8')
                                                .tab-data-wrap
                                                    .block-wrapper
                                                        .block-image                                                        
                                                            img(src="../images/campaigns/share-your-feels/Q8.png")
                                                            img.img-animate.img-family(src="../images/campaigns/share-your-feels/Questions/Q8_Family.png", alt="Share your feels")
                                                            img.img-animate.img-txt1(src="../images/campaigns/share-your-feels/Questions/Q8_txt_1.png", alt="Family comes first in multicultural Singapore.")
                                                            img.img-animate.img-txt2(src="../images/campaigns/share-your-feels/Questions/Q8_txt_2.png", alt="It's no wonder 77 per cent of Singaporeans provide financial support to their families.")
                                                    .block-content-wrapper    
                                                        .block-content
                                                            .block-text
                                                                h5 How do you feel about supporting your loved ones financially? 
                                                            
                                                            .block-range-slider
                                                                .range-slider
                                                                    .emoji-img.emoji-img-q.emoji-img-1(data-share-score='1', data-share-emoji="Frustrated")
                                                                        img(src="../images/campaigns/share-your-feels/Emotion/1.png", alt="Frustrated")
                                                                    .emoji-img.emoji-img-q.emoji-img-2(data-share-score='2', data-share-emoji="Worried")
                                                                        img(src="../images/campaigns/share-your-feels/Emotion/2.png", alt="Worried")
                                                                    .emoji-img.emoji-img-q.emoji-img-3(data-share-score='3', data-share-emoji="Meh")
                                                                        img(src="../images/campaigns/share-your-feels/Emotion/3.png", alt="Meh")  
                                                                    .emoji-img.emoji-img-q.emoji-img-4(data-share-score='4', data-share-emoji="Optimistic!")
                                                                        img(src="../images/campaigns/share-your-feels/Emotion/4.png", alt="Optimistic!")    
                                                                    .emoji-img.emoji-img-q.emoji-img-5(data-share-score='5', data-share-emoji="Fantastic!")
                                                                        img(src="../images/campaigns/share-your-feels/Emotion/5.png", alt="Fantastic!") 
                                                                    .clearfix
                                                                    input.range-slider__range(type="range", value="3", min="1", max="5", step="1", name="emoji-q5")
                                                                    span.range-slider__value    
                                                        .block-info.block-button                            
                                                            .button.button-white.next-btn.disable-btn Next <i class="arrow-icon"></i>                 
                                            #feels-form-wrapper.data-content
                                                .tab-data-wrap
                                                    .block-wrapper
                                                        .block-image
                                                            img.img-animate.img-prize(src="../images/campaigns/share-your-feels/Form_and_Results/Form_voucher.png", alt="Get a $10 voucher")
                                                            //- img.img-animate.img-enter(src="../images/campaigns/share-your-feels/Form_and_Results/HighlightedText_Howtoplay.png", alt="Enter your details* to see your result!")
                                                        .block-content-wrapper    
                                                            .block-content
                                                                .block-text
                                                                    h5 Thanks for sharing your feels with us!
                                                                    p Be one of the first 2,000 participants to submit your details and win a $10 Starbucks voucher*
                                                                #share-your-feels-form.block-form.form-element
                                                                    .row
                                                                        .form-field.form-field-name.col-xs-12
                                                                            .form-field-inner
                                                                                input.input-fullname#syfFullName(type='text', placeholder="Full Name")
                                                                                .error-label Please enter your full name

                                                                        .form-field.form-field-phone.col-xs-12
                                                                            .form-field-inner
                                                                                input.input-phone#syfPhone(type='tel', placeholder="Phone Number")
                                                                                .error-label Please enter a valid phone number (we will only accept 8 digits)

                                                                        .form-field.form-field-email.col-xs-12
                                                                            .form-field-inner
                                                                                input.input-email#syfEmail(type='email', placeholder="E-mail Address")
                                                                                .error-label Please enter a valid email
                                                                        +marketing_consent({
                                                                            textColorClass: ""
                                                                        })
                                                                        //- .col-xs-12.news-latter-opt-option
                                                                            label.container
                                                                                input.general-checkbox#syfNewsLatter(type='checkbox', class="")
                                                                                | Yes, I agree to Manulife Financial Advisers' <u><span class="showConsent">Marketing Consent Terms and Conditions</span></u>.
                                                                                span.checkmark
                                                                                .error-label Please tick the box and provide your consent to participate
                                                                        //- .col-xs-12.google-recaptcha  
                                                                            .g-recaptcha#captcha(data-sitekey="6LeCwrUUAAAAAKMydoggpiglghgUWQxPKfiOsMZ-", data-callback="onSubmit", data-size="invisible", data-badge="inline")
                                                                        .col-xs-12.double-summission.submission-error
                                                                            p Oops, looks like you've already submitted an entry.<br/>Only one (1) entry is allowed per person.
                                                            .block-info.block-terms
                                                                p 
                                                                    | *By submitting this Contest Participation form,
                                                                    | <br/>I have read and agreed to the <u><span class="showTerms">Terms & Conditions</span></u>
                                                                
                                                            .block-info.block-button
                                                                .button.button-white#button-submit-share-your-feels Submit <i class="arrow-icon"></i>                 
                                            #feels-share-result.data-content
                                                .tab-data-wrap
                                                    .block-content-wrapper    
                                                        .block-content.block-content-white
                                                            .block-text
                                                                h5 Thanks for your submission!<br/>We've got your result: <span class="result-score"></span>
                                                            .block-result 
                                                                //- .block-image
                                                                //-     img(src="../images/campaigns/share-your-feels/Results_Fantastic.png", alt="Fantastic!")
                                                                //- .block-text
                                                                //-     p It appears you’re feeling satisfied about how your life is going. You’ve got your finances under control and you feel like a winner. Care to share some tips?
                                                            .block-button.block-share-button
                                                                .block-text
                                                                    p <strong>Sharing is caring!</strong>

                                                                .share-result-button.addthis_inline_share_toolbox(data-url="")
                                                                //- a.button.button-blue.fb-share-button(href="", target="_blank", OnClick="window.open(this.href,'targetWindow','toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=250'); return false;") Share on Facebook

                                                        .block-content.block-content-pink
                                                            #form-sign-me-up
                                                                .form-field
                                                                    .fullname
                                                                    .phonenumber
                                                                    .emailaddress
                                                                //- .block-image
                                                                //-     img(src="../images/campaigns/share-your-feels/Form_and_Results/Result_ezlinkcard.png", alt="Ezlinkcard")
                                                                
                                                                .block-text
                                                                    //- h5 Before you go:
                                                                    p 
                                                                        | Watch out for the announcement of winners via email to find out if you’ve won a $10 Starbucks Voucher!*
                                                                        | <br/><span class="small-text">*Limited to the first 2,000 participants</span>
                                                                //- .block-button
                                                                //-     a.button.button-white#button-submit-sign-me-up Sign me up!
                                                            
                                                            //- #form-sign-me-up-thankyou                                                                
                                                            //-     .block-text
                                                            //-         h5 Smart choice
                                                            //-         p Thanks for signing up!<br/>I will get in touch with you soon.
                                                            //-     .block-image
                                                            //-         img(src="../images/campaigns/share-your-feels/Form_and_Results/Result_Thumbsup.png", alt="Thank You")
                            .clearfix 

                .section-wrapper.section-term#term-modal
                    .main-content.container-fluid
                        section.section-wrapper-list
                            .close-modal-btn
                            section.section-article-intro
                                .block-article-intro
                                    .row
                                        .col-xs-12
                                            .block-subtitle
                                                h5 ‘Share Your Feels’ Survey<br/>Terms &amp; Conditions 
                                            .block-text
                                                p By participating in the ‘Share Your Feels’ Survey (the “Survey”),<br/>I understand and agree to the following: 
                                        .clearfix 

                            section.section-article-content
                                .block-article-content
                                    .row
                                        .col-xs-12.block-article-item
                                            .block-list
                                                ol.list-decimal.list-regular 
                                                    li The Survey is organised by {{currentBu.businessUnit.BranchName}}, ("{{currentBu.businessUnit.BranchName}}") representing Manulife Financial Advisers Pte. Ltd. (“Manulife FA”) and will run from <strong>21 August 2019 to 17th September 2019</strong> (“Survey Period”). Entries submitted after <strong>11:59PM on 17th September 2019</strong> will not be accepted.
                                                    li The Survey is open to all Singaporeans and Permanent Residents residing in Singapore only. Only persons aged 21 years old and above are eligible to participate in the survey. 
                                                    li All participants of the Survey (the “Participants”) affirm the accuracy and correctness of all information provided at the time of entry. Any misrepresentation of any facts or particulars shall result in disqualification, forfeiture, withholding or withdrawal of the Prizes won, or recovery of the amount of the Prizes won at the sole discretion of {{currentBu.businessUnit.BranchName}}. 
                                                    li Participants may take the Survey multiple times, but only the first submission of each Participant will be captured and recorded for their chance to win. 
                                                    li The game will have 2,000 Winners (the “Winners”). Winners are the first 2,000 participants who submit a successful entry during the Survey Period. 
                                                    li The Winners will each receive a <strong>$10 Starbucks Voucher</strong> (“Prize” or “Prizes”). All Prizes are non-transferable and non-exchangeable. Manulife FA reserves the right to replace the Prizes with other prizes of equivalent value.  
                                                    li {{currentBu.businessUnit.BranchName}}’s decision on the Winners, and at all stages of the Survey is final. No correspondence, enquiries, appeals, verbal or written, will be entertained. All Participants and Winners shall accept and abide by any and all decisions made by Manulife FA concerning, without limitation, to these terms and conditions, the rules, procedures and regulations of the Survey, the award of the Prizes and any other matters relating to the Survey.  
                                                    li Winners of the Survey will be announced to all Participants via email on 20 October 2019. Winners will be notified separately by phone call and email according to the contact details submitted. Winners will be deemed notified once the notification email has been sent out. 
                                                    li {{currentBu.businessUnit.BranchName}} or Manulife FA shall have the sole and absolute discretion to exclude any person from participating in the game, without providing any reason and without prior notice. 
                                                    li Participant's consent under the ‘Personal Data Protection Act 2012’ to the collection, use and disclosure of one’s personal data by/to Manulife FA and other third parties as Manulife FA may reasonably consider necessary for the purpose of the Survey – and confirm that they agree to be bound by the terms of Manulife FA’s Statement of Personal Data Protection, a copy of which can be found on: <u><a href="/privacy-policy" target="_blank">{{currentBu.website.url}}/privacy-policy</a></u>.  
                                                    li Manulife FA can use the Winner’s name, image and/or voice for editorial, advertising, promotional, marketing and/or other purposes without further compensation, except where prohibited by law. 
                                                    li Manulife FA shall be released and discharged by each Participant from any and all liability, claims, demands, causes of action and/or damages which the Participants may have, whether known or unknown at the present time, of any nature whatsoever, arising out of or relating to: (i) the Survey, (ii) loss suffered by the Winners as a result of the use and/or enjoyment of the Prize, and/or (iii) any tax liabilities in relation to the Survey, Prizes and/or use or enjoyment of the same. 
                                                    li Manulife FA reserves the right to amend the terms and conditions of the Survey without giving notice or reason. 
                                                    li The terms of the Survey will be governed by and construed in accordance to the laws of the Republic of Singapore and all Participants agree to submit to the jurisdiction of the courts of the Republic of Singapore. 
                                                    li All information above is correct as of 15 August 2019. 
                                        .clearfix 
                .section-wrapper.section-term#consent-modal
                    .main-content.container-fluid
                        section.section-wrapper-list
                            .close-modal-btn
                            section.section-article-intro
                                .block-article-intro
                                    .row
                                        .col-xs-12
                                            .block-subtitle
                                                h5 Marketing Consent
                                        .clearfix 

                            section.section-article-content
                                .block-article-content
                                    .row
                                        .col-xs-12.block-article-item
                                            .block-list
                                                ol.list-decimal.list-regular 
                                                    li 
                                                        | I consent to the Representatives of Manulife Financial Advisers Pte. Ltd. (“Manulife Financial Advisers”), to contact me (even though my telephone number is already registered on the National Do Not Call Registry) for marketing purposes, and provide me with marketing, advertising and promotional information, materials and/or documents relating to products and services of Manulife Financial Advisers . The consent I provide is in addition to and does not supersede, vary or nullify any consent which I may have provided previously in respect of the above purposes, unless my previous consent is withdrawn.
                                                    li I confirm that I am the user and/or subscriber of the telephone number and/or email provided by me.

                                        .clearfix 
        
        +footer_syf_scripts()
            script(src='//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js')
