-var pageName = relativePath.split('/').pop().charAt(0).toUpperCase() + relativePath.split('/').pop().slice(1).replace('.pug','').replace(/\-/g, ' ')


mixin main_banner(object)
    .banner-top-wrapper(class=object.mainClass, data-details-info='mixins-main_banner')
        .cover-image-wrapper
            img.cover-image(src=object.image, alt= pageName + ' top banner image')
        .banner-top-caption
            div(class=object.customClass || "container-fluid")
                .row
                    .col-xs-8.col-md-8.col-lg-6.col-lg-offset-1
                        if object.category
                            h5.subCategory!=object.category
                        h2.mainTitle!=object.text
                        if object.subText
                            h4.subText!=object.subText

        +contact-box('contact-box-desktop status-tab-selected-1', "desktop")

mixin main_banner_editable(object)
    .banner-top-wrapper(class=object.mainClass, data-details-info='mixins-main_banner_editable')
        .cover-image-wrapper(edit-container="editBannerImage")
            img.cover-image(src=object.image, alt= pageName + ' top banner image')
        .banner-top-caption
            div(class=object.customClass || "container-fluid")
                .row
                    .col-xs-8.col-md-8.col-lg-6.col-lg-offset-1
                        if object.category
                            h5.subCategory!=object.category
                        h2.mainTitle(edit-container="editBannerTitle")!=object.text
                        if object.subText
                            h4.subText(edit-container="editBannerSubTitle")!=object.subText

        +contact-box('contact-box-desktop status-tab-selected-1', "desktop")

mixin main_banner_no_contact_box(object)
    .banner-top-wrapper(class=object.mainClass, data-details-info='mixins-main_banner_no_contact_box')
        .cover-image-wrapper
            img.cover-image(src=object.image, alt= pageName + ' top banner image')
        .banner-top-caption
            div(class=object.customClass || "container-fluid")
                .row
                    .col-xs-8.col-md-8.col-lg-6.col-lg-offset-1
                        if object.category
                            h5.subCategory!=object.category
                        h2.mainTitle!=object.text
                        if object.subText
                            h4.subText!=object.subText

mixin main_banner_mobile(object)
    .banner-top-wrapper(class=object.mainClass, data-details-info='mixins-main_banner_mobile')
        .cover-image-wrapper.hide-mobile
            img.cover-image(src=object.imageDesktop, alt= pageName + ' top banner image')
        .cover-image-wrapper.hide-tablet
            img.cover-image(src=object.imageTablet, alt= pageName + ' top banner image')
        .cover-image-wrapper.hide-desktop
            img.cover-image(src=object.imageMobile, alt= pageName + ' top banner image')
        .banner-top-caption
            div(class=object.customClass || "container-fluid")
                .row
                    .col-xs-12.col-md-8.col-lg-5.col-xlg-offset-1
                        h2.mainTitle!=object.text
                        if object.subText
                            p.subText!=object.subText

        +contact-box('contact-box-desktop status-tab-selected-1', "desktop")

mixin main_banner_mobile_no_contact_box(object)
    .banner-top-wrapper(class=object.mainClass, data-details-info='mixins-main_banner_mobile_no_contact_box')
        .cover-image-wrapper.hide-mobile
            img.cover-image(src=object.imageDesktop, alt= pageName + ' top banner image')
        .cover-image-wrapper.hide-tablet
            img.cover-image(src=object.imageTablet, alt= pageName + ' top banner image')
        .cover-image-wrapper.hide-desktop
            img.cover-image(src=object.imageMobile, alt= pageName + ' top banner image')
        .banner-top-caption
            div(class=object.customClass || "container-fluid")
                .row
                    .col-xs-12.col-md-8.col-lg-5.col-xlg-offset-1
                        h2.mainTitle!=object.text
                        if object.subText
                            p.subText!=object.subText

mixin main_banner_mobile_with_button(object)
    .banner-top-wrapper.banner-top-with-button(class=object.mainClass, data-details-info='mixins-main_banner_mobile_with_button')
        .cover-image-wrapper.hide-mobile
            img.cover-image(src=object.imageDesktop, alt= pageName + ' top banner image')
        .cover-image-wrapper.hide-tablet
            img.cover-image(src=object.imageTablet, alt= pageName + ' top banner image')
        .cover-image-wrapper.hide-desktop
            img.cover-image(src=object.imageMobile, alt= pageName + ' top banner image')
        .banner-top-caption.banner-top-mobile-caption
            div(class=object.customClass || "container-fluid")
                .row
                    .col-xs-12.col-md-8.col-lg-5.col-xlg-offset-1
                        h2.mainTitle!=object.text
                        if object.subText
                            h4.subText!=object.subText

                        .block-button
                            +button({
                                theme: object.buttonTheme,
                                text: object.buttonText,
                                href: object.link
                            })

        +contact-box('contact-box-desktop status-tab-selected-1', "desktop")
   
mixin main_banner_services-page(object)
    .banner-top-wrapper(data-details-info='mixins-main_banner_services-page')
        .cover-image-wrapper
            img.cover-image(src=object.image, alt= pageName + ' top banner image')
        .banner-top-caption
            div(class=object.customClass || "container-fluid")
                .row
                    .col-xs-8.col-md-7.col-lg-6.col-xlg-offset-1
                        h2.mainTitle!=object.text
                        if object.subText
                            h4.subText!=object.subText

        +contact-box('contact-box-desktop status-tab-selected-1', "desktop")

mixin main_banner_sidebar_responsive(object)
    .banner-top-wrapper(data-details-info='mixins-main_banner_sidebar_responsive')
        .cover-image-wrapper.hide-mobile
            img.cover-image(src=object.imageDesktop, alt= pageName + ' top banner image')
        .cover-image-wrapper.hide-tablet
            img.cover-image(src=object.imageTablet, alt= pageName + ' top banner image')
        .cover-image-wrapper.hide-desktop
            img.cover-image(src=object.imageMobile, alt= pageName + ' top banner image')
        .banner-top-caption
            div(class=object.customClass || "container-fluid")
                .row
                    .col-xs-8.col-md-7.col-lg-6.col-xlg-offset-1
                        h2.mainTitle!=object.text
                        if object.subText
                            h4.subText!=object.subText

        +contact-box('contact-box-desktop status-tab-selected-1', "desktop")

//- mixin main_banner_homepage(object)
    .banner-top-wrapper.banner-top-with-button(class=object.mainClass, data-details-info='mixins-main_banner_homepage')
        a(href=object.link)
            .cover-image-wrapper.hide-mobile
                img.cover-image(src=object.imageDesktop, alt= pageName + ' top banner image')
        .cover-image-wrapper.hide-tablet
            img.cover-image(src=object.imageTablet, alt= pageName + ' top banner image')
        .cover-image-wrapper.hide-desktop
            img.cover-image(src=object.imageMobile, alt= pageName + ' top banner image')
        .banner-top-caption.banner-top-mobile-caption
            div(class=object.customClass || "container-fluid")
                .row
                    .col-xs-12.col-md-8.col-lg-5.col-xlg-offset-1
                        h2.mainTitle!=object.text
                        if object.subText
                            h4.subText!=object.subText

                        .block-button
                            +button({
                                theme: object.buttonTheme,
                                text: object.buttonText,
                                href: object.link
                            })


mixin main_banner_homepage(object)
    .banner-top-wrapper(data-details-info='mixins-main_banner_homepage')
        .cover-image-wrapper(edit-container="mainBannerImage")
            img.cover-image(src=object.image, alt= pageName + ' top banner image')
        .banner-top-caption
            div(class=object.customClass || "container-fluid")
                .row
                    .col-xs-8.col-md-8.col-lg-6.col-lg-offset-1
                        h2.mainTitle!=object.text
                        if object.subText
                            h4.subText!=object.subText

        +contact-box('contact-box-desktop status-tab-selected-1', "desktop")

mixin main_banner_statue(object)
    .banner-top-wrapper(data-details-info='mixins-main_banner_statue')
        .cover-image-wrapper.hide-mobile
            img.cover-image(src=object.imageDesktop, alt= pageName + ' top banner image')
        .cover-image-wrapper.hide-tablet
            img.cover-image(src=object.imageTablet, alt= pageName + ' top banner image')
        .cover-image-wrapper.hide-desktop
            img.cover-image(src=object.imageMobile, alt= pageName + ' top banner image')
        .banner-top-caption
            div(class=object.customClass || "container-fluid")
                .row
                    .col-xs-12.col-md-8.col-lg-5.col-xlg-offset-1
                        h2.mainTitle!=object.text
                        if object.subText
                            p.subText!=object.subText

mixin blue_teaser_bar(object)
    .section.bg-blue.section-blue-teaser-bar(data-details-info='mixins-blue_teaser_bar')
        .main-content.container-fluid
            .row
                .col-xs-12.col-xlg-offset-1.col-xlg-8
                    section.section-wrapper-list
                        .row.section-blue-teaser-bar-row
                            .col-xs-12.col-md-9.section-blue-teaser-bar-text
                                h5.subText!=object.subText
                            .col-xs-12.col-md-3.section-blue-teaser-bar-button
                                +button-static({theme: "button-white button-sign-up-solutions", text: "Enquire now"})                             

mixin image_block(object)
    .block-image(data-details-info='mixins-image_block', class=object.customClass)
        img.hide-mobile(src=object.imageDesktop, alt=object.imageAlt)
        img.hide-tablet(src=object.imageTablet, alt=object.imageAlt)
        img.hide-desktop(src=object.imageMobile, alt=object.imageAlt)

mixin two_column_quote(object, customClass)
    section.two_column_quote(class=customClass, data-details-info='mixins-two_column_quote')
        .col-xs-12.col-md-6
            p.subText!=object.subText1
        .col-xs-12.col-md-6
            p.subText!=object.subText2    




mixin button(object)
    a.button(class=object.theme, href=object.href, target=object.target, id=object.id, open-chat=object.chat, data-details-info='mixins-button', data-tag=object.tagData)=object.text

mixin button-static(object)
    .button(class=object.theme, id=object.id, data-details-info='mixins-button', data-tag=object.tagData)=object.text

mixin panel(object)
    .panel(class='panel-' + object.theme, data-details-info='mixins-panel')
        .panel-content(open-chat=object.chat)
            if object.title
                .panel-title=object.title
            if object.text
                .panel-text=object.text



mixin link-icon(object)
    a(class='link-icon link-icon-'+ object.type, href=object.href, target="_blank", data-details-info='mixins-link-icon')
        span.link-icon-inner=object.text



mixin feature-item(object)
    .features-item.col-xs-12.col-sm-6(data-details-info='mixins-feature-item')
        .features-item-image
            img(src=object.image, alt=object.alt)
        .features-item-text
            if object.title
                p.bold!=object.title
            p.text-regular!=object.text

mixin feature-item-full(object)
    .features-item.col-xs-12(data-details-info='mixins-feature-item-full')
        .features-item-image
            img(src=object.image, alt=object.alt)
        .features-item-text
            if object.title
                p.bold!=object.title
            p.text-regular!=object.text

mixin solutions-promo-banner(className)
    section.section-banner(class=className, data-details-info='mixins-solutions-promo-banner')    
        .move-section__banner.move-section__banner--desktop(style="background-image:url(../images/products/promo_banner-desktop.jpg);")
            .move-section__banner__text-block
                img.move-section__banner__logo(src="", alt="")
                h3.move-section__banner__title Win a trip to Paris and a visit to the Louvre*
                p.move-section__text.move-section__banner__text 
                    | Stand a chance to win one of three pairs of air tickets to Paris and admission to the Louvre (worth $3,000 each), when you sign up for any selected protection plan before 31 October 2019.
                +button-static({theme: "button-orange-arrow button-sign-up-solutions", text: "Sign up now"})
        .move-section__banner.move-section__banner--mobile
            .move-section__banner__image(style="background-image:url(../images/products/promo_banner-mobile.jpg")
            .move-section__banner__text-block
                img.move-section__banner__logo(src="", alt="")
                h3.move-section__banner__title Win a trip to Paris and a visit to the Louvre*
                p.move-section__text.move-section__banner__text 
                    | Stand a chance to win one of three pairs of air tickets to Paris and admission to the Louvre (worth $3,000 each), when you sign up for any selected protection plan before 31 October 2019.
                +button-static({theme: "button-orange-arrow button-sign-up-solutions", text: "Sign up now"})               

mixin solutions-promo-banner-statue(className)
    section.section-banner(class=className, data-details-info='mixins-solutions-promo-banner-statue')    
        .stop-the-drama__statue-banner.stop-the-drama__statue-banner--desktop(style="background-image:url(../images/products/promo_banner-desktop.jpg);")
            .stop-the-drama__statue-banner__text-block
                h2.stop-the-drama__statue-banner__title Win a trip to Paris and a visit to the Louvre*
                p.stop-the-drama__text.stop-the-drama__statue-banner__text
                    | Stand a chance to win one of three pairs of air tickets to Paris and admission to the Louvre (worth $3,000 each), when you sign up for any selected protection plan before 31 October 2019.
                +button-static({theme: "button-orange-arrow button-sign-up-solutions", text: "Sign up now"})
        .stop-the-drama__banner.stop-the-drama__banner--mobile
            .stop-the-drama__banner__image(style="background-image:url(../images/products/promo_banner-mobile.jpg")
            .stop-the-drama__banner__text-block
                h2.stop-the-drama__statue-banner__title-black Be one of three lucky winners
                p.stop-the-drama__text.stop-the-drama__banner__text
                    | Sign up for a selected protection plan and win a trip for two to Paris and admission to the Louvre (worth $3,000).
                +button-static({theme: "button-orange-arrow button-sign-up-solutions", text: "Sign up now"}) 

mixin item-box(box)
    .flex-col.flex-col-xs-12.flex-col-sm-6.flex-col-md-3.swiper-slide.item-box-wrapper(data-details-info='mixins-item-box', page=box.href)
        .item-box
            a(class='box-content-wrapper', href=box.href)
                if block
                    block
                h3=box.title
                p.text-regular=box.content




mixin service-solution-card(object, customClass)
    .col-xs-12.col-md-6.col-xlg-4.service-card-wrapper(class=customClass, data-details-info='mixins-service-solution-card', page=object.href)
        .card
            .solutions-box.card-content
                a(class='card-content-wrapper', href=object.href)
                    h3.dark-gray=object.title
                    p.text-medium=object.context
                    ul.list-card
                        each item, index in object.list
                            li!=item

mixin service-card-full-image(object, customClass)
    .col-xs-12.card.card-inline.card-full-image(class=customClass, data-details-info='mixins-service-card-full-image', page=object.href)
        a(class='card-content-wrapper', href="/" + object.href)
            .card-image                 
                img(src=object.image, alt='service card image for - ' + object.title)
            .card-content
                h3.dark-gray!=object.title
                h5!=object.content
                +button-static({theme: "button-orange", text: object.buttonText})

mixin article-card-full-image(object, customClass)
    -var thisCustomClass = typeof customClass !== 'undefined' ? customClass : '';
    -var thisImage = typeof object.image !== 'undefined' ? "background-image: url(" + object.image + ")" : false;

    .col-xs-12.col-sm-6.col-xlg-4.card-article-wrapper(class=object.class + ' ' + thisCustomClass, data-details-info='mixins-article-card-full-image', data-tag=object.tagData, page=object.href)
        .card.card-article
            .card-content-wrapper(style=thisImage)
                a(class='card-content', href=object.href)
                    .card-content-inner
                        if object.number
                            .number=object.number
                        p.tag=object.tag
                        p.date=object.date
                        h4.title=object.title



mixin service-card-flex(object, customClass)
    .flex-col.flex-col-xs-12.flex-col-md-6.flex-col-xlg-4.service-card-flex-wrapper(page=object.href, class=customClass, data-details-info='mixins-service-card-flex')
        .card
            .solutions-box.card-content
                a(class='card-content-wrapper', href=object.href)
                    h3.dark-gray!=object.title
                    p.text-medium!=object.context
                    ul.list-card
                        each item, index in object.list
                            li!=item




mixin service-card-big(object)
    .col-xs-12(data-details-info='mixins-service-card-big', page=object.href)
        .card
            .large-solution-container
                a(class='card-content-wrapper', href=object.href)
                    .card-image
                        img(src=object.image, alt='service card image for - ' + object.href)
                    .solutions-box.large-box.card-content
                        h3.dark-gray!=object.title
                        p.text-medium!=object.context
                        ul.list-card
                            each item, index in object.list
                                li!=item

mixin service-main-card-two-column(object, customClass)
    .col-xs-12.card(class=customClass, data-details-info='mixins-service-main-card-two-column', page=object.href)
        a(class='card-content-wrapper', href=object.href)
            .card-image
                img(src=object.image, alt='service card image for - ' + object.title)
            .solutions-box.large-box.card-content
                h3.dark-gray!=object.title
                h5!=object.content
            +button-static({theme: "button-orange-arrow", text: "Discover more"})

mixin service-card-two-column(object, customClass)
    .col-xs-12.card(class=customClass, data-details-info='mixins-service-card-two-column')
        a(class='card-content-wrapper')
            .card-image
                img(src=object.image, alt='service card image for - ' + object.title)
            .solutions-box.large-box.card-content
                h3.dark-gray!=object.title
                h5!=object.content

mixin service-main-card-solutions(object)
    .col-xs-12.card.card-inline(class=object.class, data-details-info='mixins-service-main-card-solutions', page=object.href)
        a(class='card-content-wrapper', href=object.href)
            .card-image
                img(src=object.image, alt='service card image for - ' + object.title)
            .card-content
                h3.dark-gray!=object.title
                h5!=object.content
                +button-static({theme: "button-orange-arrow", text: object.buttonText})

mixin article-full-card(object)
    .col-xs-12.card.card-inline(class=object.class, data-details-info='mixins-article-full-card', page=object.href)
        a(class='card-content-wrapper', href='/'+object.href)
            .card-image
                img(src=object.image, alt='Articles for ' + object.title)
            .card-content
                h3.dark-gray!=object.title
                h5!=object.content
                +button-static({theme: "button-orange-arrow", text: object.buttonText})

mixin article-small-card(object, customClass)
    -var thisCustomClass = typeof customClass !== 'undefined' ? customClass : '';
    // -var thisImage = typeof object.image !== 'undefined' ? "background-image: url(" + object.image + ")" : false;

    .col-xs-12.col-md-6.col-lg-3.card(class=object.class + ' ' + thisCustomClass, data-details-info='mixins-article-small-card', data-tag=object.tagData, page=object.href)
        a(class='card-content-wrapper', href=object.href)
            .card-image
                img(src=object.image, alt='service card image for - ' + object.title)
            .card-content
                if object.number
                    .number=object.number
                p.tag=object.tag
                p.date=object.date
                h4.dark-gray!=object.title
            +button-static({theme: "button-orange-arrow", text: "Find out more"})

mixin article-card(object, customClass)
    -var thisCustomClass = typeof customClass !== 'undefined' ? customClass : '';
    // -var thisImage = typeof object.image !== 'undefined' ? "background-image: url(" + object.image + ")" : false;

    .col-xs-12.col-md-6.col-lg-3.card(class=object.class + ' ' + thisCustomClass, data-details-info='mixins-article-card', data-tag=object.tagData, page=object.href)
        a(class='card-content-wrapper', href=object.href)
            .card-image
                img(src=object.image, alt='service card image for - ' + object.title)
            .card-content
                if object.number
                    .number=object.number
                p.tag=object.tag
                p.date=object.date
                h3.dark-gray!=object.title
            +button-static({theme: "button-orange-arrow", text: "Find out more"})

mixin seminars-card(object, customClass)
    //- .col-xs-12.col-md-6.col-lg-3.card(class=object.class + ' ' + thisCustomClass, data-details-info='mixins-seminars-card', page=object.href)//- a(class='card-content-wrapper', href=object.href)
        //- a(class='card-content-wrapper', href=object.href)
    .col-xs-12.card.card-inline(class=object.class + ' ' + thisCustomClass, data-details-info='mixins-seminars-card', page=object.href)
        a(class='card-content-wrapper', href=object.href)
            .card-label NEW
            .card-image
                img(src=object.image, alt='service card image for - ' + object.title)
            .card-content
                h3.dark-gray!=object.title
                h5!=object.content
                p.icon.date!=object.date
                p.icon.location!=object.location
                +button-static({theme: "button-orange-arrow hide-mobile", text: "Find out more"})
            //- +button-static({theme: "button-orange-arrow hide-desktop", text: "Find out more"})



mixin insurance-guides-item-card(object)
    .col-xs-12
        .card.card-insurance
            .card-content
                h3.title=object.title
                H5.text=object.context
                .block-button
                    if object.link
                        +button({theme: "button-orange-arrow", text: "Detail", href:object.link, target: "_blank"})
                    if object.pdf
                        +link-icon({type: 'file', text: 'DOWNLOAD', href: object.pdf})

mixin insurance-guides-item(object)
    .block-text
        h5=object.title
        p.text-regular=object.context
        .block-button
            if object.link
                +button({theme: "button-orange-arrow", text: "Detail", href:object.link, target: "_blank"})
            if object.pdf
                +link-icon({type: 'file', text: 'DOWNLOAD', href: object.pdf})

mixin articles-disclaimer(object, customClass)
    .block-text(class=customClass, data-details-info='mixins-articles-disclaimer')  
        h4 Disclaimer:
        p.text-regular These insurance products are underwritten by Manulife (Singapore) Pte. Ltd. (Reg. No. 198002116D). This advertisement has not been reviewed by the Monetary Authority of Singapore. Buying a life insurance policy is a long-term commitment. There may be high costs involved if you terminate the policy early, and your policy's surrender value (if any) may be zero or less than the total premiums paid. Buying health insurance products that are unsuitable for you may affect your ability to finance your future healthcare needs. This advertisement is for your information only and does not consider your specific investment objectives, financial situation or needs. It is not a contract of insurance and is not intended as an offer or recommendation to purchase the plan. You can find the full terms and conditions, details, and exclusions for the mentioned insurance product(s) in the policy contract.
        p.text-regular This policy is protected under the Policy Owners’ Protection Scheme which is administered by the Singapore Deposit Insurance Corporation (SDIC). Coverage for your policy is automatic and no further action is required from you. For more information on the types of benefits that are covered under the scheme as well as the limits of coverage, where applicable, please contact us or visit the LIA or SDIC web-sites (<a href="https://www.lia.org.sg/" target="_blank">www.lia.org.sg</a> or <a target="_blank" href="https://www.sdic.org.sg/">www.sdic.org.sg</a>).
        p.text-regular We recommend that you seek advice from a Manulife Financial Consultant or its Appointed Distributors before making a commitment to purchase a policy.


mixin title-icon(object)
    .title-icon
        .icon
            img(src=object.image, alt='title icon')
        .text
            h3.title!=object.title
            h6.date=object.date

mixin title-numeric(object)
    .title-numeric
        .block-number
            .number=object.number
        h3.title!=object.title

mixin title-numeric-big(object)
    .title-numeric-big
        .block-number
            .number=object.number
        h2.title!=object.title

mixin social-icon(name)
    | {{#if currentBu.businessUnit.#{name}Address}}
    a.social-icon(href="{{currentBu.businessUnit.#{name}Address}}", target='_blank', data-details-info='mixins-social-icon')
        img(src="../images/icon/icon-social-#{name}-new.svg", alt="#{name} icon")
    | {{/if}}


mixin marketing_consent(obj)
    .col-xs-12.news-latter-opt-option
        label.container(class=obj.textColorClass)
            input(type='checkbox', class="general-checkbox")
            | By submitting the form, you acknowledge that you authorise and consent Manulife Financial Advisers Pte Ltd.("MFA") (including Representatives of MFA), MFA group of companies and their service providers to collect, use, disclose and retain of personal data in accordance to <a href="/privacy-policy" target="_blank">MFA's Statement of Personal Data Protection</a>. 
            span.checkmark
            span.error-color Please check this box if you want to proceed

mixin marketing_consent_goforit(obj)
    .col-xs-12.news-latter-opt-option
        label.container(class=obj.textColorClass)
            | By clicking on Submit, I have read and agreed to the <a class="tnc-open-modal" href="javascript:;">terms and conditions</a>.
            br
            br
            | I hereby consent to Manulife (Singapore) Pte. Ltd. ("Manulife") (including Representatives of Manulife), Manulife group of companies and their service providers to contact me (even though my telephone is already registered on the National Do Not Call Registry), by way of voice call, text messages, fax, mail/email/any other avenues of marketing activities for marketing purposes and provide me with marketing, advertising and promotional information, materials and/or documents relating to products and services marketed by Manulife or its related companies (collectively, the "Purposes").
            // TO DO: goforit form not using the same template as lead form
            input(name="marketing_consent" type='checkbox', class="general-checkbox")
            span.checkmark

mixin select-phone-prefix()
    .placeholder-for-phone-code-options

mixin google-tag-manager-head()
    // Google Tag Manager
    script.
        (function(w,d,s,l,i){
            w[l]=w[l]||[];
            w[l].push({
                'gtm.start':
                    new Date().getTime(),event:'gtm.js'
            });
            var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';
            j.async=true;
            j.src=
                'https://www.googletagmanager.com/gtm.js?id='+i+dl;
            f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-5XDMRX4');
    // End of Google Tag Manager
    // Global site tag (gtag.js) - Google Analytics
    script(async, src="https://www.googletagmanager.com/gtag/js?id=UA-142485278-2")
    script.
        window.dataLayer = window.dataLayer || [];
        function gtag()
        {dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-142485278-2');
    // End of Global site tag (gtag.js) - Google Analytics


mixin google-tag-manager-body()    
    // Google Tag Manager (noscript)
    noscript
        iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-5XDMRX4", height="0", width="0", style="display:none;visibility:hidden")
    // End of Google Tag Manager (noscript)

mixin addthis-share-script()
    script(type="text/javascript", src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5d1ed888fd8e01c7")

mixin addthis-share-widget()
    // Go to www.addthis.com/dashboard to customize your tools
    .addthis_inline_share_toolbox
    script.
        var addthis_share = {
            url: window.location.href
        }
        
mixin addthis-share-wrapper(object, customClass)    
    section.section-article-content(class=customClass)
        .block-article-content
            .row
                .col-xs-12.block-article-item.block-share-icon
                    .block-text  
                        h4 Share this on 
                        +addthis-share-widget()

mixin button-back(object)
    .block-back-button(data-details-info='mixins-button-back', class=object.customClass)
        a(href=object.href).button-back
            .img-button-back
                img(src='../images/icon/icon-arrow-left-circle-big.svg', alt='icon arrow in circle')
            .text-button-back
                span Back 
                    if object.text
                        i!=object.text


mixin timeline-bubble(object)
    //.awards-timeline
    //    .row
    //        //.col-xs-2.hidden-xs.timeline-bubble
    //        //    span=object.year
    //        .col-xs-12.col-sm-10
    //            p.text-subtitle.orange.hidden-sm.hidden-md.hidden-lg=object.year
    //            h5.award-title=object.title
    //            p.text-regular=object.text


mixin section-form-offer()
    section.section-form-offer(data-details-info='mixins-form-offer')
        .block-form-offer
            .form-offer-user-image
                | {{#if websiteMainUser.imageUrl}}
                .user-image-holder(style="background-image:url('{{websiteMainUser.imageUrl}}')")
                | {{else}}
                .user-image-holder(style="background-image:url('../images/placeholder/user-image-default.png')")
                | {{/if}}

            .form-offer-question
                .form-offer-title
                    h3 Are you a <span>coffee</span> or <span>tea</span> person?
                .form-offer-options-wrapper
                    .form-offer-option
                        .block-form-offer-option-image
                            .form-offer-option-image.form-offer-option-image-coffee(data-drink-type='Coffee')
                    .form-offer-option
                        .block-form-offer-option-image
                            .form-offer-option-image.form-offer-option-image-tea(data-drink-type='Tea')
            .form-offer-answer
                .block-form
                    .row
                        .col-xs-12.form-element-wrapper
                            form#form-product.form-product.form-element
                                .col-xs-12
                                    h5.title The next cup is on me! Let's set up a time to meet
                                .form-field.form-field-name.col-xs-12.col-sm-6
                                    .form-field-inner
                                        label First Name:
                                        input(class='input-firstname', type='text', tabindex='10')

                                .form-field.form-field-lastname.col-xs-12.col-sm-6
                                    .form-field-inner
                                        label Last Name:
                                        input(class='input-lastname', type='text', tabindex='11')


                                .clearfix

                                .form-field.form-field-email.col-xs-12.col-sm-6
                                    .form-field-inner
                                        label Your email:
                                        input(class='input-email', type='email', tabindex='12')

                                .form-field.form-field-phone.col-xs-12.col-sm-6
                                    .form-field-inner
                                        label Your phone:
                                        .form-select-wrapper.select-phone-prefix
                                            select(class='selectpicker-phone-code input-phone-prefix', tabindex='13')
                                                +select-phone-prefix()
                                        input(class='input-phone', type='tel', tabindex='14')

                                .clearfix

                                .form-field.form-field-date-and-time.col-xs-12.col-sm-6
                                    .form-field-inner
                                        label Select your <span>Preferred</span> date & time
                                        .form-select-wrapper.select-date-day
                                            input(class='select-date-day-input input-date', placeholder='Date', tabindex='15', readonly)
                                        .form-select-wrapper.select-date-time
                                            select(class='selectpicker input-time', tabindex='16')
                                                option 09:00-12:00
                                                option 12:00-15:00
                                                option 15:00-18:00

                                .form-field.form-field-method.col-xs-12.col-sm-6
                                    .form-field-inner
                                        label Preferred contact method:
                                        .block-input-method
                                            .input-method.input-method-email.status-selected(tabindex='17')
                                                .input-method-radio Email
                                            .input-method.input-method-phone(tabindex='18')
                                                .input-method-radio Phone

                                .clearfix
                                +marketing_consent({
                                    textColorClass: ""
                                })

                                .block-button.col-xs-12
                                    a(id="button-submit-product", class="button button-orange button-submit", tabindex='19')
                                        span Send
                                .clearfix

                            #form-product-thank.block-thank
                                .thank-content
                                    .col-xs-12
                                        .block-image-thank
                                            img(src="../images/icon/form/icon-thank-white.svg" class='image-thank', alt='thank you icon')
                                        h2.product-thank-title Great!
                                        h2.product-thank-subtitle I'll be in touch with you soon to confirm.
                                        p.thank-text Looking forward to meeting!
                                    .clearfix
                .clearfix

mixin section-form-offer-green(className)
    section.section-form-offer-green(class=className, data-details-info='mixins-form-offer-green')
        .form-offer-green-question
            .row.form-offer-green-question-row
                .col-xs-12.col-md-2.linkbanner-agent  
                    .box-user-img
                        | {{#if websiteMainUser.imageUrl}}
                        .user-image-holder(style="background-image:url('{{websiteMainUser.imageUrl}}')")
                            span.chatbox-arrow
                            span.icon-user-accessible
                        | {{else}}
                        .user-image-holder(style="background-image:url('../images/placeholder/user-image-default.png')")
                            span.chatbox-arrow
                            span.icon-user-accessible
                        | {{/if}}
                .col-xs-12.col-md-7.col-lg-8.linkbanner-text
                    h4.subtext Got a question in mind?
                .col-xs-12.col-md-3.linkbanner-button
                    +button({theme: "button-white button-let-me-help", text: "Let me help"})
        .form-offer-green-answer
            .block-form
                .row.block-form-row
                    .col-xs-12.col-md-2.linkbanner-agent  
                        .box-user-img
                            | {{#if websiteMainUser.imageUrl}}
                            .user-image-holder(style="background-image:url('{{websiteMainUser.imageUrl}}')")
                                span.chatbox-arrow
                                span.icon-user-accessible
                            | {{else}}
                            .user-image-holder(style="background-image:url('../images/placeholder/user-image-default.png')")
                                span.chatbox-arrow
                                span.icon-user-accessible
                            | {{/if}}
                    .col-xs-12.col-md-7.col-lg-8.form-element-wrapper
                        form#form-product-solutions.form-product.form-element
                            .col-xs-12
                                h5.title Let's Schedule a chat

                            .form-field.form-field-name.col-xs-12.col-sm-6
                                .form-field-inner
                                    label First Name:
                                    input(class='input-firstname', type='text', tabindex='10')

                            .form-field.form-field-lastname.col-xs-12.col-sm-6
                                .form-field-inner
                                    label Last Name:
                                    input(class='input-lastname', type='text', tabindex='11')


                            .clearfix

                            .form-field.form-field-email.col-xs-12.col-sm-6
                                .form-field-inner
                                    label Your email:
                                    input(class='input-email', type='email', tabindex='12')

                            .form-field.form-field-phone.col-xs-12.col-sm-6
                                .form-field-inner
                                    label Your phone:
                                    .form-select-wrapper.select-phone-prefix
                                        select(class='selectpicker-phone-code input-phone-prefix', tabindex='13')
                                            +select-phone-prefix()
                                    input(class='input-phone', type='tel', tabindex='14')

                            .clearfix

                            .form-field.form-field-method.col-xs-12.col-sm-6
                                .form-field-inner
                                    label Preferred contact method:
                                    .block-input-method
                                        .input-method.input-method-email.status-selected(tabindex='17')
                                            .input-method-radio Email
                                        .input-method.input-method-phone(tabindex='18')
                                            .input-method-radio Phone

                            .clearfix
                            +marketing_consent({
                                textColorClass: ""
                            })

                            .block-button.col-xs-12
                                a(id="button-submit-product-solutions", class="button button-orange button-submit", tabindex='19')
                                    span Send
                            .clearfix

                        #form-solution-thank.block-thank
                            .thank-content
                                .col-xs-12
                                    .block-image-thank
                                        img(src="../images/icon/icon-thank.svg" class='image-thank', alt='icon thank you')
                                    h2.product-thank-title Great!
                                    h2.product-thank-subtitle I'll be in touch with you soon to confirm.
                                    p.thank-text Looking forward to meeting!
                                .clearfix

mixin section-form-reward-yourself-green(className)
    section.section-form-offer-green.section-form-reward-yourself-green(class=className, data-details-info='mixins-form-reward-yourself-green')
        .form-offer-green-question
            .row.form-offer-green-question-row
                .col-xs-12.col-md-2.linkbanner-agent  
                    .box-user-img
                        | {{#if websiteMainUser.imageUrl}}
                        .user-image-holder(style="background-image:url('{{websiteMainUser.imageUrl}}')")
                            span.chatbox-arrow
                            span.icon-user-accessible
                        | {{else}}
                        .user-image-holder(style="background-image:url('../images/placeholder/user-image-default.png')")
                            span.chatbox-arrow
                            span.icon-user-accessible
                        | {{/if}}
                .col-xs-12.col-md-7.col-lg-8.linkbanner-text
                    h4.subtext Got a question in mind?
                .col-xs-12.col-md-3.linkbanner-button
                    +button({theme: "button-white button-let-me-help", text: "Let me help"})
        .form-offer-green-answer
            .block-form
                .row.block-form-row
                    .col-xs-12.col-md-2.linkbanner-agent  
                        .box-user-img
                            | {{#if websiteMainUser.imageUrl}}
                            .user-image-holder(style="background-image:url('{{websiteMainUser.imageUrl}}')")
                                span.chatbox-arrow
                                span.icon-user-accessible
                            | {{else}}
                            .user-image-holder(style="background-image:url('../images/placeholder/user-image-default.png')")
                                span.chatbox-arrow
                                span.icon-user-accessible
                            | {{/if}}
                    .col-xs-12.col-md-7.col-lg-8.form-element-wrapper
                        form#form-product-solutions.form-product.form-element
                            .col-xs-12
                                h5.title Interested to find out more?

                            //- .form-field.form-field-name.col-xs-12.col-sm-6
                            //-     .form-field-inner
                            //-         label What is this topic about?
                            //-         .form-select-wrapper.select-topic
                            //-             select(class='selectpicker input-topic', tabindex='9')
                            //-                 option Select a topic
                            //-                 option Life ReadyPlus
                            //-                 option Critical SelectCare
                            //-                 option ReadyMummy

                            //- .clearfix

                            .form-field.form-field-name.col-xs-12.col-sm-6
                                .form-field-inner
                                    label First Name:
                                    input(class='input-firstname', type='text', tabindex='10')

                            .form-field.form-field-lastname.col-xs-12.col-sm-6
                                .form-field-inner
                                    label Last Name:
                                    input(class='input-lastname', type='text', tabindex='11')


                            .clearfix

                            .form-field.form-field-email.col-xs-12.col-sm-6
                                .form-field-inner
                                    label Your email:
                                    input(class='input-email', type='email', tabindex='12')

                            .form-field.form-field-phone.col-xs-12.col-sm-6
                                .form-field-inner
                                    label Your phone:
                                    .form-select-wrapper.select-phone-prefix
                                        select(class='selectpicker-phone-code input-phone-prefix', tabindex='13')
                                            +select-phone-prefix()
                                    input(class='input-phone', type='tel', tabindex='14')

                            .clearfix

                            //- .form-field.form-field-date-and-time.col-xs-12.col-sm-6
                            //-     .form-field-inner
                            //-         label Select your <span>Preferred</span> date & time
                            //-         .form-select-wrapper.select-date-day
                            //-             input(class='select-date-day-input input-date', placeholder='Date', tabindex='15', readonly)
                            //-         .form-select-wrapper.select-date-time
                            //-             select(class='selectpicker input-time', tabindex='16')
                            //-                 option 09:00-12:00
                            //-                 option 12:00-15:00
                            //-                 option 15:00-18:00

                            .form-field.form-field-method.col-xs-12.col-sm-6
                                .form-field-inner
                                    label Preferred contact method:
                                    .block-input-method
                                        .input-method.input-method-email.status-selected(tabindex='17')
                                            .input-method-radio Email
                                        .input-method.input-method-phone(tabindex='18')
                                            .input-method-radio Phone

                            .clearfix
                            +marketing_consent({
                                textColorClass: ""
                            })

                            .block-button.col-xs-12
                                a(id="button-submit-product-solutions", class="button button-orange button-submit", tabindex='19')
                                    span Send
                            .clearfix

                        #form-solution-thank.block-thank
                            .thank-content
                                .col-xs-12
                                    .block-image-thank
                                        img(src="../images/icon/icon-thank.svg" class='image-thank', alt='icon thank you')
                                    h2.product-thank-title Great!
                                    h2.product-thank-subtitle I'll be in touch with you soon to confirm.
                                    p.thank-text Looking forward to meeting!
                                .clearfix


mixin answer-options-slider()
    .answer-option(data-score='0')
        span 0
    .answer-option(data-score='1')
        span 1
    .answer-option(data-score='2')
        span 2
    .answer-option(data-score='3')
        span 3
    .answer-option(data-score='4')
        span 4
    .answer-option(data-score='5')
        span 5
    .answer-option(data-score='6')
        span 6
    .answer-option(data-score='7')
        span 7
    .answer-option(data-score='8')
        span 8
    .answer-option(data-score='9')
        span 9
    .answer-option(data-score='10')
        span 10

mixin answer-options-slider-reverse-score()
    .answer-option(data-score='10')
        span 0
    .answer-option(data-score='9')
        span 1
    .answer-option(data-score='8')
        span 2
    .answer-option(data-score='7')
        span 3
    .answer-option(data-score='6')
        span 4
    .answer-option(data-score='5')
        span 5
    .answer-option(data-score='4')
        span 6
    .answer-option(data-score='3')
        span 7
    .answer-option(data-score='2')
        span 8
    .answer-option(data-score='1')
        span 9
    .answer-option(data-score='0')
        span 10